$icons: (
        sprite: (width: 68px, height: 69px, pngPath: '../images/svg/sprite.png', svgPath: '../images/svg/sprite.svg'),
btn-arrow: (width: 12px, height: 12px, backgroundX: 0px, backgroundY: 0px),
btn-arrow-d: (width: 12px, height: 12px, backgroundX: -12px, backgroundY: -12px),
btn-user: (width: 12px, height: 12px, backgroundX: -24px, backgroundY: -24px),
checked: (width: 16px, height: 16px, backgroundX: -36px, backgroundY: -36px),
drop_down: (width: 16px, height: 17px, backgroundX: -52px, backgroundY: -52px),
);