$icons: (
        sprite: (width: 224px, height: 228px, pngPath: '../images/svg/sprite.png', svgPath: '../images/svg/sprite.svg'),
breadcrumbs-arrow: (width: 8px, height: 12px, backgroundX: 0px, backgroundY: 0px),
btn-arrow: (width: 12px, height: 12px, backgroundX: -8px, backgroundY: -12px),
btn-arrow-d: (width: 12px, height: 12px, backgroundX: -20px, backgroundY: -24px),
btn-user: (width: 12px, height: 12px, backgroundX: -32px, backgroundY: -36px),
card-elem: (width: 78px, height: 77px, backgroundX: -44px, backgroundY: -48px),
checked: (width: 16px, height: 16px, backgroundX: -122px, backgroundY: -125px),
drop_down: (width: 16px, height: 17px, backgroundX: -138px, backgroundY: -141px),
left-arrow: (width: 35px, height: 35px, backgroundX: -154px, backgroundY: -158px),
left-arrow-hover: (width: 35px, height: 35px, backgroundX: -189px, backgroundY: -193px),
);