.btn-list {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  &__item {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}
.btn {
  &.header-btn {
    font-size: 16px;
    line-height: 16px;
    color: #003A78;
    @include arial-bold;
    background-color: #FDC600;
    border-radius: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    &:hover {
     background-color: #FEE58B;
    }
  }
  &.primary-btn {
    font-size: 18px;
    line-height: 24px;
    color: #003A78;
    @include arial-bold;
    padding: 12px 32px;
    background: #FDC600;
border-radius: 10px;
&:hover {
  background-color: #FEE58B;
}
&.white-color {
  color: #fff;
  &:hover {
      color: #003A78;
  }
}
  }
  &.secondary-btn {
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    @include arial-bold;
    padding: 12px 32px;
    background: #003A78;
border-radius: 10px;
&:hover {
  background-color: #4286CF;
}
&.white  {
  background-color: #fff;
  color: #003A78;
  border: 2px solid #003A78;

border-radius: 10px;

}
&.close {
  &:hover {
    background-color: #e0283e;
    color: #fff;
    border-color: #e0283e;
   
  }
}
  }
}