.content {
  &.about-page {
    .page {
      &__title {
        .title {
          font-size: 45px;
          line-height: 57px;
          @include arial-bold;
          margin-bottom: 47px;
          color: #003a78;
          width: 70%;
        }
        .subtitle {
          font-size: 20px;
          line-height: 24px;
          color: #3c454e;
          @include arial-bold;
          margin-bottom: 100px;
        }
      }
    }
    .section {
      &.history-section {
        .section {
          &__title {
            margin-bottom: 25px;
          }
          &__inner {
              padding-bottom: 60px;
          }
          &__info {
            .row {
              margin-bottom: 20px;
              &:last-child {
                margin-bottom: 0;
              }
            }
            .history-info__col {
              .col {
                &__inner {
                  height: 100%;
                }
                &__text {
                  font-size: 20px;
                  line-height: 24px;
                  @include arial-regular;
                  color: #7b7b7b;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  height: 100%;
                }
                &__img {
                  img {
                    border-radius: 10px;
                  }
                }
              }
            }
          }
        }
      }
      &.advantage-section {
        .section {
          &__inner {
            padding-top: 72px;
            padding-bottom: 64px;
          }
          &__info {
            .advantage-block {
              padding: 42px 56px;
              padding-bottom: 20px;
              background: #fffef3;
              box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
              border-radius: 20px;
              &__title {
                font-size: 35px;
                line-height: 40px;
                color: #003a78;
                margin-bottom: 42px;
                @include arial-bold;
              }
              &__list {
                margin-left: -10px;
                margin-right: -10px;

                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                .list-item {
                  width: 50%;
                  display: flex;

                  align-items: center;
                  padding-left: 10px;
                  padding-right: 10px;
                  margin-bottom: 44px;

                  &__left {
                    svg {
                      width: 70px;
                      height: 70px;
                    }
                    display: flex;
                    justify-content: center;
                    margin-right: 25px;
                  }
                  &__right {
                    font-size: 20px;
                    line-height: 24px;
                    color: #3c454e;
                    @include arial-regular;
                    width: 60%;
                  }
                }
              }
            }
          }
        }
      }
      &.teachers-info-section {
        .section {
          &__inner {
            padding-bottom: 65px;
          }
          &__title {
            margin-bottom: 13px;
          }
          &__subtitle {
            font-size: 20px;
            line-height: 24px;
            @include arial-bold;
            margin-bottom: 34px;
            color: #3c454e;
            &.gray {
              color: #7b7b7b;
              @include arial-regular;
            }
          }
          &__info {
            .row {
              margin-bottom: 30px;
              &:last-child {
                margin-bottom: 54px;
              }
            }
            .teachers-info-col {
              .col {
                &__inner {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  height: 100%;
                }
                &__img {
                  img {
                    border-radius: 10px;
                  }
                }
                &__text {
                  font-size: 20px;
                  line-height: 24px;
                  @include arial-regular;
                  color: #7b7b7b;
                }
              }
            }
            .text {
              font-size: 20px;
              line-height: 24px;
              color: #7b7b7b;
              @include arial-regular;
              margin-bottom: 30px;
              &.black {
                color: #3c454e;
              }
            }
          }
          &__slider {
            padding-bottom: 85px;
          }
        }
      }
      &.vacancy-section {
        .section {
          &__inner {
            padding-top: 66px;
            padding-bottom: 60px;
          }
          &__title {
            margin-bottom: 12px;
          }
          &__subtitle {
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 40px;
            color: #3c454e;
            @include arial-regular;
            p {
              margin-bottom: 0;
            }
          }
          &__card {
            background: #fbfdff;
            box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
            border-radius: 20px;
            padding: 42px 30px;
            padding-bottom: 20px;
            margin-bottom: 70px;
            .card {
              &__inner {
                display: flex;
              }
              &__left {
                width: 25%;
                padding-right: 40px;
                .card__text {
                  font-size: 24px;
                  line-height: 28px;
                  @include arial-bold;
                  color: #01548a;
                }
              }
              &__right {
                width: 75%;

                .card-col {
                  margin-bottom: 32px;

                  .col {
                    &__top {
                      margin-bottom: 21px;
                    }
                    &__bottom {
                      font-size: 20px;
                      line-height: 24px;
                      @include arial-regular;
                      color: #3c454e;
                    }
                  }
                }
              }
            }
          }
          &__info {
              p {
                color: #3C454E;
                @include arial-regular;
                font-size: 20px;
                line-height: 24px;
              }
              .link {
                  display: flex;
                  align-items: center;
                  font-size: 20px;
                  line-height: 24px;
                  color: #7B7B7B;
                  svg {
                      margin-right: 10px;
                  }
              }
              .vacancy-list {
                 display: flex;
                 flex-direction: column;
                  .list-item {
                      display: inline-block;
                      margin-bottom: 20px;
                      &.open {
                           
                        .title {
                            svg {
                                transform: rotate(0);
                                transition: 0.3s;
                            }
                        }
                    }
                      &:last-child {
                          margin-bottom: 0;
                      }
                      &__top {
                          margin-bottom: 40px;
                          display: inline-block;
                    
                         .title {
                            font-size: 24px;
                            line-height: 24px;
                            color: #003A78;
                            @include arial-bold;
                            border-bottom: 1px solid #C4C4C4;
                            padding-bottom: 3px;
                            cursor: pointer;
                            svg {
                                transition: 0.3s;
                                transform: rotate(-180deg);
                                margin-left: 100px;
                            }
                         }
                      }
                      &__bottom {
                          padding-top: 20px;
                         display: none;
                          .bottom {
                              &-block {
                                display: flex;
                                margin-left: -10px;
                                margin-right: -10px;
                                margin-bottom: 60px;
                              }
                              &-left {
                                width: 30%;
                                padding-left: 10px;
                                padding-right: 10px;
                                display: flex;
                                flex-direction: column;
                                align-items: flex-end;
                                p {
                                    font-size: 20px;
                                    line-height: 24px;
                                    @include arial-bold;
                                    color: #3C454E;
                                }
                              }
                              &-right {
                                width: 70%;
                                padding-left: 10px;
                                padding-right: 10px;
                                .requirement-list {
                                    margin-bottom: 44px;
                                    .list-item {
                                        font-size: 20px;
                                        line-height: 24px;
                                        @include arial-regular;
                                        color: #7B7B7B;
                                        margin-bottom: 15px;
                                      display: flex;
                                        &__left {
                                            margin-right: 25px;
                                        }
                                    svg {
                                        display: inline-block;
                                       
                                      
                                    }
                                        &:last-child {
                                            margin-bottom: 0;
                                        }
                                    }
                                }
                                p {
                                    width: 70%;
                                    color: #3C454E;
                                    @include arial-regular;
                                    font-size: 20px;
                                    line-height: 24px;
                                    .link {
                                        color: #01548A;
                                    }
                                }
                              }
                          }
                      }
                  }
              }
          }
        }
      }
      &.clients-section {
          .section {
              &__inner {
                  padding-top: 65px;
                  padding-bottom: 65px;
              }
              &__title {
                margin-bottom: 14px;

              }
              &__subtitle{
                font-size: 20px;
                line-height: 24px;
                color: #3C454E;
                margin-bottom: 25px;
                @include arial-bold;
              }
              &__info {
                color: #7B7B7B;
                font-size: 20px;
                line-height: 24px;
                @include arial-regular;
                margin-bottom: 75px;
              }
              &__slider {
                  
              }
          }
      }
    }
    .quote {
      padding-top: 60px;
      padding-bottom: 60px;
      background: linear-gradient(
        90deg,
        rgba(255, 253, 235, 0.5) 7.64%,
        rgba(232, 243, 251, 0.5) 29.79%,
        rgba(232, 243, 251, 0.5) 50.56%,
        rgba(232, 243, 251, 0.5) 72.71%,
        rgba(255, 253, 235, 0.5) 96.25%
      );
      &__inner {
        display: flex;
        justify-content: center;
      }
      &__field {
        display: inline-block;
        font-size: 35px;
        line-height: 40px;
        @include arial-bold;
        text-align: center;

        color: #003a78;
        .text {
          position: relative;
        }
        .element {
          position: absolute;
          left: 0;
          top: -25px;
          left: -10px;
        }
      }
    }
  }
}
