.content {
  &.about-page {
    .page {
      &__title {
        .title {
          font-size: 45px;
          line-height: 57px;
          @include arial-black;
          margin-bottom: 47px;
          color: #003a78;
          width: 70%;
          @include mobile {
            font-size: 24px;
            line-height: 28px;
            width: 80%;
            padding-top: 20px;
            padding-bottom: 13px;
            margin-bottom: 0;
        }
        @include mobile-small {
          width: 100%;
        }
        }
        .subtitle {
          font-size: 20px;
          line-height: 24px;
          color: #3c454e;
          @include arial-bold;
          margin-bottom: 100px;
          @include mobile {
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 26px;
          }
        }
      }
    }
    .section {
      &.history-section {
        .section {
          &__title {
            margin-bottom: 25px;
          @include mobile {
            @include arial-bold;
            margin-bottom: 15px;
          }
          }
          &__inner {
              padding-bottom: 60px;
              @include mobile {
                padding-bottom: 30px;
              }
          }
          &__info {
            .row {
              margin-bottom: 20px;
            &.reverse {
              @include mobile {
                flex-direction: row-reverse;
                .col__text {
                  margin-bottom: 20px;
                }
                .col__img {
                  margin-bottom: 0;
                }
              }
            }
              &:last-child {
                margin-bottom: 0;
              }
            }
            .history-info__col {
              .col {
                &__inner {
                  height: 100%;
                }
                &__text {
                  font-size: 20px;
                  line-height: 24px;
                  @include arial-regular;
                  color: #7b7b7b;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  height: 100%;
                  @include mobile {
                    font-size: 14px;
                    line-height: 20px;
                  }
                  p {
                    @include mobile {
                      font-size: 14px;
                      line-height: 20px;
                    }
                  }
                }
                &__img {
                  margin-bottom: 20px;
                  img {
                    border-radius: 10px;
                  }
                }
              }
            }
          }
        }
      }
      &.advantage-section {
        .section {
          &__inner {
            padding-top: 72px;
            padding-bottom: 64px;
            @include mobile {
              padding-top: 16px;
              padding-bottom: 32px;
            }
          }
          &__info {
            .advantage-block {
              padding: 42px 56px;
              padding-bottom: 20px;
              background: #fffef3;
              box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
              border-radius: 20px;
              @include mobile {
                padding: 20px 25px 40px 25px;
                margin-left: -16px;
                margin-right: -16px;
              }
              &__title {
                font-size: 35px;
                line-height: 40px;
                color: #003a78;
                margin-bottom: 42px;
                @include arial-bold;
                @include mobile {
                  font-size: 20px;
                  line-height: 24px;
                  width: 50%;
                }
              }
              &__list {
                margin-left: -10px;
                margin-right: -10px;

                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                .list-item {
                  width: 50%;
                  display: flex;

                  align-items: center;
                  padding-left: 10px;
                  padding-right: 10px;
                  margin-bottom: 44px;
                  @include mobile {
                    width: 100%;
                    margin-bottom: 30px;
                  }

                  &__left {
                    svg {
                      width: 70px;
                      height: 70px;
                    }
                    display: flex;
                    justify-content: center;
                    margin-right: 25px;
                  }
                  &__right {
                    font-size: 20px;
                    line-height: 24px;
                    color: #3c454e;
                    @include arial-regular;
                    width: 60%;
                    @include mobile {
                      font-size: 18px;
                    }
                  }
                }
              }
            }
          }
        }
      }
      &.teachers-info-section {
        .section {
          &__inner {
            padding-bottom: 65px;
            @include mobile {
              padding-top: 20px;
              padding-bottom: 30px;
            }
          }
          &__title {
            margin-bottom: 13px;
            @include mobile {
              font-size: 20px;
              line-height: 24px;
              @include arial-bold;
            }
          }
          &__subtitle {
            font-size: 20px;
            line-height: 24px;
            @include arial-bold;
            margin-bottom: 34px;
            color: #3c454e;
            @include mobile {
              font-size: 14px;
              line-height: 20px;
              margin-bottom: 18px;
              
            }
            &.gray {
              color: #7b7b7b;
              @include arial-regular;
              @include mobile {
                @include arial-bold;
                margin-bottom: 8px;
              }
            }
          }
          &__info {
            .row {
              margin-bottom: 30px;
              @include mobile {
                margin-bottom: 20px;
              }
             &.reverse {
              @include mobile {
               flex-direction: column-reverse; 
              }
             }
              &:last-child {
                margin-bottom: 54px;
                
              }
            }
            .teachers-info-col {
              .col {
                &__inner {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  height: 100%;
                }
                &__img {
                  @include mobile {
                    margin-bottom: 20px;
                  }
                  img {
                    border-radius: 10px;
                  }
                }
                &__text {
                  font-size: 20px;
                  line-height: 24px;
                  @include arial-regular;
                  color: #7b7b7b;
                  @include mobile {
                    font-size: 14px;
                    line-height: 20px;
                  }
                }
              }
            }
            .show-text-toggle {
              display: none;
              -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                @include mobile {
                 
                    &.active {
                        &:after {
                            transform: rotate(180deg);
                            transition: 0.3s;
                        }
                    }
                    &:after {
                        @include sprite('text-arrow-down');
                        content: '';
                        display: inline-block;
                        margin-left: 5px;
                        transition: 0.3s;
                    }
                    font-size: 14px;
                    line-height: 20px;
                    color: #01548A;
                    cursor: pointer;
                    text-align: center;
                    padding-top: 5px;
                    display: inline-flex;
                    align-items: center; 
                    padding-bottom: 5px;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
            .text {
              &.show-text {
                display: none;
                margin-bottom: 10px;
              }
              font-size: 20px;
              line-height: 24px;
              color: #7b7b7b;
              @include arial-regular;
              margin-bottom: 30px;
              @include mobile {
                font-size: 14px;
                line-height: 20px;
              }
              &.black {
                color: #3c454e;
                @include mobile {
                  margin-top: 10px;
                }
              }
            }
          }
          &__slider {
            padding-bottom: 85px;
          }
        }
      }
      &.vacancy-section {
        .section {
          &__inner {
            padding-top: 66px;
            padding-bottom: 60px;
            @include mobile {
              padding-top: 30px;
              padding-bottom: 18px;
            }
          }
          &__title {
            margin-bottom: 12px;
            @include mobile {
              @include arial-bold;
            }
          }
          &__subtitle {
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 40px;
            color: #3c454e;
            @include arial-regular;
            @include mobile {
              margin-bottom: 25px;
            }
            p {
              margin-bottom: 0;
              @include mobile {
                font-size: 16px;
                line-height: 24px;
              }
            }
          }
          &__card {
            background: #fbfdff;
            box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
            border-radius: 20px;
            padding: 42px 30px;
            padding-bottom: 20px;
            margin-bottom: 70px;
            @include mobile {
              padding: 22px 16px;
              margin-left: -16px;
              margin-right: -16px;
              margin-bottom: 30px;
            }
            .card {
              &__inner {
                display: flex;
                @include mobile {
                  flex-direction: column;
                }
              }
              &__left {
                width: 25%;
                @include mobile {
                  width: 100%;
                  padding-right: 0;
                  margin-bottom: 33px;
                }
                padding-right: 40px;
                .card__text {
                  font-size: 24px;
                  line-height: 28px;
                  @include arial-bold;
                  color: #01548a;
                  @include mobile {
                    font-size: 20px;
                    line-height: 24px;
                    width: 85%;
                    
                  }

                  @include mobile-small {
                    width: 100%;
                  }
                }
              }
              &__right {
                width: 75%;
                @include mobile {
                  width: 100%;
                }
                .card-col {
                  margin-bottom: 32px;
                  @include mobile {
                    margin-bottom: 25px;
                    &:nth-last-child(-n+2){
                      margin-bottom: 0;
                    }
                  }
                  .col {
                    &__top {
                      margin-bottom: 21px;
                      @include mobile {
                        margin-bottom: 0px;
                        svg {
                          width: 35px;
                          height: 35px;
                        }
                      }
                    }
                    &__bottom {
                      font-size: 20px;
                      line-height: 24px;
                      @include arial-regular;
                      color: #3c454e;
                      @include mobile {
                        font-size: 14px !important;
                        line-height: 20px !important;
                      }
                    }
                  }
                }
              }
            }
          }
          &__info {
              p {
                color: #3C454E;
                @include arial-regular;
                font-size: 20px;
                line-height: 24px;
                @include mobile {
                  font-size: 14px;
                  line-height: 20px;
                }
              }
              .link {
                  display: flex;
                  align-items: center;
                  font-size: 20px;
                  line-height: 24px;
                  color: #7B7B7B;
                  @include mobile {
                    font-size: 14px;
                    line-height: 20px;
                  }
                  svg {
                      margin-right: 10px;
                  }
              }
              .vacancy-list {
                 display: flex;
                 flex-direction: column;
                  .list-item {
                      display: inline-block;
                      margin-bottom: 20px;
                      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                      &.open {
                           
                        .title {
                            svg {
                                transform: rotate(0);
                                transition: 0.3s;
                            }
                        }
                    }
                      &:last-child {
                          margin-bottom: 0;
                          @include mobile {
                            margin-bottom: 20px;
                          }
                      }
                      &__top {
                          margin-bottom: 40px;
                          display: inline-block;
                        @include mobile {
                          width: 100%;
                          margin-bottom: 0px;
                        }
                         .title {
                            font-size: 24px;
                            line-height: 24px;
                            color: #003A78;
                            @include arial-bold;
                            border-bottom: 1px solid #C4C4C4;
                            padding-bottom: 3px;
                            @include mobile {
                              font-size: 16px;
                              line-height: 24px;
                              display: flex;
                              align-items: center;
                              justify-content: space-between;
                            }
                            cursor: pointer;
                            svg {
                                transition: 0.3s;
                                transform: rotate(-180deg);
                                margin-left: 100px;
                                @include mobile {
                                  margin-left: 0;
                                }
                            }
                         }
                      }
                      &__bottom {
                          padding-top: 20px;
                         display: none;
                          .bottom {
                              &-block {
                                display: flex;
                                margin-left: -10px;
                                margin-right: -10px;
                                margin-bottom: 60px;
                                @include mobile {
                                  flex-direction: column;
                                  margin-left: 0;
                                  margin-right: 0;
                                  margin-bottom: 0px;
                                }
                              }
                              &-left {
                                width: 30%;
                                padding-left: 10px;
                                padding-right: 10px;
                                display: flex;
                                flex-direction: column;
                                align-items: flex-end;
                                @include mobile {
                                  width: 100%;
                                  align-items: flex-start;
                                }
                                p {
                                    font-size: 20px;
                                    line-height: 24px;
                                    @include arial-bold;
                                    color: #3C454E;
                                    @include mobile {
                                      font-size: 14px;
                                      margin-bottom: 20px;
                                    }
                                }
                              }
                              &-right {
                                width: 70%;
                                padding-left: 10px;
                                padding-right: 10px;
                                @include mobile {
                                  width: 100%;
                                }
                                .requirement-list {
                                    margin-bottom: 44px;
                                    @include mobile {
                                      margin-bottom: 16px;
                                    }
                                    .list-item {
                                        font-size: 20px;
                                        line-height: 24px;
                                        @include arial-regular;
                                        color: #7B7B7B;
                                        margin-bottom: 15px;
                                      display: flex;
                                      @include mobile {
                                        font-size: 14px;
                                        line-height: 20px;
                                      }
                                        &__left {
                                            margin-right: 25px;
                                        }
                                    svg {
                                        display: inline-block;
                                       
                                      
                                    }
                                        &:last-child {
                                            margin-bottom: 0;
                                        }
                                    }
                                }
                                p {
                                    width: 70%;
                                    color: #3C454E;
                                    @include arial-regular;
                                    font-size: 20px;
                                    line-height: 24px;
                                    @include mobile {
                                      font-size: 14px;
                                      line-height: 20px;
                                      width: 90%;
                                    }
                                    @include mobile-small {
                                      width: 100%;
                                    }
                                    .link {
                                        color: #01548A;
                                        @include mobile {
                                          font-size: 14px;
                                          line-height: 20px;
                                          display: inline-block;
                                        }
                                    }
                                }
                              }
                          }
                      }
                  }
              }
          }
        }
      }
      &.clients-section {
          .section {
              &__inner {
                  padding-top: 65px;
                  padding-bottom: 65px;
                  @include mobile {
                    padding-top: 20px;
                    padding-bottom: 20px;
                  }
              }
              &__title {
                margin-bottom: 14px;
                @include mobile {
                  @include arial-bold;
                  margin-bottom: 8px;
                }
              }
              &__subtitle{
                font-size: 20px;
                line-height: 24px;
                color: #3C454E;
                margin-bottom: 25px;
                @include arial-bold;
                @include mobile {
                  font-size: 14px;
                  line-height: 24px;
                  margin-bottom: 10px;
                }
              }
              &__info {
                color: #7B7B7B;
                font-size: 20px;
                line-height: 24px;
                @include arial-regular;
                margin-bottom: 75px;
                @include mobile {
                  font-size: 14px;
                  line-height: 20px;
                  margin-bottom: 20px;
                }
              }
              &__slider {
                  
              }
          }
      }
    }
    .quote {
      padding-top: 60px;
      padding-bottom: 60px;
      @include mobile {
        padding-top: 30px;
        padding-bottom: 30px;
      }
      background: linear-gradient(
        90deg,
        rgba(255, 253, 235, 0.5) 7.64%,
        rgba(232, 243, 251, 0.5) 29.79%,
        rgba(232, 243, 251, 0.5) 50.56%,
        rgba(232, 243, 251, 0.5) 72.71%,
        rgba(255, 253, 235, 0.5) 96.25%
      );
      &__inner {
        display: flex;
        justify-content: center;
      }
      &__field {
        display: inline-block;
        font-size: 35px;
        line-height: 40px;
        @include arial-bold;
        text-align: center;
        @include mobile{
          font-size: 18px;
          line-height: 24px;
        }
        color: #003a78;
        .text {
          position: relative;
        }
        .element {
          position: absolute;
          left: 0;
          top: -25px;
          left: -10px;
          @include mobile {
            width: 32px;
          }
        }
      }
    }
  }
}
