.content {
    &.catalog-course-page {
         .page {
            &__title {
                .title {
                    font-size: 45px;
                line-height: 57px;
                @include arial-bold;
                margin-bottom: 47px;
                color: #003A78;
                width: 70%;
                }
            }
            &__banner {
                min-height: 423px;
                width: 100%;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                margin-bottom: 65px;
            .banner-info {
                padding-top: 70px;
                padding-bottom: 42px;
                width: 40%;
                &__title {
                    font-size: 45px;
                    line-height: 47px;
                    color: #fff;
                    @include arial-bold;
                    margin-bottom: 10px;
                }
                &__subtitle {
                    font-size: 20px;
                    line-height: 28px;
                    color: #DBDBDB;
                    @include arial-regular;
                    margin-bottom: 40px;
                }
            }
            }
        }
        .section {
            &.catalog-course-section {
                .section {
                    &__inner {
                        padding-bottom: 64px;
                    }
                    &__tabs {
                        .course-col {
                           
                            .col__bottom {
                                .col-list {
                                    &__item {
                                        margin-bottom: 8px;
                                        &:last-child {
                                            margin-bottom: 0;
                                        }
                                    }
                                    &__link {
                                        &.title {
                                            font-size: 20px;
                                            line-height: 24px;
                                            @include arial-bold;
                                            color: #01548A;
                                        }
                                        font-size: 16px;
                                        line-height: 24px;
                                     
                                        color: #6A6A6A;
                                        @include arial-regular;
                                        &:hover {
                                            color:#B0B0B0;
                                        }
                                    }
                                }
                            }
                         }
                    }
                }
            }
        }
    }
}