.content {
    &.contact-page {
         .page {
            &__title {
                .title {
                    font-size: 45px;
                line-height: 57px;
                @include arial-black;
                margin-bottom: 47px;
                color: #003A78;
                width: 70%;
                @include tablet {
                    font-size: 35px;
                    line-height: 40px;
                    padding-top: 35px;
                    padding-bottom: 20px;
                    margin-bottom: 0;
                    br {
                      display: none;
                    }
                  }
                @include mobile {
                    font-size: 24px;
                    line-height: 28px;
                    width: 100%;
                    padding-top: 20px;
                    padding-bottom: 20px;
                    margin-bottom: 0;
                }
                }
            }
            &__banner {
                min-height: 423px;
                width: 100%;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
              
                margin-bottom: 65px;
            .banner-info {
                padding-top: 70px;
                padding-bottom: 42px;
                width: 40%;
                &__title {
                    font-size: 45px;
                    line-height: 47px;
                    color: #fff;
                    @include arial-bold;
                    margin-bottom: 10px;
                }
                &__subtitle {
                    font-size: 20px;
                    line-height: 28px;
                    color: #DBDBDB;
                    @include arial-regular;
                    margin-bottom: 40px;
                }
            }
            }
        }
        .section {
            &.info-section {
                min-height: 840px;
                background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
         
            @include mobile{
                background: #FBFBFB !important;
            }
            @include tablet {
              min-height: 700px;
            }
                .section {
                    &__inner {
                        padding-top: 57px;
                        padding-bottom: 57px;
                        @include tablet {
                            padding-top: 30px;
                            padding-bottom: 30px;
                        }
                        @include mobile {
                            padding-top: 0;
                            padding-bottom: 30px;
                        }
                    }
                    &__info {
                        width: 50%;
                        @include tablet {
                            width: 65%;
                        }
                        @include mobile{
                            width: 100%;
                        }
                        &-block {
                            margin-bottom: 30px;
                            &:last-child {
                                margin-bottom: 0;
                            }
                            .block {
                                &__img {
                                    display: none;
                                    @include mobile {
                                        display: block;
                                        margin-left: -16px;
                                        margin-right: -16px;
                                        .mobile-img {

                                            width: 100%;
                                            height: 100%;
                                            max-height: 207px;
                                        }
                                    }
                                 
                                }
                                &__title {
                                    color: #003A78;
                                    font-size: 35px;
                                    line-height: 40px;
                                    @include arial-bold;
                                    margin-bottom: 22px;
                                    @include tablet-and-phone{
                                        font-size: 20px;
                                        line-height: 24px;
                                        margin-bottom: 16px;
                                    }
                                }
                                &__text {
                                    color: #3C454E;
                                    font-size: 18px;
                                    line-height: 24px;
                                    @include arial-regular;
                                    display: flex;
                                    align-items: center;
                                    @include tablet-and-phone {
                                        font-size: 16px;
                                        width: 60%;
                                    }
                                    @include mobile-small {
                                        width: 80%;
                                    }
                                    svg {
                                        margin-right: 10px;
                                        @include tablet-and-phone {
                                           display: block;
                                           width: 20%;
                                        }
                                    }
                                }
                                &__bottom {
                                    margin-left: -10px;
                                    margin-right: -10px;
                                    display: flex;
                                    .block__list {
                                        padding-top: 20px;
                                        padding-bottom: 20px;
                                        @include tablet-and-phone {
                                            padding-top: 10px;
                                            padding-bottom: 10px;
                                        }
                                        .title {
                                            color: #003A78;
                                            font-size: 18px;
                                            line-height: 24px;
                                            @include arial-bold;
                                            margin-bottom: 15px;
                                            @include tablet-and-phone {
                                                font-size: 16px;
                                                margin-bottom: 8px;
                                            }
                                        }
                                        .list-info {
                                         &.work-list {
                                            height: 100%;
                                             p {
                                                 margin-bottom: 10px;
                                                 @include tablet-and-phone {
                                                     font-size: 16px;
                                                     line-height: 24px;
                                                     margin-bottom: 5px;
                                                 }
                                             }
                                             b {
                                                 @include arial-bold;

                                             }
                                             display: flex;
                                             flex-direction: column;
                                             justify-content: space-between;
                                         }
                                            .list-item {
                                                color: #3C454E;
                                                font-size: 18px;
                                                line-height: 24px;
                                                @include arial-regular;
                                                margin-bottom: 10px;
                                                @include tablet-and-phone {
                                                    font-size: 16px;
                                                    margin-bottom: 5px;
                                                }
                                                &:last-child {
                                                    margin-bottom: 0;
                                                }
                                            }
                                           
                                        }
                                    }
                                    
                                    &-left {
                                        width: 50%;
                                        padding-left: 10px;
                                        padding-right: 10px;
                                      
                                    }
                                    &-right {
                                        width: 50%;
                                        padding-left: 10px;
                                        padding-right: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &.address-section {
                .section {
                    &__inner {
                        padding-top: 66px;
                        padding-bottom: 66px;
                        @include tablet {
                            padding-top: 48px;
                            padding-bottom: 30px;
                        }
                        @include mobile {
                            padding-top: 20px;
                            padding-bottom: 30px;
                        }
                    }
                    &__title {
                        margin-bottom: 40px;
                        @include mobile {
                            font-size: 20px;
                            line-height: 24px;
                            @include arial-bold;
                            margin-bottom: 20px;
                        }
                    }
                    &__info {
                        display: flex;
                        margin-left: -15px;
                        margin-right: -15px;
                        @include mobile {
                            flex-direction: column;
                            margin-left: -16px;
                            margin-right: -16px;
                        }
                        .block-list {
                            @include mobile {
                              padding-left: 16px;
                              padding-right: 16px;
                              padding-top: 30px;
                            }
                            .title {
                                color: #003A78;
                                font-size: 20px;
                                line-height: 24px;
                                @include arial-bold;
                                margin-bottom: 20px;
                                @include tablet-and-phone{
                                    font-size: 18px;
                                }
                            }
                            .adress-list {
                                .list-item {
                                    margin-bottom: 25px;
                                    &:last-child {
                                        margin-bottom: 0;
                                    }
                                    &.map-accordion__item--active {
                                        @include mobile {
                                            margin-bottom: 0;
                                        }
                                        .list-item__top {
                                            .arrow-down {
                                                transition: 0.3s;
                                                transform: rotate(180deg);
                                            }
                                            .check {
                                                fill: #003A78;
                                                transition: 0.3s;
                                            }
                                        }
                                    }
                                  
                                    &__top {
                                        font-size: 20px;
                                        line-height: 24px;
                                        color: #003A78;
                                        @include arial-regular;
                                        display: flex;
                                        justify-content: space-between;
                                        align-items: center;
                                        border-bottom: 1px solid #C4C4C4;
                                        padding-bottom: 5px;
                                        @include tablet-and-phone{
                                            font-size: 16px;
                                        }
                                        .check {
                                            fill: #FDC600;
                                            transition: 0.3s;
                                        }
                                        .arrow-down {
                                            transition: 0.3s;
                                        }
                                        .top__left {
                                            display: flex;
                                            align-items: center;
                                            svg {
                                                margin-right: 10px;
                                            }
                                        }
                                        .top__right {

                                        }
                                    }
                                    &__bottom {
                                        padding-top: 30px;
                                        padding-bottom: 30px;
                                        @include tablet-and-phone {
                                            padding-top: 10px;
                                            padding-bottom: 10px;
                                        }
                                        display: none;
                                        &-inner {
                                            margin-left: -15px;
                                            margin-right: -15px;
                                            display: flex;
                                            flex-wrap: wrap;
                                            .bottom-left {
                                                width: 60%;
                                                padding-left: 15px;
                                                padding-right: 15px;
                                                @include tablet-and-phone {
                                                    width: 50%;
                                                }
                                            }
                                            .bottom-right {
                                                width: 40%;
                                                padding-left: 15px;
                                                padding-right: 15px;
                                                @include tablet-and-phone {
                                                    width: 50%;
                                                }
                                            }

                                            .block__list {
                                                padding-top: 20px;
                                                padding-bottom: 20px;
                                                @include tablet-and-phone {
                                                    padding-top: 10px;
                                                    padding-bottom: 10px;
                                                }
                                                &.teachers {
                                                    
                                                .list-info {
                                                    display: flex;
                                                   
                                                    .list-item {
                                                        margin-right: 27px;
                                                        &:last-child {
                                                            margin-right: 0;
                                                        }
                                                        &__title {
                                                            
                                                        }
                                                    }
                                                    .list-link {
                                                        color: #C4C4C4;
                                                    }
                                                }
                                                 
                                                }
                                                .title {
                                                    color: #3C454E;
                                                    font-size: 18px;
                                                    line-height: 24px;
                                                    @include arial-bold;
                                                    margin-bottom: 15px;
                                                    @include tablet-and-phone{
                                                        font-size: 14px;
                                                        line-height: 20px;
                                                        margin-bottom: 5px;
                                                    }
                                                }
                                                .list-info {
                                                 &.work-list {
                                                    height: 100%;
                                                     p {
                                                         margin-bottom: 10px;
                                                         @include tablet-and-phone {
                                                            font-size: 14px;
                                                            line-height: 20px;
                                                        }
                                                     }
                                                     b {
                                                         @include arial-bold;
        
                                                     }
                                                     display: flex;
                                                     flex-direction: column;
                                                     justify-content: space-between;
                                                 }
                                                    .list-item {
                                                        color: #3C454E;
                                                        font-size: 18px;
                                                        line-height: 24px;
                                                        @include arial-regular;
                                                        margin-bottom: 10px;
                                                        @include tablet-and-phone {
                                                            font-size: 14px;
                                                            line-height: 20px;
                                                            margin-bottom: 5px;
                                                        }
                                                        &:last-child {
                                                            margin-bottom: 0;
                                                        }
                                                    }
                                                   
                                                }
                                            }
                                        }
                                       
                                    }
                                }
                            }
                        }
                        .map-main {
                            @include mobile {
                                height: 257px !important;
                                width: 100% !important;
                            
                            }
                            @include tablet {
                                width: 320px !important; 
                            }
                        }
                        &-left {
                            width: 50%;
                            padding-left: 15px;
                            padding-right: 15px;
                            @include mobile {
                                width: 100%;
                                padding-left: 0;
                                padding-right: 0;
                              
                               
                            }
                        }
                        &-right {
                            width: 50%;
                            padding-left: 15px;
                            padding-right: 15px;
                            @include mobile {
                                width: 100%;
                                padding-left: 0;
                                padding-right: 0;
                            }
                        }
                    }
                   
                }
            }
        }
    }
}