.content {
    &.course-page {
        .page {
            &__title {
                .title {
                    font-size: 45px;
                line-height: 57px;
                @include arial-bold;
                margin-bottom: 47px;
                color: #003A78;
                width: 70%;
                }
            }
            &__banner {
                height: 423px;
                width: 100%;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                margin-bottom: 65px;
            .banner-info {
                padding-top: 70px;
                padding-bottom: 42px;
                width: 40%;
                &__title {
                    font-size: 45px;
                    line-height: 47px;
                    color: #fff;
                    @include arial-bold;
                    margin-bottom: 10px;
                }
                &__subtitle {
                    font-size: 20px;
                    line-height: 28px;
                    color: #DBDBDB;
                    @include arial-regular;
                    margin-bottom: 40px;
                }
            }
            }
        }
        .section {
         &.choice-course-section {
             .section {
                 &__inner {
                     padding-bottom: 50px;
                 }
                 &__title {
                    margin-bottom: 13px;
                 }
                 &__subtitle {
                    margin-bottom: 50px;
                    font-size: 20px;
                    line-height: 24px;
                    color: #7B7B7B;
                    @include arial-bold;
                 }
                 &__info {
                     padding-bottom: 78px;
                     .course-col {
                        .col__top {
                            margin-bottom: 17px;
                        }
                        .col__bottom {
                            .col-list {
                                &__item {
                                    margin-bottom: 8px;
                                    &:last-child {
                                        margin-bottom: 0;
                                    }
                                }
                                &__link {
                                    &.title {
                                        font-size: 20px;
                                        line-height: 24px;
                                        @include arial-bold;
                                    }
                                    font-size: 16px;
                                    line-height: 24px;
                                    color: #01548A;
                                    @include arial-regular;
                                    &:hover {
                                        color:#B0B0B0;
                                    }
                                }
                            }
                        }
                     }
                 }
                 &__card {
                    background: #FBFDFF;
                    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
                    border-radius: 20px;
                    padding: 42px 30px;
                    margin-bottom: 133px;
                    .card {
                        &__inner {
                            display: flex;
                        }
                        &__left {
                            width: 25%;
                            padding-right: 40px;
                            .card__text {
                                font-size: 24px;
                                line-height: 28px;
                                @include arial-bold;
                                color: #01548A;
                            }
                        }
                        &__right {
                            width: 75%;
                           
                            .card-col {
                                margin-bottom: 32px;
                                &:nth-last-child(-n+3) {
                                    margin-bottom: 0;
                                }
                                .col {
                                    &__top {
                                        margin-bottom: 21px;
                                    }
                                    &__bottom {
                                        font-size: 20px;
                                        line-height: 24px;
                                        @include arial-regular;
                                        color: #3C454E;
                                    }
                                }
                            }
                        }
                    }
                 }
                 &__desc {
                     &-elem {
                         display: flex;
                        margin-bottom: 16px;
                         .elem {
                             &__title {
                                font-size: 35px;
                                line-height: 40px;
                                @include arial-bold;
                                color: #3C454E;
                                margin-bottom: 40px;
                             }
                             &__text {
                                font-size: 20px;
                                line-height: 24px;
                                color: #7B7B7B;
                                @include arial-regular;
                             }
                             &-right {
                                 padding-left: 30px;
                                width: 50%;
                                display: flex;
                                flex-direction: column;
                               justify-content: center;
                             }
                             &-left {
                                display: flex;
                                flex-direction: column;
                               justify-content: center;
                                 width: 50%;
                             }
                         }
                     }
                 }
             }
         }  
        }
        .quote {
            padding-top: 60px;
            padding-bottom: 60px;
            &__inner {
                display: flex;
                justify-content: center;
            }
            &__field {
               
               display: inline-block;
                font-size: 35px;
                line-height: 40px;
                @include arial-bold;
               text-align: center;
                position: relative;
                color: #003A78;
                .element {
                    position: absolute;
                    left: 0;
                    top: -25px;
                    left: -10px;
                }
            }
        }
    }
}