.section {
  &__title {
    font-size: 35px;
    line-height: 40px;
    color: #003a78;
    @include arial-black;
    @include tablet {
      font-size: 24px;
      line-height: 28px;
    }
    @include mobile {
      font-size: 20px;
      line-height: 24px;
      @include arial-bold;
    }
  }
  &.card-section {
    .section {
      &__inner {
        padding-top: 60px;
        padding-bottom: 60px;
        @include tablet {
          padding-top: 40px;
          padding-bottom: 40px;
        }
        @include mobile {
          padding-top: 34px;
          padding-bottom: 32px;
        }
      }
      &__title {
       
        width: 50%;
      
        margin-bottom: 42px;
        @include tablet {
          width: 65%;
          margin-bottom: 35px;
        }
        @include mobile {
          width: 90%;
          margin-bottom: 35px;
        }
      }
    }
    .card-field {
      .card-row {
        @include mobile {
         
          justify-content: center;
        }
      }
      .card-col {
        display: block;
        @include mobile {
          max-width: 328px;
         
          
          margin-bottom: 24px;
          &:last-child {
            margin-bottom: 0;
          }
        }
        .col {
          &__inner {
            &:hover {
              box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.16);
              transition: 0.3s;
              transform: scale(1.02);
            }
            transition: 0.3s;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
            height: calc(100% - 50px);
            position: relative;
            background: #fbfbfb;
            overflow: hidden;
            @include mobile {
              height: 100%;
            
            }
            .card-elem {
              display: inline-block;
              height: 77px;
              position: absolute;
              right: 0;
              bottom: 0;
            }
            .years {
              position: absolute;
              z-index: 1000;
              color: #fff;
              bottom: 5px;
              right: 5px;
              font-size: 18px;
              line-height: 24px;
              @include arial-bold;
              backface-visibility: hidden;
            }
          }
          &-img {
            position: relative;
            border-radius: 10px;
            overflow: hidden;
            height: 230px;
            img {
              width: 100%;
              height: 100%;
            }
            &:before {
              position: absolute;
              content: '';
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              display: block;
              background: rgba(0, 58, 120, 0.2);
            }
          }
          &-info {
            backface-visibility: hidden;
            position: relative;
            width: 90%;

            top: -50px;

            padding: 16px 19px 34px 18px;
            background: #fbfbfb;
            border-radius: 0px 10px 10px 0px;
            @include mobile {
              top: -25px;
              padding-bottom: 10px;
            }
            &__title {
              font-size: 20px;
              line-height: 24px;
              @include arial-bold;
              margin-bottom: 9px;
              color: #003a78;
              text-transform: uppercase;
            }
            &__text {
              font-size: 16px;
              line-height: 24px;
              color: #7b7b7b;
              @include arial-bold;
            }
          }
        }
      }
    }
  }
  &.advantages-section {
    min-height: 272px;
    background-image: url($images_dir+'advantages.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
  
    &:before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      content: '';
      background: rgba(0, 58, 120, 0.9);
    }
    .section {
      &__inner {
        display: flex;
        align-items: center;
        height: 272px;
        @include mobile {
          height: 100%;
          padding-top: 56px;
          padding-bottom: 50px;
        }
        .advantages {
          &-row {
            width: 100%;
          }
          &-col {
            @include mobile {
              margin-bottom: 50px;
              &:last-child {
                margin-bottom: 0;
              }
            }
            .col {
              &__inner {
                display: flex;
                flex-direction: column;
                align-items: center;
              }
              &__img {
                margin-bottom: 22px;
              }
              &__text {
                font-size: 18px;
                line-height: 24px;
                color: #fff;
                @include arial-bold;
                text-align: center;
                text-transform: uppercase;
                @include tablet {
                  font-size: 16px;
                }
              }
            }
          }
        }
      }
    }
  }
  &.course-selection-section {
    .section {
      &__inner {
        padding-top: 62px;
        padding-bottom: 62px;
        @include tablet {
          padding-top: 25px;
          padding-bottom: 40px;
        }
        @include mobile {
          padding-top: 26px;
          padding-bottom: 32px;
        }
      }
      &__title {
        font-size: 35px;
        line-height: 40px;
        color: #003a78;

        @include arial-black;
        margin-bottom: 42px;
        @include tablet {
          font-size: 24px;
          line-height: 28px;
          width: 60%;
          margin-bottom: 38px;
        }
        @include mobile {
          margin-bottom: 38px;
          font-size: 24px;
          line-height: 28px;
        }
      }
      &__card {
        .course-col {
          margin-bottom: 30px;
          @include mobile {
            margin-bottom: 24px;
            &:last-child {
              margin-bottom: 0;
            }
          }
          .col {
            &__inner {
              background: #ffffff;
              box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
              border-radius: 10px;
              padding: 20px 40px 22px 22px;
              position: relative;
              transition: 0.3s;
              height: 100%;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              &:hover {
                box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.16);
                transition: 0.3s;
               
                .elem-before {
                  position: absolute;
                  opacity: 0;
                  visibility: hidden;
                  transition: 0.3s;
                }
                .elem-after {
                  transition: 0.3s;
                  position: static;
                  opacity: 1;
                  visibility: visible;
                }
              }
            }
            &__title {
              font-size: 18px;
              line-height: 24px;
              margin-bottom: 10px;
              color: #01548a;
              @include arial-bold;
              backface-visibility: hidden;
            }
            &__subtitle {
              font-size: 14px;
              line-height: 20px;
              @include arial-regular;
              color: #7b7b7b;
              margin-bottom: 15px;
            }
            &__details {
              font-size: 14px;
              line-height: 24px;
              color: #fdc600;
              display: flex;
              align-items: center;
              @include arial-bold;
              svg {
                margin-left: 10px;
              }
            }
            &__elem {
              position: absolute;
              bottom: 0;
              right: 0;
              height: 40px;
              .elem-before {
                transition: 0.3s;
                position: static;
                opacity: 1;
                visibility: visible;
              }
              .elem-after {
                position: absolute;
                opacity: 0;
                visibility: hidden;
              }
            }
          }
        }
      }
    }
  }
  &.steps-section {
    background: linear-gradient(180deg, #d5e9fe 0%, rgba(199, 226, 255, 0) 100%);
    .section {
      &__inner {
        padding-top: 62px;
        padding-bottom: 62px;
        @include tablet-and-phone {
          padding-top: 25px;
          padding-bottom: 56px;
        }
      }
      &__title {
        font-size: 35px;
        line-height: 40px;
        color: #003a78;
        @include tablet {
          font-size: 24px;
          line-height: 28px;
        }
        @include arial-black;
        margin-bottom: 10px;
        width: 50%;
        @include mobile {
          margin-bottom: 4px;
          width: 80%;
          font-size: 24px;
          line-height: 28px;
        }
        @include mobile-small {
          width: 100%;
        }
      }
      &__subtitle {
        color: #686868;
        font-size: 18px;
        line-height: 24px;
        @include arial-bold;
        margin-bottom: 45px;
        @include tablet {
          font-size: 16px;
          line-height: 24px;
          width: 30%;
        }
        @include mobile {
          margin-bottom: 66px;
          width: 75%;
        }
        @include mobile-small {
          width: 100%;
        }
      }
      &__stepbar {
          display: flex;
          margin-bottom: 45px;
          @include mobile {
            flex-direction: column;
            margin-bottom: 0;
          }
          .stepbar-elem {
            @include mobile {
              display: flex;
              height: 80px;
              margin-bottom: 70px;
             &:last-child {
               margin-bottom: 48px;
             }
            }
           &:last-child {
               position: relative;
               top: 25px;
               @include tablet {
                 top: 20px;
               }
               @include mobile {
                top: 0;
               }
           }
              .elem {
                  &-title {
                    font-size: 20px;
                    line-height: 24px;
                    color: #565758;
                    margin-bottom: 12px;
                    @include arial-bold;
                    @include mobile {
                      margin-right: 10px;
                    }
                  }
                  &-fragment {
                    @include mobile {
                      margin-right: 50px;
                     position: relative;
                     
                    }
                    @include tablet {
                      display: flex;
                      align-items: center;
                    }
                    .mobile-line {
                     display: none; 
                      @include mobile {
                        display: block;
                        position: absolute;
                        top: 25px;
                        left: 80%;
                      }
                    }
                      margin-bottom: 15px;
                      .line1 {
                        
                        position: relative;
                        top: -10px;
                        @include tablet {
                          width: 263px;
                          top: -15px;
                        }
                        @include mobile {
                          display: none;
                        }
                    }
                 
                  }
                  &-desc {
                    font-size: 18px;
                    line-height: 24px;
                    @include arial-regular;
                    color: #3C454E;
                    width: 150px;
                    @include tablet {
                      font-size: 16px;
                    }
                   @include mobile {
                     width: 60%;
                     font-size: 16px;
                   }
                  }
              }
          }
      }
    }
  }
  &.reviews-section {
      .section {
          &__inner {
              padding-top: 62px;
              padding-bottom: 62px;
              @include tablet {
                padding-top: 43px;
                padding-bottom: 43px;
              }
              @include mobile {
                padding-top: 20px;
                padding-bottom: 40px;
              }
          }
          &__title {
            font-size: 35px;
            line-height: 40px;
            color: #003a78;
    
            @include arial-black;
            margin-bottom: 5px;
            @include tablet-and-phone {
              font-size: 24px;
              line-height: 28px;
            }
           
          }
          &__subtitle {
            font-size: 24px;
            line-height: 24px;
            color: #01548A;
            @include arial-regular;
            margin-bottom: 44px;
            @include tablet {
              font-size: 18px;
              margin-bottom: 26px;
            }
            @include mobile {
              font-size: 16px;
              margin-bottom: 26px;
            }
          }
      }
  }
  &.teachers-section {
    .section {
      &__inner {
        padding-top: 62px;
        padding-bottom: 62px;
        @include tablet-and-phone{
          padding-top: 25px;
          padding-bottom: 48px;
        }
      }
      &__title {
        margin-bottom: 42px;
        @include tablet-and-phone{
          margin-bottom: 31px;
        }
      }
    }
  }
  &.question-section {
    .section {
      &__inner {
        padding-top: 62px;
        padding-bottom: 62px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include tablet-and-phone{
          padding-top: 26px;
          padding-bottom: 37px;
        }
      }
      &__title {
        text-align: center;
        margin-bottom: 16px;
        @include mobile {
          margin-bottom: 5px;
        }
      }
      &__subtitle {
        @include arial-regular;
        font-size: 20px;
        line-height: 24px;
        color: #003A78;
        margin-bottom: 35px;
        @include mobile {
          margin-bottom: 18px;
        }
      }
      
    }
  }
}
