.content {
    &.news-single-page {
         .page {
            &__title {
                .title {
                    font-size: 45px;
                line-height: 57px;
                @include arial-black;
                margin-bottom: 47px;
                color: #003A78;
                width: 70%;
                @include mobile {
                    font-size: 24px;
                    line-height: 28px;
                    width: 80%;
                    padding-top: 20px;
                    padding-bottom: 20px;
                    margin-bottom: 0;
                    br {
                      display: none;
                    }
                }
                }
            }
            &__banner {
                min-height: 423px;
                width: 100%;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                margin-bottom: 65px;
            .banner-info {
                padding-top: 70px;
                padding-bottom: 42px;
              
                width: 40%;
                &__title {
                    font-size: 45px;
                    line-height: 47px;
                    color: #fff;
                    @include arial-bold;
                    margin-bottom: 10px;
                }
                &__subtitle {
                    font-size: 20px;
                    line-height: 28px;
                    color: #DBDBDB;
                    @include arial-regular;
                    margin-bottom: 40px;
                }
            }
            }
        }
        .banner {
            min-height: 385px;
            position: relative;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            @include mobile {
                min-height: 168px;
                height: 168px;
                background-image: url($images_dir + '/mobile/banner_news-single.png') !important;
            }
            &__inner {
                display: flex;
                flex-direction: column;
                min-height: 385px;
                justify-content: center;
                height: 100%;
                @include mobile {
                    min-height: 168px;
                    height: 168px;
                }
            }
            &:before {
                content: '';
                background: rgba(0, 58, 120, 0.65);
                width: 100%;
                height: 100%;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                @include mobile {
                    display: none;
                }
            }
            &__info {
                font-size: 35px;
                line-height: 40px;
                @include arial-bold;
                color: #fff;
                width: 45%;
                position: relative;
                z-index: 10;
                @include mobile {
                    font-size: 20px;
                    line-height: 24px;
                    width: 100%;
                }
            }
        }
        .banner-secondary {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url($images_dir + '/mobile/call_banner.png') !important;
            @include mobile {
                height: 312px;
                min-height: 312px;
            }
            .banner__inner {
                height: 100%;
                @include mobile {
                    
                    padding-top: 28px;
                    padding-bottom: 40px;
                }
            }
            .banner__info {
                width: 55%;
                @include mobile {
                    width: 80%;
                }
                &-title {
                    margin-bottom: 20px;
                    @include arial-black;
                    @include mobile {
                        font-size: 20px;
                        line-height: 24px;
                    }
                }
                &-subtitle {
                    font-size: 24px;
                    line-height: 28px;
                    margin-bottom: 20px;
                    @include mobile {
                        font-size: 16px;
                        line-height: 24px;
                        margin-bottom: 35px;
                    }
                }
                &-list {
                    .list-item {
                        font-size: 24px;
                        line-height: 40px;
                        display: flex;
                        align-items: center;
                        padding-left: 40px;
                        position: relative;
                        @include mobile {
                            font-size: 16px;
                            line-height: 24px;
                        }
                        svg {
                            position: absolute;
                            top: 0;
                            left: 0;
                            top: 50%;
                            margin-top: -12px;
                        }
                    }
                }
            } 
        }
        .section {
          &.news-section {
              .section {
                  &__inner {
                      padding-top: 75px;
                      padding-bottom: 70px;
                      @include mobile {
                          padding-top: 30px;
                      }
                  }
                  &__info {
                   
                      margin-bottom: 60px;
                      @include mobile {
                          margin-bottom: 30px;
                      }
                      &-block {
                        margin-bottom: 43px;
                     
                        &:last-child {
                            margin-bottom: 0;
                        }
                        .video {
                            margin-bottom: 48px;
                            position: relative;
                            cursor: pointer;
                            @include mobile {
                                margin-bottom: 0;
                            }
                            img {
                                width: 100%;
                                height: 100%;
                            }
                            &:before {
                                content: '';
                                display: block;
                                width: 100%;
                                height: 100%;
                                position: absolute;
                                background: rgba(0, 0, 0, 0.4);
                                top: 0;
                                left: 0;
                            }
                            .play-button {
                              top: 50%;
                              left: 50%;
                              margin-left: -40px;
                              margin-top: -40px;
                                position: absolute;
                                z-index: 100;
                                
                            }
                        }
                          .block {
                            
                              &__top {
                                  margin-left: -15px;
                                  margin-right: -15px;
                                display: flex;
                                margin-bottom: 50px;
                                @include mobile {
                                    flex-direction: column-reverse;
                                    margin-left: 0;
                                    margin-right: 0;
                                    margin-bottom: 26px;
                                }
                                  &-left {
                                      padding-left: 15px;
                                      padding-right: 15px;
                                      width: 50%;
                                      @include mobile {
                                          padding-left: 0;
                                          padding-right: 0;
                                          width: 100%;
                                      }
                                      .block {
                                          &__img {
                                            img {
                                                border-radius: 20px;
                                            }
                                          }
                                      }
                                  }
                                  &-right {
                                    width: 50%;
                                    padding-left: 15px;
                                    padding-right: 15px;
                                    @include mobile {
                                        padding-left: 0;
                                        padding-right: 0;
                                        width: 100%;
                                    }
                                    .block {
                                        &__info {
                                            &-title {
                                                font-size: 35px;
                                                line-height: 40px;
                                                color: #3C454E;
                                                margin-bottom: 20px;
                                                @include arial-bold;
                                                @include mobile {
                                                    font-size: 20px;
                                                    line-height: 24px;
                                                  
                                                }
                                            }
                                            &-text {
                                                color: #7B7B7B;
                                                font-size: 20px;
                                                line-height: 24px;
                                                @include arial-regular;
                                                @include mobile {
                                                    font-size: 14px;
                                                    line-height: 20px;
                                                    margin-bottom: 27px;
                                                }
                                            }
                                        }
                                    }
                                  }
                              }
                              &__bottom {
                                  .block__info {
                                      width: 50%;
                                      &.mobile-text {
                                        p {
                                            @include mobile {
                                               display: flex;
                                               justify-content: space-between;
                                            }
                                        }
                                      }
                                      @include mobile {
                                          width: 100%;
                                      
                                      }
                                      &.secondary-block-info {
                                          margin-bottom: 70px;
                                          width: 70%;
                                          @include mobile {
                                              width: 100%;
                                              margin-bottom: 35px;
                                          }
                                          .list-info {
                                          
                                            .list-item {
                                                margin-bottom: 28px;
                                                &:last-child {
                                                    margin-bottom: 0;
                                                }
                                                &__top {
                                                    display: flex;
                                                    font-size: 20px;
                                                    line-height: 24px;
                                                    color: #003A78; 
                                                    @include arial-bold;
                                                    align-items: center;
                                                    margin-bottom: 20px;
                                                    @include mobile {
                                                        font-size: 16px;
                                                        line-height: 24px;
                                                        margin-bottom: 11px;
                                                    }
                                                    .top-left {
                                                        margin-right: 18px;
                                                    }
                                                }
                                                &__bottom {
                                                    @include mobile {
                                                        padding-left: 25px;
                                                    }
                                                    .sublist {
                                                        .list-item {
                                                            margin-bottom: 20px;
                                                                @include mobile {
                                                                    
                                                                    display: flex;
                                                                    flex-direction: column;
                                                                    margin-bottom: 10px;
                                                                    &:last-child {
                                                                        margin-bottom: 0;
                                                                    }
                                                                }
                                                            &:last-child {
                                                                margin-bottom: 0;
                                                            }
                                                            font-size: 20px;
                                                            line-height: 24px;
                                                            @include arial-regular;
                                                            display: flex;
                                                            @include mobile {
                                                                font-size: 14px;
                                                                line-height: 20px;
                                                            }
                                                            .link {
                                                                color: #003A78;
                                                                @include mobile {
                                                                    display: inline-block;
                                                                }
                                                            }
                                                            &__left {
                                                                color: #003A78;
                                                                margin-right: 15px;
                                                                width: 15%;
                                                                @include mobile {
                                                                    width: 100%;
                                                                    margin-right: 0;
                                                                }
                                                            }
                                                            &__right {
                                                                width: 85%;
                                                                color: #7B7B7B;
                                                                @include mobile {
                                                                    width: 100%;
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                          .block__info {
                                              &-title {
                                                color: #003A78;
                                                font-size: 35px;
                                                line-height: 40px;
                                                @include arial-bold;
                                                margin-bottom: 28px;
                                                @include mobile {
                                                    font-size: 20px;
                                                    line-height: 24px;
                                                }
                                              }
                                        
                                          }
                                      }
                                      &.description-block-info {
                                          .block__info-title {
                                            color: #7B7B7B;
                                            font-size: 20px;
                                            line-height: 24px;
                                            @include arial-bold;
                                            margin-bottom: 15px;
                                            @include mobile {
                                                font-size: 14px;
                                                line-height: 20px;
                                            }

                                          }
                                          .tel-list {

                                            .list-item {
                                                color: #7B7B7B;
                                                font-size: 20px;
                                                line-height: 24px;
                                                @include arial-regular;
                                                @include mobile {
                                                    font-size: 14px;
                                                    line-height: 20px;
                                                }
                                            }
                                          }
                                      }
                                      p {
                                        color: #7B7B7B;
                                        font-size: 20px;
                                        line-height: 24px;
                                        @include arial-regular;
                                        
                                        @include mobile {
                                            font-size: 14px;
                                            line-height: 20px;
                                          margin-bottom: 10px;
                                            
                                            .left {
                                                width: 65%;
                                            }
                                            .right {
                                                width: 35%;
                                                text-align: right;
                                            }
                                        }
                                          b {
                                              @include arial-bold;
                                            
                                         
                                          }
                                      }
                                  }
                              }
                          }
                      }
                  }
                  &__actions {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    @include mobile {
                        justify-content: space-between;
                    }
                    .btn {
                        margin-right: 28px;
                        @include mobile {
                            margin-right: 0;

                        }
                        &:last-child {
                            margin-right: 0;
                        }
                    }
                    .secondary-btn {
                        height: 42px;
                        padding-top: 6px;
                        padding-bottom: 6px;
                        @include mobile {
                            height: 32px;
                            display: flex;
                            align-items: center;
                            padding-left: 20px;
                            padding-right: 20px;
                            svg {
                             
                               width: 12px;
                               height: 11px;
                            }
                            .arrow-left {
                                margin-right: 10px;
                            }
                            .arrow-right {
                                margin-left: 10px;
                            }
                        }
                        @include mobile-small {
                            padding-left: 10px;
                            padding-right: 10px;
                        }
                        &.white {
                            background-color: #fff;
                            color: #003A78;
                            border: 2px solid #003A78;

border-radius: 10px;
svg {
    fill: #003A78;
}
&:hover {
    svg {
        fill: #fff;
    }
    background: #003A78;
    color: #fff;
  }
                        }
                    }
                }
              }
          }
          &.news-list-section {
              .section {
                  &__inner {
                    padding-bottom: 60px;
                    @include mobile {
                        padding-bottom: 40px;
                    }
                  }
                  &__info {
                      margin-bottom: 30px;
                    @include mobile {
                        margin-bottom: 15px;
                    }
                    .news-col {
                        display: block;
                        @include mobile {

                        }
                        .col {
                          &__inner {
                            &:hover {
                              box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.16);
                              transition: 0.3s;
                              transform: scale(1.02);
                            }
                            transition: 0.3s;
                            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
                            border-radius: 10px;
                            height: calc(100% - 50px);
                            @include mobile {
                                height: calc(100% - 25px); 
                                &:hover {
                                    transform: scale(1);
                                } 
                            }
                            position: relative;
                            background: #fbfbfb;
                            overflow: hidden;
                            .card-elem {
                              display: inline-block;
                              height: 40px;
                              position: absolute;
                              right: 0;
                              bottom: 0;
                            }
                        
                          }
                          &-img {
                            position: relative;
                            border-radius: 10px;
                            overflow: hidden;
                            height: 230px;
                            img {
                              width: 100%;
                              height: 100%;
                            }
                            &:before {
                              position: absolute;
                              content: '';
                              top: 0;
                              left: 0;
                              width: 100%;
                              height: 100%;
                              display: block;
                              background: rgba(0, 58, 120, 0.2);
                            }
                          }
                          &-info {
                            backface-visibility: hidden;
                            position: relative;
                            width: 90%;
                
                            top: -50px;
                
                            padding: 16px 19px 34px 18px;
                            background: #fbfbfb;
                            border-radius: 0px 10px 10px 0px;
                            @include mobile {
                                top: -25px;
                            }
                            &__date {
                                margin-bottom: 10px;
                                font-size: 12px;
                                line-height: 24px;
                                @include arial-regular;
                                color: #7B7B7B;
                              
                            }
                            &__title {
                              font-size: 20px;
                              line-height: 24px;
                              @include arial-bold;
                              margin-bottom: 9px;
                              color: #003a78;
                              text-transform: uppercase;
                              @include mobile {
                                  font-size: 16px;
                              }
                            }
                            &__text {
                              font-size: 16px;
                              line-height: 24px;
                              color: #3C454E;
                              @include arial-regular
                            @include mobile {
                                font-size: 14px;
                                line-height: 20px;
                            }
                            }
                            &__action {
                                .yellow-text {
                                    @include arial-bold;
                                    color: #FDC600;
                                    font-size: 12px;
                                    line-height: 24px;
                                    display: flex;
                                    align-items: center;
                                    svg {
                                        margin-left: 10px;
                                    }
                                }
                            }
                          }
                        }
                      }
                    
                  }
                  &__actions {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    .btn {
                        margin-right: 28px;
                        &:last-child {
                            margin-right: 0;
                        }
                    }
                    .secondary-btn {
                        height: 42px;
                        padding-top: 6px;
                        padding-bottom: 6px;
                        &.white {
                            background-color: #fff;
                            color: #003A78;
                            border: 2px solid #003A78;

border-radius: 10px;
                        }
                    }
                }
              }
          }
        }
    }
}