.content {
    &.payment-page {
      
         .page {
            &__title {
                margin-bottom: 65px;
                @include tablet-and-phone{
                  margin-bottom: 25px;
                }
                .title {
                    font-size: 45px;
                line-height: 57px;
                @include arial-black;
                margin-bottom: 44px;
                color: #003A78;
                width: 70%;
                @include tablet {
                  font-size: 35px;
                  line-height: 40px;
                  padding-top: 35px;
                  padding-bottom: 20px;
                  margin-bottom: 10px;
                  width: 70%;
                  br {
                    display: none;
                  }
                }
                @include mobile {
                  font-size: 24px;
                  line-height: 28px;
                  width: 80%;
                  padding-top: 20px;
                  padding-bottom: 20px;
                  margin-bottom: 0;
                  br {
                    display: none;
                  }
              }
                }
                .subtitle {
                    color: #7B7B7B;
                    @include arial-bold;
                    font-size: 20px;
                    line-height: 24px;
                    @include tablet-and-phone {
                      font-size: 16px;
                    }

                }
            }
         
        }
        .section {
            &.payment-section {
                .section {
                  &__inner {
                    padding-bottom: 100px;
                    @include tablet {
                      padding-bottom: 50px;
                    }
                    @include mobile {
                      padding-bottom: 35px;
                    }
                  }
                    &__list {
                        margin-bottom: 47px;
                    
                        .course-col {
                            margin-bottom: 30px;
                            &:last-child {
                              @include mobile {
                                margin-bottom: 0;
                              }
                            }
                            .col {
                              &__inner {
                                background: #ffffff;
                                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
                                border-radius: 10px;
                                padding: 20px 40px 22px 22px;
                                position: relative;
                                transition: 0.3s;
                                height: 100%;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                &:hover {
                                  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.16);
                                  transition: 0.3s;
                                 
                                  .elem-before {
                                    position: absolute;
                                    opacity: 0;
                                    visibility: hidden;
                                    transition: 0.3s;
                                  }
                                  .elem-after {
                                    transition: 0.3s;
                                    position: static;
                                    opacity: 1;
                                    visibility: visible;
                                  }
                                }
                              }
                              &__title {
                                font-size: 18px;
                                line-height: 24px;
                                margin-bottom: 10px;
                                color: #01548a;
                                @include arial-bold;
                                backface-visibility: hidden;
                              }
                              &__top {
                                .price {
                                    @include arial-bold;
                                }
                              }
                              &__bottom {
                                  .primary-btn {
                                      font-size: 16px;
                                      line-height: 16px;
                                      padding-top: 7px;
                                      padding-bottom: 7px;
                                      color: #ffffff;
                                  }
                              }
                              &__subtitle {
                                font-size: 14px;
                                line-height: 20px;
                                @include arial-regular;
                                color: #7b7b7b;
                                margin-bottom: 15px;
                              }
                              
                              &__details {
                            
                              }
                            
                              &__elem {
                                position: absolute;
                                top: 0;
                                right: 0;
                                height: 40px;
                                .elem-before {
                                  transition: 0.3s;
                                  position: static;
                                  opacity: 1;
                                  visibility: visible;
                                }
                                .elem-after {
                                  position: absolute;
                                  opacity: 0;
                                  visibility: hidden;
                                }
                              }
                            }
                          }
                    }
                    &__info {
                        font-size: 20px;
                        line-height: 24px;  
                        @include arial-regular;
                        color: #7B7B7B;
                        b {
                            @include arial-bold;
                        }
                        .blue-text {
                            color: #003A78;
                            @include arial-bold;
                            @include tablet {
                              font-size: 24px;
                              line-height: 28px;
                            }
                            @include mobile {
                              font-size: 20px;
                              line-height: 24px;
                            }
                          
                        }
                        .black-text {
                            color: #3C454E;
                            @include tablet {
                              font-size: 18px;
                              line-height: 24px;
                            }
                            @include mobile {
                              font-size: 16px;
                              line-height: 24px;
                              br {
                                display: none;
                              }
                            }
                        }
                        p {
                          @include tablet-and-phone{
                            font-size: 14px;
                            line-height: 20px;
                          }
                        }
                        .link {
                            color: #003A78;
                        }
                        .payment-system-list {
                          margin-left: -10px;
                          margin-right: -10px;
                          display: flex;
                          flex-wrap: wrap;
                          padding-top: 20px;
                          padding-bottom: 20px;
                           .list-item { 
                            width: 14.2%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                           }
                        }
                        .block-info {
                          &__title {
                            color: #353535;
                            font-size: 20px;
                            line-height: 24px;
                            margin-bottom: 24px;
                            @include arial-bold;
                            @include mobile {
                              font-size: 16px;
                            }
                          }
                         &:first-child {
                          margin-top: 53px;
                          @include mobile {
                            margin-top: 35px;
                          }
                         }
                         @include mobile {
                           margin-bottom: 35px;
                         }
                         margin-bottom: 53px;
                         &:last-child {
                           margin-bottom: 0;
                         }
                         .download-link {
                          color: #01548A;
                          font-size: 18px;
                          line-height: 24px;
                          @include arial-regular;
                          display: inline-flex;
                          align-items: center;
                          margin-bottom: 40px;
                          @include tablet-and-phone{
                            font-size: 14px;
                            line-height: 20px;
                            margin-bottom: 20px;
                          }
                          &:hover {
                              color: lighten($color: #01548A, $amount: 50%);
                          }
                          .link__left {
                              margin-right: 32px;
                              @include tablet-and-phone {
                                margin-right: 15px;
                                svg {
                                  width: 40px;
                                  height: 40px;
                                }
                              }
                          }
                      }
                        }
                        .slick-dots {
                          display: flex !important;
                          width: 100%;
                          justify-content: center;
                  
                          margin-top: 10px;
                  
                          li {
                            width: 10px;
                            height: 10px;
                            background: rgba(12, 77, 162, 0.4);
                            border-radius: 50%;
                            margin-right: 14px;
                  
                            &:last-child {
                              margin-right: 0;
                            }
                  
                            &.slick-active {
                              background: #0c4da2;
                            }
                          }
                  
                          button {
                            font-size: 0;
                          }
                        }
                    }
                }
            }
       
        }
    }
}