.content {
    &.question-page {
         .page {
            &__title {
                .title {
                    font-size: 45px;
                line-height: 57px;
                @include arial-black;
                margin-bottom: 47px;
                color: #003a78;
                width: 70%;
                @include tablet {
                    font-size: 35px;
                    line-height: 40px;
                    padding-top: 35px;
                    padding-bottom: 20px;
                    margin-bottom: 0;
                    width: 100%;
                    br {
                      display: none;
                    }
                  }
                @include mobile {
                    font-size: 24px;
                    line-height: 28px;
                    width: 100%;
                    padding-top: 20px;
                    padding-bottom: 20px;
                    margin-bottom: 0;
                }
                }
            }
            &__banner {
                min-height: 423px;
                width: 100%;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                margin-bottom: 65px;
            .banner-info {
                padding-top: 70px;
                padding-bottom: 42px;
                width: 40%;
                &__title {
                    font-size: 45px;
                    line-height: 47px;
                    color: #fff;
                    @include arial-bold;
                    margin-bottom: 10px;
                }
                &__subtitle {
                    font-size: 20px;
                    line-height: 28px;
                    color: #DBDBDB;
                    @include arial-regular;
                    margin-bottom: 40px;
                }
            }
            }
        }
        .section {
            &.question-section {
                .section {
                    &__inner {
                        padding-bottom: 64px;
                        padding-top: 0;
                        @include tablet {
                            padding-bottom: 55px;
                        }
                        @include mobile {
                            padding-bottom: 40px;
                        }
                    }
                    &__tabs {
                        width: 100%;
                        margin-bottom: 46px;
                        @include tablet-and-phone {
                            margin-bottom: 30px;
                        }
                        .question-list {
                            .list-item {
                                padding-left: 15px;
                                padding-right: 20px;
                               
                                border: 1px solid #C4C4C4;
                                border-radius: 10px;
                                width: 732px;
                                margin-bottom: 24px;
                                @include tablet-and-phone {
                                    width: 100%;
                                }
                                &:last-child {
                                    margin-bottom: 0;
                                }
                                &.open {
                                   .list-item__top {
                                    .title {
                                        color: #003A78;
                                      
                                    }
                                    svg {
                                        transform: rotate(180deg);
                                        transition: 0.3s;
                                    }
                                   }
                                    
                                }
                                &__top {
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    padding-top: 20px;
                                    padding-bottom: 20px;
                                    @include mobile{
                                        padding-top: 10px;
                                        padding-bottom: 10px;
                                    }
                                    cursor: pointer;
                                    .title {
                                        width: 90%;
                                        color: #3C454E;
                                        font-size: 18px;
                                        line-height: 24px;
                                        @include arial-bold;
                                        @include tablet-and-phone{
                                            font-size: 16px;
                                            width: 80%;
                                        }
                                       
                                    }
                                    svg {
                                        transition: 0.3s;
                                    }
                                  
                                }
                                &__bottom {
                                    display: none;
                                  padding-bottom: 20px;
                                   width: 90%;
                                   font-size: 16px;
                                   line-height: 24px;
                                   color: #7B7B7B;
                                   @include tablet-and-phone {
                                       font-size: 14px;
                                       line-height: 20px;
                                   }
                                }
                            }
                        }
                    }
                    &__actions {
                        width: 100%;
                        @include tablet {
                            display: flex;
                            justify-content: center;
                        }
                        @include mobile {
                            display: flex;
                            justify-content: space-between;
                        }
                        .btn {
                            margin-right: 28px;
                            &:last-child {
                                margin-right: 0;
                            }
                        }
                        .secondary-btn {
                            height: 42px;
                            padding-top: 6px;
                            padding-bottom: 6px;
                            @include tablet {
                                display: flex;
                                align-items: center;
                                height: 32px;
                                padding-top: 4px;
                                padding-bottom: 4px;
                            }
                            @include mobile {
                                padding-top: 0;
                                padding-bottom: 0;
                                padding-left: 25px;
                                padding-right: 25px;
                                height: 32px;
                            }
                            @include mobile-small {
                                padding-left: 10px;
                                padding-right: 10px;
                            }
                            &.white {
                                background-color: #fff;
                                color: #003A78;
                                border: 2px solid #003A78;

border-radius: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}