.content {
    &.reviews-page {
         .page {
            &__title {
                .title {
                    font-size: 45px;
                line-height: 57px;
                @include arial-black;
                margin-bottom: 47px;
                color: #003A78;
                width: 70%;
                @include tablet {
                    font-size: 35px;
                    line-height: 40px;
                    padding-top: 35px;
                    padding-bottom: 20px;
                    margin-bottom: 0;
                    width: 60%;
                    br {
                      display: none;
                    }
                  }
                @include mobile {
                    font-size: 24px;
                    line-height: 28px;
                    width: 80%;
                    padding-top: 20px;
                    padding-bottom: 20px;
                    margin-bottom: 0;
                    br {
                      display: none;
                    }
                }
                }
            }
         
        }
        .section {
         &.reviews-list-section {
             .section {
                 &__inner {
                    padding-bottom: 68px;
                    @include mobile {
                        padding-bottom: 32px;
                    }
                 }
                 &__info {
                     margin-bottom: 70px;
                     @include tablet {
                         margin-bottom: 40px;
                     }
                     @include mobile {
                         margin-bottom: 50px;
                     }
                     .reviews-list {
                         margin-left: -15px;
                         margin-right: -15px;
                         display:flex;
                  
                         flex-wrap: wrap;
                         margin-bottom: 40px;
                         @include mobile {
                             margin-bottom: 32px;
                         }
                         .list-item {
                            padding-left: 15px;
                            padding-right: 15px;
                            width: 25%;
                            @include tablet {
                                width: 50%;
                               
                            }
                            @include mobile {
                                width: 100%;
                                &:last-child {
                                    margin-bottom: 0;
                                }
                            }
                            margin-bottom: 33px;
                            align-self: baseline;
                            &__inner {
                                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
                                border-radius: 10px;
                                padding: 25px 20px;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                background: #FBFBFB;
                                position: relative;
                                overflow: hidden;
                                &:before {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    height: 80px;
                                    width: 100%;
                                    display: block;
                                    content: '';
                                 
                                }
                                &.red {
                                    &:before {
                                        background: #E63312;
                                    }
                                }
                                &.pink {
                                    &:before {
                                        background: #BA2C70;
                                    }
                                }
                                &.purple {
                                    &:before {
                                        background: #650549;
                                    }
                                }
                                &.blue {
                                    &:before {
                                        background: #01548A;
                                    }
                                }
                                &.green {
                                    &:before {
                                        background: #007D58;
                                    }
                                }
                                &.light-green {
                                    &:before {
                                        background: #95C11F;
                                    }
                                }
                                &.orange {
                                    &:before {
                                        background: #F18700;
                                    }
                                }
                                &.yellow {
                                    &:before {
                                        background: #FBBA00;
                                    }
                                }
                            }
                            &__photo {
                                margin-bottom: 15px;
                                border-radius: 50%;
                                border: 6px solid #fff;
                                z-index: 100;
                                position: relative;
                                overflow: hidden;
                                img {
                                    max-height: 80px;
                                    display: block;
                                }
                            }
                            &__info {
                                text-align: center;
                                margin-bottom: 15px;
                                p {
                                    color: #3C454E;
                                    @include arial-regular;
                                    &.name {
                                        font-size: 18px;
                                        line-height: 24px;
                                        @include arial-bold;
                                    }
                                    &.text {
                                        font-size: 14px;
                                        line-height: 20px;
                                    }
                                    &.date {
                                        color: #7B7B7B;
                                        font-size: 12px;
                                        line-height: 20px;
                                    }
                                }
                            }
                            &__links {
                                display: flex;
                                .link-item {
                                    margin-right: 7px;
                                    &:last-child {
                                        margin-right: 0;
                                    }
                                }
                            }
                         }
                     }
                     &-action {
                         display: flex;
                         justify-content: center;
                     }
                 }
             }
         }
        }
    }
}