</div>

<footer class="footer">
 <div class="footer__left">
 <div id="map-footer" style="width: 100%; height: 100%"></div>
 </div>
 <div class="footer__right">
  <div class="footer__right-top">
      <a href="#" class="footer__right-title">
          Все школы
      </a>
  </div>
  <div class="footer__right-center">
      <div class="center-left">
          <div class="footer__info address">
             <div class="footer__info-left">
                 <svg width="20" height="28" viewBox="0 0 20 28" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M10 0C4.48597 0 0 4.54902 0 10.1405C0 17.0797 8.94902 27.2668 9.33003 27.6971C9.68791 28.1013 10.3127 28.1006 10.67 27.6971C11.051 27.2668 20 17.0797 20 10.1405C19.9999 4.54902 15.514 0 10 0ZM10 15.2425C7.22575 15.2425 4.9688 12.9537 4.9688 10.1405C4.9688 7.32726 7.22581 5.03858 10 5.03858C12.7742 5.03858 15.0311 7.32731 15.0311 10.1406C15.0311 12.9538 12.7742 15.2425 10 15.2425Z" fill="#fff"/>
</svg>
             </div>
             <div class="footer__info-right">
                  <div class="footer__info-title">
                  Главный офис
              </div>
              <div class="footer__info-text">
                  Ул. Смолячкова, 9-430
                г.Минск, Беларусь
              </div>
             </div>
          </div>
             <div class="footer__info email">
             <div class="footer__info-left">
   <svg width="20" height="20" viewBox="0 0 20 20"  xmlns="http://www.w3.org/2000/svg">
<path d="M18.2423 2.38281H1.75797C1.48738 2.38281 1.23406 2.44934 1.00488 2.55898L9.96109 11.5152L11.9685 9.58602C11.9685 9.58602 11.9686 9.58582 11.9687 9.58574C11.9687 9.58566 11.9689 9.58559 11.9689 9.58559L18.9957 2.55914C18.7665 2.44941 18.513 2.38281 18.2423 2.38281Z" />
<path d="M19.824 3.3877L13.2114 9.99996L19.8238 16.6123C19.9335 16.3832 20 16.1298 20 15.8593V4.14051C20 3.87008 19.9336 3.6168 19.824 3.3877Z" />
<path d="M0.176172 3.38745C0.0665234 3.61663 0 3.86995 0 4.14054V15.8593C0 16.1297 0.0664453 16.3831 0.176016 16.6122L6.78863 9.99991L0.176172 3.38745Z" />
<path d="M12.3828 10.8287L10.3752 12.7581C10.2607 12.8726 10.1108 12.9298 9.96092 12.9298C9.81104 12.9298 9.66107 12.8726 9.54666 12.7581L7.61713 10.8286L1.00439 17.4409C1.23361 17.5506 1.48709 17.6172 1.75775 17.6172H18.2421C18.5127 17.6172 18.766 17.5507 18.9952 17.4411L12.3828 10.8287Z" />
</svg>
             </div>
             <div class="footer__info-right">
            
              <a href="mailto:office@ih.by" class="footer__info-text">
                 office@ih.by
              </a>
             </div>
          </div>
            <div class="footer__info tel">
                <ul class="tel-list">
                    <li class="list-item">
                        <div class="list-item__left">
                            a1
                        </div>
                        <a href="" class="list-link">+375 (29) 626-36-80</a>
                    </li>
                      <li class="list-item">
                        <div class="list-item__left">
                            a1
                        </div>
                        <a href="" class="list-link">+375 (44) 777-73-18</a>
                    </li>
                      <li class="list-item">
                        <div class="list-item__left">
                            мтс
                        </div>
                        <a href="" class="list-link">+375 (29) 777-73-18</a>
                    </li>

                       <li class="list-item">
                        <div class="list-item__left">
                           <svg width="20" height="20" viewBox="0 0 20 20"  xmlns="http://www.w3.org/2000/svg">
<path d="M17.07 2.92786C13.1642 -0.976781 6.83251 -0.975844 2.92786 2.93001C-0.976781 6.83587 -0.975844 13.1675 2.93001 17.0721C6.83587 20.9768 13.1675 20.9759 17.0722 17.07C18.9474 15.1942 20.0006 12.6502 20 9.99786C19.9995 7.34591 18.9455 4.80278 17.07 2.92786ZM15.1447 13.9299C15.1442 13.9303 15.1438 13.9308 15.1433 13.9312V13.9279L14.6366 14.4312C13.9814 15.0948 13.027 15.3678 12.12 15.1512C11.2061 14.9066 10.3374 14.5172 9.54665 13.9979C8.81204 13.5284 8.13126 12.9796 7.51665 12.3612C6.95114 11.7998 6.4431 11.1834 5.99997 10.5212C5.51528 9.80864 5.13165 9.03239 4.85997 8.21454C4.54853 7.25376 4.80661 6.1995 5.52665 5.49122L6.11997 4.8979C6.28493 4.7322 6.55298 4.73161 6.71864 4.89657C6.71907 4.897 6.71954 4.89743 6.71997 4.8979L8.59329 6.77122C8.75899 6.93618 8.75958 7.20423 8.59462 7.36989C8.59419 7.37032 8.59376 7.37075 8.59329 7.37122L7.49329 8.47122C7.17767 8.7834 7.13798 9.2795 7.39997 9.6379C7.79782 10.1839 8.2381 10.6977 8.71665 11.1746C9.2502 11.7104 9.83024 12.1979 10.45 12.6313C10.8081 12.881 11.2935 12.8389 11.6033 12.5313L12.6666 11.4513C12.8316 11.2856 13.0996 11.285 13.2653 11.4499C13.2657 11.4504 13.2661 11.4508 13.2666 11.4513L15.1433 13.3313C15.309 13.4962 15.3096 13.7642 15.1447 13.9299Z" />
</svg>
                        </div>
                        <a href="" class="list-link">+375 (17) 293-65-55</a>
                    </li>
                </ul>
          </div>
      </div>
      <div class="center-right">
          <nav class="footer__nav">
              <li class="nav-item">
                  <a href="" class="nav-link">Главная</a>
              </li>
               <li class="nav-item">
                  <a href="" class="nav-link">О школе IH</a>
              </li>
               <li class="nav-item">
                  <a href="" class="nav-link">Цены</a>
              </li>
               <li class="nav-item">
                  <a href="" class="nav-link">Оплата</a>
              </li>
               <li class="nav-item">
                  <a href="" class="nav-link">Новости</a>
              </li>
               <li class="nav-item">
                  <a href="" class="nav-link">Вопрос-ответ</a>
              </li>
               <li class="nav-item">
                  <a href="" class="nav-link">Отзывы</a>
              </li>
               <li class="nav-item">
                  <a href="" class="nav-link">Онлайн-тест</a>
              </li>
               <li class="nav-item">
                  <a href="" class="nav-link">Контакты</a>
              </li>
              
          </nav>
          <div class="footer__link">
            <ul class="list-link">
                <div class="list-item">
                    <a href="" class="list-link">
                        <svg width="22" height="22" viewBox="0 0 22 22"  xmlns="http://www.w3.org/2000/svg">
<g opacity="0.75">
<g clip-path="url(#clip0)">
<path d="M20.4133 0H1.58665C0.710327 0 0 0.710327 0 1.58665V20.4133C0 21.2897 0.710327 22 1.58665 22H11.752V13.4922H8.89453V10.1621H11.752V7.71138C11.752 4.8694 13.487 3.32253 16.0221 3.32253C17.2363 3.32253 18.2798 3.41299 18.584 3.45345V6.42383H16.8359C15.4565 6.42383 15.1895 7.07927 15.1895 8.0412V10.1621H18.4873L18.0576 13.4922H15.1895V22H20.4133C21.2897 22 22 21.2897 22 20.4133V1.58665C22 0.710327 21.2897 0 20.4133 0V0Z" />
</g>
</g>
<defs>
<clipPath id="clip0">
<rect width="22" height="22" />
</clipPath>
</defs>
</svg>
                    </a>
                </div>
                      <div class="list-item">
                    <a href="" class="list-link">
  <svg width="22" height="22" viewBox="0 0 22 22"  xmlns="http://www.w3.org/2000/svg">
<g opacity="0.75">
<path d="M16.0448 0H5.95519C2.67144 0 0 2.67144 0 5.95519V16.0449C0 19.3285 2.67144 22 5.95519 22H16.0449C19.3285 22 22 19.3285 22 16.0449V5.95519C22 2.67144 19.3285 0 16.0448 0V0ZM11 17.0154C7.683 17.0154 4.98453 14.317 4.98453 11C4.98453 7.683 7.683 4.98453 11 4.98453C14.317 4.98453 17.0154 7.683 17.0154 11C17.0154 14.317 14.317 17.0154 11 17.0154ZM17.1593 6.40317C16.179 6.40317 15.3818 5.6059 15.3818 4.62568C15.3818 3.64545 16.179 2.84802 17.1593 2.84802C18.1395 2.84802 18.9369 3.64545 18.9369 4.62568C18.9369 5.6059 18.1395 6.40317 17.1593 6.40317Z" />
<path d="M11.0001 6.27441C8.39448 6.27441 6.27441 8.39431 6.27441 11.0001C6.27441 13.6058 8.39448 15.7258 11.0001 15.7258C13.6059 15.7258 15.7258 13.6058 15.7258 11.0001C15.7258 8.39431 13.6059 6.27441 11.0001 6.27441Z" />
<path d="M17.1591 4.13794C16.8903 4.13794 16.6714 4.35681 16.6714 4.6257C16.6714 4.89459 16.8903 5.11346 17.1591 5.11346C17.4282 5.11346 17.6471 4.89476 17.6471 4.6257C17.6471 4.35664 17.4282 4.13794 17.1591 4.13794Z" />
</g>
</svg>

                    </a>
                </div>
                      <div class="list-item">
                    <a href="" class="list-link">
       <svg width="22" height="22" viewBox="0 0 22 22"  xmlns="http://www.w3.org/2000/svg">
<g opacity="0.75">
<path d="M20.8298 0H1.17021C0.523787 0 0 0.524021 0 1.17021V20.8298C0 21.476 0.523787 22 1.17021 22H20.8298C21.4762 22 22 21.476 22 20.8298V1.17021C22 0.524021 21.4762 0 20.8298 0ZM17.5225 12.3909C18.1222 12.976 18.7562 13.527 19.2947 14.1736C19.533 14.4591 19.7576 14.754 19.9287 15.0861C20.1724 15.5599 19.9524 16.0801 19.5278 16.108L16.8934 16.1073C16.2133 16.1632 15.6717 15.8894 15.2149 15.4243C14.8509 15.0534 14.5125 14.6574 14.1617 14.2743C14.0187 14.1167 13.867 13.9686 13.6877 13.8516C13.3287 13.6185 13.0167 13.6896 12.8106 14.0643C12.6009 14.4458 12.5524 14.869 12.5332 15.2942C12.504 15.9156 12.3167 16.0778 11.6935 16.1066C10.3618 16.1693 9.0977 15.9671 7.92351 15.2961C6.88694 14.704 6.08534 13.8675 5.38696 12.9215C4.02577 11.0765 2.98334 9.05136 2.04717 6.96815C1.8363 6.49889 1.99053 6.24777 2.50753 6.23817C3.36787 6.22109 4.22798 6.22343 5.08715 6.23723C5.43728 6.24262 5.66875 6.44296 5.80285 6.77296C6.26743 7.91626 6.83755 9.00409 7.55138 10.0128C7.74166 10.2813 7.93592 10.5492 8.21209 10.739C8.51728 10.9487 8.74992 10.8797 8.89385 10.5392C8.98583 10.322 9.02562 10.0912 9.04528 9.85904C9.11362 9.06423 9.12181 8.26943 9.00385 7.47766C8.93013 6.98243 8.65115 6.66249 8.15732 6.56887C7.90596 6.52113 7.9427 6.42798 8.06487 6.28451C8.27691 6.03596 8.47679 5.88243 8.87372 5.88243L11.851 5.88196C12.3205 5.9737 12.4249 6.18434 12.4887 6.65687L12.4916 9.9646C12.4866 10.1476 12.5831 10.6897 12.9117 10.8095C13.1745 10.8963 13.3489 10.6854 13.5061 10.5183C14.2195 9.76121 14.7278 8.86694 15.1835 7.94177C15.3841 7.53383 15.558 7.11115 15.7265 6.68823C15.8512 6.37532 16.0464 6.22132 16.3994 6.22694L19.2654 6.22998C19.3497 6.22998 19.4361 6.23091 19.5196 6.24472C20.0022 6.32781 20.1344 6.53564 19.9854 7.007C19.7504 7.74728 19.2928 8.36421 18.8453 8.98255C18.3672 9.64372 17.8567 10.2831 17.3821 10.9476C16.9473 11.557 16.9824 11.8631 17.5225 12.3909Z" />
</g>
</svg>

                    </a>
                </div>
            </ul>
          </div>
      </div>
  </div>
  <div class="footer__right-bottom">
      <div class="footer-bottom-actions">
          <a href="" class="btn primary-btn white-color">Заказать звонок</a> 
      </div>
      <div class="footer-bottom-info">
          2016 – 2020 international House курсы английского языка в Минске Рейтинг: 4.4 (На основе 17 <a href="" class="link">отзывов</a> ) <span class="stars">★★★★★</span>
      </div>
  </div>
 </div>
</footer>

</div>
</div>

{{> layout/bottom}}