
.popup {
  position: fixed;
  overflow-x: hidden;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include mobile {
    padding-left: 10px;
    padding-right: 10px;
  }
  ::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #EDEDED;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #FDC600;
    width: 10px;
  }
  &__box {
    max-width: 500px;
    padding: 20px;
    margin: 0 auto;
    background-color: #fff;
    display: none;
    position: relative;
    max-height: 95%;
    overflow-y: auto;
 
  
    &.header-popup {
      max-width: 100%;
      width: 921px;
      background: #ffffff;
      box-shadow: 0px 0px 55px rgba(0, 0, 0, 0.25);
      border-radius: 20px;
      padding: 37px 41px 57px 96px;
      @include mobile {
        padding: 20px 22px 40px 22px;
      }
      .popup {
        &__close {
          top: 30px;
          right: 26px;
          @include mobile {
            top: 10px;
            right: 15px;
            padding: 10px;
            svg {
              width: 18px;
            height: 18px;
            }
          }
        }
      }
    
    }
    &.signup-popup {
      width: 922px;
      box-shadow: 0px 0px 55px rgba(0, 0, 0, 0.25);
border-radius: 20px;
padding: 37px 41px 57px 96px;
background: #ffffff;
max-width: 100%;
@include mobile {
  padding: 20px 22px 40px 22px;
}
.popup {
  &__close {
    top: 30px;
    right: 26px;
    @include mobile {
      top: 10px;
      right: 15px;
      padding: 10px;
      svg {
        width: 18px;
      height: 18px;
      }
    }
  }
}
    }
    &.contract-popup {
      width: 922px;
height: 775px;
border-radius: 10px;
max-width: 100%;
padding: 36px 42px 80px 96px;
position: relative;
overflow: hidden;
@include mobile {
  padding: 20px 22px 40px 22px;
  height: auto;
}
.popup {
  
  &__title {
    color: #003A78;
    font-size: 35px;
    line-height: 40px;
    @include arial-bold;
    margin-bottom: 28px;
    @include mobile {
      font-size: 20px;
      line-height: 24px;
    }
  }
  &__subtitle {
    text-align: right;
    color: #7B7B7B;
    font-size: 14px;
    line-height: 20px;
    @include arial-regular;
    margin-bottom: 48px;
    @include mobile {
      font-size: 12px;
      line-height: 16px;
      padding-left: 30%;
      margin-bottom: 27px;
      br {
        display: none;
      }
    }
  }
  &__info {
    height: 550px;
    padding-right: 20px;
    margin-bottom: 2em;
    overflow-y: auto;
    @include mobile {
     margin-bottom: 50px;
    }
    &-title {
      color: #3C454E;
      font-size: 20px;
      line-height: 24px;
      @include arial-bold;
      text-align: center;
      margin-bottom: 21px;
      @include mobile {
        font-size: 18px;
      }
    }
    p {
      color: #3C454E;
      font-size: 14px;
      line-height: 20px;
      @include arial-regular;
    }
    b {
      @include arial-bold;
    }
    .link {
      color: #01548A;
    }
  }
  &__action {
    box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.15);
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: #fff;
   
    padding-left: 60px;
    padding-right: 60px;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    
    @include mobile {
     
      padding-right: 16px;
      padding-left: 16px;
      padding-top: 16px;
      padding-bottom: 16px;
      justify-content: space-between;
    }
    .secondary-btn {
      padding-top: 2px;
      padding-bottom: 2px;
      display: flex;
        align-items: center;
      @include mobile {
        height: 32px;
        padding-left: 20px;
        padding-right: 20px;
        
      
      }
      &:first-child {
        margin-right: 16px;
      }
    }
  }
}
    }
    &.phide {
      display: none;
    }

    &.pshow {
      display: block;
    }
  }

  &__close {
    position: absolute;
    padding: 15px;
    top: 5px;
    right: 5px;
    z-index: 1;
    @include mobile {
      top: 10px;
      right: 15px;
      padding: 10px;
      svg {
        width: 18px;
      height: 18px;
      }
    }
  }
}
