{{!Каталог курсов}}

{{> layout/header}}
<div class="content catalog-course-page">
    <div class="breadcrumbs-wrapper">
        <div class="container">
            <ul class="breadcrumbs">
                <li class="breadcrumbs__item">
                    <a href="" class="breadcrumbs__link">Главная</a>
                </li>
                <li class="breadcrumbs__item">
                    <a href="" class="breadcrumbs__link">Курсы</a>
                </li>
               
            </ul>
        </div>
    </div>



    <div class="page__title">
        <div class="container">
            <h2 class="title">
               Каталог курсов
            </h2>
        </div>
    </div>
<section class="section catalog-course-section">
   <div class="container">
       <div class="section__inner">
            <div class="section__tabs">
       <div  class="tabs catalog-course-tabs" id="tabs" >
                    <ul class="tabs__header">
                        <li class="tab active">
                            <div class="tab__top">
                                <svg width="33" height="35" viewBox="0 0 33 35" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M22.0139 18.3386H18.6904V19.191H22.0139C22.2491 19.191 22.4406 18.9998 22.4406 18.7645C22.4406 18.5301 22.2491 18.3386 22.0139 18.3386Z" fill="#AEDEFD"/>
<path d="M22.0139 15.4355H18.6904V16.2879H22.0139C22.2491 16.2879 22.4406 16.0964 22.4406 15.8615C22.4406 15.627 22.2491 15.4355 22.0139 15.4355Z" fill="#AEDEFD"/>
<path d="M26.1169 0H9.04492V35H26.1169C29.4083 35 32.086 32.3222 32.086 29.0308V5.96916C32.086 2.67776 29.4083 0 26.1169 0ZM19.6972 30.0803H23.4661C24.0319 30.0803 24.4915 30.5396 24.4915 31.1057C24.4915 31.6723 24.0319 32.131 23.4661 32.131H19.6972C18.0115 32.131 16.6395 30.759 16.6395 29.072V27.3336C16.6395 25.6465 18.0115 24.2737 19.6972 24.2737H23.4661C24.0319 24.2737 24.4915 24.733 24.4915 25.2991C24.4915 25.8657 24.0319 26.3245 23.4661 26.3245H19.6972C19.1423 26.3245 18.6903 26.7771 18.6903 27.3336V29.072C18.6905 29.6284 19.1423 30.0803 19.6972 30.0803ZM24.4915 18.7646C24.4915 20.1305 23.3798 21.2419 22.014 21.2419H18.2112C17.3452 21.2419 16.6398 20.5372 16.6398 19.6704V14.9563C16.6398 14.0895 17.3452 13.3848 18.2112 13.3848H22.014C23.3798 13.3848 24.4915 14.4957 24.4915 15.8615C24.4915 16.4036 24.3163 16.9053 24.0204 17.3133C24.3163 17.7214 24.4915 18.2231 24.4915 18.7646ZM24.4915 9.70089C24.4915 10.267 24.0319 10.7263 23.4661 10.7263C22.8992 10.7263 22.4407 10.267 22.4407 9.70089V8.3596H18.6905V9.70089C18.6905 10.267 18.2318 10.7263 17.6651 10.7263C17.099 10.7263 16.6398 10.267 16.6398 9.70089V5.92804C16.6398 4.24095 18.0117 2.86896 19.6975 2.86896H21.4337C23.1203 2.86896 24.4915 4.24095 24.4915 5.92804V9.70089Z" fill="#AEDEFD"/>
<path d="M21.4339 4.91968H19.6974C19.1425 4.91968 18.6904 5.37149 18.6904 5.92798V6.30876H22.4406V5.92798C22.4408 5.37149 21.9888 4.91968 21.4339 4.91968Z" fill="#AEDEFD"/>
<path d="M0.845703 2.20406V32.7959C0.845703 34.0112 1.83451 35 3.04976 35H6.99431V0H3.04976C1.83451 0 0.845703 0.988808 0.845703 2.20406Z" fill="#AEDEFD"/>
</svg>

                            </div>
                            <div class="tab__bottom">
                                Обучение 
английскому языку
                            </div>
                        </li>
                          <li class="tab ">
                            <div class="tab__top">
        <svg width="35" height="36" viewBox="0 0 35 36" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M9.3627 17.2562L7.3877 21H11.3502L9.3627 17.2562Z" fill="#AEDEFD"/>
<path d="M0.625 28.4999H1.875C2.22018 28.4999 2.5 28.7797 2.5 29.1249V33.4999L9 28.6249C9.23375 28.4461 8.67125 28.4999 17.5 28.4999C17.8452 28.4999 18.125 28.2201 18.125 27.8749V14.1249C18.125 13.7797 17.8452 13.4999 17.5 13.4999H0.625C0.279822 13.4999 0 13.7797 0 14.1249V27.8749C0 28.2201 0.279822 28.4999 0.625 28.4999ZM3.825 25.0811L8.28125 16.6749C8.48919 16.2616 8.91234 16.0008 9.375 16.0008C9.83767 16.0008 10.2608 16.2616 10.4688 16.6749L14.925 25.0811C15.028 25.2746 15.0222 25.5079 14.9096 25.6959C14.797 25.884 14.5942 25.9993 14.375 25.9999C14.1442 26.0009 13.932 25.8732 13.825 25.6686L12.0125 22.2499H6.73125L4.925 25.6686C4.82936 25.8817 4.62292 26.0236 4.38975 26.0367C4.15658 26.0497 3.93558 25.9317 3.81676 25.7307C3.69794 25.5296 3.70112 25.2791 3.825 25.0811Z" fill="#AEDEFD"/>
<path d="M34.375 15.9999H19.375V27.8749C19.3719 28.9091 18.5343 29.7468 17.5 29.7499H16.875V30.3749C16.875 30.7201 17.1548 30.9999 17.5 30.9999C26.3087 30.9999 25.7656 30.9461 26 31.1249L32.5 35.9999V31.6249C32.5019 31.2995 32.7509 31.0289 33.075 30.9999H34.375C34.7202 30.9999 35 30.7201 35 30.3749V16.6249C35 16.2797 34.7202 15.9999 34.375 15.9999ZM30.625 29.1249C30.2798 29.1249 30 28.8451 30 28.4999C30.077 27.5532 29.854 26.6064 29.3625 25.7936C29.2 28.6811 27.3625 29.1249 26.25 29.1249C24.6126 29.2051 23.2171 27.9492 23.125 26.3124C23.186 24.9115 24.2367 23.7531 25.625 23.5561V20.3749H23.75C23.4048 20.3749 23.125 20.0951 23.125 19.7499C23.125 19.4047 23.4048 19.1249 23.75 19.1249H25.625V18.4999C25.625 18.1547 25.9048 17.8749 26.25 17.8749C26.5952 17.8749 26.875 18.1547 26.875 18.4999V19.1249H28.75C29.0952 19.1249 29.375 19.4047 29.375 19.7499C29.375 20.0951 29.0952 20.3749 28.75 20.3749H26.875V23.5249C28.3125 23.5874 28.125 23.8186 28.125 23.4999C28.125 23.1547 28.4048 22.8749 28.75 22.8749C29.0952 22.8749 29.375 23.1547 29.375 23.4999V24.1499C30.4812 24.7999 31.25 26.0686 31.25 28.4999C31.25 28.8451 30.9702 29.1249 30.625 29.1249Z" fill="#AEDEFD"/>
<path d="M26.875 27.7999C28.0556 27.4793 28.125 26.1606 28.125 24.9624C27.7178 24.8472 27.298 24.7821 26.875 24.7687V27.7999Z" fill="#AEDEFD"/>
<path d="M25 14.7499V9.12488C25 8.46238 22.15 7.24988 17.5 7.24988C12.85 7.24988 10 8.46238 10 9.12488V12.2499H17.5C18.5343 12.253 19.3719 13.0906 19.375 14.1249V14.7499H25Z" fill="#AEDEFD"/>
<path d="M8.7498 9.12486C8.7498 4.95986 26.2498 4.95299 26.2498 9.12486V10.0874L32.4998 7.76861V12.6374C32.4998 12.9825 32.7796 13.2624 33.1248 13.2624C33.47 13.2624 33.7498 12.9825 33.7498 12.6374V7.29986L34.9186 6.86861L17.7186 1.03736C17.3936 0.924236 18.4186 0.654861 0.0810547 6.85611L8.7498 10.0749V9.12486Z" fill="#AEDEFD"/>
<path d="M25.6248 27.7814V24.8439C23.9636 25.3451 23.9611 27.2795 25.6248 27.7814Z" fill="#AEDEFD"/>
</svg>


                            </div>
                            <div class="tab__bottom">
                     Международные
экзамены
                            </div>
                        </li>
                            <li class="tab ">
                             <div class="tab__top">
              <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M9.22852 0C7.53225 0 6.15234 1.3799 6.15234 3.07617C6.15234 4.77244 7.53225 6.15234 9.22852 6.15234C10.9248 6.15234 12.3047 4.77244 12.3047 3.07617C12.3047 1.3799 10.9248 0 9.22852 0Z" fill="#AEDEFD"/>
<path d="M31.9238 0H17.4316C15.7354 0 14.3555 1.3799 14.3555 3.07617V6.71986C14.6591 6.89671 14.9494 7.09878 15.2046 7.35396L17.2154 9.36469L18.6733 8.6357C19.6508 8.14864 20.5008 8.12786 21.3889 8.32241L26.3097 5.86195C27.8265 5.11055 29.6665 5.70158 30.4353 7.23481C31.2015 8.76511 30.5797 10.6062 29.0614 11.3654L24.3456 13.7233C23.9835 14.705 23.282 15.5048 22.3403 15.9747L21.4771 16.4062H31.9238C33.6201 16.4062 35 15.0263 35 13.3301V3.07617C35 1.3799 33.6201 0 31.9238 0Z" fill="#AEDEFD"/>
<path d="M28.6028 8.15466C28.3484 7.64798 27.7346 7.44468 27.2269 7.69604L21.5085 10.5552C20.9392 10.2288 20.2388 10.1473 19.5906 10.4702L16.8108 11.8601L13.7547 8.80394C13.3671 8.41634 12.8525 8.20306 12.3047 8.20306H4.10156C1.83948 8.20306 0 10.0425 0 12.3046V18.5253C0 19.9389 1.40841 20.9314 2.73472 20.4589L4.10156 19.9763C4.10156 24.5035 4.10156 28.4031 4.10156 32.9492C4.10156 34.0817 5.0197 34.9999 6.15234 34.9999C7.28499 34.9999 8.20312 34.0817 8.20312 32.9492C8.20312 30.2488 8.20312 28.2618 8.20312 25.7031C8.20312 25.1366 8.66223 24.6777 9.22852 24.6777C9.7948 24.6777 10.2539 25.1366 10.2539 25.7031C10.2539 28.3447 10.2539 30.2391 10.2539 32.9492C10.2539 34.0817 11.172 34.9999 12.3047 34.9999C13.4373 34.9999 14.3555 34.0817 14.3555 32.9492C14.3555 26.6349 14.3555 22.0581 14.3555 15.7964L15.7223 16.278C16.2939 16.4803 16.8333 16.4341 17.3235 16.1899L21.4251 14.1391C22.1343 13.7853 22.522 13.0743 22.5345 12.3353L28.1442 9.53053C28.6509 9.27719 28.8561 8.66134 28.6028 8.15466Z" fill="#AEDEFD"/>
</svg>


                            </div>
                            <div class="tab__bottom">
                       Подготовка
преподавателей
                            </div>
                        </li>
                            <li class="tab">
                            <div class="tab__top">
      <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M17.4989 8.75033C19.9152 8.75033 21.8739 6.79161 21.8739 4.37541C21.8739 1.95921 19.9152 0.000488281 17.4989 0.000488281C15.0827 0.000488281 13.124 1.95921 13.124 4.37541C13.124 6.79161 15.0827 8.75033 17.4989 8.75033Z" fill="#AEDEFD"/>
<path d="M24.0534 20.6413L23.0603 12.9065C22.9488 11.7843 22.0125 10.9377 20.886 10.9377H19.6872C19.3963 10.9377 19.1185 11.0537 18.9129 11.2571L17.4998 12.6702L16.0867 11.2571C15.8811 11.0537 15.6033 10.9377 15.3123 10.9377H14.1158C12.9871 10.9377 12.0508 11.7843 11.9414 12.878L10.9461 20.6435C10.9068 20.9541 11.003 21.2691 11.2108 21.5032C11.4186 21.7394 11.7161 21.8751 12.0311 21.8751H13.2124L14.1267 33.0311C14.2361 34.1511 15.1745 34.9998 16.3032 34.9998H18.6985C19.8272 34.9998 20.7635 34.1511 20.8772 33.0114L21.7894 21.8751H22.9684C23.2834 21.8751 23.5809 21.7394 23.7887 21.5032C23.9987 21.2691 24.095 20.9541 24.0534 20.6413Z" fill="#AEDEFD"/>
<path d="M28.4364 8.75033C30.8527 8.75033 32.8114 6.79161 32.8114 4.37541C32.8114 1.95921 30.8527 0.000488281 28.4364 0.000488281C26.0202 0.000488281 24.0615 1.95921 24.0615 4.37541C24.0615 6.79161 26.0202 8.75033 28.4364 8.75033Z" fill="#AEDEFD"/>
<path d="M6.56144 0.000488281C4.14867 0.000488281 2.18652 1.96264 2.18652 4.37541C2.18652 6.78818 4.14867 8.75033 6.56144 8.75033C8.97202 8.75033 10.9364 6.78818 10.9364 4.37541C10.9364 1.96264 8.97202 0.000488281 6.56144 0.000488281Z" fill="#AEDEFD"/>
<path d="M34.9906 20.6413L33.9975 12.9086C33.8859 11.7843 32.9519 10.9377 31.8231 10.9377H30.6244C30.3335 10.9377 30.0557 11.0537 29.8501 11.2571L28.437 12.6702L27.0239 11.2571C26.8182 11.0537 26.5404 10.9377 26.2517 10.9377H25.053C24.9173 10.9377 24.7948 10.9859 24.6658 11.0099C24.948 11.5087 25.1689 12.049 25.2345 12.6549L26.2254 20.3635C26.3479 21.3019 26.0548 22.2469 25.4248 22.9578C25.1273 23.2991 24.7467 23.5397 24.3398 23.7278L25.0661 30.8436C25.1776 31.9658 26.1139 32.8124 27.2426 32.8124H29.6379C30.7666 32.8124 31.7028 31.9636 31.8166 30.824L32.7266 21.8751H33.9056C34.2206 21.8751 34.5181 21.7394 34.7259 21.5032C34.9359 21.2691 35.0321 20.9541 34.9906 20.6413Z" fill="#AEDEFD"/>
<path d="M9.56792 22.9469C8.94669 22.2447 8.65794 21.3019 8.77606 20.3679L9.77136 12.6002C9.82823 12.0183 10.0426 11.4934 10.316 11.0077C10.1935 10.9859 10.0776 10.9377 9.94854 10.9377H8.74981C8.45888 10.9377 8.18107 11.0537 7.97545 11.2571L6.56235 12.6702L5.14925 11.2571C4.94363 11.0537 4.66582 10.9377 4.37708 10.9377H3.17828C2.04955 10.9377 1.11332 11.7843 1.00394 12.878L0.0086485 20.6435C-0.0307258 20.9541 0.0655225 21.2691 0.273331 21.5032C0.48114 21.7394 0.780823 21.8751 1.09363 21.8751H2.27486L3.18922 30.8436C3.29859 31.9636 4.23701 32.8124 5.36574 32.8124H7.76101C8.88974 32.8124 9.82598 31.9636 9.93973 30.824L10.666 23.7256C10.257 23.5353 9.87417 23.2925 9.56792 22.9469Z" fill="#AEDEFD"/>
</svg>



                            </div>
                            <div class="tab__bottom">
                Корпоративное
обучение
                            </div>
                        </li>
                      
                    </ul>
                <div class="tab-content active">
                  <div class="row">
                        <div class="col-4   course-col">
                            <div class="col__inner">
                             
                                <div class="col__bottom">
                                    <ul class="col-list">
                                        <li class="col-list__item">
                                            <a href="" class="col-list__link title">
                                              Взрослым
                                            </a>
                                        </li>
                                        <li class="col-list__item">
                                            <a href="" class="col-list__link">
                                                Общий английский для взрослых
                                            </a>
                                        </li>
                                        <li class="col-list__item">
                                            <a href="" class="col-list__link">
                                                Летние курсы для взрослых </a>
                                        </li>
                                        <li class="col-list__item">
                                            <a href="" class="col-list__link">
                                                Курсы английского для начинающих
                                            </a>
                                        </li>
                                        <li class="col-list__item">
                                            <a href="" class="col-list__link">
                                                Разговорный английский
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-4   course-col">
                            <div class="col__inner">
                               
                                <div class="col__bottom">
                                    <ul class="col-list">
                                        <li class="col-list__item">
                                            <a href="" class="col-list__link title">
                                            Детям
                                            </a>
                                        </li>
                                        <li class="col-list__item">
                                            <a href="" class="col-list__link">
                                                Английский для школьников
                                            </a>
                                        </li>
                                        <li class="col-list__item">
                                            <a href="" class="col-list__link">
                                                Летние курсы для школьников </a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-4   course-col">
                            <div class="col__inner">
                             
                                <div class="col__bottom">
                                    <ul class="col-list">
                                        <li class="col-list__item">
                                            <a href="" class="col-list__link title">
                                                Подготовка к экзаменам
                                            </a>
                                        </li>
                                        <li class="col-list__item">
                                            <a href="" class="col-list__link">
                                                Подготовка к IELTS
                                            </a>
                                        </li>
                                        <li class="col-list__item">
                                            <a href="" class="col-list__link">
                                                Подготовка к Кембриджским экзаменам </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="tab-content">
                   Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur, eaque.
                </div>
                 <div class="tab-content">
                   3 
                </div>
                 <div class="tab-content">
                    
                </div>
             
                </div>


            
    </div>
       </div>
   </div>
</section>
<section class="section steps-section">
    <div class="container">
        <div class="section__inner">
            <h3 class="section__title">
                Начните учить анлийский язык
                с International House:
            </h3>
            <div class="section__subtitle">
                Для этого нужно сделать всего пару шагов
            </div>
            <div class="section__stepbar">
                <div class="stepbar-elem">
                    <div class="elem-title">
                        01
                    </div>
                    <div class="elem-fragment">
                        <svg class="ellips" width="28" height="29" viewBox="0 0 28 29" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <circle cx="14" cy="14.0205" r="13.5" fill="white" stroke="#FDC600" />
                            <circle cx="14" cy="14.0205" r="8" fill="#FDC600" />
                        </svg>

                        <svg width="363" height="57" viewBox="0 0 363 57" fill="none" xmlns="http://www.w3.org/2000/svg"
                            class="line1">
                            <path
                                d="M1 55.0204C9.6946 56.0204 31.2572 55.8204 47.9509 47.0204C68.8179 36.0204 122.029 0.0204259 181.5 1.02043"
                                stroke="#888888" stroke-width="2" stroke-dasharray="3 2" />
                            <path
                                d="M362 55.0409C353.305 56.0409 331.743 55.8409 315.049 47.0409C294.182 36.0409 240.971 0.0409337 181.5 1.04093"
                                stroke="#888888" stroke-width="2" stroke-dasharray="3 2" />
                        </svg>

                    </div>
                    <div class="elem-desc">
                        Пройди предварительное
                        тестирование
                    </div>
                </div>
                <div class="stepbar-elem">
                    <div class="elem-title">
                        02
                    </div>
                    <div class="elem-fragment">
                        <svg class="ellips" width="28" height="29" viewBox="0 0 28 29" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <circle cx="14" cy="14.0205" r="13.5" fill="white" stroke="#FDC600" />
                            <circle cx="14" cy="14.0205" r="8" fill="#FDC600" />
                        </svg>

                        <svg width="363" height="57" viewBox="0 0 363 57" fill="none" xmlns="http://www.w3.org/2000/svg"
                            class="line1">
                            <path
                                d="M1 55.0204C9.6946 56.0204 31.2572 55.8204 47.9509 47.0204C68.8179 36.0204 122.029 0.0204259 181.5 1.02043"
                                stroke="#888888" stroke-width="2" stroke-dasharray="3 2" />
                            <path
                                d="M362 55.0409C353.305 56.0409 331.743 55.8409 315.049 47.0409C294.182 36.0409 240.971 0.0409337 181.5 1.04093"
                                stroke="#888888" stroke-width="2" stroke-dasharray="3 2" />
                        </svg>

                    </div>
                    <div class="elem-desc">
                        Записаться на собеседование по итогам тестирования
                    </div>
                </div>
                <div class="stepbar-elem">
                    <div class="elem-title">
                        03
                    </div>
                    <div class="elem-fragment">
                        <svg class="ellips" width="28" height="29" viewBox="0 0 28 29" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <circle cx="14" cy="14.0205" r="13.5" fill="white" stroke="#FDC600" />
                            <circle cx="14" cy="14.0205" r="8" fill="#FDC600" />
                        </svg>
                    </div>
                    <div class="elem-desc">
                        Начать занятие английского языка
                        в школе IH
                    </div>
                </div>
            </div>
            <a href="" class="btn secondary-btn">Начать тестирование</a>
        </div>
    </div>
</section>
</div>
{{> layout/footer}}