{{!Контакты}}

{{> layout/header}}
<div class="content contact-page">
    <div class="breadcrumbs-wrapper">
        <div class="container">
            <ul class="breadcrumbs">
                <li class="breadcrumbs__item">
                    <a href="" class="breadcrumbs__link">Главная</a>
                </li>
                <li class="breadcrumbs__item">
                    <a href="" class="breadcrumbs__link">Контакты</a>
                </li>
               
            </ul>
        </div>
    </div>



    <div class="page__title">
        <div class="container">
            <h2 class="title">
                International House
            </h2>
        </div>
    </div>
<section class="section info-section" style="background-image:url('../static/images/contac-bg.png')">
    <div class="container">
        <div class="section__inner">
          <div class="section__info">
              <div class="section__info-block">
                  <div class="block__title">
                      Наш адрес:
                  </div>
                  <div class="block__text">
                      <svg width="16" height="23" viewBox="0 0 16 23" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M8 0.710205C3.58878 0.710205 0 4.29046 0 8.69116C0 14.1526 7.15922 22.1702 7.46403 22.5089C7.75033 22.827 8.25019 22.8264 8.53597 22.5089C8.84078 22.1702 16 14.1526 16 8.69116C15.9999 4.29046 12.4112 0.710205 8 0.710205ZM8 12.7066C5.7806 12.7066 3.97504 10.9053 3.97504 8.69116C3.97504 6.47704 5.78065 4.67576 8 4.67576C10.2194 4.67576 12.0249 6.47708 12.0249 8.6912C12.0249 10.9053 10.2194 12.7066 8 12.7066Z" fill="#FDC600"/>
</svg>

                      ул. Смолячкова, 9-430, 220005, РБ, Минск
                  </div>
                  <div class="block__bottom">
                      <div class="block__bottom-left">
                          <div class="block__list">
                              <div class="title">
                                Телефоны:
                              </div>
                              <ul class="list-info">
                                  <li class="list-item">
                                      <a href="tel:+375172936555" class="list-link">
                                          +375 (17) 293-65-55
                                      </a>
                                  </li>
                                   <li class="list-item">
                                      <a href="tel:+375297777318" class="list-link">
                                         +375 (29) 777-73-18
                                      </a>
                                  </li>
                                   <li class="list-item">
                                      <a href="tel:+375447777318" class="list-link">
                                          +375 (44) 777-73-18
                                      </a>
                                  </li>
                                   <li class="list-item">
                                      <a href="tel:+375172930668" class="list-link">
                                          +375 (17) 293-06-68
                                      </a>
                                  </li>
                                   <li class="list-item">
                                      <a href="tel:+375257777318" class="list-link">
                                          +375 (25) 777-73-18
                                      </a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                      <div class="block__bottom-right">
 <div class="block__list">
                              <div class="title">
                               График работы:
                              </div>
                              <ul class="list-info work-list">
                                  <li class="list-item">
                                     <p><b>Офис</b></p>
                                     <p>пн-пт: 9:00–20:00</p>
                                  </li>
                                   <li class="list-item">
                                    <p><b>Касса:</b></p>
                                    <p>пн-пт: 12:00–19:30</p>
                                  </li>
                                
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
                  <div class="section__info-block">
                  <div class="block__title">
                     Экзаменационный центр:
                  </div>
                  <div class="block__text">
                      <svg width="16" height="23" viewBox="0 0 16 23" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M8 0.710205C3.58878 0.710205 0 4.29046 0 8.69116C0 14.1526 7.15922 22.1702 7.46403 22.5089C7.75033 22.827 8.25019 22.8264 8.53597 22.5089C8.84078 22.1702 16 14.1526 16 8.69116C15.9999 4.29046 12.4112 0.710205 8 0.710205ZM8 12.7066C5.7806 12.7066 3.97504 10.9053 3.97504 8.69116C3.97504 6.47704 5.78065 4.67576 8 4.67576C10.2194 4.67576 12.0249 6.47708 12.0249 8.6912C12.0249 10.9053 10.2194 12.7066 8 12.7066Z" fill="#FDC600"/>
</svg>

                      пр-т Машерова, 10, каб. 108, 1-ый этаж. 
                  </div>
                  <div class="block__bottom">
                      <div class="block__bottom-left">
                          <div class="block__list">
                              <div class="title">
                                Телефоны:
                              </div>
                              <ul class="list-info">
                                  <li class="list-item">
                                      <a href="tel:+375445504457" class="list-link">
                                        +375 (44) 550-44-57
                                      </a>
                                  </li>
                              
                              </ul>
                          </div>
                              <div class="block__list">
                              <div class="title">
                            E-mail:
                              </div>
                              <ul class="list-info">
                                  <li class="list-item">
                                      <a href="mailto:ielts@ih.by" class="list-link">
                                        ielts@ih.by
                                      </a>
                                  </li>
                                   <li class="list-item">
                                      <a href="mailto:cambridge@ih.by" class="list-link">
                                       cambridge@ih.by
                                      </a>
                                  </li>
                              
                              </ul>
                          </div>
                      </div>
                      <div class="block__bottom-right">
 <div class="block__list">
                              <div class="title">
                               График работы:
                              </div>
                              <ul class="list-info work-list">
                                  <li class="list-item">
                                   
                                     <p>пн-пт: 10:00–19:00</p>
                                  </li>
                                
                                
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="section__info-action">
                  <button class="btn primary-btn white-color">Форма обратной связи</button>
              </div>
          </div>
        </div>
    </div>
</section>
<section class="section address-section">
<div class="container">
    <div class="section__inner">
        <h3 class="section__title">
            Места проведения занятий:
        </h3>
        <div class="section__info">
            <div class="section__info-left">
                <div id="map-main" style="width: 540px; height: 400px"></div>
               
            </div>
            <div class="section__info-right">
                  <div class="block-list">
                      <div class="title">
                          Адреса
                      </div>
                        <ul class="adress-list map-accordion">
                        <div class="list-item map-accordion__item">
                            <a  href='#' data-center='center-1' class="list-item__top map-accordion__link"><div class="top__left">
                                <svg width="16" height="23" viewBox="0 0 16 23"  xmlns="http://www.w3.org/2000/svg" class="check">
<path d="M8 0C3.58878 0 0 3.58878 0 7.99996C0 13.4744 7.15922 21.5111 7.46403 21.8506C7.75033 22.1695 8.25019 22.1689 8.53597 21.8506C8.84078 21.5111 16 13.4744 16 7.99996C15.9999 3.58878 12.4112 0 8 0ZM8 12.025C5.7806 12.025 3.97504 10.2194 3.97504 7.99996C3.97504 5.78056 5.78065 3.975 8 3.975C10.2194 3.975 12.0249 5.7806 12.0249 8C12.0249 10.2194 10.2194 12.025 8 12.025Z" />
</svg>

                                пр-т Машерова, 10-306
                            </div>
                            <div class="top__right">
<svg width="16" height="8" viewBox="0 0 16 8" fill="none" xmlns="http://www.w3.org/2000/svg" class="arrow-down">
<path d="M16 0L8 8L0 0L16 0Z" fill="#3C454E"/>
</svg>

                            </div>
                            </a>
                            <div class="list-item__bottom map-accordion__body">
                                <div class="list-item__bottom-inner">
                                               <div class="bottom-left">
                          <div class="block__list">
                              <div class="title">
                                Телефоны:
                              </div>
                              <ul class="list-info">
                                  <li class="list-item">
                                      <a href="tel:+375445504457" class="list-link">
                                        +375 (44) 550-44-57
                                      </a>
                                  </li>
                              
                              </ul>
                          </div>
                              <div class="block__list">
                              <div class="title">
                            E-mail:
                              </div>
                              <ul class="list-info">
                                  <li class="list-item">
                                      <a href="mailto:ielts@ih.by" class="list-link">
                                        ielts@ih.by
                                      </a>
                                  </li>
                                   <li class="list-item">
                                      <a href="mailto:cambridge@ih.by" class="list-link">
                                       cambridge@ih.by
                                      </a>
                                  </li>
                              
                              </ul>
                          </div>
                              <div class="block__list teachers">
                              <div class="title">
                            Подготовка преподавателей:
                              </div>
                              <ul class="list-info">
                                  <li class="list-item">
                                      <div class="list-item__title">
                                          CELTA:
                                      </div>
                                      <a href="mailto:celta@ih.by" class="list-link">
                                        celta@ih.by
                                      </a>
                                  </li>
                                   <li class="list-item">
                                       <div class="list-item__title">
                                           Delta:
                                       </div>
                                      <a href="mailto:lena_tiutina@ih.by" class="list-link">
                                       lena_tiutina@ih.by
                                      </a>
                                  </li>
                              
                              </ul>
                          </div>
                      </div>
                      <div class="bottom-right">
 <div class="block__list">
                              <div class="title">
                               График работы:
                              </div>
                              <ul class="list-info work-list">
                                  <li class="list-item">
                                   
                                     <p>пн-пт: 10:00–19:00</p>
                                  </li>
                                
                                
                              </ul>
                          </div>
                      </div>
                                </div>
                            </div>
                        </div>
                        <div class="list-item map-accordion__item">
                            <a  href='#' data-center='center-2' class="list-item__top map-accordion__link"><div class="top__left">
                                <svg width="16" height="23" viewBox="0 0 16 23"  xmlns="http://www.w3.org/2000/svg" class="check">
<path d="M8 0C3.58878 0 0 3.58878 0 7.99996C0 13.4744 7.15922 21.5111 7.46403 21.8506C7.75033 22.1695 8.25019 22.1689 8.53597 21.8506C8.84078 21.5111 16 13.4744 16 7.99996C15.9999 3.58878 12.4112 0 8 0ZM8 12.025C5.7806 12.025 3.97504 10.2194 3.97504 7.99996C3.97504 5.78056 5.78065 3.975 8 3.975C10.2194 3.975 12.0249 5.7806 12.0249 8C12.0249 10.2194 10.2194 12.025 8 12.025Z" />
</svg>

                                ул. Мележа, 1-533, Бизнес-центр "Парус"
                            </div>
                            <div class="top__right">
<svg width="16" height="8" viewBox="0 0 16 8" fill="none" xmlns="http://www.w3.org/2000/svg" class="arrow-down">
<path d="M16 0L8 8L0 0L16 0Z" fill="#3C454E"/>
</svg>

                            </div>
                            </a>
                            <div class="list-item__bottom map-accordion__body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, ipsum.
                            </div>
                        </div>
                        <div class="list-item map-accordion__item">
                            <a  href='#' data-center='center-3' class="list-item__top map-accordion__link"><div class="top__left">
                                <svg width="16" height="23" viewBox="0 0 16 23"  xmlns="http://www.w3.org/2000/svg" class="check">
<path d="M8 0C3.58878 0 0 3.58878 0 7.99996C0 13.4744 7.15922 21.5111 7.46403 21.8506C7.75033 22.1695 8.25019 22.1689 8.53597 21.8506C8.84078 21.5111 16 13.4744 16 7.99996C15.9999 3.58878 12.4112 0 8 0ZM8 12.025C5.7806 12.025 3.97504 10.2194 3.97504 7.99996C3.97504 5.78056 5.78065 3.975 8 3.975C10.2194 3.975 12.0249 5.7806 12.0249 8C12.0249 10.2194 10.2194 12.025 8 12.025Z" />
</svg>

                                ул. Смолячкова, 9-430
                            </div>
                            <div class="top__right">
<svg width="16" height="8" viewBox="0 0 16 8" fill="none" xmlns="http://www.w3.org/2000/svg" class="arrow-down">
<path d="M16 0L8 8L0 0L16 0Z" fill="#3C454E"/>
</svg>

                            </div>
                            </a>
                            <div class="list-item__bottom map-accordion__body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, ipsum.
                            </div>
                        </div>
                         <div class="list-item map-accordion__item">
                            <a  href='#' data-center='center-4' class="list-item__top map-accordion__link"><div class="top__left">
                                <svg width="16" height="23" viewBox="0 0 16 23"  xmlns="http://www.w3.org/2000/svg" class="check">
<path d="M8 0C3.58878 0 0 3.58878 0 7.99996C0 13.4744 7.15922 21.5111 7.46403 21.8506C7.75033 22.1695 8.25019 22.1689 8.53597 21.8506C8.84078 21.5111 16 13.4744 16 7.99996C15.9999 3.58878 12.4112 0 8 0ZM8 12.025C5.7806 12.025 3.97504 10.2194 3.97504 7.99996C3.97504 5.78056 5.78065 3.975 8 3.975C10.2194 3.975 12.0249 5.7806 12.0249 8C12.0249 10.2194 10.2194 12.025 8 12.025Z" />
</svg>

                                ул. Притыцкого, 87
                            </div>
                            <div class="top__right">
<svg width="16" height="8" viewBox="0 0 16 8" fill="none" xmlns="http://www.w3.org/2000/svg" class="arrow-down">
<path d="M16 0L8 8L0 0L16 0Z" fill="#3C454E"/>
</svg>

                            </div>
                            </a>
                            <div class="list-item__bottom map-accordion__body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, ipsum.
                            </div>
                        </div>
                            <div class="list-item map-accordion__item">
                            <a  href='#' data-center='center-5' class="list-item__top map-accordion__link"><div class="top__left">
                                <svg width="16" height="23" viewBox="0 0 16 23"  xmlns="http://www.w3.org/2000/svg" class="check">
<path d="M8 0C3.58878 0 0 3.58878 0 7.99996C0 13.4744 7.15922 21.5111 7.46403 21.8506C7.75033 22.1695 8.25019 22.1689 8.53597 21.8506C8.84078 21.5111 16 13.4744 16 7.99996C15.9999 3.58878 12.4112 0 8 0ZM8 12.025C5.7806 12.025 3.97504 10.2194 3.97504 7.99996C3.97504 5.78056 5.78065 3.975 8 3.975C10.2194 3.975 12.0249 5.7806 12.0249 8C12.0249 10.2194 10.2194 12.025 8 12.025Z" />
</svg>

                                а/г Лесной, д. 19В, к.8
                            </div>
                            <div class="top__right">
<svg width="16" height="8" viewBox="0 0 16 8" fill="none" xmlns="http://www.w3.org/2000/svg" class="arrow-down">
<path d="M16 0L8 8L0 0L16 0Z" fill="#3C454E"/>
</svg>

                            </div>
                            </a>
                            <div class="list-item__bottom map-accordion__body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, ipsum.
                            </div>
                        </div>
                          <div class="list-item map-accordion__item">
                            <a  href='#' data-center='center-6' class="list-item__top map-accordion__link"><div class="top__left">
                                <svg width="16" height="23" viewBox="0 0 16 23"  xmlns="http://www.w3.org/2000/svg" class="check">
<path d="M8 0C3.58878 0 0 3.58878 0 7.99996C0 13.4744 7.15922 21.5111 7.46403 21.8506C7.75033 22.1695 8.25019 22.1689 8.53597 21.8506C8.84078 21.5111 16 13.4744 16 7.99996C15.9999 3.58878 12.4112 0 8 0ZM8 12.025C5.7806 12.025 3.97504 10.2194 3.97504 7.99996C3.97504 5.78056 5.78065 3.975 8 3.975C10.2194 3.975 12.0249 5.7806 12.0249 8C12.0249 10.2194 10.2194 12.025 8 12.025Z" />
</svg>

                               ул. Ежи Гедройца, 20-310Б
(Школа №9)
                            </div>
                            <div class="top__right">
<svg width="16" height="8" viewBox="0 0 16 8" fill="none" xmlns="http://www.w3.org/2000/svg" class="arrow-down">
<path d="M16 0L8 8L0 0L16 0Z" fill="#3C454E"/>
</svg>

                            </div>
                            </a>
                            <div class="list-item__bottom map-accordion__body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, ipsum.
                            </div>
                        </div>
                          <div class="list-item map-accordion__item">
                            <a  href='#' data-center='center-7' class="list-item__top map-accordion__link"><div class="top__left">
                                <svg width="16" height="23" viewBox="0 0 16 23"  xmlns="http://www.w3.org/2000/svg" class="check">
<path d="M8 0C3.58878 0 0 3.58878 0 7.99996C0 13.4744 7.15922 21.5111 7.46403 21.8506C7.75033 22.1695 8.25019 22.1689 8.53597 21.8506C8.84078 21.5111 16 13.4744 16 7.99996C15.9999 3.58878 12.4112 0 8 0ZM8 12.025C5.7806 12.025 3.97504 10.2194 3.97504 7.99996C3.97504 5.78056 5.78065 3.975 8 3.975C10.2194 3.975 12.0249 5.7806 12.0249 8C12.0249 10.2194 10.2194 12.025 8 12.025Z" />
</svg>

                           ул. Лобанка, 84, 2-ой этаж, левое крыло 
(Школа №175)
                            </div>
                            <div class="top__right">
<svg width="16" height="8" viewBox="0 0 16 8" fill="none" xmlns="http://www.w3.org/2000/svg" class="arrow-down">
<path d="M16 0L8 8L0 0L16 0Z" fill="#3C454E"/>
</svg>

                            </div>
                            </a>
                            <div class="list-item__bottom map-accordion__body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, ipsum.
                            </div>
                        </div>
                           <div class="list-item map-accordion__item">
                            <a  href='#' data-center='center-8' class="list-item__top map-accordion__link"><div class="top__left">
                                <svg width="16" height="23" viewBox="0 0 16 23"  xmlns="http://www.w3.org/2000/svg" class="check">
<path d="M8 0C3.58878 0 0 3.58878 0 7.99996C0 13.4744 7.15922 21.5111 7.46403 21.8506C7.75033 22.1695 8.25019 22.1689 8.53597 21.8506C8.84078 21.5111 16 13.4744 16 7.99996C15.9999 3.58878 12.4112 0 8 0ZM8 12.025C5.7806 12.025 3.97504 10.2194 3.97504 7.99996C3.97504 5.78056 5.78065 3.975 8 3.975C10.2194 3.975 12.0249 5.7806 12.0249 8C12.0249 10.2194 10.2194 12.025 8 12.025Z" />
</svg>

                          ул. Одинцова, 89-27А (Гимназия №20)
                            </div>
                            <div class="top__right">
<svg width="16" height="8" viewBox="0 0 16 8" fill="none" xmlns="http://www.w3.org/2000/svg" class="arrow-down">
<path d="M16 0L8 8L0 0L16 0Z" fill="#3C454E"/>
</svg>

                            </div>
                            </a>
                            <div class="list-item__bottom map-accordion__body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, ipsum.
                            </div>
                        </div>
                          <div class="list-item map-accordion__item">
                            <a  href='#' data-center='center-9' class="list-item__top map-accordion__link"><div class="top__left">
                                <svg width="16" height="23" viewBox="0 0 16 23"  xmlns="http://www.w3.org/2000/svg" class="check">
<path d="M8 0C3.58878 0 0 3.58878 0 7.99996C0 13.4744 7.15922 21.5111 7.46403 21.8506C7.75033 22.1695 8.25019 22.1689 8.53597 21.8506C8.84078 21.5111 16 13.4744 16 7.99996C15.9999 3.58878 12.4112 0 8 0ZM8 12.025C5.7806 12.025 3.97504 10.2194 3.97504 7.99996C3.97504 5.78056 5.78065 3.975 8 3.975C10.2194 3.975 12.0249 5.7806 12.0249 8C12.0249 10.2194 10.2194 12.025 8 12.025Z" />
</svg>

                          ул. Орловская, 86, корпус 3
                            </div>
                            <div class="top__right">
<svg width="16" height="8" viewBox="0 0 16 8" fill="none" xmlns="http://www.w3.org/2000/svg" class="arrow-down">
<path d="M16 0L8 8L0 0L16 0Z" fill="#3C454E"/>
</svg>

                            </div>
                            </a>
                            <div class="list-item__bottom map-accordion__body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, ipsum.
                            </div>
                        </div>
                    </ul>
                  </div>
            </div>
        </div>
    </div>
</div>
</section>
<section class="section steps-section">
    <div class="container">
        <div class="section__inner">
            <h3 class="section__title">
                Начните учить анлийский язык
                с International House:
            </h3>
            <div class="section__subtitle">
                Для этого нужно сделать всего пару шагов
            </div>
            <div class="section__stepbar">
                <div class="stepbar-elem">
                    <div class="elem-title">
                        01
                    </div>
                    <div class="elem-fragment">
                        <svg class="ellips" width="28" height="29" viewBox="0 0 28 29" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <circle cx="14" cy="14.0205" r="13.5" fill="white" stroke="#FDC600" />
                            <circle cx="14" cy="14.0205" r="8" fill="#FDC600" />
                        </svg>

                        <svg width="363" height="57" viewBox="0 0 363 57" fill="none" xmlns="http://www.w3.org/2000/svg"
                            class="line1">
                            <path
                                d="M1 55.0204C9.6946 56.0204 31.2572 55.8204 47.9509 47.0204C68.8179 36.0204 122.029 0.0204259 181.5 1.02043"
                                stroke="#888888" stroke-width="2" stroke-dasharray="3 2" />
                            <path
                                d="M362 55.0409C353.305 56.0409 331.743 55.8409 315.049 47.0409C294.182 36.0409 240.971 0.0409337 181.5 1.04093"
                                stroke="#888888" stroke-width="2" stroke-dasharray="3 2" />
                        </svg>

                    </div>
                    <div class="elem-desc">
                        Пройди предварительное
                        тестирование
                    </div>
                </div>
                <div class="stepbar-elem">
                    <div class="elem-title">
                        02
                    </div>
                    <div class="elem-fragment">
                        <svg class="ellips" width="28" height="29" viewBox="0 0 28 29" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <circle cx="14" cy="14.0205" r="13.5" fill="white" stroke="#FDC600" />
                            <circle cx="14" cy="14.0205" r="8" fill="#FDC600" />
                        </svg>

                        <svg width="363" height="57" viewBox="0 0 363 57" fill="none" xmlns="http://www.w3.org/2000/svg"
                            class="line1">
                            <path
                                d="M1 55.0204C9.6946 56.0204 31.2572 55.8204 47.9509 47.0204C68.8179 36.0204 122.029 0.0204259 181.5 1.02043"
                                stroke="#888888" stroke-width="2" stroke-dasharray="3 2" />
                            <path
                                d="M362 55.0409C353.305 56.0409 331.743 55.8409 315.049 47.0409C294.182 36.0409 240.971 0.0409337 181.5 1.04093"
                                stroke="#888888" stroke-width="2" stroke-dasharray="3 2" />
                        </svg>

                    </div>
                    <div class="elem-desc">
                        Записаться на собеседование по итогам тестирования
                    </div>
                </div>
                <div class="stepbar-elem">
                    <div class="elem-title">
                        03
                    </div>
                    <div class="elem-fragment">
                        <svg class="ellips" width="28" height="29" viewBox="0 0 28 29" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <circle cx="14" cy="14.0205" r="13.5" fill="white" stroke="#FDC600" />
                            <circle cx="14" cy="14.0205" r="8" fill="#FDC600" />
                        </svg>
                    </div>
                    <div class="elem-desc">
                        Начать занятие английского языка
                        в школе IH
                    </div>
                </div>
            </div>
            <a href="" class="btn secondary-btn">Начать тестирование</a>
        </div>
    </div>
</section>
</div>
{{> layout/footer}}