{{!Курс2}}

{{> layout/header}}
<div class="content course-page">
    <div class="breadcrumbs-wrapper">
        <div class="container">
            <ul class="breadcrumbs">
                <li class="breadcrumbs__item">
                    <a href="" class="breadcrumbs__link">Главная</a>
                </li>
                <li class="breadcrumbs__item">
                    <a href="" class="breadcrumbs__link">Курсы</a>
                </li>
                <li class="breadcrumbs__item">
                    <a href="" class="breadcrumbs__link">Курсы английского языка для взрослых</a>
                </li>
            </ul>
        </div>
    </div>



    <div class="page__title">
        <div class="container">
            <h2 class="title">
                Обучение английскому языку в школе IH
            </h2>
        </div>
    </div>
    <div class="page__banner" style="background-image:url('../static/images/course-banner.png')">
        <div class="container">
            <div class="banner-info">
                <div class="banner-info__title">
                       Запишись <br> на бесплатное <br> пробное занятие
                </div>
                <div class="banner-info__subtitle">
                    Которое поможет понять <br> материал
                </div>
                <a href="" class="btn primary-btn white-color">Подробнее</a>
            </div>
        </div>
    </div>
    <section class="section choice-course-section">
        <div class="container">
            <div class="section__inner">
                <h3 class="section__title">
                    Выберите свой курс
                </h3>
                <div class="section__subtitle">
                    Все подразделы обучения английскому языку
                </div>
                   <div class="section__info">
                    <div class="row">
                        <div class="col-md-12 col-lg-4 course-col">
                            <div class="col__inner">
                                <div class="col__top">
                                    <svg width="50" height="50" viewBox="0 0 50 50" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0)">
                                            <path
                                                d="M42.0226 32.8094L32.7273 31.2505C32.6436 31.2365 32.5579 31.2405 32.4759 31.2621C32.3938 31.2838 32.3173 31.3227 32.2515 31.3762C32.1856 31.4298 32.1319 31.4967 32.0939 31.5726C32.056 31.6485 32.0346 31.7316 32.0312 31.8164C31.8652 36.0214 29.21 39.0625 25 39.0625C20.79 39.0625 18.1354 36.0214 17.9688 31.8164C17.9655 31.7316 17.9441 31.6484 17.9062 31.5725C17.8683 31.4965 17.8146 31.4295 17.7487 31.3759C17.6829 31.3223 17.6063 31.2834 17.5243 31.2617C17.4422 31.24 17.3564 31.236 17.2727 31.25L7.97744 32.8094C6.17737 33.1367 4.54926 34.0854 3.37695 35.49C2.20465 36.8947 1.56251 38.6663 1.5625 40.4958V49.2188C1.5625 49.426 1.64481 49.6247 1.79132 49.7712C1.93784 49.9177 2.13655 50 2.34375 50H7.03125C7.23845 50 7.43716 49.9177 7.58368 49.7712C7.73019 49.6247 7.8125 49.426 7.8125 49.2188V42.467C7.80991 42.2654 7.88363 42.0703 8.01888 41.9207C8.15414 41.7712 8.34093 41.6783 8.5418 41.6607C8.64854 41.6536 8.7556 41.6685 8.85635 41.7044C8.95711 41.7404 9.0494 41.7966 9.12752 41.8697C9.20563 41.9428 9.26791 42.0312 9.31048 42.1293C9.35305 42.2275 9.37501 42.3333 9.375 42.4403V49.2188C9.375 49.426 9.45731 49.6247 9.60382 49.7712C9.75034 49.9177 9.94905 50 10.1562 50H39.8438C40.0509 50 40.2497 49.9177 40.3962 49.7712C40.5427 49.6247 40.625 49.426 40.625 49.2188V42.467C40.6224 42.2654 40.6961 42.0703 40.8313 41.9208C40.9666 41.7712 41.1534 41.6784 41.3542 41.6608C41.4609 41.6537 41.568 41.6685 41.6688 41.7045C41.7695 41.7404 41.8618 41.7967 41.9399 41.8698C42.0181 41.9428 42.0804 42.0312 42.1229 42.1293C42.1655 42.2275 42.1875 42.3333 42.1875 42.4403V49.2188C42.1875 49.426 42.2698 49.6247 42.4163 49.7712C42.5628 49.9177 42.7616 50 42.9688 50H47.6562C47.8634 50 48.0622 49.9177 48.2087 49.7712C48.3552 49.6247 48.4375 49.426 48.4375 49.2188V40.4958C48.4382 38.6661 47.7964 36.8941 46.6239 35.4893C45.4515 34.0845 43.823 33.136 42.0226 32.8094Z"
                                                fill="#FDC600" />
                                            <path
                                                d="M17.4052 8.38428C18.5927 8.3847 19.7584 8.70297 20.7813 9.30606L21.9702 10.0071L22.0061 10.0311C22.8926 10.6221 23.9343 10.9375 24.9999 10.9375C26.0654 10.9375 27.1071 10.6221 27.9937 10.0311L28.0295 10.0071L29.2188 9.30606C30.2417 8.70294 31.4074 8.38467 32.5949 8.38428C34.2617 8.37479 35.8675 9.01058 37.0761 10.1585C36.6735 7.85638 35.6234 5.71658 34.0487 3.98965C32.9004 2.7326 31.5028 1.7286 29.9449 1.04169C28.3871 0.354768 26.7032 0 25.0006 0C23.298 0 21.6141 0.354768 20.0563 1.04169C18.4984 1.7286 17.1008 2.7326 15.9525 3.98965C14.3776 5.71654 13.3273 7.85633 12.9245 10.1585C14.133 9.01073 15.7386 8.37496 17.4052 8.38428Z"
                                                fill="#FDC600" />
                                            <path
                                                d="M24.7482 30.4687C22.5406 30.4684 20.3866 29.7892 18.5782 28.5231C16.7697 27.257 15.3945 25.4653 14.6389 23.3911C13.9479 23.2789 13.3049 22.9664 12.7898 22.4923C12.2746 22.0183 11.9099 21.4034 11.7409 20.7241L11.3112 19.0053C11.2046 18.5972 11.1936 18.1701 11.279 17.757C11.3644 17.344 11.5438 16.9562 11.8034 16.6238C12.1098 16.2398 12.5168 15.9483 12.979 15.7817L12.6567 13.4433C12.611 13.1103 12.6733 12.7714 12.8346 12.4765C12.9553 12.2557 13.0931 12.0448 13.2466 11.8454C14.7749 9.85932 17.5767 9.37797 19.7352 10.6511L20.8876 11.3309C22.0309 12.0929 23.3741 12.4995 24.7481 12.4995C26.1221 12.4995 27.4653 12.0929 28.6087 11.3309L29.761 10.651C31.9192 9.37787 34.7213 9.85932 36.2494 11.8454C36.403 12.0447 36.5408 12.2557 36.6615 12.4765C36.8227 12.7714 36.8851 13.1103 36.8394 13.4433L36.5171 15.7817C37.1389 16.0072 37.6551 16.455 37.966 17.0388C38.2769 17.6226 38.3604 18.3009 38.2005 18.9426L37.7552 20.7239C37.5862 21.4032 37.2215 22.0181 36.7064 22.4922C36.1913 22.9662 35.5483 23.2787 34.8573 23.3909C34.1017 25.4651 32.7265 27.2568 30.9182 28.5229C29.1098 29.789 26.9558 30.4683 24.7482 30.4687Z"
                                                fill="#FDC600" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0">
                                                <rect width="50" height="50" fill="white" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                </div>
                                <div class="col__bottom">
                                    <ul class="col-list">
                                        <li class="col-list__item">
                                            <a href="" class="col-list__link title">
                                                Курсы для взрослых
                                            </a>
                                        </li>
                                        <li class="col-list__item">
                                            <a href="" class="col-list__link">
                                                Общий английский для взрослых
                                            </a>
                                        </li>
                                        <li class="col-list__item">
                                            <a href="" class="col-list__link">
                                                Летние курсы для взрослых </a>
                                        </li>
                                        <li class="col-list__item">
                                            <a href="" class="col-list__link">
                                                Курсы английского для начинающих
                                            </a>
                                        </li>
                                        <li class="col-list__item">
                                            <a href="" class="col-list__link">
                                                Разговорный английский
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-4 course-col">
                            <div class="col__inner">
                                <div class="col__top">
                                    <svg width="50" height="50" viewBox="0 0 50 50" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M7.42173 8.78912C7.34879 8.78912 7.28619 8.75787 7.21607 8.74762C6.79849 9.69303 6.46275 10.6811 6.25211 11.7188H11.5464C10.9397 10.0174 9.32896 8.78912 7.42173 8.78912Z"
                                            fill="#FDC600" />
                                        <path
                                            d="M20.6055 0C15.762 0 11.5019 2.37949 8.83511 6.00244C12.1988 6.66348 14.7461 9.6291 14.7461 13.1836V17.5781H35.254V14.6484C35.254 6.5584 28.6956 0 20.6055 0Z"
                                            fill="#FDC600" />
                                        <path d="M11.8164 14.6484H5.95703V17.5781H11.8164V14.6484Z" fill="#FDC600" />
                                        <path
                                            d="M36.7188 41.0156H30.3015C27.5196 42.863 24.1878 43.9453 20.6055 43.9453C17.0231 43.9453 13.6913 42.863 10.9095 41.0156H7.42188C3.37676 41.0156 0 44.49 0 48.5352C0 49.3441 0.753516 50 1.5625 50H42.5781C43.3871 50 44.043 49.3441 44.043 48.5352C44.043 44.49 40.7639 41.0156 36.7188 41.0156Z"
                                            fill="#FDC600" />
                                        <path
                                            d="M38.1835 20.7767V26.3672C38.1835 27.2991 38.0893 28.2075 37.949 29.1007C39.7728 28.5659 41.1132 26.8993 41.1132 24.9023C41.1132 22.9917 39.8864 21.382 38.1835 20.7767Z"
                                            fill="#FDC600" />
                                        <path
                                            d="M3.02734 26.3672V20.7767C1.32451 21.382 0 22.9917 0 24.9023C0 26.8993 1.43809 28.5659 3.26191 29.1007C3.12158 28.2075 3.02734 27.2991 3.02734 26.3672Z"
                                            fill="#FDC600" />
                                        <path
                                            d="M47.0703 11.7188H38.1836V17.5781H47.0703C48.6884 17.5781 50 16.2663 50 14.6484C50 13.0304 48.6884 11.7188 47.0703 11.7188Z"
                                            fill="#FDC600" />
                                        <path
                                            d="M5.95703 20.5078V26.3672C5.95703 34.4572 12.5154 41.0156 20.6055 41.0156C28.6955 41.0156 35.2539 34.4572 35.2539 26.3672V20.5078H5.95703ZM14.7461 23.4375C15.5551 23.4375 16.2109 24.0932 16.2109 24.9023C16.2109 25.7113 15.5551 26.3672 14.7461 26.3672C13.9371 26.3672 13.2812 25.7113 13.2812 24.9023C13.2812 24.0932 13.9371 23.4375 14.7461 23.4375ZM27.4419 35.4695C25.5594 37.1562 23.1317 38.0859 20.6055 38.0859C18.0792 38.0859 15.6516 37.1562 13.769 35.4695C13.1653 34.9288 13.1153 34.0032 13.6546 33.401C14.1968 32.7973 15.1252 32.7501 15.7231 33.2865C18.4153 35.6984 22.7956 35.6984 25.4878 33.2865C26.0872 32.7486 27.0156 32.7973 27.5563 33.401C28.0956 34.0032 28.0456 34.9288 27.4419 35.4695ZM26.4648 26.3672C25.6559 26.3672 25 25.7113 25 24.9023C25 24.0932 25.6559 23.4375 26.4648 23.4375C27.2738 23.4375 27.9297 24.0932 27.9297 24.9023C27.9297 25.7113 27.2738 26.3672 26.4648 26.3672Z"
                                            fill="#FDC600" />
                                    </svg>
                                </div>
                                <div class="col__bottom">
                                    <ul class="col-list">
                                        <li class="col-list__item">
                                            <a href="" class="col-list__link title">
                                                Курсы для детей
                                            </a>
                                        </li>
                                        <li class="col-list__item">
                                            <a href="" class="col-list__link">
                                                Английский для школьников
                                            </a>
                                        </li>
                                        <li class="col-list__item">
                                            <a href="" class="col-list__link">
                                                Летние курсы для школьников </a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-4 course-col">
                            <div class="col__inner">
                                <div class="col__top">
                                    <svg width="50" height="50" viewBox="0 0 50 50" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0)">
                                            <path d="M35.6581 0.899902V10.3305H44.2041L35.6581 0.899902Z"
                                                fill="#FDC600" />
                                            <path
                                                d="M34.1933 13.2602C33.3843 13.2602 32.7284 12.6043 32.7284 11.7953V0H9.19141C6.86953 0 4.98047 1.88906 4.98047 4.21094V45.7891C4.98047 48.1109 6.86953 50 9.19141 50H40.8086C43.1305 50 45.0195 48.1109 45.0195 45.7891V13.2602H34.1933ZM32.9409 20.2348C33.5129 19.6628 34.4404 19.6628 35.0125 20.2348L35.8695 21.0918L38.9422 18.0191C39.5142 17.4472 40.4417 17.4472 41.0138 18.0191C41.5858 18.5911 41.5858 19.5187 41.0138 20.0907L36.9054 24.1991C36.6193 24.4852 36.2444 24.6282 35.8696 24.6282C35.4948 24.6282 35.1198 24.4852 34.8339 24.1991L32.941 22.3062C32.3689 21.7344 32.3689 20.8068 32.9409 20.2348ZM32.9409 30.197C33.5129 29.625 34.4404 29.625 35.0125 30.197L35.8695 31.054L38.9422 27.9813C39.5142 27.4094 40.4417 27.4094 41.0138 27.9813C41.5858 28.5533 41.5858 29.4809 41.0138 30.0529L36.9054 34.1613C36.6193 34.4474 36.2444 34.5904 35.8696 34.5904C35.4948 34.5904 35.1198 34.4474 34.8339 34.1613L32.941 32.2685C32.3689 31.6966 32.3689 30.7689 32.9409 30.197ZM12.1642 4.98311H16.7494C17.5584 4.98311 18.2143 5.63896 18.2143 6.44795C18.2143 7.25693 17.5584 7.91279 16.7494 7.91279H12.1642C11.3552 7.91279 10.6993 7.25693 10.6993 6.44795C10.6993 5.63896 11.3551 4.98311 12.1642 4.98311ZM12.1642 10.0711H22.1304C22.9394 10.0711 23.5952 10.727 23.5952 11.5359C23.5952 12.3449 22.9394 13.0008 22.1304 13.0008H12.1642C11.3552 13.0008 10.6993 12.3449 10.6993 11.5359C10.6993 10.727 11.3551 10.0711 12.1642 10.0711ZM27.2931 42.5047H12.1642C11.3552 42.5047 10.6993 41.8488 10.6993 41.0398C10.6993 40.2309 11.3552 39.575 12.1642 39.575H27.2932C28.1021 39.575 28.758 40.2309 28.758 41.0398C28.758 41.8488 28.1021 42.5047 27.2931 42.5047ZM27.2931 32.8881H12.1642C11.3552 32.8881 10.6993 32.2322 10.6993 31.4232C10.6993 30.6143 11.3552 29.9584 12.1642 29.9584H27.2932C28.1021 29.9584 28.758 30.6143 28.758 31.4232C28.758 32.2322 28.1021 32.8881 27.2931 32.8881ZM27.2931 22.926H12.1642C11.3552 22.926 10.6993 22.2701 10.6993 21.4611C10.6993 20.6521 11.3552 19.9963 12.1642 19.9963H27.2932C28.1021 19.9963 28.758 20.6521 28.758 21.4611C28.758 22.2701 28.1021 22.926 27.2931 22.926ZM41.0139 39.6696L36.9055 43.7779C36.6194 44.064 36.2445 44.207 35.8697 44.207C35.4948 44.207 35.12 44.0641 34.834 43.7779L32.9411 41.8851C32.369 41.3131 32.369 40.3855 32.9411 39.8135C33.5131 39.2415 34.4406 39.2415 35.0127 39.8135L35.8697 40.6705L38.9424 37.5979C39.5145 37.0259 40.4418 37.0259 41.014 37.5979C41.5858 38.1701 41.5858 39.0977 41.0139 39.6696Z"
                                                fill="#FDC600" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0">
                                                <rect width="50" height="50" fill="white" />
                                            </clipPath>
                                        </defs>
                                    </svg>

                                </div>
                                <div class="col__bottom">
                                    <ul class="col-list">
                                        <li class="col-list__item">
                                            <a href="" class="col-list__link title">
                                                Подготовка к международным
                                                экзаменам
                                            </a>
                                        </li>
                                        <li class="col-list__item">
                                            <a href="" class="col-list__link">
                                                Подготовка к IELTS
                                            </a>
                                        </li>
                                        <li class="col-list__item">
                                            <a href="" class="col-list__link">
                                                Подготовка к Кембриджским экзаменам </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section__card margin">
                    <div class="card__inner">
                        <div class="card__left">
                            <div class="card__text">
                        Знание 
                        английского 
                        языка позволяют:
                            </div>
                        </div>
                        <div class="card__right">
                           <div class="row">
                                <div class=" col-6 col-sm-6 col-lg-4 card-col">
                                    <div class="col__top">
                                        <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="32" cy="32" r="32" fill="#FDC600" fill-opacity="0.25"/>
<circle cx="32" cy="32" r="27" fill="url(#paint0_linear)"/>
<path d="M16.0254 32.979C16.0254 29.5773 16.6357 27.1969 17.8564 25.8379C19.0853 24.4788 20.953 23.7993 23.4595 23.7993C24.6639 23.7993 25.6527 23.9499 26.4258 24.251C27.1989 24.5439 27.8296 24.9305 28.3179 25.4106C28.8062 25.8826 29.1886 26.3831 29.4653 26.9121C29.7502 27.4329 29.978 28.0433 30.1489 28.7432C30.4826 30.0778 30.6494 31.4694 30.6494 32.918C30.6494 36.165 30.1001 38.5413 29.0015 40.0469C27.9028 41.5524 26.0107 42.3052 23.3252 42.3052C21.8197 42.3052 20.603 42.0651 19.6753 41.585C18.7476 41.1048 17.9867 40.4009 17.3926 39.4731C16.9613 38.814 16.6235 37.9147 16.3794 36.7754C16.1434 35.6279 16.0254 34.3625 16.0254 32.979ZM20.957 32.9912C20.957 35.2699 21.1564 36.8283 21.5552 37.6665C21.9621 38.4966 22.548 38.9116 23.313 38.9116C23.8175 38.9116 24.2529 38.7367 24.6191 38.3867C24.9935 38.0286 25.2661 37.4671 25.437 36.7021C25.616 35.9372 25.7056 34.745 25.7056 33.1255C25.7056 30.7492 25.5021 29.1541 25.0952 28.3403C24.6965 27.5184 24.0942 27.1074 23.2886 27.1074C22.4666 27.1074 21.8726 27.5265 21.5063 28.3647C21.1401 29.1948 20.957 30.737 20.957 32.9912ZM43.9673 23.7993V42H38.938V30.0737C38.1242 30.6922 37.3348 31.1927 36.5698 31.5752C35.813 31.9577 34.8608 32.3239 33.7134 32.6738V28.5967C35.4061 28.0514 36.7204 27.3963 37.6562 26.6313C38.5921 25.8664 39.3245 24.9224 39.8535 23.7993H43.9673Z" fill="white"/>
<defs>
<linearGradient id="paint0_linear" x1="13" y1="5" x2="53" y2="59" gradientUnits="userSpaceOnUse">
<stop stop-color="#FDC600"/>
<stop offset="1" stop-color="#FFE896"/>
</linearGradient>
</defs>
</svg>
                                    </div>
                                    <div class="col__bottom">
                                            Читать в оригинале 
                                        статьи, книги, научные конференции.
                                    </div>
                                </div>
                                 <div class=" col-6 col-sm-6 col-lg-4 card-col">
                                    <div class="col__top">
               <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="32" cy="32" r="32" fill="#FDC600" fill-opacity="0.25"/>
<circle cx="32" cy="32" r="27" fill="url(#paint0_linear)"/>
<path d="M16.0254 32.979C16.0254 29.5773 16.6357 27.1969 17.8564 25.8379C19.0853 24.4788 20.953 23.7993 23.4595 23.7993C24.6639 23.7993 25.6527 23.9499 26.4258 24.251C27.1989 24.5439 27.8296 24.9305 28.3179 25.4106C28.8062 25.8826 29.1886 26.3831 29.4653 26.9121C29.7502 27.4329 29.978 28.0433 30.1489 28.7432C30.4826 30.0778 30.6494 31.4694 30.6494 32.918C30.6494 36.165 30.1001 38.5413 29.0015 40.0469C27.9028 41.5524 26.0107 42.3052 23.3252 42.3052C21.8197 42.3052 20.603 42.0651 19.6753 41.585C18.7476 41.1048 17.9867 40.4009 17.3926 39.4731C16.9613 38.814 16.6235 37.9147 16.3794 36.7754C16.1434 35.6279 16.0254 34.3625 16.0254 32.979ZM20.957 32.9912C20.957 35.2699 21.1564 36.8283 21.5552 37.6665C21.9621 38.4966 22.548 38.9116 23.313 38.9116C23.8175 38.9116 24.2529 38.7367 24.6191 38.3867C24.9935 38.0286 25.2661 37.4671 25.437 36.7021C25.616 35.9372 25.7056 34.745 25.7056 33.1255C25.7056 30.7492 25.5021 29.1541 25.0952 28.3403C24.6965 27.5184 24.0942 27.1074 23.2886 27.1074C22.4666 27.1074 21.8726 27.5265 21.5063 28.3647C21.1401 29.1948 20.957 30.737 20.957 32.9912ZM47.251 42H32.334C32.5049 40.527 33.0216 39.1436 33.8843 37.8496C34.755 36.5475 36.3826 35.0135 38.7671 33.2476C40.2238 32.1652 41.1556 31.3433 41.5625 30.7817C41.9694 30.2202 42.1729 29.6872 42.1729 29.1826C42.1729 28.6374 41.9694 28.1735 41.5625 27.791C41.1637 27.4004 40.6592 27.2051 40.0488 27.2051C39.4141 27.2051 38.8932 27.4045 38.4863 27.8032C38.0876 28.202 37.819 28.9059 37.6807 29.915L32.7002 29.5122C32.8955 28.1125 33.2536 27.022 33.7744 26.2407C34.2952 25.4513 35.0277 24.8491 35.9717 24.4341C36.9238 24.0109 38.2381 23.7993 39.9146 23.7993C41.6642 23.7993 43.0233 23.9987 43.9917 24.3975C44.9683 24.7962 45.7332 25.4106 46.2866 26.2407C46.8481 27.0627 47.1289 27.9863 47.1289 29.0117C47.1289 30.1022 46.8075 31.1439 46.1646 32.1367C45.5298 33.1296 44.3701 34.2201 42.6855 35.4082C41.6846 36.0999 41.0132 36.5841 40.6714 36.8608C40.3377 37.1375 39.943 37.4997 39.4873 37.9473H47.251V42Z" fill="white"/>
<defs>
<linearGradient id="paint0_linear" x1="13" y1="5" x2="53" y2="59" gradientUnits="userSpaceOnUse">
<stop stop-color="#FDC600"/>
<stop offset="1" stop-color="#FFE896"/>
</linearGradient>
</defs>
</svg>

                                    </div>
                                    <div class="col__bottom">
                                           Свободно общаться 
с деловыми партнерами.
                                    </div>
                                </div>
                                  <div class="col-6 col-sm-6 col-lg-4 card-col">
                                    <div class="col__top">
         <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="32" cy="32" r="32" fill="#FDC600" fill-opacity="0.25"/>
<circle cx="32" cy="32" r="27" fill="url(#paint0_linear)"/>
<path d="M16.0254 32.979C16.0254 29.5773 16.6357 27.1969 17.8564 25.8379C19.0853 24.4788 20.953 23.7993 23.4595 23.7993C24.6639 23.7993 25.6527 23.9499 26.4258 24.251C27.1989 24.5439 27.8296 24.9305 28.3179 25.4106C28.8062 25.8826 29.1886 26.3831 29.4653 26.9121C29.7502 27.4329 29.978 28.0433 30.1489 28.7432C30.4826 30.0778 30.6494 31.4694 30.6494 32.918C30.6494 36.165 30.1001 38.5413 29.0015 40.0469C27.9028 41.5524 26.0107 42.3052 23.3252 42.3052C21.8197 42.3052 20.603 42.0651 19.6753 41.585C18.7476 41.1048 17.9867 40.4009 17.3926 39.4731C16.9613 38.814 16.6235 37.9147 16.3794 36.7754C16.1434 35.6279 16.0254 34.3625 16.0254 32.979ZM20.957 32.9912C20.957 35.2699 21.1564 36.8283 21.5552 37.6665C21.9621 38.4966 22.548 38.9116 23.313 38.9116C23.8175 38.9116 24.2529 38.7367 24.6191 38.3867C24.9935 38.0286 25.2661 37.4671 25.437 36.7021C25.616 35.9372 25.7056 34.745 25.7056 33.1255C25.7056 30.7492 25.5021 29.1541 25.0952 28.3403C24.6965 27.5184 24.0942 27.1074 23.2886 27.1074C22.4666 27.1074 21.8726 27.5265 21.5063 28.3647C21.1401 29.1948 20.957 30.737 20.957 32.9912ZM37.522 29.2803L32.8223 28.438C33.2129 26.9406 33.9616 25.7931 35.0684 24.9956C36.1833 24.1981 37.758 23.7993 39.7925 23.7993C42.1281 23.7993 43.8167 24.2347 44.8584 25.1055C45.9001 25.9762 46.4209 27.0708 46.4209 28.3892C46.4209 29.1623 46.2093 29.8621 45.7861 30.4888C45.363 31.1154 44.7241 31.6647 43.8696 32.1367C44.5614 32.3076 45.0903 32.507 45.4565 32.7349C46.0506 33.1011 46.5104 33.5853 46.8359 34.1875C47.1696 34.7816 47.3364 35.4937 47.3364 36.3237C47.3364 37.3654 47.0638 38.3664 46.5186 39.3267C45.9733 40.2788 45.188 41.0153 44.1626 41.5361C43.1372 42.0488 41.7904 42.3052 40.1221 42.3052C38.4945 42.3052 37.2087 42.1139 36.2646 41.7314C35.3288 41.349 34.5557 40.7915 33.9453 40.0591C33.3431 39.3185 32.8792 38.3908 32.5537 37.2759L37.522 36.6167C37.7173 37.6177 38.0184 38.3135 38.4253 38.7041C38.8403 39.0866 39.3652 39.2778 40 39.2778C40.6673 39.2778 41.2207 39.0337 41.6602 38.5454C42.1077 38.0571 42.3315 37.4061 42.3315 36.5923C42.3315 35.7622 42.1159 35.1193 41.6846 34.6636C41.2614 34.2078 40.6836 33.98 39.9512 33.98C39.5605 33.98 39.0234 34.0776 38.3398 34.2729L38.5962 30.7207C38.8729 30.7614 39.0885 30.7817 39.2432 30.7817C39.8942 30.7817 40.4354 30.5742 40.8667 30.1592C41.3062 29.7441 41.5259 29.2518 41.5259 28.6821C41.5259 28.1369 41.3631 27.7015 41.0376 27.376C40.7121 27.0505 40.2645 26.8877 39.6948 26.8877C39.1089 26.8877 38.6328 27.0667 38.2666 27.4248C37.9004 27.7747 37.6522 28.3932 37.522 29.2803Z" fill="white"/>
<defs>
<linearGradient id="paint0_linear" x1="13" y1="5" x2="53" y2="59" gradientUnits="userSpaceOnUse">
<stop stop-color="#FDC600"/>
<stop offset="1" stop-color="#FFE896"/>
</linearGradient>
</defs>
</svg>


                                    </div>
                                    <div class="col__bottom">
                                       Знакомиться и общаться 
с иностранцами в личных
целях.
                                    </div>
                                </div>
                                <div class="col-6 col-sm-6 col-lg-4 card-col">
                                    <div class="col__top">
  <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="32" cy="32" r="32" fill="#FDC600" fill-opacity="0.25"/>
<circle cx="32" cy="32" r="27" fill="url(#paint0_linear)"/>
<path d="M16.0254 32.979C16.0254 29.5773 16.6357 27.1969 17.8564 25.8379C19.0853 24.4788 20.953 23.7993 23.4595 23.7993C24.6639 23.7993 25.6527 23.9499 26.4258 24.251C27.1989 24.5439 27.8296 24.9305 28.3179 25.4106C28.8062 25.8826 29.1886 26.3831 29.4653 26.9121C29.7502 27.4329 29.978 28.0433 30.1489 28.7432C30.4826 30.0778 30.6494 31.4694 30.6494 32.918C30.6494 36.165 30.1001 38.5413 29.0015 40.0469C27.9028 41.5524 26.0107 42.3052 23.3252 42.3052C21.8197 42.3052 20.603 42.0651 19.6753 41.585C18.7476 41.1048 17.9867 40.4009 17.3926 39.4731C16.9613 38.814 16.6235 37.9147 16.3794 36.7754C16.1434 35.6279 16.0254 34.3625 16.0254 32.979ZM20.957 32.9912C20.957 35.2699 21.1564 36.8283 21.5552 37.6665C21.9621 38.4966 22.548 38.9116 23.313 38.9116C23.8175 38.9116 24.2529 38.7367 24.6191 38.3867C24.9935 38.0286 25.2661 37.4671 25.437 36.7021C25.616 35.9372 25.7056 34.745 25.7056 33.1255C25.7056 30.7492 25.5021 29.1541 25.0952 28.3403C24.6965 27.5184 24.0942 27.1074 23.2886 27.1074C22.4666 27.1074 21.8726 27.5265 21.5063 28.3647C21.1401 29.1948 20.957 30.737 20.957 32.9912ZM41.2451 38.6553H32.1875V34.5659L41.2451 23.7993H45.5786V34.7979H47.8247V38.6553H45.5786V42H41.2451V38.6553ZM41.2451 34.7979V29.1704L36.46 34.7979H41.2451Z" fill="white"/>
<defs>
<linearGradient id="paint0_linear" x1="13" y1="5" x2="53" y2="59" gradientUnits="userSpaceOnUse">
<stop stop-color="#FDC600"/>
<stop offset="1" stop-color="#FFE896"/>
</linearGradient>
</defs>
</svg>



                                    </div>
                                    <div class="col__bottom">
                              Путешествовать 
без проблем.
                                    </div>
                                </div>
                                  <div class="col-6 col-sm-6 col-lg-4 card-col">
                                    <div class="col__top">
<svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="32" cy="32" r="32" fill="#FDC600" fill-opacity="0.25"/>
<circle cx="32" cy="32" r="27" fill="url(#paint0_linear)"/>
<path d="M16.0254 32.979C16.0254 29.5773 16.6357 27.1969 17.8564 25.8379C19.0853 24.4788 20.953 23.7993 23.4595 23.7993C24.6639 23.7993 25.6527 23.9499 26.4258 24.251C27.1989 24.5439 27.8296 24.9305 28.3179 25.4106C28.8062 25.8826 29.1886 26.3831 29.4653 26.9121C29.7502 27.4329 29.978 28.0433 30.1489 28.7432C30.4826 30.0778 30.6494 31.4694 30.6494 32.918C30.6494 36.165 30.1001 38.5413 29.0015 40.0469C27.9028 41.5524 26.0107 42.3052 23.3252 42.3052C21.8197 42.3052 20.603 42.0651 19.6753 41.585C18.7476 41.1048 17.9867 40.4009 17.3926 39.4731C16.9613 38.814 16.6235 37.9147 16.3794 36.7754C16.1434 35.6279 16.0254 34.3625 16.0254 32.979ZM20.957 32.9912C20.957 35.2699 21.1564 36.8283 21.5552 37.6665C21.9621 38.4966 22.548 38.9116 23.313 38.9116C23.8175 38.9116 24.2529 38.7367 24.6191 38.3867C24.9935 38.0286 25.2661 37.4671 25.437 36.7021C25.616 35.9372 25.7056 34.745 25.7056 33.1255C25.7056 30.7492 25.5021 29.1541 25.0952 28.3403C24.6965 27.5184 24.0942 27.1074 23.2886 27.1074C22.4666 27.1074 21.8726 27.5265 21.5063 28.3647C21.1401 29.1948 20.957 30.737 20.957 32.9912ZM34.7144 24.1045H46.5186V28.0718H38.5229L38.0957 30.7573C38.6491 30.4969 39.1943 30.3016 39.7314 30.1714C40.2767 30.0412 40.8138 29.9761 41.3428 29.9761C43.1331 29.9761 44.5858 30.5173 45.7007 31.5996C46.8156 32.682 47.373 34.0451 47.373 35.689C47.373 36.8446 47.0841 37.9554 46.5063 39.0215C45.9367 40.0876 45.1229 40.9014 44.0649 41.4629C43.0151 42.0244 41.6683 42.3052 40.0244 42.3052C38.8444 42.3052 37.8312 42.1953 36.9849 41.9756C36.1466 41.7477 35.4305 41.4141 34.8364 40.9746C34.2505 40.527 33.7744 40.0225 33.4082 39.4609C33.042 38.8994 32.7368 38.1995 32.4927 37.3613L37.522 36.812C37.644 37.6177 37.9289 38.2321 38.3765 38.6553C38.8241 39.0703 39.3571 39.2778 39.9756 39.2778C40.6673 39.2778 41.237 39.0174 41.6846 38.4966C42.1403 37.9676 42.3682 37.1823 42.3682 36.1406C42.3682 35.0745 42.1403 34.2933 41.6846 33.7969C41.2288 33.3005 40.6226 33.0522 39.8657 33.0522C39.3856 33.0522 38.9217 33.1702 38.4741 33.4062C38.1405 33.5771 37.7743 33.8864 37.3755 34.334L33.1396 33.7236L34.7144 24.1045Z" fill="white"/>
<defs>
<linearGradient id="paint0_linear" x1="13" y1="5" x2="53" y2="59" gradientUnits="userSpaceOnUse">
<stop stop-color="#FDC600"/>
<stop offset="1" stop-color="#FFE896"/>
</linearGradient>
</defs>
</svg>




                                    </div>
                                    <div class="col__bottom">
                             Смотреть любимые фильмы и сериалы 
в оригинале.
                                    </div>
                                </div>
                                  <div class="col-6 col-sm-6 col-lg-4 card-col">
                                    <div class="col__top">
<svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="32" cy="32" r="32" fill="#FDC600" fill-opacity="0.25"/>
<circle cx="32" cy="32" r="27" fill="url(#paint0_linear)"/>
<path d="M16.0254 32.979C16.0254 29.5773 16.6357 27.1969 17.8564 25.8379C19.0853 24.4788 20.953 23.7993 23.4595 23.7993C24.6639 23.7993 25.6527 23.9499 26.4258 24.251C27.1989 24.5439 27.8296 24.9305 28.3179 25.4106C28.8062 25.8826 29.1886 26.3831 29.4653 26.9121C29.7502 27.4329 29.978 28.0433 30.1489 28.7432C30.4826 30.0778 30.6494 31.4694 30.6494 32.918C30.6494 36.165 30.1001 38.5413 29.0015 40.0469C27.9028 41.5524 26.0107 42.3052 23.3252 42.3052C21.8197 42.3052 20.603 42.0651 19.6753 41.585C18.7476 41.1048 17.9867 40.4009 17.3926 39.4731C16.9613 38.814 16.6235 37.9147 16.3794 36.7754C16.1434 35.6279 16.0254 34.3625 16.0254 32.979ZM20.957 32.9912C20.957 35.2699 21.1564 36.8283 21.5552 37.6665C21.9621 38.4966 22.548 38.9116 23.313 38.9116C23.8175 38.9116 24.2529 38.7367 24.6191 38.3867C24.9935 38.0286 25.2661 37.4671 25.437 36.7021C25.616 35.9372 25.7056 34.745 25.7056 33.1255C25.7056 30.7492 25.5021 29.1541 25.0952 28.3403C24.6965 27.5184 24.0942 27.1074 23.2886 27.1074C22.4666 27.1074 21.8726 27.5265 21.5063 28.3647C21.1401 29.1948 20.957 30.737 20.957 32.9912ZM47.0923 28.1328L42.1484 28.7432C42.0182 28.0514 41.7985 27.5632 41.4893 27.2783C41.1882 26.9935 40.8138 26.8511 40.3662 26.8511C39.5605 26.8511 38.9339 27.258 38.4863 28.0718C38.1608 28.6577 37.9207 29.911 37.7661 31.8315C38.3602 31.2293 38.9705 30.7858 39.5972 30.501C40.2238 30.208 40.9481 30.0615 41.77 30.0615C43.3651 30.0615 44.7119 30.6312 45.8105 31.7705C46.9173 32.9098 47.4707 34.3543 47.4707 36.104C47.4707 37.284 47.1899 38.3623 46.6284 39.3389C46.075 40.3154 45.3019 41.056 44.3091 41.5605C43.3244 42.057 42.0874 42.3052 40.5981 42.3052C38.8078 42.3052 37.3714 42 36.2891 41.3896C35.2067 40.7793 34.34 39.8068 33.689 38.4722C33.0461 37.1294 32.7246 35.3553 32.7246 33.1499C32.7246 29.9191 33.4041 27.555 34.7632 26.0576C36.1222 24.5521 38.0062 23.7993 40.415 23.7993C41.8392 23.7993 42.9622 23.9661 43.7842 24.2998C44.6143 24.6253 45.3019 25.1055 45.8472 25.7402C46.3924 26.375 46.8075 27.1725 47.0923 28.1328ZM37.937 36.104C37.937 37.0724 38.1812 37.8333 38.6694 38.3867C39.1577 38.932 39.7559 39.2046 40.4639 39.2046C41.1149 39.2046 41.6602 38.9564 42.0996 38.46C42.5391 37.9635 42.7588 37.223 42.7588 36.2383C42.7588 35.2292 42.5309 34.4601 42.0752 33.9312C41.6195 33.4022 41.0539 33.1377 40.3784 33.1377C39.6867 33.1377 39.1048 33.394 38.6328 33.9067C38.1689 34.4194 37.937 35.1519 37.937 36.104Z" fill="white"/>
<defs>
<linearGradient id="paint0_linear" x1="13" y1="5" x2="53" y2="59" gradientUnits="userSpaceOnUse">
<stop stop-color="#FDC600"/>
<stop offset="1" stop-color="#FFE896"/>
</linearGradient>
</defs>
</svg>

                                    </div>
                                    <div class="col__bottom">
                     Чувствовать себя комфортнее в обществе.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
    </section>
    <div class="banner" style="background-image:url('../static/images/course-banner2.png')">
           <div class="container">
            <div class="banner-info">
                <div class="banner-info__subtitle yellow">
                    Только у нас!
                </div>
                <div class="banner-info__title">
                   ПЕРЕДОВАЯ 
КОММУНИКАТИВНАЯ МЕТОДИКА
                </div>
                <div class="banner-info__subtitle">
                   Не имеет аналогов 
на территории Беларуси
                </div>
           
            </div>
        </div>
    </div>
    <section class="section select-course-section">
        <div class="container">
            <div class="section__inner">
                <h3 class="section__title">
                    Выберeте курс для себя
                </h3>
                <div class="section__subtitle">
                    В международной школе английского 
International House программы 
адаптированы для взрослых. 
                </div>
                <div class="section__info">
                    <div class="row">
                        <div class="col-sm-12 col-lg-4 select-course-col">
                            <div class="col__inner">
                                <div class="col__img">
                                    <img src="../static/images/adults.png" alt="">
                                </div>
                                <div class="col__info">
                                      <a href="" class="col__info-title">
                                   общий английский
                                </a>
                                <div class="col__info-text">
                                    <p class="blue-text">
                                        Студенты развивают навыки свободного общения 
на английском, преодолевают языковой барьер.
                                    </p>
                                   <p>
                                        9 уровней обучения, каждый из которых разделен на 3-4 семестра
                                   </p>
                                </div>
                                </div>
                            </div>
                        </div>
                         <div class="col-sm-12 col-lg-4 select-course-col">
                            <div class="col__inner">
                                <div class="col__img yellow-bg">
                                    <img src="../static/images/summer.png" alt="">
                                </div>
                                <div class="col__info">
                                      <a href="" class="col__info-title">
                                   летние курсы
                                </a>
                                <div class="col__info-text">
                                    <p class="blue-text">
                                       Возможность повысить уровень языка за несколько месяцев.
                                    </p>
                                   <p>
                                        Занятия проходят 4 раза 
в неделю
                                   </p>
                                </div>
                                </div>
                            </div>
                        </div>
                         <div class="col-sm-12 col-lg-4 select-course-col">
                            <div class="col__inner">
                                <div class="col__img">
                                    <img src="../static/images/start.png" alt="">
                                </div>
                                <div class="col__info">
                                      <a href="" class="col__info-title">
                                  английский 
для начинающих
                                </a>
                                <div class="col__info-text">
                                    <p class="blue-text">
                                      Для тех, кто еще не приступал к изучению языка.
                                    </p>
                                   <p>
                                        Уровень студенты осваивают 3 месяца.
                                   </p>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             
            </div>
        </div>
    </section>
    <section class="section section-description">
        <div class="container">
            <div class="section__inner">
                <div class="section__left">
                    <img src="../static/images/text.png" alt="">
                </div>
                <div class="section__right">
                    <div class="section__title">
                        С первого занятия обучение 
проходит на английском: 
                    </div>
                    <ul class="list-info">
                        <li class="list-item">
                            <div class="list-item__left">
<img src="../static/images/icons/icon_1.png" alt="">

                            </div>
                            <div class="list-item__right">
                                Студенты погружаются в языковую среду, учатся понимать речь, писать и говорить 
на иностранном. 
                            </div>
                        </li>
                        <li class="list-item">
                            <div class="list-item__left">
                                <img src="../static/images/icons/icon_2.png" alt="">
                             </div>
                            <div class="list-item__right">
                           После окончания занятий слушатели получают сертификат образца международной школы 
International House.
                            </div>
                        </li>
                    </ul>
                    <div class="section__subtitle">
                        Кроме базовых разговорных программ, мы подготавливаем к прохождению международных экзаменов (IELTS, Cambridge).
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="quote">
        <div class="container">
           <div class="quote__inner">
                <div class="quote__field">
       

               <span class="text"> 
                            <svg width="58" height="46" viewBox="0 0 58 46" fill="none" xmlns="http://www.w3.org/2000/svg" class="element">
<path d="M21.249 45.1328H0.667969V30.4111C0.667969 24.4541 1.18066 19.7666 2.20605 16.3486C3.28027 12.8818 5.2334 9.78125 8.06543 7.04688C10.8975 4.3125 14.5107 2.16406 18.9053 0.601562L22.9336 9.09766C18.832 10.4648 15.8779 12.3691 14.0713 14.8105C12.3135 17.252 11.3857 20.499 11.2881 24.5518H21.249V45.1328ZM55.5996 45.1328H35.0186V30.4111C35.0186 24.4053 35.5312 19.6934 36.5566 16.2754C37.6309 12.8574 39.584 9.78125 42.416 7.04688C45.2969 4.3125 48.9102 2.16406 53.2559 0.601562L57.2842 9.09766C53.1826 10.4648 50.2285 12.3691 48.4219 14.8105C46.6641 17.252 45.7363 20.499 45.6387 24.5518H55.5996V45.1328Z" fill="#003A78" fill-opacity="0.25"/>
</svg>
                   Поспешите стать слушателями международной школы английского языка International House, и мы научим вас говорить и думать по-английски!
                   </span>
            </div>
           </div>
        </div>
    </div>
  <section class="section advantages-section">
    <div class="container">
        <div class="section__inner">
            <div class="row advantages-row">
                <div class="col-md-12 col-lg-3 advantages-col">
                    <div class="col__inner">
                        <div class="col__img">
                            <img src="../static/images/icons/surface1.png" alt="">
                        </div>
                        <div class="col__text">
                            более 60 лет обучаем английскому
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-3 advantages-col">
                    <div class="col__inner">
                        <div class="col__img">
                            <img src="../static/images/icons/school.png" alt="">
                        </div>
                        <div class="col__text">
                            принимаем
                            международные
                            экзамены
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-3 advantages-col">
                    <div class="col__inner">
                        <div class="col__img">
                            <img src="../static/images/icons/house.png" alt="">
                        </div>
                        <div class="col__text">
                            10 школ по городу минску
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-3 advantages-col">
                    <div class="col__inner">
                        <div class="col__img">
                            <img src="../static/images/icons/methods.png" alt="">
                        </div>
                        <div class="col__text">
                            прогрессивные методики преподования
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section steps-section">
    <div class="container">
        <div class="section__inner">
            <h3 class="section__title">
                Начните учить анлийский язык
                с International House:
            </h3>
            <div class="section__subtitle">
                Для этого нужно сделать всего пару шагов
            </div>
            <div class="section__stepbar">
                <div class="stepbar-elem">
                    <div class="elem-title">
                        01
                    </div>
                    <div class="elem-fragment">
                        <svg class="ellips" width="28" height="29" viewBox="0 0 28 29" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <circle cx="14" cy="14.0205" r="13.5" fill="white" stroke="#FDC600" />
                            <circle cx="14" cy="14.0205" r="8" fill="#FDC600" />
                        </svg>

                        <svg width="363" height="57" viewBox="0 0 363 57" fill="none" xmlns="http://www.w3.org/2000/svg"
                            class="line1">
                            <path
                                d="M1 55.0204C9.6946 56.0204 31.2572 55.8204 47.9509 47.0204C68.8179 36.0204 122.029 0.0204259 181.5 1.02043"
                                stroke="#888888" stroke-width="2" stroke-dasharray="3 2" />
                            <path
                                d="M362 55.0409C353.305 56.0409 331.743 55.8409 315.049 47.0409C294.182 36.0409 240.971 0.0409337 181.5 1.04093"
                                stroke="#888888" stroke-width="2" stroke-dasharray="3 2" />
                        </svg>
                        <svg width="21" height="136" viewBox="0 0 21 136" fill="none" xmlns="http://www.w3.org/2000/svg" class="mobile-line">
<path d="M0.865681 0.999999C0.460711 1.29325 0.460701 1.29324 0.460693 1.29323C0.460691 1.29323 0.460686 1.29322 0.460682 1.29322C0.460676 1.29321 0.460674 1.2932 0.460674 1.29321C0.460676 1.29321 0.460691 1.29323 0.460718 1.29327C0.460775 1.29334 0.460884 1.29349 0.461044 1.29372C0.461369 1.29416 0.461901 1.2949 0.462643 1.29593C0.464128 1.29799 0.466452 1.30122 0.469599 1.3056C0.475893 1.31437 0.485491 1.32778 0.498301 1.34578C0.523918 1.38178 0.562382 1.43616 0.61297 1.50856C0.714148 1.65336 0.863815 1.87025 1.05619 2.15638L1.88607 1.59843C1.69025 1.30717 1.53719 1.08535 1.43269 0.935797C1.38044 0.86102 1.34033 0.804308 1.31308 0.766015C1.29946 0.746869 1.28905 0.732327 1.28195 0.722434C1.2784 0.717487 1.27567 0.713703 1.27379 0.711086C1.27284 0.709777 1.27211 0.708761 1.27159 0.708037C1.27132 0.707675 1.27112 0.707386 1.27096 0.707171C1.27088 0.707063 1.27082 0.706973 1.27077 0.706902C1.27074 0.706867 1.27072 0.706836 1.2707 0.706809C1.27069 0.706796 1.27068 0.70678 1.27067 0.706773C1.27066 0.706758 1.27065 0.706744 0.865681 0.999999ZM2.22924 3.96312C2.56661 4.49902 2.9439 5.1116 3.35371 5.79722L4.21207 5.28417C3.79817 4.5917 3.41683 3.97255 3.07551 3.43036L2.22924 3.96312ZM4.44953 7.67517C4.78444 8.26284 5.13332 8.88775 5.4933 9.54848L6.37143 9.07005C6.00832 8.40358 5.65633 7.7731 5.31834 7.18004L4.44953 7.67517ZM6.50723 11.4513C6.82854 12.0679 7.15596 12.7094 7.48771 13.3751L8.38271 12.929C8.04821 12.2579 7.71806 11.611 7.39405 10.9892L6.50723 11.4513ZM8.43365 15.316C8.73568 15.9499 9.03984 16.6024 9.34487 17.2728L10.2551 16.8587C9.94757 16.1828 9.64093 15.525 9.33642 14.8859L8.43365 15.316ZM10.2214 19.2452C10.5027 19.8934 10.7836 20.5562 11.0633 21.2332L11.9876 20.8514C11.7056 20.1688 11.4223 19.5006 11.1388 18.8472L10.2214 19.2452ZM11.8703 23.2369C12.1298 23.8981 12.3874 24.5713 12.6421 25.2563L13.5794 24.9077C13.3225 24.217 13.0628 23.5382 12.8012 22.8716L11.8703 23.2369ZM13.3776 27.29C13.6127 27.9589 13.8445 28.6379 14.0725 29.3267L15.0219 29.0124C14.7919 28.3178 14.5581 27.633 14.321 26.9585L13.3776 27.29ZM14.7308 31.379C14.9422 32.0595 15.1493 32.7488 15.3516 33.4465L16.3121 33.168C16.108 32.4641 15.899 31.7688 15.6859 31.0824L14.7308 31.379ZM15.9339 35.5288C16.1192 36.217 16.2994 36.9127 16.4741 37.6156L17.4446 37.3745C17.2683 36.6651 17.0864 35.9631 16.8995 35.2688L15.9339 35.5288ZM16.9728 39.7111C17.1313 40.4076 17.2841 41.1108 17.4305 41.8203L18.4099 41.6182C18.2621 40.9019 18.1079 40.1922 17.9479 39.4892L16.9728 39.7111ZM17.8459 43.9426C17.9756 44.6432 18.0988 45.3495 18.2152 46.0614L19.2021 45.9C19.0846 45.1812 18.9601 44.468 18.8292 43.7606L17.8459 43.9426ZM18.5406 48.1925C18.6411 48.9015 18.7346 49.6157 18.8207 50.3348L19.8136 50.2159C19.7267 49.4895 19.6322 48.7682 19.5307 48.0521L18.5406 48.1925ZM19.0531 52.4753C19.1224 53.1864 19.1842 53.9019 19.2381 54.6217L20.2353 54.547C20.1808 53.8197 20.1184 53.0967 20.0484 52.3784L19.0531 52.4753ZM19.3748 56.777C19.4119 57.4901 19.441 58.2072 19.4618 58.928L20.4614 58.8992C20.4404 58.1706 20.4109 57.4458 20.3735 56.7251L19.3748 56.777ZM19.4987 61.0817C19.5026 61.7982 19.498 62.5182 19.4846 63.2415L20.4844 63.26C20.498 62.5287 20.5026 61.8007 20.4987 61.0763L19.4987 61.0817ZM19.4191 65.3911C19.4038 65.7508 19.3863 66.1114 19.3665 66.4726L20.365 66.5274C20.385 66.162 20.4027 65.7974 20.4182 65.4336L19.4191 65.3911ZM19.3665 66.4726C19.3461 66.8446 19.3241 67.216 19.3007 67.587L20.2987 67.6501C20.3223 67.2764 20.3444 66.9021 20.365 66.5274L19.3665 66.4726ZM19.1417 69.8067C19.0824 70.5498 19.0172 71.2906 18.9462 72.0289L19.9417 72.1245C20.0131 71.3809 20.0788 70.6348 20.1386 69.8863L19.1417 69.8067ZM18.7158 74.2452C18.6331 74.9847 18.5449 75.7214 18.4516 76.4552L19.4436 76.5814C19.5376 75.8427 19.6263 75.1009 19.7096 74.3564L18.7158 74.2452ZM18.1534 78.6672C18.0484 79.4054 17.9383 80.1403 17.8235 80.8715L18.8114 81.0267C18.9269 80.2907 19.0377 79.5511 19.1435 78.8081L18.1534 78.6672ZM17.4628 83.0671C17.3365 83.8041 17.2055 84.5372 17.0703 85.266L18.0535 85.4485C18.1895 84.7153 18.3213 83.9777 18.4485 83.236L17.4628 83.0671ZM16.6486 87.4559C16.5027 88.1872 16.3528 88.9139 16.199 89.6356L17.1771 89.8439C17.3317 89.1181 17.4826 88.3872 17.6293 87.6515L16.6486 87.4559ZM15.7198 91.816C15.5544 92.5463 15.3854 93.2711 15.2131 93.9901L16.1856 94.2231C16.3588 93.5002 16.5288 92.7713 16.6951 92.0368L15.7198 91.816ZM14.6807 96.1535C14.4976 96.8784 14.3114 97.5967 14.1226 98.3082L15.0891 98.5647C15.279 97.8494 15.4661 97.1272 15.6502 96.3984L14.6807 96.1535ZM13.5363 100.466C13.3351 101.19 13.1314 101.905 12.9258 102.613L13.886 102.892C14.0928 102.181 14.2975 101.461 14.4997 100.734L13.5363 100.466ZM12.2917 104.749C12.0742 105.467 11.855 106.176 11.6347 106.875L12.5884 107.175C12.8099 106.473 13.0302 105.761 13.2487 105.039L12.2917 104.749ZM10.951 109.001C10.7158 109.72 10.4798 110.426 10.2435 111.121L11.1903 111.443C11.4277 110.745 11.6649 110.034 11.9013 109.313L10.951 109.001ZM9.51342 113.232C9.26188 113.946 9.01078 114.646 8.76081 115.332L9.70035 115.675C9.95154 114.985 10.2039 114.282 10.4566 113.564L9.51342 113.232ZM7.98555 117.424C7.717 118.136 7.45065 118.831 7.18741 119.507L8.11923 119.87C8.38378 119.19 8.65144 118.492 8.9213 117.776L7.98555 117.424ZM6.36605 121.582C6.07896 122.295 5.79698 122.984 5.52138 123.648L6.44483 124.031C6.72185 123.365 7.00526 122.672 7.29379 121.955L6.36605 121.582ZM4.65406 125.701C4.34687 126.417 4.05047 127.095 3.76695 127.734L4.68101 128.14C4.96613 127.497 5.26415 126.815 5.57298 126.096L4.65406 125.701ZM2.84305 129.78C2.49808 130.531 2.18196 131.203 1.90011 131.793L2.8024 132.224C3.08632 131.63 3.40454 130.953 3.75165 130.198L2.84305 129.78ZM0.919836 133.797C0.759483 134.117 0.635132 134.36 0.551077 134.522C0.509048 134.603 0.477096 134.665 0.455759 134.705C0.445089 134.726 0.437073 134.741 0.431776 134.751C0.429129 134.756 0.42716 134.76 0.42588 134.762C0.425241 134.763 0.424774 134.764 0.42448 134.765C0.424332 134.765 0.424229 134.765 0.424168 134.765C0.424137 134.765 0.424118 134.765 0.42411 134.765C0.424106 134.765 0.424105 134.765 0.424105 134.765C0.424106 134.765 0.424108 134.765 0.424108 134.765C0.424112 134.765 0.424118 134.765 0.865675 135C1.30723 135.235 1.30724 135.235 1.30725 135.235C1.30725 135.235 1.30725 135.235 1.30726 135.235C1.30727 135.234 1.30729 135.234 1.3073 135.234C1.30734 135.234 1.30739 135.234 1.30744 135.234C1.30756 135.234 1.30771 135.234 1.30791 135.233C1.30832 135.233 1.30889 135.231 1.30964 135.23C1.31113 135.227 1.31331 135.223 1.31617 135.218C1.3219 135.207 1.33034 135.191 1.34144 135.17C1.36365 135.127 1.39647 135.064 1.43937 134.981C1.52519 134.815 1.65133 134.569 1.8135 134.246L0.919836 133.797Z" fill="#003A78"/>
</svg>

                    </div>
                    <div class="elem-desc">
                        Пройди предварительное
                        тестирование
                    </div>
                </div>
                <div class="stepbar-elem">
                    <div class="elem-title">
                        02
                    </div>
                    <div class="elem-fragment">
                        <svg class="ellips" width="28" height="29" viewBox="0 0 28 29" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <circle cx="14" cy="14.0205" r="13.5" fill="white" stroke="#FDC600" />
                            <circle cx="14" cy="14.0205" r="8" fill="#FDC600" />
                        </svg>

                        <svg width="363" height="57" viewBox="0 0 363 57" fill="none" xmlns="http://www.w3.org/2000/svg"
                            class="line1">
                            <path
                                d="M1 55.0204C9.6946 56.0204 31.2572 55.8204 47.9509 47.0204C68.8179 36.0204 122.029 0.0204259 181.5 1.02043"
                                stroke="#888888" stroke-width="2" stroke-dasharray="3 2" />
                            <path
                                d="M362 55.0409C353.305 56.0409 331.743 55.8409 315.049 47.0409C294.182 36.0409 240.971 0.0409337 181.5 1.04093"
                                stroke="#888888" stroke-width="2" stroke-dasharray="3 2" />
                        </svg>

                                             <svg width="21" height="136" viewBox="0 0 21 136" fill="none" xmlns="http://www.w3.org/2000/svg" class="mobile-line">
<path d="M0.865681 0.999999C0.460711 1.29325 0.460701 1.29324 0.460693 1.29323C0.460691 1.29323 0.460686 1.29322 0.460682 1.29322C0.460676 1.29321 0.460674 1.2932 0.460674 1.29321C0.460676 1.29321 0.460691 1.29323 0.460718 1.29327C0.460775 1.29334 0.460884 1.29349 0.461044 1.29372C0.461369 1.29416 0.461901 1.2949 0.462643 1.29593C0.464128 1.29799 0.466452 1.30122 0.469599 1.3056C0.475893 1.31437 0.485491 1.32778 0.498301 1.34578C0.523918 1.38178 0.562382 1.43616 0.61297 1.50856C0.714148 1.65336 0.863815 1.87025 1.05619 2.15638L1.88607 1.59843C1.69025 1.30717 1.53719 1.08535 1.43269 0.935797C1.38044 0.86102 1.34033 0.804308 1.31308 0.766015C1.29946 0.746869 1.28905 0.732327 1.28195 0.722434C1.2784 0.717487 1.27567 0.713703 1.27379 0.711086C1.27284 0.709777 1.27211 0.708761 1.27159 0.708037C1.27132 0.707675 1.27112 0.707386 1.27096 0.707171C1.27088 0.707063 1.27082 0.706973 1.27077 0.706902C1.27074 0.706867 1.27072 0.706836 1.2707 0.706809C1.27069 0.706796 1.27068 0.70678 1.27067 0.706773C1.27066 0.706758 1.27065 0.706744 0.865681 0.999999ZM2.22924 3.96312C2.56661 4.49902 2.9439 5.1116 3.35371 5.79722L4.21207 5.28417C3.79817 4.5917 3.41683 3.97255 3.07551 3.43036L2.22924 3.96312ZM4.44953 7.67517C4.78444 8.26284 5.13332 8.88775 5.4933 9.54848L6.37143 9.07005C6.00832 8.40358 5.65633 7.7731 5.31834 7.18004L4.44953 7.67517ZM6.50723 11.4513C6.82854 12.0679 7.15596 12.7094 7.48771 13.3751L8.38271 12.929C8.04821 12.2579 7.71806 11.611 7.39405 10.9892L6.50723 11.4513ZM8.43365 15.316C8.73568 15.9499 9.03984 16.6024 9.34487 17.2728L10.2551 16.8587C9.94757 16.1828 9.64093 15.525 9.33642 14.8859L8.43365 15.316ZM10.2214 19.2452C10.5027 19.8934 10.7836 20.5562 11.0633 21.2332L11.9876 20.8514C11.7056 20.1688 11.4223 19.5006 11.1388 18.8472L10.2214 19.2452ZM11.8703 23.2369C12.1298 23.8981 12.3874 24.5713 12.6421 25.2563L13.5794 24.9077C13.3225 24.217 13.0628 23.5382 12.8012 22.8716L11.8703 23.2369ZM13.3776 27.29C13.6127 27.9589 13.8445 28.6379 14.0725 29.3267L15.0219 29.0124C14.7919 28.3178 14.5581 27.633 14.321 26.9585L13.3776 27.29ZM14.7308 31.379C14.9422 32.0595 15.1493 32.7488 15.3516 33.4465L16.3121 33.168C16.108 32.4641 15.899 31.7688 15.6859 31.0824L14.7308 31.379ZM15.9339 35.5288C16.1192 36.217 16.2994 36.9127 16.4741 37.6156L17.4446 37.3745C17.2683 36.6651 17.0864 35.9631 16.8995 35.2688L15.9339 35.5288ZM16.9728 39.7111C17.1313 40.4076 17.2841 41.1108 17.4305 41.8203L18.4099 41.6182C18.2621 40.9019 18.1079 40.1922 17.9479 39.4892L16.9728 39.7111ZM17.8459 43.9426C17.9756 44.6432 18.0988 45.3495 18.2152 46.0614L19.2021 45.9C19.0846 45.1812 18.9601 44.468 18.8292 43.7606L17.8459 43.9426ZM18.5406 48.1925C18.6411 48.9015 18.7346 49.6157 18.8207 50.3348L19.8136 50.2159C19.7267 49.4895 19.6322 48.7682 19.5307 48.0521L18.5406 48.1925ZM19.0531 52.4753C19.1224 53.1864 19.1842 53.9019 19.2381 54.6217L20.2353 54.547C20.1808 53.8197 20.1184 53.0967 20.0484 52.3784L19.0531 52.4753ZM19.3748 56.777C19.4119 57.4901 19.441 58.2072 19.4618 58.928L20.4614 58.8992C20.4404 58.1706 20.4109 57.4458 20.3735 56.7251L19.3748 56.777ZM19.4987 61.0817C19.5026 61.7982 19.498 62.5182 19.4846 63.2415L20.4844 63.26C20.498 62.5287 20.5026 61.8007 20.4987 61.0763L19.4987 61.0817ZM19.4191 65.3911C19.4038 65.7508 19.3863 66.1114 19.3665 66.4726L20.365 66.5274C20.385 66.162 20.4027 65.7974 20.4182 65.4336L19.4191 65.3911ZM19.3665 66.4726C19.3461 66.8446 19.3241 67.216 19.3007 67.587L20.2987 67.6501C20.3223 67.2764 20.3444 66.9021 20.365 66.5274L19.3665 66.4726ZM19.1417 69.8067C19.0824 70.5498 19.0172 71.2906 18.9462 72.0289L19.9417 72.1245C20.0131 71.3809 20.0788 70.6348 20.1386 69.8863L19.1417 69.8067ZM18.7158 74.2452C18.6331 74.9847 18.5449 75.7214 18.4516 76.4552L19.4436 76.5814C19.5376 75.8427 19.6263 75.1009 19.7096 74.3564L18.7158 74.2452ZM18.1534 78.6672C18.0484 79.4054 17.9383 80.1403 17.8235 80.8715L18.8114 81.0267C18.9269 80.2907 19.0377 79.5511 19.1435 78.8081L18.1534 78.6672ZM17.4628 83.0671C17.3365 83.8041 17.2055 84.5372 17.0703 85.266L18.0535 85.4485C18.1895 84.7153 18.3213 83.9777 18.4485 83.236L17.4628 83.0671ZM16.6486 87.4559C16.5027 88.1872 16.3528 88.9139 16.199 89.6356L17.1771 89.8439C17.3317 89.1181 17.4826 88.3872 17.6293 87.6515L16.6486 87.4559ZM15.7198 91.816C15.5544 92.5463 15.3854 93.2711 15.2131 93.9901L16.1856 94.2231C16.3588 93.5002 16.5288 92.7713 16.6951 92.0368L15.7198 91.816ZM14.6807 96.1535C14.4976 96.8784 14.3114 97.5967 14.1226 98.3082L15.0891 98.5647C15.279 97.8494 15.4661 97.1272 15.6502 96.3984L14.6807 96.1535ZM13.5363 100.466C13.3351 101.19 13.1314 101.905 12.9258 102.613L13.886 102.892C14.0928 102.181 14.2975 101.461 14.4997 100.734L13.5363 100.466ZM12.2917 104.749C12.0742 105.467 11.855 106.176 11.6347 106.875L12.5884 107.175C12.8099 106.473 13.0302 105.761 13.2487 105.039L12.2917 104.749ZM10.951 109.001C10.7158 109.72 10.4798 110.426 10.2435 111.121L11.1903 111.443C11.4277 110.745 11.6649 110.034 11.9013 109.313L10.951 109.001ZM9.51342 113.232C9.26188 113.946 9.01078 114.646 8.76081 115.332L9.70035 115.675C9.95154 114.985 10.2039 114.282 10.4566 113.564L9.51342 113.232ZM7.98555 117.424C7.717 118.136 7.45065 118.831 7.18741 119.507L8.11923 119.87C8.38378 119.19 8.65144 118.492 8.9213 117.776L7.98555 117.424ZM6.36605 121.582C6.07896 122.295 5.79698 122.984 5.52138 123.648L6.44483 124.031C6.72185 123.365 7.00526 122.672 7.29379 121.955L6.36605 121.582ZM4.65406 125.701C4.34687 126.417 4.05047 127.095 3.76695 127.734L4.68101 128.14C4.96613 127.497 5.26415 126.815 5.57298 126.096L4.65406 125.701ZM2.84305 129.78C2.49808 130.531 2.18196 131.203 1.90011 131.793L2.8024 132.224C3.08632 131.63 3.40454 130.953 3.75165 130.198L2.84305 129.78ZM0.919836 133.797C0.759483 134.117 0.635132 134.36 0.551077 134.522C0.509048 134.603 0.477096 134.665 0.455759 134.705C0.445089 134.726 0.437073 134.741 0.431776 134.751C0.429129 134.756 0.42716 134.76 0.42588 134.762C0.425241 134.763 0.424774 134.764 0.42448 134.765C0.424332 134.765 0.424229 134.765 0.424168 134.765C0.424137 134.765 0.424118 134.765 0.42411 134.765C0.424106 134.765 0.424105 134.765 0.424105 134.765C0.424106 134.765 0.424108 134.765 0.424108 134.765C0.424112 134.765 0.424118 134.765 0.865675 135C1.30723 135.235 1.30724 135.235 1.30725 135.235C1.30725 135.235 1.30725 135.235 1.30726 135.235C1.30727 135.234 1.30729 135.234 1.3073 135.234C1.30734 135.234 1.30739 135.234 1.30744 135.234C1.30756 135.234 1.30771 135.234 1.30791 135.233C1.30832 135.233 1.30889 135.231 1.30964 135.23C1.31113 135.227 1.31331 135.223 1.31617 135.218C1.3219 135.207 1.33034 135.191 1.34144 135.17C1.36365 135.127 1.39647 135.064 1.43937 134.981C1.52519 134.815 1.65133 134.569 1.8135 134.246L0.919836 133.797Z" fill="#003A78"/>
</svg>

                    </div>
                    <div class="elem-desc">
                        Записаться на собеседование по итогам тестирования
                    </div>
                </div>
                <div class="stepbar-elem">
                    <div class="elem-title">
                        03
                    </div>
                    <div class="elem-fragment">
                        <svg class="ellips" width="28" height="29" viewBox="0 0 28 29" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <circle cx="14" cy="14.0205" r="13.5" fill="white" stroke="#FDC600" />
                            <circle cx="14" cy="14.0205" r="8" fill="#FDC600" />
                        </svg>
                    </div>
                    <div class="elem-desc">
                        Начать занятие английского языка
                        в школе IH
                    </div>
                </div>
            </div>
            <a href="" class="btn secondary-btn">Начать тестирование</a>
        </div>
    </div>
</section>
</div>
{{> layout/footer}}