{{!Курс3}}

{{> layout/header}}
<div class="content course-three-page">
    <div class="breadcrumbs-wrapper">
        <div class="container">
            <ul class="breadcrumbs">
                <li class="breadcrumbs__item">
                    <a href="" class="breadcrumbs__link">Главная</a>
                </li>
                <li class="breadcrumbs__item">
                    <a href="" class="breadcrumbs__link">Курсы</a>
                </li>
                <li class="breadcrumbs__item">
                    <a href="" class="breadcrumbs__link">Курсы английского языка для взрослых</a>
                </li>
            </ul>
        </div>
    </div>



    <div class="page__title">
        <div class="container">
            <h2 class="title">
                Общий английский для взрослых
            </h2>
        </div>
    </div>
    <div class="page__banner" style="background-image:url('../static/images/course-banner.png')">
        <div class="container">
            <div class="banner-info">
                <div class="banner-info__title">
                      Запишись <br> на бесплатное пробное занятие
                </div>
                <div class="banner-info__subtitle">
                    Которое поможет понять материал
                </div>
                <a href="" class="btn primary-btn white-color">Подробнее</a>
            </div>
        </div>
    </div>
    <section class="section purpose-course-section">
        <div class="container">
            <div class="section__inner">
                <div class="section__left">
                    <img src="../static/images/image_text.png" alt="">
                </div>
                <div class="section__right">
                    <div class="section__title">
                        Цель курса
                    </div>
                    <div class="section__subtitle">
                        Развитие навыков свободного
                        общения на английском.
                    </div>
                    <div class="section__text">
                        <p>
                            На занятиях происходит изучение грамматики, лексики, развиваются навыки аудирования, чтения
                            и письма в формате активного общения в группе на английском языке. С каждым уроком вы будете
                            лучше
                            и лучше говорить на английском языке.


                        </p>
                        <p>
                            На занятиях используется коммуникативная методика, которая является передовой
                            в мире в области преподавания иностранных языков. Эффективность методики подтверждается
                            неизменно высокими результатами обучения в нашей школе.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="banner" style="background-image:url('../static/images/blok_attention.png')">
        <div class="container">
            <div class="banner-info">

                <div class="banner-info__title">
                    В International House
                </div>
                <div class="banner-info__subtitle">
                    вы можете прийти с <span class="yellow-text">любым уровнем</span> владения английским языком
                </div>

            </div>
        </div>
    </div>
    <section class="section level-education-section">
        <div class="container">
            <div class="section__inner">
                <div class="section__top">
                    <div class="yellow-text">
                        Мы предлагаем
                    </div>
                    <h3 class="section__title">
                        9 уровней обучения:
                    </h3>
                    <div class="section__subtitle">
                        Каждый уровень разделен на 3-4 семестра.
                        В течение учебного года вы можете посещать
                        занятия 2 раза в неделю.
                    </div>
                </div>
                <div class="section__bottom">
                    <div class="level-education-block">
                        <div class="row">
                            <div class="col-4 level-education__col">
                                <div class="col__inner">
                                    <div class="col__title">
                                        Beginner
                                    </div>
                                    <div class="col__level">
                                        <svg width="291" height="7" viewBox="0 0 291 7" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <rect width="291" height="7" rx="3.5" fill="#EBEBEB" />
                                            <rect width="45" height="7" rx="3.5" fill="#FDC600" />
                                        </svg>


                                    </div>
                                    <div class="col__text">
                                        <p>Для тех, кто никогда не изучал английский язык или ничего не может сказать на
                                            английском языке.</p>
                                        <p class="gray-text">(1 семестр)</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 level-education__col">
                                <div class="col__inner">
                                    <div class="col__title">
                                        Elementary
                                    </div>
                                    <div class="col__level">
                                        <svg width="291" height="7" viewBox="0 0 291 7" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <rect width="291" height="7" rx="3.5" fill="#EBEBEB" />
                                            <rect width="68.0564" height="7" rx="3.5" fill="#FDC600" />
                                        </svg>


                                    </div>
                                    <div class="col__text">
                                        <p>Для тех, кто изучал английский ранее и может ответить на простые вопросы. К
                                            концу уровня вы можете общаться на базовом уровне
                                            на бытовые темы.</p>
                                        <p class="gray-text">(3 семестрa)</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 level-education__col">
                                <div class="col__inner">
                                    <div class="col__title">
                                        Pre-intermediate
                                    </div>
                                    <div class="col__level">
                                        <svg width="291" height="7" viewBox="0 0 291 7" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <rect width="291" height="7" rx="3.5" fill="#EBEBEB" />
                                            <rect width="88" height="7" rx="3.5" fill="#FDC600" />
                                        </svg>



                                    </div>
                                    <div class="col__text">
                                        <p>Для тех, кто может общаться в повседневных ситуациях. К концу подуровня вы
                                            сможете строить функциональное общение
                                            в знакомых ситуациях.</p>
                                        <p class="gray-text">(3 семестра)</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 level-education__col">
                                <div class="col__inner">
                                    <div class="col__title">
                                        Intermediate
                                    </div>
                                    <div class="col__level">
                                        <svg width="291" height="7" viewBox="0 0 291 7" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <rect width="291" height="7" rx="3.5" fill="#EBEBEB" />
                                            <rect width="112" height="7" rx="3.5" fill="#FDC600" />
                                        </svg>



                                    </div>
                                    <div class="col__text">
                                        <p>Для тех, кто правильно и уверенно общается
                                            в повседневных ситуациях. К концу уровня Вы сможете развернуто общаться
                                            на среднем уровне.</p>
                                        <p class="gray-text">(3 семестра)</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 level-education__col">
                                <div class="col__inner">
                                    <div class="col__title">
                                        Mid- intermediate
                                    </div>
                                    <div class="col__level">
                                        <svg width="291" height="7" viewBox="0 0 291 7" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <rect width="291" height="7" rx="3.5" fill="#EBEBEB" />
                                            <rect width="165" height="7" rx="3.5" fill="#FDC600" />
                                        </svg>


                                    </div>
                                    <div class="col__text">
                                        <p>В течение данных подуровней интенсивно развивается речь и увеличивается
                                            словарный запас на основе известной грамматики.</p>
                                        <p class="gray-text">(3 семестра)</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 level-education__col">
                                <div class="col__inner">
                                    <div class="col__title">
                                        Upper-intermediate
                                    </div>
                                    <div class="col__level">
                                        <svg width="291" height="7" viewBox="0 0 291 7" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <rect width="291" height="7" rx="3.5" fill="#EBEBEB" />
                                            <rect width="184" height="7" rx="3.5" fill="#FDC600" />
                                        </svg>



                                    </div>
                                    <div class="col__text">
                                        <p>Учащиеся свободно могут выражать свои
                                            идеи и мысли, слушать музыку, смотреть
                                            кино в оригинале, читать книги
                                            на английском языке.</p>
                                        <p class="gray-text">(3 семестра)</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 level-education__col">
                                <div class="col__inner">
                                    <div class="col__title">
                                        Pre-advanced
                                    </div>
                                    <div class="col__level">
                                        <svg width="291" height="7" viewBox="0 0 291 7" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <rect width="291" height="7" rx="3.5" fill="#EBEBEB" />
                                            <rect width="208" height="7" rx="3.5" fill="#FDC600" />
                                        </svg>



                                    </div>
                                    <div class="col__text">
                                        <p>На этом уровне закрепляется предыдущий уровень. Учащиеся владеют языком гибко
                                            и эффективно в разных социальных
                                            и профессиональных сферах.</p>
                                        <p class="gray-text">(3 семестра)</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 level-education__col">
                                <div class="col__inner">
                                    <div class="col__title">
                                        Advanced
                                    </div>
                                    <div class="col__level">
                                        <svg width="291" height="7" viewBox="0 0 291 7" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <rect width="291" height="7" rx="3.5" fill="#EBEBEB" />
                                            <rect width="254" height="7" rx="3.5" fill="#FDC600" />
                                        </svg>



                                    </div>
                                    <div class="col__text">
                                        <p>Для тех, кто может уверенно выражать мнения и чувства на иностранном языке,
                                            осуществляя адекватный выбор лексических
                                            и грамматических средств выражения.</p>
                                        <p class="gray-text">(3 семестра)</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 level-education__col">
                                <div class="col__inner">
                                    <div class="col__title">
                                        Upper-advanced
                                    </div>
                                    <div class="col__level">
                                        <svg width="291" height="7" viewBox="0 0 291 7" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <rect width="291" height="7" rx="3.5" fill="#EBEBEB" />
                                            <rect width="265" height="7" rx="3.5" fill="#FDC600" />
                                        </svg>



                                    </div>
                                    <div class="col__text">
                                        <p>Учащиеся этого уровня с лёгкостью могут описать тонкие нюансы многих явлений,
                                            свободно понимают специализированную литературу.</p>
                                        <p class="gray-text">(3 семестра)</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="subtext">
                        <p>
                            Также у нас вы можете пройти подготовку к <b>международным экзаменам</b>
                            по английскому языку
                        </p>
                        <p>
                            (PET, FCE, CAE, CPE, BEC, IELTS)
                        </p>
                        <p><a href="" class="link yellow-link">Подробнее <svg width="16" height="14" viewBox="0 0 16 14"
                                    fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M9.13827 0.142822L16 6.99994L9.14056 13.8571L8.33257 13.0514L13.8126 7.57138H0V6.42854H13.8126L8.33028 0.946242L9.13827 0.142822Z"
                                        fill="#FDC600" />
                                </svg>
                            </a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="quote">
        <div class="container">
            <div class="quote__inner">
                <div class="quote__field">


                    <span class="text">
                        <svg width="58" height="46" viewBox="0 0 58 46" fill="none" xmlns="http://www.w3.org/2000/svg"
                            class="element">
                            <path
                                d="M21.249 45.1328H0.667969V30.4111C0.667969 24.4541 1.18066 19.7666 2.20605 16.3486C3.28027 12.8818 5.2334 9.78125 8.06543 7.04688C10.8975 4.3125 14.5107 2.16406 18.9053 0.601562L22.9336 9.09766C18.832 10.4648 15.8779 12.3691 14.0713 14.8105C12.3135 17.252 11.3857 20.499 11.2881 24.5518H21.249V45.1328ZM55.5996 45.1328H35.0186V30.4111C35.0186 24.4053 35.5312 19.6934 36.5566 16.2754C37.6309 12.8574 39.584 9.78125 42.416 7.04688C45.2969 4.3125 48.9102 2.16406 53.2559 0.601562L57.2842 9.09766C53.1826 10.4648 50.2285 12.3691 48.4219 14.8105C46.6641 17.252 45.7363 20.499 45.6387 24.5518H55.5996V45.1328Z"
                                fill="#003A78" fill-opacity="0.25" />
                        </svg>
                        Поспешите стать слушателями международной школы английского языка International House, и мы
                        научим вас говорить и думать по-английски!
                    </span>
                </div>
            </div>
        </div>
    </div>
    <section class="section course-description-section">
        <div class="container">
            <div class="section__inner">
                <h3 class="section__title">
                    Базовые курсы
                    английского языка
                </h3>
                <div class="section__block block-info">
                    <div class="block-info__elem">
                        <div class="elem-left">
                            <div class="text">
                                <p class="title">
                                    Хотите начать изучение с нуля?
                                </p>
                                <p>Для тех, кто никогда раньше не изучал английский
                                    язык, мы предлагаем возможность с удовольствием приступить к обучению вместе с
                                    International House
                                    в группах английского для начинающих.

                                </p>
                                <p>В отличие от других школ начальный курс изучения английского языка у нас занимает
                                    всего один семестр
                                    (3 месяца), а в летнее время мы предлагаем интенсивный курс, который длится 5
                                    недель.
                                    Мы уверены, что даже за такой короткий срок
                                    слушатель может значительно продвинуться
                                    в своих знаниях и увидеть реальные
                                    результаты учебы.</p>
                            </div>
                        </div>
                        <div class="elem-right">
                            <div class="img">
                                <img src="../static/images/image_course2.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="block-info__elem">
                        <div class="elem-left">
                            <div class="img">
                                <img src="../static/images/image_course3.png" alt="">
                            </div>

                        </div>
                        <div class="elem-right">
                            <div class="text">
                                <p class="title">
                                    Практические навыки прежде всего </p>
                                <p>В течение курса слушатели не только получают базовые знания алфавита, правил чтения и
                                    произношения, но и приобретают практические навыки говорения в реальных ситуациях. К
                                    концу курса наш учащийся довольно уверенно может представиться, поддержать
                                    непродолжительную беседу, как со знакомым, так и с незнакомым собеседником,
                                    рассказать о себе, своих интересах, профессии, семье, распорядке дня и т.д. Кроме
                                    того наш слушатель научится ориентироваться в основных социальных ситуациях: в кафе
                                    или ресторане, в магазине, на почте.



                                </p>
                                <p>С первых занятий слушателям предлагается полное погружение в языковую среду, т.к.
                                    уроки проходят исключительно на английском языке. Но не стоит этого пугаться, потому
                                    что многолетний опыт работы школы показывает эффективность такого подхода. Кроме
                                    того, профессионализм и доброжелательность наших преподавателей создают комфортную и
                                    непринужденную обстановку на занятиях.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section__block set-course-block">
                    <div class="section__title">
                        Ближайший набор в группы
                    </div>
                    <div class="block-info set">
                        <p><b>Начало набора:</b><span> 17 февраля.</span></p>
                        <p><b>Начало семестра:</b><span> 2 марта 2020.</span></p>
                    </div>
                    <div class="block-info classes-info">
                        <div class="title">Занятия проходят:</div>
                        <ul class="classes-info__list">
                            <li class="list-item">
                                <span>2 раза в неделю

                                </span>
                            </li>
                            <li class="list-item">
                                <span>
                                    80 минут (2 ак. часа)
                                </span>
                            </li>
                            <li class="list-item">
                                <b>
                                    утро:
                                </b>
                                <span>

                                    8.00 или 9.30
                                </span>
                            </li>
                            <li class="list-item">
                                <b>
                                    вечер:
                                </b>
                                <span>
                                    18.10 или 19.40
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="block-info studies-info">
                        <ul class="studies-info__list">
                            <li class="list-item">
                                <div class="list-item__left">
Начало семестра
                                </div>
                                <div class="list-item__right">
2 марта 2020
                                </div>
                            </li>
                                <li class="list-item blue">
                                <div class="list-item__left">
Окончание семестра
                                </div>
                                <div class="list-item__right">
31 мая 2020
                                </div>
                            </li>
                                <li class="list-item">
                                <div class="list-item__left">
Кол-во ав. часов в курсе
                                </div>
                                <div class="list-item__right">
48
                                </div>
                            </li>
                                <li class="list-item blue">
                                <div class="list-item__left">
Стоимость
                                </div>
                                <div class="list-item__right">
408 BYN
                                </div>
                            </li>
                        </ul>
                    </div>
                     <div class="block-info sales-info">
                  <div class="sales-info__inner">
                        <div class="title">
                        Система скидок:
                    </div>
                    <div class="text">
                        В 2014 году мы разработали гибкую систему скидок для наших постоянных клиентов, которые продолжают обучаться в нашей школе, приходят на обучение всей семьей или же являются детьми из многодетных семей.
                    </div>
                    <div class="link-field">
                        <a href="" class="link yellow-link">Подробнее <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M9.13827 0.142822L16 6.99994L9.14056 13.8571L8.33257 13.0514L13.8126 7.57138H0V6.42854H13.8126L8.33028 0.946242L9.13827 0.142822Z" fill="#FDC600"/>
</svg>
</a>
                    </div>
                  </div>
                </div>
                </div>
               <div class="section__slider">
                   <div class="slider level-education-slider">
                       <div class="slider__item">
                        <div class="slider__item-title">
                            Уровень владения и курсы 
английского языка для Elementary
                        </div>
                        <div class="slider__item-text">
                            Уровень владения английским Elementary предполагает, что слушатель знает буквы, звуки и их сочетания - имеет базовый уровень английского. На начальном этапе ступени слушатели могут представиться, задать несколько простых вопросов и коротко рассказать 
о себе.
                        </div>
                        <div class="slider__item-list">
                            <div class="list-title">
                                Рекомендуем начать со ступени Elementary, если вы:
                            </div>
                            <ul class="list-info">
                                <li class="list-item">
                                    завершили этап Beginner с преподавателем или на курсах;
                                </li>
                                <li class="list-item">
                                    некоторое время изучали язык в школе и немного ориентируетесь в грамматике языка; 
                                </li>
                                <li class="list-item">
                                    владеете базовыми знаниями, но не воспринимаете на слух разговорную речь;
                                </li>
                                <li class="list-item">
                                    не говорите на английском, но понимаете простую грамматику.
                                </li>

                            </ul>
                        </div>
                        <div class="slider__item-text">
                            Курсы языка уровня Elementary позволят вам расширить словарный запас и свободно общаться на бытовые темы.
                        </div>
                       </div>
                        <div class="slider__item">
                        <div class="slider__item-title">
                            Уровень владения и курсы 
английского языка для Elementary
                        </div>
                        <div class="slider__item-text">
                            Уровень владения английским Elementary предполагает, что слушатель знает буквы, звуки и их сочетания - имеет базовый уровень английского. На начальном этапе ступени слушатели могут представиться, задать несколько простых вопросов и коротко рассказать 
о себе.
                        </div>
                        <div class="slider__item-list">
                            <div class="list-title">
                                Рекомендуем начать со ступени Elementary, если вы:
                            </div>
                            <ul class="list-info">
                                <li class="list-item">
                                    завершили этап Beginner с преподавателем или на курсах;
                                </li>
                                <li class="list-item">
                                    некоторое время изучали язык в школе и немного ориентируетесь в грамматике языка; 
                                </li>
                                <li class="list-item">
                                    владеете базовыми знаниями, но не воспринимаете на слух разговорную речь;
                                </li>
                                <li class="list-item">
                                    не говорите на английском, но понимаете простую грамматику.
                                </li>

                            </ul>
                        </div>
                        <div class="slider__item-text">
                            Курсы языка уровня Elementary позволят вам расширить словарный запас и свободно общаться на бытовые темы.
                        </div>
                       </div>
                   </div>
               </div>
            </div>
        </div>
    </section>
        <section class="section advantages-section">
    <div class="container">
        <div class="section__inner">
            <div class="row advantages-row">
                <div class="col-3 advantages-col">
                    <div class="col__inner">
                        <div class="col__img">
                            <img src="../static/images/icons/surface1.png" alt="">
                        </div>
                        <div class="col__text">
                            более 60 лет обучаем английскому
                        </div>
                    </div>
                </div>
                <div class="col-3 advantages-col">
                    <div class="col__inner">
                        <div class="col__img">
                            <img src="../static/images/icons/school.png" alt="">
                        </div>
                        <div class="col__text">
                            принимаем
                            международные
                            экзамены
                        </div>
                    </div>
                </div>
                <div class="col-3 advantages-col">
                    <div class="col__inner">
                        <div class="col__img">
                            <img src="../static/images/icons/house.png" alt="">
                        </div>
                        <div class="col__text">
                            10 школ по городу минску
                        </div>
                    </div>
                </div>
                <div class="col-3 advantages-col">
                    <div class="col__inner">
                        <div class="col__img">
                            <img src="../static/images/icons/methods.png" alt="">
                        </div>
                        <div class="col__text">
                            прогрессивные методики преподования
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section question-section">
    <div class="container">
        <div class="section__inner">
            <h3 class="section__title">
                Остались вопросы?
            </h3>
            <div class="section__subtitle">
                Мы с радостью на них ответим
            </div>
            <a href="" class="btn primary-btn white-color">Заказать звонок</a>
        </div>
    </div>
</section>
</div>
{{> layout/footer}}