{{!Главная страница}}

{{> layout/header}}
<div class="content homepage">
    <div class="main-slider-wrapper">
    <div class="slider main-slider">

        <div class="slider__item" style="background-image:url('../static/images/banner.png')">

            <div class="slider__item-info">
                <div class="container">
                    <div class="info__inner">
                        <div class="title">Запишись на бесплатное пробное занятие</div>
                        <div class="subtitle">Которое поможет понять материал</div>
                        <a href="" class="btn primary-btn">Подробнее</a>
                    </div>
                    <div class="slider__counter"></div>
                </div>
            </div>
        </div>
        <div class="slider__item" style="background-image:url('../static/images/banner.png')">

            <div class="slider__item-info">
                <div class="container">
                    <div class="info__inner">
                        <div class="title">Запишись на бесплатное пробное занятие</div>
                        <div class="subtitle">Которое поможет понять материал</div>
                        <a href="" class="btn primary-btn">Подробнее</a>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<section class="section card-section">
    <div class="container">
        <div class="section__inner">
            <h3 class="section__title">
                Английский язык для решения
                любых задач и целей
            </h3>
            <div class="card-field">
                <div class="row card-row">
                    <a href='' class="col-3 card-col">
                        <div class="col__inner">
                            <div class="col-img">
                                <img src="../static/images/kids.png" alt="">
                            </div>
                            <div class="col-info">
                                <div class="col-info__title">
                                    Детям
                                </div>
                                <div class="col-info__text">
                                    Поможем подготовится
                                    к ОГЭ и ЕГЭ, лучше усвоить школьную программу.
                                </div>
                            </div>
                            <div class="card-elem">
                                <svg width="78" height="77" viewBox="0 0 78 77" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M10.7445 77.0057C5.22163 77.0023 0.68023 72.5036 1.40161 67.0281C2.2822 60.3441 4.04214 53.7897 6.64703 47.5365C10.5376 38.1968 16.237 29.7119 23.4197 22.5663C30.6023 15.4206 39.1277 9.75405 48.5089 5.89024C54.802 3.29832 61.3976 1.55165 68.1223 0.684467C73.5998 -0.0218837 78.0924 4.52438 78.089 10.0472L78.0538 67.0472C78.0504 72.5701 73.5705 77.0444 68.0476 77.041L10.7445 77.0057Z"
                                        fill="#E63312" />
                                    <path
                                        d="M0.744487 76.9995C0.750728 66.8877 2.75642 56.8762 6.64703 47.5365C10.5376 38.1968 16.237 29.7119 23.4197 22.5663C30.6023 15.4206 39.1277 9.75405 48.5089 5.89024C57.8901 2.02642 67.9436 0.0409549 78.0951 0.0472211L78.0781 27.6751C71.5689 27.6711 65.1227 28.9441 59.1075 31.4216C53.0923 33.8991 47.6259 37.5324 43.0204 42.1142C38.4149 46.696 34.7605 52.1365 32.2658 58.1251C29.7712 64.1136 28.4851 70.533 28.4811 77.0166L0.744487 76.9995Z"
                                        fill="#E63312" />
                                </svg>

                            </div>
                            <div class="years">
                                6 - 11 <br> лет
                            </div>
                        </div>
                    </a>
                    <a href='' class="col-3 card-col">
                        <div class="col__inner">
                            <div class="col-img">
                                <img src="../static/images/adults.png" alt="">
                            </div>
                            <div class="col-info">
                                <div class="col-info__title">
                                    Взрослым
                                </div>
                                <div class="col-info__text">
                                    Поможем путешествовать
                                    по всему миру, научим смотреть фильмы
                                    в оригинале.
                                </div>
                            </div>
                            <div class="card-elem">
                                <svg width="78" height="77" viewBox="0 0 78 77" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M10.7445 77.0057C5.22163 77.0023 0.68023 72.5036 1.40161 67.0281C2.2822 60.3441 4.04214 53.7897 6.64703 47.5365C10.5376 38.1968 16.237 29.7119 23.4197 22.5663C30.6023 15.4206 39.1277 9.75405 48.5089 5.89024C54.802 3.29832 61.3976 1.55165 68.1223 0.684467C73.5998 -0.0218837 78.0924 4.52438 78.089 10.0472L78.0538 67.0472C78.0504 72.5701 73.5705 77.0444 68.0476 77.041L10.7445 77.0057Z"
                                        fill="#BA2C70" />
                                    <path
                                        d="M0.744487 76.9995C0.750728 66.8877 2.75642 56.8762 6.64703 47.5365C10.5376 38.1968 16.237 29.7119 23.4197 22.5663C30.6023 15.4206 39.1277 9.75405 48.5089 5.89024C57.8901 2.02642 67.9436 0.0409549 78.0951 0.0472211L78.0781 27.6751C71.5689 27.6711 65.1227 28.9441 59.1075 31.4216C53.0923 33.8991 47.6259 37.5324 43.0204 42.1142C38.4149 46.696 34.7605 52.1365 32.2658 58.1251C29.7712 64.1136 28.4851 70.533 28.4811 77.0166L0.744487 76.9995Z"
                                        fill="#BA2C70" />
                                </svg>

                            </div>
                            <div class="years">
                                > 18 <br> лет
                            </div>
                        </div>
                    </a>
                    <a href='' class="col-3 card-col">
                        <div class="col__inner">
                            <div class="col-img">
                                <img src="../static/images/business.png" alt="">
                            </div>
                            <div class="col-info">
                                <div class="col-info__title">
                                    Бизнес
                                </div>
                                <div class="col-info__text">
                                    Научим уверенно чувствовать себя на переговорах, вести
                                    деловую переписку.
                                </div>
                            </div>
                            <div class="card-elem">
                                <svg width="78" height="77" viewBox="0 0 78 77" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M10.7445 77.0057C5.22163 77.0023 0.68023 72.5036 1.40161 67.0281C2.2822 60.3441 4.04214 53.7897 6.64703 47.5365C10.5376 38.1968 16.237 29.7119 23.4197 22.5663C30.6023 15.4206 39.1277 9.75405 48.5089 5.89024C54.802 3.29832 61.3976 1.55165 68.1223 0.684467C73.5998 -0.0218837 78.0924 4.52438 78.089 10.0472L78.0538 67.0472C78.0504 72.5701 73.5705 77.0444 68.0476 77.041L10.7445 77.0057Z"
                                        fill="#650549" />
                                    <path
                                        d="M0.744487 76.9995C0.750728 66.8877 2.75642 56.8762 6.64703 47.5365C10.5376 38.1968 16.237 29.7119 23.4197 22.5663C30.6023 15.4206 39.1277 9.75405 48.5089 5.89024C57.8901 2.02642 67.9436 0.0409549 78.0951 0.0472211L78.0781 27.6751C71.5689 27.6711 65.1227 28.9441 59.1075 31.4216C53.0923 33.8991 47.6259 37.5324 43.0204 42.1142C38.4149 46.696 34.7605 52.1365 32.2658 58.1251C29.7712 64.1136 28.4851 70.533 28.4811 77.0166L0.744487 76.9995Z"
                                        fill="#650549" />
                                </svg>

                            </div>
                            <div class="years">
                                > 18 <br> лет
                            </div>
                        </div>
                    </a>
                    <a href='' class="col-3 card-col">
                        <div class="col__inner">
                            <div class="col-img">
                                <img src="../static/images/teachers.png" alt="">
                            </div>
                            <div class="col-info">
                                <div class="col-info__title">
                                    преподавателям
                                </div>
                                <div class="col-info__text">
                                    Поможем повысить свой уровень владения английским языком
                                    за короткий срок.
                                </div>
                            </div>
                            <div class="card-elem">
                                <svg width="78" height="77" viewBox="0 0 78 77" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M10.7445 77.0057C5.22163 77.0023 0.68023 72.5036 1.40161 67.0281C2.2822 60.3441 4.04214 53.7897 6.64703 47.5365C10.5376 38.1968 16.237 29.7119 23.4197 22.5663C30.6023 15.4206 39.1277 9.75405 48.5089 5.89024C54.802 3.29832 61.3976 1.55165 68.1223 0.684467C73.5998 -0.0218837 78.0924 4.52438 78.089 10.0472L78.0538 67.0472C78.0504 72.5701 73.5705 77.0444 68.0476 77.041L10.7445 77.0057Z"
                                        fill="#27348B" />
                                    <path
                                        d="M0.744487 76.9995C0.750728 66.8877 2.75642 56.8762 6.64703 47.5365C10.5376 38.1968 16.237 29.7119 23.4197 22.5663C30.6023 15.4206 39.1277 9.75405 48.5089 5.89024C57.8901 2.02642 67.9436 0.0409549 78.0951 0.0472211L78.0781 27.6751C71.5689 27.6711 65.1227 28.9441 59.1075 31.4216C53.0923 33.8991 47.6259 37.5324 43.0204 42.1142C38.4149 46.696 34.7605 52.1365 32.2658 58.1251C29.7712 64.1136 28.4851 70.533 28.4811 77.0166L0.744487 76.9995Z"
                                        fill="#27348B" />
                                </svg>

                            </div>
                            <div class="years">
                                > 18 <br> лет
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section advantages-section">
    <div class="container">
        <div class="section__inner">
            <div class="row advantages-row">
                <div class="col-3 advantages-col">
                    <div class="col__inner">
                        <div class="col__img">
                            <img src="../static/images/icons/surface1.png" alt="">
                        </div>
                        <div class="col__text">
                            более 60 лет обучаем английскому
                        </div>
                    </div>
                </div>
                <div class="col-3 advantages-col">
                    <div class="col__inner">
                        <div class="col__img">
                            <img src="../static/images/icons/school.png" alt="">
                        </div>
                        <div class="col__text">
                            принимаем
                            международные
                            экзамены
                        </div>
                    </div>
                </div>
                <div class="col-3 advantages-col">
                    <div class="col__inner">
                        <div class="col__img">
                            <img src="../static/images/icons/house.png" alt="">
                        </div>
                        <div class="col__text">
                            10 школ по городу минску
                        </div>
                    </div>
                </div>
                <div class="col-3 advantages-col">
                    <div class="col__inner">
                        <div class="col__img">
                            <img src="../static/images/icons/methods.png" alt="">
                        </div>
                        <div class="col__text">
                            прогрессивные методики преподования
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section course-selection-section">
    <div class="container">
        <div class="section__inner">
            <h3 class="section__title">
                Выбери для себя подходящий курс
            </h3>
            <div class="section__card">
                <div class="row course-row">
                    <a href='' class="col-3 course-col">
                        <div class="col__inner">
                            <div class="col__title">
                                Обучение английскому
                            </div>
                            <div class="col__subtitle">
                                Ближайший набор 2 февраля
                            </div>
                            <div class="col__details">
                                Подробнее
                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M6.85371 0.857147L12 5.99999L6.85542 11.1428L6.24942 10.5386L10.3594 6.42856H0V5.57143H10.3594L6.24771 1.45971L6.85371 0.857147Z"
                                        fill="#FDC600" />
                                </svg>
                            </div>
                            <div class="col__elem">
                                <svg width="40" height="40" viewBox="0 0 40 40" fill="none"
                                    xmlns="http://www.w3.org/2000/svg" class="elem-before">
                                    <path
                                        d="M40.0061 10.0247C40.0027 4.50185 35.4548 -0.0953612 30.1045 1.27432C28.2646 1.74534 26.4565 2.34782 24.6945 3.07896C19.8427 5.09215 15.435 8.04125 11.7229 11.7579C8.01085 15.4745 5.0672 19.8859 3.06001 24.7402C2.33105 26.5031 1.73079 28.3119 1.26205 30.1524C-0.101029 35.5044 4.50179 40.0466 10.0246 40.0432L30.0246 40.0309C35.5475 40.0275 40.0219 35.5475 40.0185 30.0247L40.0061 10.0247Z"
                                        fill="#E63312" />
                                    <path
                                        d="M39.9999 0.0246971C34.7471 0.0279395 29.5463 1.06578 24.6945 3.07896C19.8427 5.09215 15.435 8.04125 11.7229 11.7579C8.01085 15.4745 5.0672 19.8859 3.06001 24.7402C1.05282 29.5944 0.0213979 34.7965 0.0246403 40.0494L14.3768 40.0405C14.3747 36.6724 15.036 33.3368 16.3231 30.2243C17.6101 27.1118 19.4975 24.2832 21.8777 21.9001C24.2578 19.517 27.0841 17.6261 30.195 16.3352C33.3059 15.0444 36.6407 14.3789 40.0088 14.3768L39.9999 0.0246971Z"
                                        fill="#E63312" />
                                </svg>

                                <svg width="40" height="40" viewBox="0 0 40 40" fill="none"
                                    xmlns="http://www.w3.org/2000/svg" class="elem-after">
                                    <path
                                        d="M39.9999 0.0246971C34.7471 0.0279395 29.5463 1.06578 24.6945 3.07896C19.8427 5.09215 15.435 8.04125 11.7229 11.7579C8.01085 15.4745 5.0672 19.8859 3.06001 24.7402C1.05282 29.5944 0.0213979 34.7965 0.0246403 40.0494L14.3768 40.0405C14.3747 36.6724 15.036 33.3368 16.3231 30.2243C17.6101 27.1118 19.4975 24.2832 21.8777 21.9001C24.2578 19.517 27.0841 17.6261 30.195 16.3352C33.3059 15.0444 36.6407 14.3789 40.0088 14.3768L39.9999 0.0246971Z"
                                        fill="#E63312" />
                                </svg>

                            </div>
                        </div>
                    </a>
                    <a href='' class="col-3 course-col">
                        <div class="col__inner">
                            <div class="col__title">
                                Международные
                                экзамены
                            </div>
                            <div class="col__subtitle">
                                Ближайший набор 2 февраля
                            </div>
                            <div class="col__details">
                                Подробнее
                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M6.85371 0.857147L12 5.99999L6.85542 11.1428L6.24942 10.5386L10.3594 6.42856H0V5.57143H10.3594L6.24771 1.45971L6.85371 0.857147Z"
                                        fill="#FDC600" />
                                </svg>
                            </div>
                            <div class="col__elem">
                                <svg width="40" height="40" viewBox="0 0 40 40" fill="none"
                                    xmlns="http://www.w3.org/2000/svg" class="elem-before">
                                    <path
                                        d="M40.0061 10.0247C40.0027 4.50185 35.4548 -0.0953612 30.1045 1.27432C28.2646 1.74534 26.4565 2.34782 24.6945 3.07896C19.8427 5.09215 15.435 8.04125 11.7229 11.7579C8.01085 15.4745 5.0672 19.8859 3.06001 24.7402C2.33105 26.5031 1.73079 28.3119 1.26205 30.1524C-0.101029 35.5044 4.50179 40.0466 10.0246 40.0432L30.0246 40.0309C35.5475 40.0275 40.0219 35.5475 40.0185 30.0247L40.0061 10.0247Z"
                                        fill="#BA2C70" />
                                    <path
                                        d="M39.9999 0.0246971C34.7471 0.0279395 29.5463 1.06578 24.6945 3.07896C19.8427 5.09215 15.435 8.04125 11.7229 11.7579C8.01085 15.4745 5.0672 19.8859 3.06001 24.7402C1.05282 29.5944 0.0213979 34.7965 0.0246403 40.0494L14.3768 40.0405C14.3747 36.6724 15.036 33.3368 16.3231 30.2243C17.6101 27.1118 19.4975 24.2832 21.8777 21.9001C24.2578 19.517 27.0841 17.6261 30.195 16.3352C33.3059 15.0444 36.6407 14.3789 40.0088 14.3768L39.9999 0.0246971Z"
                                        fill="#BA2C70" />
                                </svg>

                                <svg width="40" height="40" viewBox="0 0 40 40" fill="none"
                                    xmlns="http://www.w3.org/2000/svg" class="elem-after">
                                    <path
                                        d="M39.9999 0.0246971C34.7471 0.0279395 29.5463 1.06578 24.6945 3.07896C19.8427 5.09215 15.435 8.04125 11.7229 11.7579C8.01085 15.4745 5.0672 19.8859 3.06001 24.7402C1.05282 29.5944 0.0213979 34.7965 0.0246403 40.0494L14.3768 40.0405C14.3747 36.6724 15.036 33.3368 16.3231 30.2243C17.6101 27.1118 19.4975 24.2832 21.8777 21.9001C24.2578 19.517 27.0841 17.6261 30.195 16.3352C33.3059 15.0444 36.6407 14.3789 40.0088 14.3768L39.9999 0.0246971Z"
                                        fill="#BA2C70" />
                                </svg>

                            </div>
                        </div>
                    </a>
                    <a href='' class="col-3 course-col">
                        <div class="col__inner">
                            <div class="col__title">
                                Подготовка
                                преподователей
                            </div>
                            <div class="col__subtitle">
                                Ближайший набор 2 февраля
                            </div>
                            <div class="col__details">
                                Подробнее
                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M6.85371 0.857147L12 5.99999L6.85542 11.1428L6.24942 10.5386L10.3594 6.42856H0V5.57143H10.3594L6.24771 1.45971L6.85371 0.857147Z"
                                        fill="#FDC600" />
                                </svg>
                            </div>
                            <div class="col__elem">
                                <svg width="40" height="40" viewBox="0 0 40 40" fill="none"
                                    xmlns="http://www.w3.org/2000/svg" class="elem-before">
                                    <path
                                        d="M40.0061 10.0247C40.0027 4.50185 35.4548 -0.0953612 30.1045 1.27432C28.2646 1.74534 26.4565 2.34782 24.6945 3.07896C19.8427 5.09215 15.435 8.04125 11.7229 11.7579C8.01085 15.4745 5.0672 19.8859 3.06001 24.7402C2.33105 26.5031 1.73079 28.3119 1.26205 30.1524C-0.101029 35.5044 4.50179 40.0466 10.0246 40.0432L30.0246 40.0309C35.5475 40.0275 40.0219 35.5475 40.0185 30.0247L40.0061 10.0247Z"
                                        fill="#650549" />
                                    <path
                                        d="M39.9999 0.0246971C34.7471 0.0279395 29.5463 1.06578 24.6945 3.07896C19.8427 5.09215 15.435 8.04125 11.7229 11.7579C8.01085 15.4745 5.0672 19.8859 3.06001 24.7402C1.05282 29.5944 0.0213979 34.7965 0.0246403 40.0494L14.3768 40.0405C14.3747 36.6724 15.036 33.3368 16.3231 30.2243C17.6101 27.1118 19.4975 24.2832 21.8777 21.9001C24.2578 19.517 27.0841 17.6261 30.195 16.3352C33.3059 15.0444 36.6407 14.3789 40.0088 14.3768L39.9999 0.0246971Z"
                                        fill="#650549" />
                                </svg>

                                <svg width="40" height="40" viewBox="0 0 40 40" fill="none"
                                    xmlns="http://www.w3.org/2000/svg" class="elem-after">
                                    <path
                                        d="M39.9999 0.0246971C34.7471 0.0279395 29.5463 1.06578 24.6945 3.07896C19.8427 5.09215 15.435 8.04125 11.7229 11.7579C8.01085 15.4745 5.0672 19.8859 3.06001 24.7402C1.05282 29.5944 0.0213979 34.7965 0.0246403 40.0494L14.3768 40.0405C14.3747 36.6724 15.036 33.3368 16.3231 30.2243C17.6101 27.1118 19.4975 24.2832 21.8777 21.9001C24.2578 19.517 27.0841 17.6261 30.195 16.3352C33.3059 15.0444 36.6407 14.3789 40.0088 14.3768L39.9999 0.0246971Z"
                                        fill="#650549" />
                                </svg>

                            </div>
                        </div>
                    </a>
                    <a href='' class="col-3 course-col">
                        <div class="col__inner">
                            <div class="col__title">
                                Корпоративное
                                обучение
                            </div>
                            <div class="col__subtitle">
                                Ближайший набор 2 февраля
                            </div>
                            <div class="col__details">
                                Подробнее
                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M6.85371 0.857147L12 5.99999L6.85542 11.1428L6.24942 10.5386L10.3594 6.42856H0V5.57143H10.3594L6.24771 1.45971L6.85371 0.857147Z"
                                        fill="#FDC600" />
                                </svg>
                            </div>
                            <div class="col__elem">
                                <svg width="40" height="40" viewBox="0 0 40 40" fill="none"
                                    xmlns="http://www.w3.org/2000/svg" class="elem-before">
                                    <path
                                        d="M40.0061 10.0247C40.0027 4.50185 35.4548 -0.0953612 30.1045 1.27432C28.2646 1.74534 26.4565 2.34782 24.6945 3.07896C19.8427 5.09215 15.435 8.04125 11.7229 11.7579C8.01085 15.4745 5.0672 19.8859 3.06001 24.7402C2.33105 26.5031 1.73079 28.3119 1.26205 30.1524C-0.101029 35.5044 4.50179 40.0466 10.0246 40.0432L30.0246 40.0309C35.5475 40.0275 40.0219 35.5475 40.0185 30.0247L40.0061 10.0247Z"
                                        fill="#003A78" />
                                    <path
                                        d="M39.9999 0.0246971C34.7471 0.0279395 29.5463 1.06578 24.6945 3.07896C19.8427 5.09215 15.435 8.04125 11.7229 11.7579C8.01085 15.4745 5.0672 19.8859 3.06001 24.7402C1.05282 29.5944 0.0213979 34.7965 0.0246403 40.0494L14.3768 40.0405C14.3747 36.6724 15.036 33.3368 16.3231 30.2243C17.6101 27.1118 19.4975 24.2832 21.8777 21.9001C24.2578 19.517 27.0841 17.6261 30.195 16.3352C33.3059 15.0444 36.6407 14.3789 40.0088 14.3768L39.9999 0.0246971Z"
                                        fill="#003A78" />
                                </svg>

                                <svg width="40" height="40" viewBox="0 0 40 40" fill="none"
                                    xmlns="http://www.w3.org/2000/svg" class="elem-after">
                                    <path
                                        d="M39.9999 0.0246971C34.7471 0.0279395 29.5463 1.06578 24.6945 3.07896C19.8427 5.09215 15.435 8.04125 11.7229 11.7579C8.01085 15.4745 5.0672 19.8859 3.06001 24.7402C1.05282 29.5944 0.0213979 34.7965 0.0246403 40.0494L14.3768 40.0405C14.3747 36.6724 15.036 33.3368 16.3231 30.2243C17.6101 27.1118 19.4975 24.2832 21.8777 21.9001C24.2578 19.517 27.0841 17.6261 30.195 16.3352C33.3059 15.0444 36.6407 14.3789 40.0088 14.3768L39.9999 0.0246971Z"
                                        fill="#003A78" />
                                </svg>

                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section steps-section">
    <div class="container">
        <div class="section__inner">
            <h3 class="section__title">
                Начните учить анлийский язык
                с International House:
            </h3>
            <div class="section__subtitle">
                Для этого нужно сделать всего пару шагов
            </div>
            <div class="section__stepbar">
                <div class="stepbar-elem">
                    <div class="elem-title">
                        01
                    </div>
                    <div class="elem-fragment">
                        <svg class="ellips" width="28" height="29" viewBox="0 0 28 29" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <circle cx="14" cy="14.0205" r="13.5" fill="white" stroke="#FDC600" />
                            <circle cx="14" cy="14.0205" r="8" fill="#FDC600" />
                        </svg>

                        <svg width="363" height="57" viewBox="0 0 363 57" fill="none" xmlns="http://www.w3.org/2000/svg"
                            class="line1">
                            <path
                                d="M1 55.0204C9.6946 56.0204 31.2572 55.8204 47.9509 47.0204C68.8179 36.0204 122.029 0.0204259 181.5 1.02043"
                                stroke="#888888" stroke-width="2" stroke-dasharray="3 2" />
                            <path
                                d="M362 55.0409C353.305 56.0409 331.743 55.8409 315.049 47.0409C294.182 36.0409 240.971 0.0409337 181.5 1.04093"
                                stroke="#888888" stroke-width="2" stroke-dasharray="3 2" />
                        </svg>

                    </div>
                    <div class="elem-desc">
                        Пройди предварительное
                        тестирование
                    </div>
                </div>
                <div class="stepbar-elem">
                    <div class="elem-title">
                        02
                    </div>
                    <div class="elem-fragment">
                        <svg class="ellips" width="28" height="29" viewBox="0 0 28 29" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <circle cx="14" cy="14.0205" r="13.5" fill="white" stroke="#FDC600" />
                            <circle cx="14" cy="14.0205" r="8" fill="#FDC600" />
                        </svg>

                        <svg width="363" height="57" viewBox="0 0 363 57" fill="none" xmlns="http://www.w3.org/2000/svg"
                            class="line1">
                            <path
                                d="M1 55.0204C9.6946 56.0204 31.2572 55.8204 47.9509 47.0204C68.8179 36.0204 122.029 0.0204259 181.5 1.02043"
                                stroke="#888888" stroke-width="2" stroke-dasharray="3 2" />
                            <path
                                d="M362 55.0409C353.305 56.0409 331.743 55.8409 315.049 47.0409C294.182 36.0409 240.971 0.0409337 181.5 1.04093"
                                stroke="#888888" stroke-width="2" stroke-dasharray="3 2" />
                        </svg>

                    </div>
                    <div class="elem-desc">
                        Записаться на собеседование по итогам тестирования
                    </div>
                </div>
                <div class="stepbar-elem">
                    <div class="elem-title">
                        03
                    </div>
                    <div class="elem-fragment">
                        <svg class="ellips" width="28" height="29" viewBox="0 0 28 29" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <circle cx="14" cy="14.0205" r="13.5" fill="white" stroke="#FDC600" />
                            <circle cx="14" cy="14.0205" r="8" fill="#FDC600" />
                        </svg>
                    </div>
                    <div class="elem-desc">
                        Начать занятие английского языка
                        в школе IH
                    </div>
                </div>
            </div>
            <a href="" class="btn secondary-btn">Начать тестирование</a>
        </div>
    </div>
</section>
<section class="section reviews-section">
    <div class="container">
        <div class="section__inner">
            <h3 class="section__title">
                Отзывы
            </h3>
            <div class="section__subtitle">
                Мы будем рады вашим отзывам
            </div>
            <div class="section__slider">
                <div class="slider reviews-slider">
                    <div class="slider__item">
                        <div class="slider__item-left">
                            <img src="../static/images/reviews.png" alt="">
                        </div>
                        <div class="slider__item-right">
                            <div class="section__item-text">
                                <svg width="70" height="61" viewBox="0 0 70 61" fill="none"
                                    xmlns="http://www.w3.org/2000/svg" class="reviews-icon">
                                    <path
                                        d="M31.8887 60.5615H0.0283203V36.0254C0.0283203 26.9922 1.9082 19.8633 5.66797 14.6387C9.42773 9.41406 15.873 4.7998 25.0039 0.795898L31.8887 13.833C26.2734 16.4697 22.3916 19.1064 20.2432 21.7432C18.0947 24.3311 16.8984 27.4072 16.6543 30.9717H31.8887V60.5615ZM69.0225 60.5615H37.1621V36.0254C37.1621 26.9922 39.042 19.8633 42.8018 14.6387C46.5615 9.41406 53.0068 4.7998 62.1377 0.795898L69.0225 13.833C63.4072 16.4697 59.5254 19.1064 57.377 21.7432C55.2285 24.3311 54.0322 27.4072 53.7881 30.9717H69.0225V60.5615Z"
                                        fill="#737B82" fill-opacity="0.2" />
                                </svg>
                                Спасибо огромное преподавателю английского языка Якушевой Ирине! Это чудесный человек, с
                                невероятной энергетикой и потрясающим юмором! Занятия с Ириной
                                были неповторими,я настолько была увлечена, что не замечала как быстро проходит время,
                                на занятия хотелось бежать! Ирина, умеет сплотить коллектив создать приятную атмосферу !
                            </div>
                            <div class="section__item-name">
                                Екатерина, 21 год
                            </div>
                        </div>
                    </div>
                    <div class="slider__item">
                        <div class="slider__item-left">
                            <img src="../static/images/reviews.png" alt="">
                        </div>
                        <div class="slider__item-right">
                            <div class="section__item-text">
                                <svg width="70" height="61" viewBox="0 0 70 61" fill="none"
                                    xmlns="http://www.w3.org/2000/svg" class="reviews-icon">
                                    <path
                                        d="M31.8887 60.5615H0.0283203V36.0254C0.0283203 26.9922 1.9082 19.8633 5.66797 14.6387C9.42773 9.41406 15.873 4.7998 25.0039 0.795898L31.8887 13.833C26.2734 16.4697 22.3916 19.1064 20.2432 21.7432C18.0947 24.3311 16.8984 27.4072 16.6543 30.9717H31.8887V60.5615ZM69.0225 60.5615H37.1621V36.0254C37.1621 26.9922 39.042 19.8633 42.8018 14.6387C46.5615 9.41406 53.0068 4.7998 62.1377 0.795898L69.0225 13.833C63.4072 16.4697 59.5254 19.1064 57.377 21.7432C55.2285 24.3311 54.0322 27.4072 53.7881 30.9717H69.0225V60.5615Z"
                                        fill="#737B82" fill-opacity="0.2" />
                                </svg>
                                Спасибо огромное преподавателю английского языка Якушевой Ирине! Это чудесный человек, с
                                невероятной энергетикой и потрясающим юмором! Занятия с Ириной
                                были неповторими,я настолько была увлечена, что не замечала как быстро проходит время,
                                на занятия хотелось бежать! Ирина, умеет сплотить коллектив создать приятную атмосферу !
                            </div>
                            <div class="section__item-name">
                                Екатерина, 21 год
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section teachers-section">
<div class="container">
    <div class="section__inner">
        <h3 class="section__title">
            Наши преподаватели
        </h3>
        <div class="section__slider">
            <div class="slider teachers-slider">
                <div class="slider__item">
                <div class="slider__item-inner">
                        <div class="slider__item-img">
                        <img src="../static/images/image_1.png" alt="">
                    </div>
                    <div class="slider__item-title">
                        Татьяна Худоерко
                    </div>
                    <div class="slider__item-text">
                        Работает в International House Minsk с 2007 года, обучая студентов всех уровней 
                            и возрастных категорий. 
                        Имеет сертификаты 
                        Cambridge Delta и IHCYLT.
                    </div>
                </div>
                </div>
                  <div class="slider__item">
                <div class="slider__item-inner">
                        <div class="slider__item-img">
                        <img src="../static/images/image_2.png" alt="">
                    </div>
                    <div class="slider__item-title">
                        Валерия Невская
                    </div>
                    <div class="slider__item-text">
                       В 2016 году прошла курс Cambridge CELTA 
и присоединилась к команде International House. Для более успешной работы с детскими группами в 2018 году прошла курс IHCYLT.
                    </div>
                </div>
                </div>
                  <div class="slider__item">
                <div class="slider__item-inner">
                        <div class="slider__item-img">
                        <img src="../static/images/image_3.png" alt="">
                    </div>
                    <div class="slider__item-title">
                        Галина Размахова
                    </div>
                    <div class="slider__item-text">
                        В International House работает 
с 2014 года. Окончила Минский государственный лингвистический университет, имеет сертификаты CELTA 
и IHCYLT.
                    </div>
                </div>
                </div>
                  <div class="slider__item">
                <div class="slider__item-inner">
                        <div class="slider__item-img">
                        <img src="../static/images/image_4.png" alt="">
                    </div>
                    <div class="slider__item-title">
                        Александра Булойчик
                    </div>
                    <div class="slider__item-text">
                       В International House работает с 2013 года, имеет сертификаты Cambridge CELTA и IHCYLT.
                    </div>
                </div>
                </div>
                 <div class="slider__item">
                <div class="slider__item-inner">
                        <div class="slider__item-img">
                        <img src="../static/images/image_1.png" alt="">
                    </div>
                    <div class="slider__item-title">
                        Татьяна Худоерко
                    </div>
                    <div class="slider__item-text">
                        Работает в International House Minsk с 2007 года, обучая студентов всех уровней 
                            и возрастных категорий. 
                        Имеет сертификаты 
                        Cambridge Delta и IHCYLT.
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<section class="section question-section">
    <div class="container">
        <div class="section__inner">
            <h3 class="section__title">
                Остались вопросы?
            </h3>
            <div class="section__subtitle">
                Мы с радостью на них ответим
            </div>
            <a href="" class="btn primary-btn white-color">Заказать звонок</a>
        </div>
    </div>
</section>
</div>
{{> layout/footer}}