{{!Экзамен IELTS}}

{{> layout/header}}
<div class="content exam-ielts-page">
    <div class="breadcrumbs-wrapper">
        <div class="container">
            <ul class="breadcrumbs">
                <li class="breadcrumbs__item">
                    <a href="" class="breadcrumbs__link">Главная</a>
                </li>
                <li class="breadcrumbs__item">
                    <a href="" class="breadcrumbs__link">Международные экзамены</a>
                </li>
                <li class="breadcrumbs__item">
                    <a href="" class="breadcrumbs__link">Экзамен IELTS</a>
                </li>
            </ul>
        </div>
    </div>



    <div class="page__title">
        <div class="container">
            <h2 class="title">
                Экзамен IELTS
            </h2>
        </div>
    </div>
    <div class="page__banner" style="background-image:url('../static/images/course-banner.png')">
        <div class="container">
            <div class="banner-info">
                <div class="banner-info__title">
                      Запишись <br> на бесплатное пробное занятие
                </div>
                <div class="banner-info__subtitle">
                    Которое поможет понять материал
                </div>
                <a href="" class="btn primary-btn white-color">Подробнее</a>
            </div>
        </div>
    </div>
    <div class="subinfo" style="background-image:url('../static/images/ielts-background.png')">
       <div class="container">
           <div class="subinfo__inner">
                <div class="subinfo__top">
            <div class="subinfo__img">
                <img src="../static/images/ielts-logo.png" alt="">
            </div>
         
        </div>
        <div class="subinfo__bottom">
            <p>
                Международная система тестирования английского языка. Тест IELTS предназначен для проверки уровня знаний английского языка. Этот экзамен необходим для поступления во многие зарубежные университеты, а также для эмиграции в такие страны, как Канада, Австралия, Новая Зеландия и другие.
            </p>
           
        </div>
           </div>
       </div>
    </div>
    <section class="section info-section">
        <div class="container">
            <div class="section__inner">
                <h3 class="section__title">
International English <br>
Language Testing System
                </h3>
                <div class="section__info">
                    <div class="info-left">
                        <div class="section__info-text">
                            <div class="title">
                                Что такое IELTS?
                            </div>
                            <p>
                                Это единственный экзамен, который предоставляет возможность выбора модуля в зависимости от ваших дальнейших целей. Академический модуль сдается кандидатами, желающими учиться в высших учебных заведениях по всему миру. Общий модуль сдается кандидатами для эмиграции и последующей профессиональной подготовки.


                            </p>
                            <p>
                                Сейчас IELTS признаётся в более чем 8000 организациях по всему миру, включая другие университеты, работодателей, профессиональные организации, иммиграционные агенства и другие государственные учреждения в таких странах как Великобритания, Новая Зеландия и многих других.


                            </p>
                            <p>
                                IELTS администрируется совместно экзаменационным Cambridge English Language Assessement, Британским советом и организацией IDP: IELTS Australiа.
                            </p>
                        </div>
                    </div>
                    <div class="info-right">
                    <div class="section__info-img">
                        <img src="../static/images/image_course2.png" alt="">
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="sertificat-info">
        <div class="container">
            <div class="sertificat-info__inner">
                <div class="sertificat-info__text">
                    При сдаче экзамена <br>
вы получите  <br>
<span class="white">
    сертификат
</span>
                </div>
                <div class="sertificat-info__image">
                    <a href="../static/images/sertificat.jpg">
                        <img src="../static/images/sertificat.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <section class="section exam-step-section">
        <div class="container">
            <div class="section__inner">
                <h3 class="section__title">
                    Из чего состоит экзамен?
                </h3>
                <div class="section__info">
                    <ul class="steps-list">
                        <div class="list-item">
                            <div class="list-item__top">
      <div class="icon">
                                    <svg width="88" height="88" viewBox="0 0 88 88" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="44" cy="44" r="44" fill="#003A78" fill-opacity="0.5"/>
<circle cx="44" cy="44" r="32" fill="#003A78"/>
<path d="M49.2095 32.519V58H42.1685V41.3032C41.0291 42.1691 39.924 42.8698 38.853 43.4053C37.7935 43.9408 36.4604 44.4535 34.854 44.9434V39.2354C37.2238 38.472 39.0638 37.5549 40.374 36.4839C41.6842 35.4129 42.7096 34.0913 43.4502 32.519H49.2095Z" fill="white"/>
</svg>
                                </div>
                            </div>
                            <div class="list-item__bottom">
                                <div class="title">
Listening
                                </div>
                                <p class="text">
Аудирование  <br>
40 минут
                                </p>
                            </div>
                        </div>
                           <div class="list-item">
                            <div class="list-item__top">
                                <div class="icon">
    <svg width="88" height="88" viewBox="0 0 88 88" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="44" cy="44" r="44" fill="#003A78" fill-opacity="0.5"/>
<circle cx="44" cy="44" r="32" fill="#003A78"/>
<path d="M53.8066 58H32.9229C33.1621 55.9378 33.8856 54.001 35.0933 52.1895C36.3123 50.3665 38.591 48.2189 41.9292 45.7466C43.9686 44.2313 45.2731 43.0806 45.8428 42.2944C46.4124 41.5083 46.6973 40.762 46.6973 40.0557C46.6973 39.2923 46.4124 38.6429 45.8428 38.1074C45.2845 37.5605 44.5781 37.2871 43.7236 37.2871C42.835 37.2871 42.1058 37.5662 41.5361 38.1245C40.9779 38.6828 40.6019 39.6683 40.4082 41.0811L33.4355 40.5171C33.709 38.5575 34.2103 37.0308 34.9395 35.937C35.6686 34.8319 36.694 33.9888 38.0156 33.4077C39.3486 32.8153 41.1886 32.519 43.5356 32.519C45.9852 32.519 47.8879 32.7982 49.2437 33.3564C50.6108 33.9147 51.6818 34.7749 52.4565 35.937C53.2427 37.0877 53.6357 38.3809 53.6357 39.8164C53.6357 41.3431 53.1857 42.8014 52.2856 44.1914C51.397 45.5814 49.7734 47.1081 47.415 48.7715C46.0137 49.7399 45.0737 50.4178 44.5952 50.8052C44.1281 51.1925 43.5755 51.6995 42.9375 52.3262H53.8066V58Z" fill="white"/>
</svg>

                                </div>
                            </div>
                            <div class="list-item__bottom">
        <div class="title">
Reading
                                </div>
                                <p class="text">
Чтение  <br>
 60 минут
                                </p>
                            </div>
                        </div>
                           <div class="list-item">
                            <div class="list-item__top">
      <div class="icon">
 <svg width="88" height="88" viewBox="0 0 88 88" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="44" cy="44" r="44" fill="#003A78" fill-opacity="0.5"/>
<circle cx="44.1895" cy="44" r="32" fill="#003A78"/>
<path d="M40.3755 40.1924L33.7959 39.0132C34.3428 36.9168 35.391 35.3104 36.9404 34.1938C38.5013 33.0773 40.7059 32.519 43.5542 32.519C46.8241 32.519 49.1882 33.1286 50.6465 34.3477C52.1048 35.5667 52.834 37.0991 52.834 38.9448C52.834 40.0272 52.5378 41.007 51.9453 41.8843C51.3529 42.7616 50.4585 43.5306 49.2622 44.1914C50.2306 44.4307 50.9712 44.7098 51.4839 45.0288C52.3156 45.5415 52.9593 46.2194 53.415 47.0625C53.8822 47.8942 54.1157 48.8911 54.1157 50.0532C54.1157 51.5116 53.734 52.9129 52.9707 54.2573C52.2074 55.5903 51.1079 56.6214 49.6724 57.3506C48.2368 58.0684 46.3512 58.4272 44.0156 58.4272C41.737 58.4272 39.9368 58.1595 38.6152 57.624C37.305 57.0885 36.2227 56.3081 35.3682 55.2827C34.5251 54.2459 33.8757 52.9471 33.4199 51.3862L40.3755 50.4634C40.6489 51.8647 41.0705 52.8389 41.6401 53.3857C42.2212 53.9212 42.9561 54.189 43.8447 54.189C44.779 54.189 45.5537 53.8472 46.1689 53.1636C46.7956 52.48 47.1089 51.5685 47.1089 50.4292C47.1089 49.2671 46.807 48.367 46.2031 47.729C45.6107 47.091 44.8018 46.772 43.7764 46.772C43.2295 46.772 42.4775 46.9087 41.5205 47.1821L41.8794 42.209C42.2668 42.266 42.5687 42.2944 42.7852 42.2944C43.6966 42.2944 44.4543 42.0039 45.0581 41.4229C45.6733 40.8418 45.981 40.1525 45.981 39.355C45.981 38.5916 45.7531 37.9821 45.2974 37.5264C44.8416 37.0706 44.215 36.8428 43.4175 36.8428C42.5972 36.8428 41.9307 37.0934 41.418 37.5947C40.9053 38.0846 40.5578 38.9505 40.3755 40.1924Z" fill="white"/>
</svg>
                                </div>
                            </div>
                            <div class="list-item__bottom">
        <div class="title">
Writing
                                </div>
                                <p class="text">
Письмо  <br>
60 минут
                                </p>
                            </div>
                        </div>
                           <div class="list-item">
                            <div class="list-item__top">
      <div class="icon">
 <svg width="88" height="88" viewBox="0 0 88 88" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="44" cy="44" r="44" fill="#003A78" fill-opacity="0.5"/>
<circle cx="44" cy="44" r="32" fill="#003A78"/>
<path d="M45.3984 53.3174H32.7178V47.5923L45.3984 32.519H51.4653V47.917H54.6099V53.3174H51.4653V58H45.3984V53.3174ZM45.3984 47.917V40.0386L38.6992 47.917H45.3984Z" fill="white"/>
</svg>

                                </div>
                            </div>
                            <div class="list-item__bottom">
        <div class="title">
Speaking
                                </div>
                                <p class="text">
Беседа, максимально <br> прибли­женная к естественному <br> общению 11-14 минут
                                </p>
                            </div>
                        </div>
                    </ul>
                </div>
                <div class="subtext">
                    <p>
                        Ориентировочное время проведения: <b>9:00-12:40</b>


                    </p>
                    <p>
                        Устный компонент может проходить в другой день. <br> Расписание и место проведения экзамена высылается <br> на e-mail за неделю до экзамена.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="section price-info-section">
       <div class="container">
            <div class="section__inner">
         
            <div class="section__info">
    <div class="info-left">
           <h3 class="section__title">
Сколько стоит экзамен?
            </h3>
                        <div class="section__info-text">
                  <p>
                          Стоимость экзамена, который состоится 7 декабря, 
составляет 430 бел. руб.
                  </p>

<p>Обратите внимание, что в случае поздней регистрации, т.е. после установленного периода, стоимость экзаменационного сбора увеличивается на 15%.</p>

<p>
    Если вы решили отказаться от сдачи или перенести её на более поздний срок, Вы должны связаться с нами не позднее чем за 5 недель 
до экзамена. В противном случае, экзаменационный сбор за экзамен 
не возвращается. В случае неявки на экзамен по причине болезни необходимо сообщить об этом в течение 5 (пяти) банковских дней 
и предоставить больничный лист.
</p>
                        </div>
                    </div>
                    <div class="info-right">
                    <div class="section__info-img">
                        <img src="../static/images/price-pig.png" alt="">
                    </div>
                    </div>
            </div>
        </div>
       </div>
    </section>
    <section class="section grading-section">
        <div class="container">
            <div class="section__inner">
                <div class="section__left">
                    <div class="section__img">
                        <img src="../static/images/ielts.png" alt="">
                    </div>
                </div>
                <div class="section__right">
                    <h3 class="section__title">
                        Как выставляются оценки?
                    </h3>
                    <div class="section__text">
                        Тест IELTS оценивается по девятибалльной системе. Один балл означает нулевое владение языком, девять баллов — профессиональное. Оценки за аспекты экзамена и общая оценка выставляются в оценочном листе. Подробнее об интерпретации результатов теста можно узнать на сайте <a href="" class="link">IELTS</a>. Зарубежные университеты требуют не менее шести баллов по IELTS, тогда как для подачи заявки на получение иммигрантской визы иногда достаточно четырех с половиной.
                    </div>
                    <p class="subtext">
                        Результаты экзамена действительны 2 года.
                    </p>
                </div>
            </div>
        </div>
    </section>
       <section class="section info-section result">
        <div class="container">
            <div class="section__inner">
             
                <div class="section__info">
                    <div class="info-left">
                           <h3 class="section__title">
Как узнать результаты?
                </h3>
                        <div class="section__info-text">
                           
                            <p>
Сертификат (Test Report Form), а также онлайн результаты теста доступны на 13-й день после сдачи экзамена. Вам потребуется Ваш номер кандидата (candidate number), номер паспорта (ID number), а также дата рождения. Эти данные вы найдете на информационном листе (Desk Label), который будет лежать 
перед вами в течение письменной части экзамена. 
Пожалуйста, не забудьте забрать его с собой после экзамена!

                            </p>
                            <p class="subtext">Ваш результат можно узнать <a href="" class="link">здесь</a></p>
                        </div>
                    </div>
                    <div class="info-right">
                    <div class="section__info-img">
                        <img src="../static/images/result-image.png" alt="">
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section receive-sertificat-section">
<div class="container">
    <div class="section__inner">
        <h3 class="section__title">
            Как получить сертификат IELTS?
        </h3>
        <div class="section__info">
            <div class="list-info">
                <div class="list-item">
                    <div class="list-item__left">
                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
<g filter="url(#filter0_d)">
<circle cx="20" cy="20" r="12" fill="url(#paint0_linear)"/>
</g>
<path d="M22.762 14.3516V26H19.5433V18.3672C19.0224 18.763 18.5172 19.0833 18.0276 19.3281C17.5433 19.5729 16.9339 19.8073 16.1995 20.0312V17.4219C17.2829 17.0729 18.124 16.6536 18.723 16.1641C19.3219 15.6745 19.7907 15.0703 20.1292 14.3516H22.762Z" fill="white"/>
<defs>
<filter id="filter0_d" x="0" y="0" width="40" height="40" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
<feOffset/>
<feGaussianBlur stdDeviation="4"/>
<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
</filter>
<linearGradient id="paint0_linear" x1="8" y1="20" x2="32" y2="32" gradientUnits="userSpaceOnUse">
<stop stop-color="#003A78"/>
<stop offset="1" stop-color="#0F65C2"/>
</linearGradient>
</defs>
</svg>

                    </div>
                    <div class="list-item__right">
                        В экзаменационном 
центре IH Minsk
                    </div>
                </div>
                 <div class="list-item">
                    <div class="list-item__left">
             <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
<g filter="url(#filter0_d)">
<circle cx="20" cy="20" r="12" fill="url(#paint0_linear)"/>
</g>
<path d="M24.8636 26H15.3167C15.4261 25.0573 15.7568 24.1719 16.3089 23.3438C16.8662 22.5104 17.9079 21.5286 19.4339 20.3984C20.3662 19.7057 20.9625 19.1797 21.223 18.8203C21.4834 18.4609 21.6136 18.1198 21.6136 17.7969C21.6136 17.4479 21.4834 17.151 21.223 16.9062C20.9677 16.6562 20.6448 16.5312 20.2542 16.5312C19.848 16.5312 19.5146 16.6589 19.2542 16.9141C18.999 17.1693 18.8271 17.6198 18.7386 18.2656L15.5511 18.0078C15.6761 17.112 15.9052 16.4141 16.2386 15.9141C16.5719 15.4089 17.0407 15.0234 17.6448 14.7578C18.2542 14.487 19.0954 14.3516 20.1683 14.3516C21.2881 14.3516 22.1579 14.4792 22.7776 14.7344C23.4026 14.9896 23.8922 15.3828 24.2464 15.9141C24.6058 16.4401 24.7855 17.0312 24.7855 17.6875C24.7855 18.3854 24.5797 19.0521 24.1683 19.6875C23.762 20.3229 23.0198 21.0208 21.9417 21.7812C21.3011 22.224 20.8714 22.5339 20.6526 22.7109C20.4391 22.888 20.1865 23.1198 19.8948 23.4062H24.8636V26Z" fill="white"/>
<defs>
<filter id="filter0_d" x="0" y="0" width="40" height="40" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
<feOffset/>
<feGaussianBlur stdDeviation="4"/>
<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
</filter>
<linearGradient id="paint0_linear" x1="8" y1="20" x2="32" y2="32" gradientUnits="userSpaceOnUse">
<stop stop-color="#003A78"/>
<stop offset="1" stop-color="#0F65C2"/>
</linearGradient>
</defs>
</svg>


                    </div>
                    <div class="list-item__right">
                        По почте сертификат высылается 
иногородним кандидатам по их желанию 
                    </div>
                </div>
            </div>
            <p class="border-text">
                Пожалуйста, имейте в виду, что мы не сообщаем результаты экзамена 
по телефону, факсу и электронной почте. Мы также рассылаем не более 5 копий результатов на адреса организаций по вашему запросу бесплатно, если вы указали адреса при заполнении анкеты 
или в день экзамена.
            </p>
            <p class="text">
                Дополнительные копии на адреса организаций вы можете заказывать 
в течение 2-х лет после даты экзамена за дополнительную плату. <br> <b>Стоимость заказа</b> — 30 белорусских рублей за копию.  <br>
Оставить заявку можно на ielts@ih.by (в заявке укажите почтовый адрес организации, на который необходимо выслать экземпляр сертификата). <br> Дни отправки сертификатов: вторник и пятница.
            </p>
        </div>
    </div>
</div>
    </section>
    <section class="section appeal-info-section">
        <div class="container">
            <div class="section__inner">
                <h3 class="section__title">
                    Апелляция
                </h3>
                <div class="section__info">
                    <p>В течение 6 недель со дня сдачи экзамена IELTS при несогласии 
с полученными результатами Вы вправе подать апелляцию как на один, 
так и несколько компонентов экзамена.</p>
<p>Ознакомиться с <a href="" class="link">Публичным договором по оформлению апелляции.</a></p>
<p>Подробнее о процедуре подачи апелляции можно узнать <a href="" class="link">здесь.</a></p>
<p class="black-text">Стоимость апелляции – 80 фунтов стерлингов по курсу НБРБ на день оплаты.</p>
<p>Апелляция рассматривается Британским Советом от 2 до 21 дня. 
В случае положительного ответа сумма, уплаченная за апелляцию, возвращается в полном объеме. В случае отрицательного ответа сумма денежных средств за апелляцию возврату не подлежит.</p>
                </div>
            </div>
        </div>
    </section>
       <section class="section grading-section">
        <div class="container">
            <div class="section__inner">
                <div class="section__left">
                    <div class="section__img">
                        <img src="../static/images/ielts-image3.png" alt="">
                    </div>
                  
                   
                </div>
                <div class="section__right">
                       <h3 class="section__title">
                        Как подготовиться к IELTS?
                    </h3>
                    <div class="section__text">
Кандидаты имеют возможность посещать подготовительные курсы IELTS International House при экзаменационном центре, поскольку преподаватели имеют большой опыт подготовки к международным экзаменам. Вам будет предложен 3-х месячный курс интенсивной подготовки с отработкой всех типов заданий и освоением всех необходимых технологий успешной сдачи. Тем не менее, 
вы можете подготовиться самостоятельно. Практические тесты 
и материалы вы можете найти в специальных книжных магазинах и на сайте IELTS.                    </div>
                    <p class="subtext">
                        Результаты экзамена действительны 2 года.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="section timetable-section">
        <div class="container">
            <div class="section__inner">
                <h3 class="section__title">
                    Даты проведения экзаменов
                </h3>
                <div class="section__subtitle">
Тест IELTS в Беларуси можно сдать только в International House Minsk. <br>
Ниже приведены даты ближайших экзаменов в 2019 - 2020 годах.
                </div>
                <div class="section__subinfo">
                    **В таблице указаны ориентировочные даты окончания срока регистрации на экзамен IELTS. <br> Однако, если по истечении этого срока остаются свободные места, мы не закрываем <br> регистрацию.
                </div>
                <div class="section__table">
                    <div class="table__title">
                        Даты экзаменов в 2019 году
                    </div>
                    <div class="table__wrapper">
  <table class="table timetable-table">
                        <thead>
                            <tr class="row">
                                <th scope="col" class="col-3 col-lg-3  red"><span class="title">Дата экзамена</span></th>
                                <th scope="col" class="col-3 col-lg-3  purple"><span class="title">
                                        Модуль
                                    </span></th>
                                <th scope="col" class="col-3 col-lg-3  pink"><span class="title">
                                        Период регистрации
                                    </span></th>
                                <th scope="col" class="col-3 col-lg-3  blue"><span class="title">
                                       Результаты 
                                    </span></th>
                              
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="row">
                                <td class="col-3 col-lg-3  "><b>23 ноября</b></td>
                                <td class="col-3 col-lg-3">
                                  <div class="text">
                                      A/G
                                  </div>
                                </td>
                                <td class="col-3 col-lg-3">
                                <div class="text">
                                    14 - 18 октября
                                </div>
                                   
                                  
                                </td>
                                <td class="col-3 col-lg-3">
                                    <div class="text">6 декабря</div>
                                </td>
                             

                            </tr>
                            <tr class="row">
                                <td class="col-3 col-lg-3  "><b>7 декабря</b></td>
                                <td class="col-3 col-lg-3">
                                <div class="text">
                                    A/G
                                </div>
                                </td>
                                <td class="col-3 col-lg-3">
                                    <div class="text">
                                                          28 октября - 
1 нобяря	
                                    </div>
                                </td>
                                <td class="col-3 col-lg-3">

                                    <div class="text">
                                        20 декабря	
                                    </div>
                                </td>
                             

                            </tr>
                            <tr class="row">
                                <td class="col-3 col-lg-3  "><b>14 декабря
(выездная сессия 
в Гродно)</b></td>
                                <td class="col-3 col-lg-3">
                                  <div class="text">
                                      A/G
                                  </div>
                                </td>
                                <td class="col-3 col-lg-3">
                                  <div class="text">
                                      4 - 8 ноября
                                  </div>

                                </td>
                                <td class="col-3 col-lg-3">

                                   <div class="text">
                                       27 декабря
                                   </div>
                                </td>
                             

                            </tr>
                         
                        </tbody>
                    </table>
                    </div>
                       
                </div>
                <div class="section__table">
                    <div class="table__title">
                        Даты экзаменов в 2020 году 
                    </div>
                    <div class="table__wrapper">
  <table class="table timetable-table">
                        <thead>
                            <tr class="row">
                                <th scope="col" class="col-3 col-lg-3  red"><span class="title">Дата экзамена</span></th>
                                <th scope="col" class="col-3 col-lg-3  purple"><span class="title">
                                        Модуль
                                    </span></th>
                                <th scope="col" class="col-3 col-lg-3  pink"><span class="title">
                                        Период регистрации
                                    </span></th>
                                <th scope="col" class="col-3 col-lg-3  blue"><span class="title">
                                       Результаты 
                                    </span></th>
                              
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="row">
                                <td class="col-3 col-lg-3  "><b>18 января</b></td>
                                <td class="col-3 col-lg-3">
                                  <div class="text">
                                      A/G
                                  </div>
                                </td>
                                <td class="col-3 col-lg-3">
                                <div class="text">
                                   9 - 13 декабря 
2019
                                </div>
                                   
                                  
                                </td>
                                <td class="col-3 col-lg-3">
                                    <div class="text">31 января</div>
                                </td>
                             

                            </tr>
                            <tr class="row">
                                <td class="col-3 col-lg-3  "><b>1 февраля</b></td>
                                <td class="col-3 col-lg-3">
                                <div class="text">
                                    A/G
                                </div>
                                </td>
                                <td class="col-3 col-lg-3">
                                    <div class="text">
                                                          16 - 20 декабря	
                                    </div>
                                </td>
                                <td class="col-3 col-lg-3">

                                    <div class="text">
                                       14 февраля	
                                    </div>
                                </td>
                             

                            </tr>
                            <tr class="row">
                                <td class="col-3 col-lg-3  "><b>22 февраля*	</b></td>
                                <td class="col-3 col-lg-3">
                                  <div class="text">
                                    A
                                  </div>
                                </td>
                                <td class="col-3 col-lg-3">
                                  <div class="text">
                                     13- 17 января
                                  </div>

                                </td>
                                <td class="col-3 col-lg-3">

                                   <div class="text">
                                       6 марта
                                   </div>
                                </td>
                             

                            </tr>
                            <tr class="row">
                                <td class="col-3 col-lg-3  "><b>21 марта</b></td>
                                <td class="col-3 col-lg-3">
                                  <div class="text">
                                    A/G
                                  </div>
                                </td>
                                <td class="col-3 col-lg-3">
                                  <div class="text">
                                     10 - 14 февраля
                                  </div>

                                </td>
                                <td class="col-3 col-lg-3">

                                   <div class="text">
                                       3 апреля
                                   </div>
                                </td>
                             

                            </tr>
                             <tr class="row">
                                <td class="col-3 col-lg-3  "><b>18 апреля		</b></td>
                                <td class="col-3 col-lg-3">
                                  <div class="text">
                                    A/G
                                  </div>
                                </td>
                                <td class="col-3 col-lg-3">
                                  <div class="text">
                                     9 - 13 марта
                                  </div>

                                </td>
                                <td class="col-3 col-lg-3">

                                   <div class="text">
                                       1 мая
                                   </div>
                                </td>
                             

                            </tr>
                             <tr class="row">
                                <td class="col-3 col-lg-3  "><b>16 мая*</b></td>
                                <td class="col-3 col-lg-3">
                                  <div class="text">
                                  A
                                  </div>
                                </td>
                                <td class="col-3 col-lg-3">
                                  <div class="text">
                                    6 - 10 апреля
                                  </div>

                                </td>
                                <td class="col-3 col-lg-3">

                                   <div class="text">
                                       29 мая
                                   </div>
                                </td>
                             

                            </tr>
                            <tr class="row">
                                <td class="col-3 col-lg-3  "><b>30 мая	</b></td>
                                <td class="col-3 col-lg-3">
                                  <div class="text">
                                  A/G
                                  </div>
                                </td>
                                <td class="col-3 col-lg-3">
                                  <div class="text">
                                   20 - 24 апреля
                                  </div>

                                </td>
                                <td class="col-3 col-lg-3">

                                   <div class="text">
                                      12 июня
                                   </div>
                                </td>
                             

                            </tr>
                             <tr class="row">
                                <td class="col-3 col-lg-3  "><b>13 июня</b></td>
                                <td class="col-3 col-lg-3">
                                  <div class="text">
                                  A/G
                                  </div>
                                </td>
                                <td class="col-3 col-lg-3">
                                  <div class="text">
                                   4 - 8 мая
                                  </div>

                                </td>
                                <td class="col-3 col-lg-3">

                                   <div class="text">
                                     26 июня
                                   </div>
                                </td>
                             

                            </tr>
                               <tr class="row">
                                <td class="col-3 col-lg-3  "><b>11 июля</b></td>
                                <td class="col-3 col-lg-3">
                                  <div class="text">
                                  A/G
                                  </div>
                                </td>
                                <td class="col-3 col-lg-3">
                                  <div class="text">
                                   1 - 5 июня
                                  </div>

                                </td>
                                <td class="col-3 col-lg-3">

                                   <div class="text">
                                    24 июля
                                   </div>
                                </td>
                             

                            </tr>
                             <tr class="row">
                                <td class="col-3 col-lg-3  "><b>22 августа</b></td>
                                <td class="col-3 col-lg-3">
                                  <div class="text">
                                  A/G
                                  </div>
                                </td>
                                <td class="col-3 col-lg-3">
                                  <div class="text">
                                   13 - 17 июля
                                  </div>

                                </td>
                                <td class="col-3 col-lg-3">

                                   <div class="text">
                                   4 сентября
                                   </div>
                                </td>
                             

                            </tr>
                            <tr class="row">
                                <td class="col-3 col-lg-3  "><b>26 сентября</b></td>
                                <td class="col-3 col-lg-3">
                                  <div class="text">
                                  A/G
                                  </div>
                                </td>
                                <td class="col-3 col-lg-3">
                                  <div class="text">
                                   17 - 21 августа
                                  </div>

                                </td>
                                <td class="col-3 col-lg-3">

                                   <div class="text">
                                   9 октября
                                   </div>
                                </td>
                             

                            </tr>
                             <tr class="row">
                                <td class="col-3 col-lg-3  "><b>24 октября</b></td>
                                <td class="col-3 col-lg-3">
                                  <div class="text">
                                  A/G
                                  </div>
                                </td>
                                <td class="col-3 col-lg-3">
                                  <div class="text">
                                  14 - 18 сентября
                                  </div>

                                </td>
                                <td class="col-3 col-lg-3">

                                   <div class="text">
                                  6 ноября
                                   </div>
                                </td>
                             

                            </tr>
                        </tbody>
                    </table>
                 
                    </div>
                          <div class="subtext">
                        *Обращаем ваше внимание на то, что февральская и майская сессии экзамена IELTS будет <br> только по академическому модулю
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section registration-section">
        <div class="container">
            <div class="section__inner">
                <h3 class="section__title">
                    Регистрация на экзамен IELTS
                </h3>
                <div class="section__info">
                    <div class="subtext">
                        **В таблице указаны ориентировочные даты окончания срока регистрации на экзамен IELTS. <br> Однако, если по истечении этого срока остаются свободные места, мы не закрываем <br> регистрацию.
                    </div>
                      <ul class="steps-list">
                        <div class="list-item">
                            <div class="list-item__top">
      <div class="icon">
                                    <svg width="88" height="88" viewBox="0 0 88 88" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="44" cy="44" r="44" fill="#003A78" fill-opacity="0.5"/>
<circle cx="44" cy="44" r="32" fill="#003A78"/>
<path d="M49.2095 32.519V58H42.1685V41.3032C41.0291 42.1691 39.924 42.8698 38.853 43.4053C37.7935 43.9408 36.4604 44.4535 34.854 44.9434V39.2354C37.2238 38.472 39.0638 37.5549 40.374 36.4839C41.6842 35.4129 42.7096 34.0913 43.4502 32.519H49.2095Z" fill="white"/>
</svg>
                                </div>
                            </div>
                            <div class="list-item__bottom">
                                <div class="title">
Заполнить анкету
                                </div>
                                <p class="text">
Перейти на сайт  <br>
 заполнения анкеты:
                                </p>
                                <a href="" class="link">
                                    <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect x="5" y="1" width="14" height="14" stroke="#C7002B" stroke-width="2"/>
<rect x="1" y="6" width="14" height="14" stroke="#C7002B" stroke-width="2"/>
</svg>

                                    British Council
                                </a>
                            </div>
                        </div>
                           <div class="list-item">
                            <div class="list-item__top">
                                <div class="icon">
    <svg width="88" height="88" viewBox="0 0 88 88" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="44" cy="44" r="44" fill="#003A78" fill-opacity="0.5"/>
<circle cx="44" cy="44" r="32" fill="#003A78"/>
<path d="M53.8066 58H32.9229C33.1621 55.9378 33.8856 54.001 35.0933 52.1895C36.3123 50.3665 38.591 48.2189 41.9292 45.7466C43.9686 44.2313 45.2731 43.0806 45.8428 42.2944C46.4124 41.5083 46.6973 40.762 46.6973 40.0557C46.6973 39.2923 46.4124 38.6429 45.8428 38.1074C45.2845 37.5605 44.5781 37.2871 43.7236 37.2871C42.835 37.2871 42.1058 37.5662 41.5361 38.1245C40.9779 38.6828 40.6019 39.6683 40.4082 41.0811L33.4355 40.5171C33.709 38.5575 34.2103 37.0308 34.9395 35.937C35.6686 34.8319 36.694 33.9888 38.0156 33.4077C39.3486 32.8153 41.1886 32.519 43.5356 32.519C45.9852 32.519 47.8879 32.7982 49.2437 33.3564C50.6108 33.9147 51.6818 34.7749 52.4565 35.937C53.2427 37.0877 53.6357 38.3809 53.6357 39.8164C53.6357 41.3431 53.1857 42.8014 52.2856 44.1914C51.397 45.5814 49.7734 47.1081 47.415 48.7715C46.0137 49.7399 45.0737 50.4178 44.5952 50.8052C44.1281 51.1925 43.5755 51.6995 42.9375 52.3262H53.8066V58Z" fill="white"/>
</svg>

                                </div>
                            </div>
                            <div class="list-item__bottom">
        <div class="title">
Внести оплату
                                </div>
                                <p class="text">
<b>Стоимость экзамена:</b>   <br>
 430.00 BYN.
                                </p>
                            </div>
                        </div>
                           <div class="list-item">
                            <div class="list-item__top">
      <div class="icon">
 <svg width="88" height="88" viewBox="0 0 88 88" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="44" cy="44" r="44" fill="#003A78" fill-opacity="0.5"/>
<circle cx="44.1895" cy="44" r="32" fill="#003A78"/>
<path d="M40.3755 40.1924L33.7959 39.0132C34.3428 36.9168 35.391 35.3104 36.9404 34.1938C38.5013 33.0773 40.7059 32.519 43.5542 32.519C46.8241 32.519 49.1882 33.1286 50.6465 34.3477C52.1048 35.5667 52.834 37.0991 52.834 38.9448C52.834 40.0272 52.5378 41.007 51.9453 41.8843C51.3529 42.7616 50.4585 43.5306 49.2622 44.1914C50.2306 44.4307 50.9712 44.7098 51.4839 45.0288C52.3156 45.5415 52.9593 46.2194 53.415 47.0625C53.8822 47.8942 54.1157 48.8911 54.1157 50.0532C54.1157 51.5116 53.734 52.9129 52.9707 54.2573C52.2074 55.5903 51.1079 56.6214 49.6724 57.3506C48.2368 58.0684 46.3512 58.4272 44.0156 58.4272C41.737 58.4272 39.9368 58.1595 38.6152 57.624C37.305 57.0885 36.2227 56.3081 35.3682 55.2827C34.5251 54.2459 33.8757 52.9471 33.4199 51.3862L40.3755 50.4634C40.6489 51.8647 41.0705 52.8389 41.6401 53.3857C42.2212 53.9212 42.9561 54.189 43.8447 54.189C44.779 54.189 45.5537 53.8472 46.1689 53.1636C46.7956 52.48 47.1089 51.5685 47.1089 50.4292C47.1089 49.2671 46.807 48.367 46.2031 47.729C45.6107 47.091 44.8018 46.772 43.7764 46.772C43.2295 46.772 42.4775 46.9087 41.5205 47.1821L41.8794 42.209C42.2668 42.266 42.5687 42.2944 42.7852 42.2944C43.6966 42.2944 44.4543 42.0039 45.0581 41.4229C45.6733 40.8418 45.981 40.1525 45.981 39.355C45.981 38.5916 45.7531 37.9821 45.2974 37.5264C44.8416 37.0706 44.215 36.8428 43.4175 36.8428C42.5972 36.8428 41.9307 37.0934 41.418 37.5947C40.9053 38.0846 40.5578 38.9505 40.3755 40.1924Z" fill="white"/>
</svg>
                                </div>
                            </div>
                            <div class="list-item__bottom">
        <div class="title">
Прийти в день <br> экзамена с паспортом
                                </div>
                                <p class="text">
Копия паспорта, заверенная  <br>
 нотариально или любое другое <br> удостоверение личности не <br> принимается!
                                </p>
                            </div>
                        </div>
                         
                    </ul>
                    <p>
                        Оплатить можно на нашем сайте в разделе «Оплата услуг» или в экзаменационном центре <br> в рабочее время (с 10:00 до 19:00 по будням)
                    </p>
                    <p class="border-text">
                        Если оплата и документы не будут предоставлены в International House в течение 5 (пяти) <br>
                         банковских дней со дня регистрации на экзамен регистрация на сайте British Council 
                         <br>
                         аннулируется.
                    </p>
                    <p>
                        За 7 дней до экзамена вы получите письмо с указанием времени и места проведения <br> устного и письменного экзамена. Устная часть экзамена может быть назначена в течение <br> недели до или после указанной в таблице даты. Примите меры, чтобы Ваша электронная <br> почта работала, и наше письмо с домена ih.by не попало в «спам».
                    </p>
                </div>
            </div>
        </div>

    </section>
       <div class="quote">
        <div class="container">
            <div class="quote__inner">
                <div class="quote__field">


                    <span class="text">
                        <svg width="58" height="46" viewBox="0 0 58 46" fill="none" xmlns="http://www.w3.org/2000/svg"
                            class="element">
                            <path
                                d="M21.249 45.1328H0.667969V30.4111C0.667969 24.4541 1.18066 19.7666 2.20605 16.3486C3.28027 12.8818 5.2334 9.78125 8.06543 7.04688C10.8975 4.3125 14.5107 2.16406 18.9053 0.601562L22.9336 9.09766C18.832 10.4648 15.8779 12.3691 14.0713 14.8105C12.3135 17.252 11.3857 20.499 11.2881 24.5518H21.249V45.1328ZM55.5996 45.1328H35.0186V30.4111C35.0186 24.4053 35.5312 19.6934 36.5566 16.2754C37.6309 12.8574 39.584 9.78125 42.416 7.04688C45.2969 4.3125 48.9102 2.16406 53.2559 0.601562L57.2842 9.09766C53.1826 10.4648 50.2285 12.3691 48.4219 14.8105C46.6641 17.252 45.7363 20.499 45.6387 24.5518H55.5996V45.1328Z"
                                fill="#003A78" fill-opacity="0.25" />
                        </svg>
                       Если Вам нет 18 лет и Вы регистрируетесь на IELTS, обратите внимание на то, что подписать договор 
и оплатить участие в экзамене должен один 
из родителей!
                    </span>
                </div>
            </div>
        </div>
    </div>
    <section class="section graph-work-section">
        <div class="container">
            <div class="section__inner">
                <div class="section__left">
                    <h3 class="section__title">
                        График работы  <br>
экзаменационного центра:
                    </h3>
                    <p class="adress">
                        <svg width="16" height="23" viewBox="0 0 16 23" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M8 0.885742C3.58878 0.885742 0 4.46599 0 8.8667C0 14.3281 7.15922 22.3458 7.46403 22.6844C7.75033 23.0025 8.25019 23.002 8.53597 22.6844C8.84078 22.3458 16 14.3281 16 8.8667C15.9999 4.46599 12.4112 0.885742 8 0.885742ZM8 12.8821C5.7806 12.8821 3.97504 11.0808 3.97504 8.8667C3.97504 6.65257 5.78065 4.8513 8 4.8513C10.2194 4.8513 12.0249 6.65262 12.0249 8.86674C12.0249 11.0809 10.2194 12.8821 8 12.8821Z" fill="#FDC600"/>
</svg>

                        пр-т Машерова, 10, каб. 108, 1-ый этаж. 
                    </p>
                  <div class="section__bottom">
                      <div class="bottom-left">
                         <div class="list-block">
                             <div class="title">
                                 График работы:
                             </div>
                              <ul class="list-info">
                              <div class="list-item">
                                  <div class="list-item__bottom">
                                      пн-пт: 10:00–19:00
                                  </div>
                              </div>
                                <div class="list-item">
                                <div class="list-item__top">
                                    <b>20.01</b>
                                </div>
                                <div class="list-item__bottom">
                                    пн-пт: 14:00-19:00
                                </div>
                              </div>
                                <div class="list-item">
                                <div class="list-item__top">
                                    <b>21.01</b>
                                </div>
                                <div class="list-item__bottom">
                                   пн-пт: 10:00-14:00
                                </div>
                              </div>
                                <div class="list-item">
                                <div class="list-item__top">
                                    <b>22.01</b>
                                </div>
                                <div class="list-item__bottom">
                                  пн-пт: 10:00-12:00
                                </div>
                              </div>
                               <div class="list-item">
                                <div class="list-item__top">
                                    <b>23.01</b>
                                </div>
                                <div class="list-item__bottom">
                                  пн-пт: 10:00-12:00
                                </div>
                              </div>
                                <div class="list-item">
                                <div class="list-item__top">
                                    <b>24.01</b>
                                </div>
                                <div class="list-item__bottom">
                                 пн-пт: 14:00-19:00
                                </div>
                              </div>
                          </ul>
                         </div>
                      </div>
                      <div class="bottom-right">
                           <div class="list-block">
                             <div class="title">
                                 Телефон:
                             </div>
                              <ul class="list-info">
                              <div class="list-item">
                                  <a href="tel:+375445504457">+375 (44) 550-44-57</a>
                              </div>
                                  <div class="list-item">
                                  <a href="tel:+375172845910">+375 (17) 284-59-10</a>
                              </div>
                         
                          </ul>
                         </div>

                          <div class="list-block">
                             <div class="title">
                                E-mail:
                             </div>
                              <ul class="list-info">
                              <div class="list-item">
                                  <a href="mailto:ielts@ih.by">ielts@ih.by</a>
                              </div>
                              
                         
                          </ul>
                         </div>
                      </div>
                  </div>
                </div>
                <div class="section__right">
                        <div class="section__img">
                            <img src="../static/images/contact.png" alt="">
                        </div>
                </div>
            </div>
        </div>
    </section>
    <div class="banner-secondary" style="background-image:url('../static/images/call_action.png')">
    <div class="container">
        <div class="banner__inner">
            <div class="banner__info">
                <div class="banner__info-title">
                    Записаться на подготовку 
к Кембриджским экзаменам
                </div>
                <div class="banner__info-subtitle">
                    Позвонив по данным номерам телефонов, 
вы сможете записаться на наши курсы:
                </div>
                <ul class="banner__info-list">
                    <li class="list-item">
                        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M21.3375 3.65934C16.4552 -1.22147 8.54064 -1.22029 3.65983 3.66203C-1.22098 8.54435 -1.21981 16.4589 3.66252 21.3397C8.54484 26.2205 16.4594 26.2194 21.3402 21.337C23.6842 18.9923 25.0007 15.8123 25 12.4968C24.9993 9.1819 23.6819 6.003 21.3375 3.65934ZM18.9308 17.4119C18.9303 17.4124 18.9298 17.413 18.9292 17.4135V17.4094L18.2958 18.0385C17.4767 18.868 16.2838 19.2092 15.15 18.9385C14.0076 18.6328 12.9217 18.1461 11.9333 17.4969C11.0151 16.91 10.1641 16.224 9.39582 15.451C8.68893 14.7493 8.05388 13.9788 7.49997 13.151C6.89411 12.2603 6.41457 11.29 6.07497 10.2677C5.68566 9.06672 6.00827 7.74889 6.90832 6.86354L7.64997 6.12189C7.85617 5.91476 8.19123 5.91403 8.39831 6.12023C8.39885 6.12077 8.39943 6.12131 8.39997 6.12189L10.7416 8.46354C10.9487 8.66974 10.9495 9.0048 10.7433 9.21188C10.7427 9.21242 10.7422 9.21296 10.7416 9.21354L9.36662 10.5885C8.97209 10.9788 8.92248 11.5989 9.24997 12.0469C9.74728 12.7294 10.2976 13.3716 10.8958 13.9677C11.5628 14.6376 12.2878 15.2469 13.0625 15.7886C13.5101 16.1008 14.1169 16.0482 14.5041 15.6636L15.8333 14.3136C16.0395 14.1065 16.3745 14.1057 16.5816 14.3119C16.5821 14.3125 16.5827 14.313 16.5833 14.3136L18.9291 16.6636C19.1363 16.8697 19.137 17.2048 18.9308 17.4119Z" fill="#FDC600"/>
</svg>
<a href="tel:+375447777318" class="list-link"> +375 (44) 777-73-18</a>
                    </li>
                    <li class="list-item">
<a href="tel:+375447777318" class="list-link"> +375 (44) 777-73-18</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
{{> layout/footer}}