{{!Новости}}

{{> layout/header}}
<div class="content news-page">
    <div class="breadcrumbs-wrapper">
        <div class="container">
            <ul class="breadcrumbs">
                <li class="breadcrumbs__item">
                    <a href="" class="breadcrumbs__link">Главная</a>
                </li>
                <li class="breadcrumbs__item">
                    <a href="" class="breadcrumbs__link">Новости</a>
                </li>
               
            </ul>
        </div>
    </div>



    <div class="page__title">
        <div class="container">
            <h2 class="title">
               Новости и события нашей <br> школы
            </h2>
        </div>
    </div>
<section class="section news-section">
    <div class="container">
        <div class="section__inner">
            <div class="section__info">
                <div class="row">
                      <a href='' class="col-4 news-col">
                        <div class="col__inner">
                            <div class="col-img">
                                <img src="../static/images/kids-news.png" alt="">
                            </div>
                            <div class="col-info">
                             <div class="col-info__top">
                                    <div class="col-info__date">
                                    4 декабря 2019
                                </div>
                                <div class="col-info__title">
                                  Открыт набор школьников в группы общего английского языка!!
                                 
                                </div>
                                <div class="col-info__text">
                                    Приглашаем ребят 13-17 лет 
в группы общего английского языка! 
                                </div>
                             </div>
                               <div class="col-info__bottom">
                                    <div class="col-info__action">
                                    <span class="yellow-text">Подробнее <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6.85371 0.857178L12 6.00002L6.85542 11.1429L6.24942 10.5386L10.3594 6.42859H0V5.57147H10.3594L6.24771 1.45974L6.85371 0.857178Z" fill="#FDC600"/>
</svg>
</span>
                                </div>
                               </div>
                            </div>
                            <div class="card-elem">
                           <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M10.0247 40.0061C4.50185 40.0027 -0.0953536 35.4548 1.27433 30.1045C1.74534 28.2646 2.34783 26.4565 3.07897 24.6945C5.09216 19.8427 8.04126 15.435 11.7579 11.7229C15.4745 8.01085 19.8859 5.0672 24.7402 3.06001C26.5031 2.33105 28.3119 1.73079 30.1524 1.26205C35.5044 -0.101029 40.0466 4.50179 40.0432 10.0246L40.0309 30.0246C40.0275 35.5475 35.5475 40.0219 30.0247 40.0185L10.0247 40.0061Z" fill="#E63312"/>
<path d="M0.0247047 39.9999C0.0279471 34.7471 1.06579 29.5463 3.07897 24.6945C5.09216 19.8427 8.04126 15.435 11.7579 11.7229C15.4745 8.01085 19.8859 5.0672 24.7402 3.06001C29.5944 1.05282 34.7965 0.0213979 40.0494 0.0246403L40.0405 14.3768C36.6724 14.3747 33.3369 15.036 30.2243 16.3231C27.1118 17.6101 24.2832 19.4975 21.9001 21.8777C19.517 24.2578 17.6261 27.0841 16.3352 30.195C15.0444 33.3059 14.3789 36.6407 14.3768 40.0088L0.0247047 39.9999Z" fill="#E63312"/>
</svg>


                            </div>
                           
                        </div>
                    </a>
                     <a href='' class="col-4 news-col">
                        <div class="col__inner">
                            <div class="col-img">
                                <img src="../static/images/kids-news.png" alt="">
                            </div>
                            <div class="col-info">
                              <div class="col-info__top">
                                    <div class="col-info__date">
                                    4 декабря 2019
                                </div>
                                <div class="col-info__title">
                                  Открыт набор школьников в группы общего английского языка!!
                                </div>
                                <div class="col-info__text">
                                    Приглашаем ребят 13-17 лет 
в группы общего английского языка!
                                </div>
                              </div>
                              <div class="col-info__bottom">
                                    <div class="col-info__action">
                                    <span  class="yellow-text">Подробнее <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6.85371 0.857178L12 6.00002L6.85542 11.1429L6.24942 10.5386L10.3594 6.42859H0V5.57147H10.3594L6.24771 1.45974L6.85371 0.857178Z" fill="#FDC600"/>
</svg>
</span>
                                </div>
                              </div>
                            </div>
                            <div class="card-elem">
          <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M10.0247 40.0061C4.50185 40.0027 -0.0953536 35.4548 1.27433 30.1045C1.74534 28.2646 2.34783 26.4565 3.07897 24.6945C5.09216 19.8427 8.04126 15.435 11.7579 11.7229C15.4745 8.01085 19.8859 5.0672 24.7402 3.06001C26.5031 2.33105 28.3119 1.73079 30.1524 1.26205C35.5044 -0.101029 40.0466 4.50179 40.0432 10.0246L40.0309 30.0246C40.0275 35.5475 35.5475 40.0219 30.0247 40.0185L10.0247 40.0061Z" fill="#BA2C70"/>
<path d="M0.0247047 39.9999C0.0279471 34.7471 1.06579 29.5463 3.07897 24.6945C5.09216 19.8427 8.04126 15.435 11.7579 11.7229C15.4745 8.01085 19.8859 5.0672 24.7402 3.06001C29.5944 1.05282 34.7965 0.0213979 40.0494 0.0246403L40.0405 14.3768C36.6724 14.3747 33.3369 15.036 30.2243 16.3231C27.1118 17.6101 24.2832 19.4975 21.9001 21.8777C19.517 24.2578 17.6261 27.0841 16.3352 30.195C15.0444 33.3059 14.3789 36.6407 14.3768 40.0088L0.0247047 39.9999Z" fill="#BA2C70"/>
</svg>



                            </div>
                           
                        </div>
                    </a>
                     <a href='' class="col-4 news-col">
                        <div class="col__inner">
                            <div class="col-img">
                                <img src="../static/images/kids-news.png" alt="">
                            </div>
                            <div class="col-info">
                               <div class="col-info__top">
                                    <div class="col-info__date">
                                    4 декабря 2019
                                </div>
                                <div class="col-info__title">
                                  Открыт набор школьников в группы общего английского языка!!
                                </div>
                                <div class="col-info__text">
                                    Приглашаем ребят 13-17 лет 
в группы общего английского языка!
                                </div>
                               </div>
                               <div class="col-info__bottom">
                                    <div class="col-info__action">
                                    <span  class="yellow-text">Подробнее <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6.85371 0.857178L12 6.00002L6.85542 11.1429L6.24942 10.5386L10.3594 6.42859H0V5.57147H10.3594L6.24771 1.45974L6.85371 0.857178Z" fill="#FDC600"/>
</svg>
</span>
                                </div>
                               </div>
                            </div>
                            <div class="card-elem">
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M10.0247 40.0061C4.50185 40.0027 -0.0953536 35.4548 1.27433 30.1045C1.74534 28.2646 2.34783 26.4565 3.07897 24.6945C5.09216 19.8427 8.04126 15.435 11.7579 11.7229C15.4745 8.01085 19.8859 5.0672 24.7402 3.06001C26.5031 2.33105 28.3119 1.73079 30.1524 1.26205C35.5044 -0.101029 40.0466 4.50179 40.0432 10.0246L40.0309 30.0246C40.0275 35.5475 35.5475 40.0219 30.0247 40.0185L10.0247 40.0061Z" fill="#650549"/>
<path d="M0.0247047 39.9999C0.0279471 34.7471 1.06579 29.5463 3.07897 24.6945C5.09216 19.8427 8.04126 15.435 11.7579 11.7229C15.4745 8.01085 19.8859 5.0672 24.7402 3.06001C29.5944 1.05282 34.7965 0.0213979 40.0494 0.0246403L40.0405 14.3768C36.6724 14.3747 33.3369 15.036 30.2243 16.3231C27.1118 17.6101 24.2832 19.4975 21.9001 21.8777C19.517 24.2578 17.6261 27.0841 16.3352 30.195C15.0444 33.3059 14.3789 36.6407 14.3768 40.0088L0.0247047 39.9999Z" fill="#650549"/>
</svg>



                            </div>
                           
                        </div>
                    </a>
                     <a href='' class="col-4 news-col">
                        <div class="col__inner">
                            <div class="col-img">
                                <img src="../static/images/kids-news.png" alt="">
                            </div>
                            <div class="col-info">
                              <div class="col-info__top">
                                    <div class="col-info__date">
                                    4 декабря 2019
                                </div>
                                <div class="col-info__title">
                                  Открыт набор школьников в группы общего английского языка!!
                                </div>
                                <div class="col-info__text">
                                    Приглашаем ребят 13-17 лет 
в группы общего английского языка!
                                </div>
                              </div>
                               <div class="col-info__bottom">
                                    <div class="col-info__action">
                                    <span  class="yellow-text">Подробнее <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6.85371 0.857178L12 6.00002L6.85542 11.1429L6.24942 10.5386L10.3594 6.42859H0V5.57147H10.3594L6.24771 1.45974L6.85371 0.857178Z" fill="#FDC600"/>
</svg>
</span>
                                </div>
                               </div>
                            </div>
                            <div class="card-elem">
         <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M10.0247 40.0062C4.50185 40.0028 -0.0953536 35.4549 1.27433 30.1046C1.74534 28.2647 2.34783 26.4566 3.07897 24.6945C5.09216 19.8428 8.04126 15.435 11.7579 11.723C15.4745 8.01091 19.8859 5.06726 24.7402 3.06007C26.5031 2.33111 28.3119 1.73085 30.1524 1.26211C35.5044 -0.100968 40.0466 4.50185 40.0432 10.0247L40.0309 30.0247C40.0275 35.5475 35.5475 40.0219 30.0247 40.0185L10.0247 40.0062Z" fill="#27348B"/>
<path d="M0.0247047 40C0.0279471 34.7471 1.06579 29.5463 3.07897 24.6945C5.09216 19.8428 8.04126 15.435 11.7579 11.723C15.4745 8.01091 19.8859 5.06726 24.7402 3.06007C29.5944 1.05288 34.7965 0.021459 40.0494 0.0247014L40.0405 14.3768C36.6724 14.3748 33.3369 15.0361 30.2243 16.3231C27.1118 17.6101 24.2832 19.4976 21.9001 21.8777C19.517 24.2579 17.6261 27.0841 16.3352 30.1951C15.0444 33.306 14.3789 36.6407 14.3768 40.0089L0.0247047 40Z" fill="#27348B"/>
</svg>



                            </div>
                           
                        </div>
                    </a>
                     <a href='' class="col-4 news-col">
                        <div class="col__inner">
                            <div class="col-img">
                                <img src="../static/images/kids-news.png" alt="">
                            </div>
                            <div class="col-info">
                           <div class="col-info__top">
                                    <div class="col-info__date">
                                    4 декабря 2019
                                </div>
                                <div class="col-info__title">
                                  Открыт набор школьников в группы общего английского языка!!
                                </div>
                                <div class="col-info__text">
                                    Приглашаем ребят 13-17 лет 
в группы общего английского языка!
                                </div>
                           </div>
                               <div class="col-info__bottom">
                                    <div class="col-info__action">
                                    <span  class="yellow-text">Подробнее <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6.85371 0.857178L12 6.00002L6.85542 11.1429L6.24942 10.5386L10.3594 6.42859H0V5.57147H10.3594L6.24771 1.45974L6.85371 0.857178Z" fill="#FDC600"/>
</svg>
</span>
                                </div>
                               </div>
                            </div>
                            <div class="card-elem">
      <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M10.0247 40.0062C4.50185 40.0028 -0.0953536 35.4549 1.27433 30.1046C1.74534 28.2647 2.34783 26.4566 3.07897 24.6945C5.09216 19.8428 8.04126 15.435 11.7579 11.723C15.4745 8.01091 19.8859 5.06726 24.7402 3.06007C26.5031 2.33111 28.3119 1.73085 30.1524 1.26211C35.5044 -0.100968 40.0466 4.50185 40.0432 10.0247L40.0309 30.0247C40.0275 35.5475 35.5475 40.0219 30.0247 40.0185L10.0247 40.0062Z" fill="#007D58"/>
<path d="M0.0247047 40C0.0279471 34.7471 1.06579 29.5463 3.07897 24.6945C5.09216 19.8428 8.04126 15.435 11.7579 11.723C15.4745 8.01091 19.8859 5.06726 24.7402 3.06007C29.5944 1.05288 34.7965 0.021459 40.0494 0.0247014L40.0405 14.3768C36.6724 14.3748 33.3369 15.0361 30.2243 16.3231C27.1118 17.6101 24.2832 19.4976 21.9001 21.8777C19.517 24.2579 17.6261 27.0841 16.3352 30.1951C15.0444 33.306 14.3789 36.6407 14.3768 40.0089L0.0247047 40Z" fill="#007D58"/>
</svg>



                            </div>
                           
                        </div>
                    </a>
                     <a href='' class="col-4 news-col">
                        <div class="col__inner">
                            <div class="col-img">
                                <img src="../static/images/kids-news.png" alt="">
                            </div>
                            <div class="col-info">
                           <div class="col-info__top">
                                    <div class="col-info__date">
                                    4 декабря 2019
                                </div>
                                <div class="col-info__title">
                                  Открыт набор школьников в группы общего английского языка!!
                                </div>
                                <div class="col-info__text">
                                    Приглашаем ребят 13-17 лет 
в группы общего английского языка!
                                </div>
                           </div>
                              <div class="col-info__bottom">
                                    <div class="col-info__action">
                                    <span class="yellow-text">Подробнее <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6.85371 0.857178L12 6.00002L6.85542 11.1429L6.24942 10.5386L10.3594 6.42859H0V5.57147H10.3594L6.24771 1.45974L6.85371 0.857178Z" fill="#FDC600"/>
</svg>
</span>
                                </div>
                              </div>
                            </div>
                            <div class="card-elem">
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M10.0247 40.0062C4.50185 40.0028 -0.0953536 35.4549 1.27433 30.1046C1.74534 28.2647 2.34783 26.4566 3.07897 24.6945C5.09216 19.8428 8.04126 15.435 11.7579 11.723C15.4745 8.01091 19.8859 5.06726 24.7402 3.06007C26.5031 2.33111 28.3119 1.73085 30.1524 1.26211C35.5044 -0.100968 40.0466 4.50185 40.0432 10.0247L40.0309 30.0247C40.0275 35.5475 35.5475 40.0219 30.0247 40.0185L10.0247 40.0062Z" fill="#95C11F"/>
<path d="M0.0247047 40C0.0279471 34.7471 1.06579 29.5463 3.07897 24.6945C5.09216 19.8428 8.04126 15.435 11.7579 11.723C15.4745 8.01091 19.8859 5.06726 24.7402 3.06007C29.5944 1.05288 34.7965 0.021459 40.0494 0.0247014L40.0405 14.3768C36.6724 14.3748 33.3369 15.0361 30.2243 16.3231C27.1118 17.6101 24.2832 19.4976 21.9001 21.8777C19.517 24.2579 17.6261 27.0841 16.3352 30.1951C15.0444 33.306 14.3789 36.6407 14.3768 40.0089L0.0247047 40Z" fill="#95C11F"/>
</svg>



                            </div>
                           
                        </div>
                    </a>
                    
                </div>
                  <ul class="pagination">
    <li class="page-item prev"><a class="page-link" href="#"><svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="17.5" cy="17.5" r="17" stroke="#01548A"/>
<path d="M21.2297 12.4797L19.6875 10.9375L13.125 17.5L19.6875 24.0625L21.2297 22.5203L16.2203 17.5L21.2297 12.4797Z" fill="#01548A"/>
</svg>
</a></li>
    <li class="page-item"><a class="page-link active" href="#">1</a></li>
    <li class="page-item"><a class="page-link " href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">4</a></li>
    <li class="page-item"><a class="page-link" href="#">5</a></li>
    <li class="page-item next"><a class="page-link" href="#"><svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="17.5" cy="17.5" r="17" stroke="#01548A"/>
<path d="M15.3127 10.9375L13.7705 12.4797L18.7799 17.5L13.7705 22.5203L15.3127 24.0625L21.8752 17.5L15.3127 10.9375Z" fill="#01548A"/>
</svg>
</a></li>
  </ul>
            </div>
        </div>
    </div>
</section>
<section class="section steps-section">
    <div class="container">
        <div class="section__inner">
            <h3 class="section__title">
                Начните учить анлийский язык
                с International House:
            </h3>
            <div class="section__subtitle">
                Для этого нужно сделать всего пару шагов
            </div>
            <div class="section__stepbar">
                <div class="stepbar-elem">
                    <div class="elem-title">
                        01
                    </div>
                    <div class="elem-fragment">
                        <svg class="ellips" width="28" height="29" viewBox="0 0 28 29" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <circle cx="14" cy="14.0205" r="13.5" fill="white" stroke="#FDC600" />
                            <circle cx="14" cy="14.0205" r="8" fill="#FDC600" />
                        </svg>

                        <svg width="363" height="57" viewBox="0 0 363 57" fill="none" xmlns="http://www.w3.org/2000/svg"
                            class="line1">
                            <path
                                d="M1 55.0204C9.6946 56.0204 31.2572 55.8204 47.9509 47.0204C68.8179 36.0204 122.029 0.0204259 181.5 1.02043"
                                stroke="#888888" stroke-width="2" stroke-dasharray="3 2" />
                            <path
                                d="M362 55.0409C353.305 56.0409 331.743 55.8409 315.049 47.0409C294.182 36.0409 240.971 0.0409337 181.5 1.04093"
                                stroke="#888888" stroke-width="2" stroke-dasharray="3 2" />
                        </svg>

                    </div>
                    <div class="elem-desc">
                        Пройди предварительное
                        тестирование
                    </div>
                </div>
                <div class="stepbar-elem">
                    <div class="elem-title">
                        02
                    </div>
                    <div class="elem-fragment">
                        <svg class="ellips" width="28" height="29" viewBox="0 0 28 29" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <circle cx="14" cy="14.0205" r="13.5" fill="white" stroke="#FDC600" />
                            <circle cx="14" cy="14.0205" r="8" fill="#FDC600" />
                        </svg>

                        <svg width="363" height="57" viewBox="0 0 363 57" fill="none" xmlns="http://www.w3.org/2000/svg"
                            class="line1">
                            <path
                                d="M1 55.0204C9.6946 56.0204 31.2572 55.8204 47.9509 47.0204C68.8179 36.0204 122.029 0.0204259 181.5 1.02043"
                                stroke="#888888" stroke-width="2" stroke-dasharray="3 2" />
                            <path
                                d="M362 55.0409C353.305 56.0409 331.743 55.8409 315.049 47.0409C294.182 36.0409 240.971 0.0409337 181.5 1.04093"
                                stroke="#888888" stroke-width="2" stroke-dasharray="3 2" />
                        </svg>

                    </div>
                    <div class="elem-desc">
                        Записаться на собеседование по итогам тестирования
                    </div>
                </div>
                <div class="stepbar-elem">
                    <div class="elem-title">
                        03
                    </div>
                    <div class="elem-fragment">
                        <svg class="ellips" width="28" height="29" viewBox="0 0 28 29" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <circle cx="14" cy="14.0205" r="13.5" fill="white" stroke="#FDC600" />
                            <circle cx="14" cy="14.0205" r="8" fill="#FDC600" />
                        </svg>
                    </div>
                    <div class="elem-desc">
                        Начать занятие английского языка
                        в школе IH
                    </div>
                </div>
            </div>
            <a href="" class="btn secondary-btn">Начать тестирование</a>
        </div>
    </div>
</section>
</div>
{{> layout/footer}}