{{!Отдельная новость}}

{{> layout/header}}
<div class="content news-single-page">
    <div class="breadcrumbs-wrapper">
        <div class="container">
            <ul class="breadcrumbs">
                <li class="breadcrumbs__item">
                    <a href="" class="breadcrumbs__link">Главная</a>
                </li>
                <li class="breadcrumbs__item">
                    <a href="" class="breadcrumbs__link">Новости и события нашей школы</a>
                </li>
               
            </ul>
        </div>
    </div>



    <div class="page__title">
        <div class="container">
            <h2 class="title">
               Новости и события нашей <br> школы
            </h2>
        </div>
    </div>
 <div class="banner" style="background-image:url('../static/images/news-banner.png')">
     <div class="container">
         <div class="banner__inner">
             <div class="banner__info">
                 Регистрация на экзамен 
                    для преподавателей TKT 
                    (Teaching Knowledge Test)
             </div>
         </div>
     </div>
 </div>
 <section class="section news-section">
<div class="container">
    <div class="section__inner">
        <div class="section__info">
            <div class="section__info-block">
                <div class="block__top">
                    <div class="block__top-left">
                        <div class="block__img">
                            <img src="../static/images/news-image1.png" alt="">
                        </div>
                    </div>
                    <div class="block__top-right">
                        <div class="block__info">
                            <div class="block__info-title">
                                Регистрация на экзамен для преподавателей TKT 
(Teaching Knowledge Test): 
13-23 января 2020 года
                            </div>
                            <div class="block__info-text">
                                Экзамен TKT (Teaching Knowledge Test) - это экзамен, разработанный для преподавателей английского языка средних школ, вузов и частных преподавателей, желающих протестировать свои знания в таких профессиональных областях как различные методики преподавания, основные аспекты планирования уроков, использование ресурсов, анализ языка и др., расширить профессиональные перспективы, а также подготовиться к получению других широко признанных квалификаций Cambridge English для преподавателей английского языка, например, CELTA и Delta.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block__bottom">
                    <div class="block__info mobile-text">
                        <p><span class="left">
                            <b>Дата проведения экзамена TKT Module 1, TKT Module 2, 
TKT Module 3, TKT CLIL, TLT YL :</b>
                        </span> <span class="right">1 марта</span> </p>
<p><span class="left">
    <b>
    Регистрация:
</b>
</span> <span class="right">13-23 января</span></p>
<p>
   <span class="left">
        <b>Стоимость:</b>
   </span>
    <span class="right">125 BYN за один модуль</span>
</p>
<p> <span class="left"><b>Результаты онлайн:</b></span> <span class="right">27.03 - 9.04</span></p>
<p> <span class="left">
    <b>Выдача сертификатов:</b>
</span> <span class="right">апрель 2020</span></p>
                    </div>
                </div>
            </div>
            <div class="section__info-block">
                <div class="block__top">
                    <div class="video">
                        <img src="../static/images/news-video.png" alt="">
                      <div class="play-button">
                                       <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg" >
<path d="M40 0C17.9443 0 0 17.9443 0 40C0 62.0557 17.9443 80 40 80C62.0557 80 80 62.0557 80 40C80 17.9443 62.0557 0 40 0ZM30 59.9996V19.9999L60 39.9996L30 59.9996Z" fill="white"/>
</svg>
                      </div>

                    </div>
                </div>
                <div class="block__bottom">
                    <div class="block__info secondary-block-info">
                        <div class="block__info-title">
                            Как зарегистрироваться?
                        </div>
                        <ul class="list-info">
                            <li class="list-item">
                                <div class="list-item__top">
                                    <div class="top-left">
                                        <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="4" cy="4" r="4" fill="#003A78"/>
</svg>

                                    </div>
                                    <div class="top-right">
                                        Удалённая регистрация
                                    </div>
                                </div>
                                <div class="list-item__bottom">
                                    <ul class="sublist">
                                        <li class="list-item">
                                            <div class="list-item__left">
                                                Вариант 1.
                                            </div>
                                            <div class="list-item__right">
Зарегистрироваться можно online, заполнив анкету 
                                            </div>
                                        </li>
                                           <li class="list-item">
                                            <div class="list-item__left">
                                                Вариант 2.
                                            </div>
                                            <div class="list-item__right">
<p>Отправить заявку на электронный адрес <a href="" class="link">здесь</a></p>
<p>В заявке указать фамилию, имя и номер телефона <a href="" class="link">cambridge@ih.by.</a>
После получения письма с вами свяжется представитель экзаменационного центра, вышлет анкету, договор 
с инструкциями о том, как можно зарегистрироваться 
и оплатить, не приезжая в наш офис.</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                              <li class="list-item">
                                <div class="list-item__top">
                                    <div class="top-left">
                                        <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="4" cy="4" r="4" fill="#003A78"/>
</svg>

                                    </div>
                                    <div class="top-right">
                                        Регистрация в нашем офисе
                                    </div>
                                </div>
                                <div class="list-item__bottom">
                                   <p>
                                       Прийти в наш офис (г. Минск, пр. Машерова, 10, к. 108, с 10:00 до 19:00 по будням) и на месте заполнить анкету, договор, оплатить экзамен. При себе иметь паспорт.
                                   </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="block__info description-block-info">
                        <div class="block__info-title">
                            Будем рады ответить на ваши вопросы по <br> телефонам:
                        </div>
                        <ul class="tel-list">
                            <li class="list-item">
                                +375 (17) 284-59-10
                            </li>
                            <li class="list-item">
                                +375 (44) 550-44-57
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
            <div class="section__actions">
             <a href="" class="btn secondary-btn white"><svg width="18" height="15" class="arrow-left" viewBox="0 0 18 15"  xmlns="http://www.w3.org/2000/svg">
<path d="M7.71944 0L0 7.49998L7.71687 15L8.62586 14.1188L2.46086 8.12499H18V6.87501H2.46086L8.62844 0.878741L7.71944 0Z" />
</svg>
Назад </a>
             <a href="" class="btn secondary-btn" >Следующая новость <svg width="18" height="15" class="arrow-right" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M10.2806 0L18 7.49998L10.2831 15L9.37414 14.1188L15.5391 8.12499H0V6.87501H15.5391L9.37156 0.878741L10.2806 0Z" fill="white"/>
</svg>
</a>
         </div>
    </div>
</div>
 </section>
<section class="section news-list-section">
<div class="container">
    <div class="section__inner">
        <div class="section__info">
             <div class="row">
                      <a href='' class="col-sm-12 col-lg-4 news-col">
                        <div class="col__inner">
                            <div class="col-img">
                                <img src="../static/images/kids-news.png" alt="">
                            </div>
                            <div class="col-info">
                                <div class="col-info__date">
                                    4 декабря 2019
                                </div>
                                <div class="col-info__title">
                                  Открыт набор школьников в группы общего английского языка!!
                                </div>
                                <div class="col-info__text">
                                    Приглашаем ребят 13-17 лет 
в группы общего английского языка!
                                </div>
                            
                            </div>
                      
                           
                        </div>
                    </a>
                     <a href='' class="col-sm-12 col-lg-4 news-col">
                        <div class="col__inner">
                            <div class="col-img">
                                <img src="../static/images/kids-news.png" alt="">
                            </div>
                            <div class="col-info">
                                <div class="col-info__date">
                                    4 декабря 2019
                                </div>
                                <div class="col-info__title">
                                  Открыт набор школьников в группы общего английского языка!!
                                </div>
                                <div class="col-info__text">
                                    Приглашаем ребят 13-17 лет 
в группы общего английского языка!
                                </div>
                          
                            </div>
                        
                           
                        </div>
                    </a>
                     <a href='' class="col-sm-12 col-lg-4 news-col">
                        <div class="col__inner">
                            <div class="col-img">
                                <img src="../static/images/kids-news.png" alt="">
                            </div>
                            <div class="col-info">
                                <div class="col-info__date">
                                    4 декабря 2019
                                </div>
                                <div class="col-info__title">
                                  Открыт набор школьников в группы общего английского языка!!
                                </div>
                                <div class="col-info__text">
                                    Приглашаем ребят 13-17 лет 
в группы общего английского языка!
                                </div>
                             
                            </div>
                  
                           
                        </div>
                    </a>
                 
                    
                </div>
        </div>
          <div class="section__actions">
        
             <button  class="btn secondary-btn white" >Показать еще
</button>
         </div>
    </div>
</div>
</section>
<div class="banner-secondary" style="background-image:url('../static/images/call_action.png')">
    <div class="container">
        <div class="banner__inner">
            <div class="banner__info">
                <div class="banner__info-title">
                    Записаться на подготовку 
к Кембриджским экзаменам
                </div>
                <div class="banner__info-subtitle">
                    Позвонив по данным номерам телефонов, 
вы сможете записаться на наши курсы:
                </div>
                <ul class="banner__info-list">
                    <li class="list-item">
                        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M21.3375 3.65934C16.4552 -1.22147 8.54064 -1.22029 3.65983 3.66203C-1.22098 8.54435 -1.21981 16.4589 3.66252 21.3397C8.54484 26.2205 16.4594 26.2194 21.3402 21.337C23.6842 18.9923 25.0007 15.8123 25 12.4968C24.9993 9.1819 23.6819 6.003 21.3375 3.65934ZM18.9308 17.4119C18.9303 17.4124 18.9298 17.413 18.9292 17.4135V17.4094L18.2958 18.0385C17.4767 18.868 16.2838 19.2092 15.15 18.9385C14.0076 18.6328 12.9217 18.1461 11.9333 17.4969C11.0151 16.91 10.1641 16.224 9.39582 15.451C8.68893 14.7493 8.05388 13.9788 7.49997 13.151C6.89411 12.2603 6.41457 11.29 6.07497 10.2677C5.68566 9.06672 6.00827 7.74889 6.90832 6.86354L7.64997 6.12189C7.85617 5.91476 8.19123 5.91403 8.39831 6.12023C8.39885 6.12077 8.39943 6.12131 8.39997 6.12189L10.7416 8.46354C10.9487 8.66974 10.9495 9.0048 10.7433 9.21188C10.7427 9.21242 10.7422 9.21296 10.7416 9.21354L9.36662 10.5885C8.97209 10.9788 8.92248 11.5989 9.24997 12.0469C9.74728 12.7294 10.2976 13.3716 10.8958 13.9677C11.5628 14.6376 12.2878 15.2469 13.0625 15.7886C13.5101 16.1008 14.1169 16.0482 14.5041 15.6636L15.8333 14.3136C16.0395 14.1065 16.3745 14.1057 16.5816 14.3119C16.5821 14.3125 16.5827 14.313 16.5833 14.3136L18.9291 16.6636C19.1363 16.8697 19.137 17.2048 18.9308 17.4119Z" fill="#FDC600"/>
</svg>
<a href="tel:+375447777318" class="list-link"> +375 (44) 777-73-18</a>
                    </li>
                    <li class="list-item">
<a href="tel:+375447777318" class="list-link"> +375 (44) 777-73-18</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
{{> layout/footer}}