{{!Онлайн-тест}}

{{> layout/header}}
<div class="content online-test-page">
    <div class="breadcrumbs-wrapper">
        <div class="container">
            <ul class="breadcrumbs">
                <li class="breadcrumbs__item">
                    <a href="" class="breadcrumbs__link">Главная</a>
                </li>
                <li class="breadcrumbs__item">
                    <a href="" class="breadcrumbs__link">Онлайн-тест</a>
                </li>
               
            </ul>
        </div>
    </div>



    <div class="page__title">
        <div class="container">
            <h2 class="title">
             Онлайн-тестирование и запись <br> на курсы
            </h2>
        </div>
    </div>
<section class="section record-interview-section">
    <div class="container">
        <div class="section__inner">
            <h3 class="section__title">
                Запись на устное собеседование
            </h3>
            <div class="section__subtitle">
                Запись предлагается во всплывающем окне после завершения теста 
            </div>
            <div class="section__info">
                     <div class="row info-row">
                      <div  class="col-sm-12 col-md-6 col-lg-3 info-col">
                        <div class="col__inner">
                            <div class="col-img">
                                <img src="../static/images/kids.png" alt="">
                            </div>
                            <div class="col-info">
                               
                           <div class="col-info__top">
                                    <div class="col-info__title">
                                  Запись 
для школьников
                                </div>
                                <div class="col-info__text">
                                (6-11 лет)
                                </div>
                           </div>
                           <div class="col-info__bottom">
<div class="col-info__action">
     <a href="" class="btn secondary-btn" data-popup='signup-popup'>Записаться</a>
                                </div>
                           </div>
                                
                            </div>
                            <div class="card-elem">
                           <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M10.0247 40.0061C4.50185 40.0027 -0.0953536 35.4548 1.27433 30.1045C1.74534 28.2646 2.34783 26.4565 3.07897 24.6945C5.09216 19.8427 8.04126 15.435 11.7579 11.7229C15.4745 8.01085 19.8859 5.0672 24.7402 3.06001C26.5031 2.33105 28.3119 1.73079 30.1524 1.26205C35.5044 -0.101029 40.0466 4.50179 40.0432 10.0246L40.0309 30.0246C40.0275 35.5475 35.5475 40.0219 30.0247 40.0185L10.0247 40.0061Z" fill="#E63312"/>
<path d="M0.0247047 39.9999C0.0279471 34.7471 1.06579 29.5463 3.07897 24.6945C5.09216 19.8427 8.04126 15.435 11.7579 11.7229C15.4745 8.01085 19.8859 5.0672 24.7402 3.06001C29.5944 1.05282 34.7965 0.0213979 40.0494 0.0246403L40.0405 14.3768C36.6724 14.3747 33.3369 15.036 30.2243 16.3231C27.1118 17.6101 24.2832 19.4975 21.9001 21.8777C19.517 24.2578 17.6261 27.0841 16.3352 30.195C15.0444 33.3059 14.3789 36.6407 14.3768 40.0088L0.0247047 39.9999Z" fill="#E63312"/>
</svg>


                            </div>
                           
                        </div>
                    </div>
                     <div class="col-sm-12 col-md-6 col-lg-3 info-col">
                        <div class="col__inner">
                            <div class="col-img">
                                <img src="../static/images/test-image2.png" alt="">
                            </div>
                            <div class="col-info">
                             <div class="col-info__top">
                                    <div class="col-info__title">
                                  Тест <br> для школьников 
                                </div>
                                <div class="col-info__text">
                               (11-17 лет)
                                </div>
                             </div>
                                <div class="col-info__bottom">
                                    <div class="col-info__action">
   <a href="" class="btn secondary-btn yellow">Пройти тест</a>
                                </div>
                                </div>
                            </div>
                            <div class="card-elem">
          <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M10.0247 40.0061C4.50185 40.0027 -0.0953536 35.4548 1.27433 30.1045C1.74534 28.2646 2.34783 26.4565 3.07897 24.6945C5.09216 19.8427 8.04126 15.435 11.7579 11.7229C15.4745 8.01085 19.8859 5.0672 24.7402 3.06001C26.5031 2.33105 28.3119 1.73079 30.1524 1.26205C35.5044 -0.101029 40.0466 4.50179 40.0432 10.0246L40.0309 30.0246C40.0275 35.5475 35.5475 40.0219 30.0247 40.0185L10.0247 40.0061Z" fill="#BA2C70"/>
<path d="M0.0247047 39.9999C0.0279471 34.7471 1.06579 29.5463 3.07897 24.6945C5.09216 19.8427 8.04126 15.435 11.7579 11.7229C15.4745 8.01085 19.8859 5.0672 24.7402 3.06001C29.5944 1.05282 34.7965 0.0213979 40.0494 0.0246403L40.0405 14.3768C36.6724 14.3747 33.3369 15.036 30.2243 16.3231C27.1118 17.6101 24.2832 19.4975 21.9001 21.8777C19.517 24.2578 17.6261 27.0841 16.3352 30.195C15.0444 33.3059 14.3789 36.6407 14.3768 40.0088L0.0247047 39.9999Z" fill="#BA2C70"/>
</svg>



                            </div>
                           
                        </div>
                    </div>
                     <div  class="col-sm-12 col-md-6 col-lg-3 info-col">
                        <div class="col__inner">
                            <div class="col-img">
                                <img src="../static/images/test-image3.png" alt="">
                            </div>
                            <div class="col-info">
                              
                            <div class="col-info__top">
                                    <div class="col-info__title">
                                  Тест <br>
для взрослых
                                </div>
                                <div class="col-info__text">
                                (более 18 лет)
                                </div>
                            </div>
                                <div class="col-info__bottom">
                                    <div class="col-info__action">
        <a href="" class="btn secondary-btn yellow">Пройти тест</a>
                                </div>
                                </div>
                            </div>
                            <div class="card-elem">
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M10.0247 40.0061C4.50185 40.0027 -0.0953536 35.4548 1.27433 30.1045C1.74534 28.2646 2.34783 26.4565 3.07897 24.6945C5.09216 19.8427 8.04126 15.435 11.7579 11.7229C15.4745 8.01085 19.8859 5.0672 24.7402 3.06001C26.5031 2.33105 28.3119 1.73079 30.1524 1.26205C35.5044 -0.101029 40.0466 4.50179 40.0432 10.0246L40.0309 30.0246C40.0275 35.5475 35.5475 40.0219 30.0247 40.0185L10.0247 40.0061Z" fill="#650549"/>
<path d="M0.0247047 39.9999C0.0279471 34.7471 1.06579 29.5463 3.07897 24.6945C5.09216 19.8427 8.04126 15.435 11.7579 11.7229C15.4745 8.01085 19.8859 5.0672 24.7402 3.06001C29.5944 1.05282 34.7965 0.0213979 40.0494 0.0246403L40.0405 14.3768C36.6724 14.3747 33.3369 15.036 30.2243 16.3231C27.1118 17.6101 24.2832 19.4975 21.9001 21.8777C19.517 24.2578 17.6261 27.0841 16.3352 30.195C15.0444 33.3059 14.3789 36.6407 14.3768 40.0088L0.0247047 39.9999Z" fill="#650549"/>
</svg>



                            </div>
                           
                        </div>
                    </div>
                     <div  class="col-sm-12 col-md-6 col-lg-3 info-col">
                        <div class="col__inner">
                            <div class="col-img">
                                <img src="../static/images/test-image4.png" alt="">
                            </div>
                            <div class="col-info">
                                
                               <div class="col-info__top">
                                    <div class="col-info__title margin">
                                 Тест для подготовки
к международным
экзаменам
                                </div>
                               </div>
                          
                              <div class="col-info__bottom">
                                    <div class="col-info__action">
       <a href="" class="btn secondary-btn yellow">Пройти тест</a>
                                </div>
                              </div>
                            </div>
                            <div class="card-elem">
         <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M10.0247 40.0062C4.50185 40.0028 -0.0953536 35.4549 1.27433 30.1046C1.74534 28.2647 2.34783 26.4566 3.07897 24.6945C5.09216 19.8428 8.04126 15.435 11.7579 11.723C15.4745 8.01091 19.8859 5.06726 24.7402 3.06007C26.5031 2.33111 28.3119 1.73085 30.1524 1.26211C35.5044 -0.100968 40.0466 4.50185 40.0432 10.0247L40.0309 30.0247C40.0275 35.5475 35.5475 40.0219 30.0247 40.0185L10.0247 40.0062Z" fill="#27348B"/>
<path d="M0.0247047 40C0.0279471 34.7471 1.06579 29.5463 3.07897 24.6945C5.09216 19.8428 8.04126 15.435 11.7579 11.723C15.4745 8.01091 19.8859 5.06726 24.7402 3.06007C29.5944 1.05288 34.7965 0.021459 40.0494 0.0247014L40.0405 14.3768C36.6724 14.3748 33.3369 15.0361 30.2243 16.3231C27.1118 17.6101 24.2832 19.4976 21.9001 21.8777C19.517 24.2579 17.6261 27.0841 16.3352 30.1951C15.0444 33.306 14.3789 36.6407 14.3768 40.0089L0.0247047 40Z" fill="#27348B"/>
</svg>



                            </div>
                           
                        </div>
                    </div>
               
                </div>
           <div class="subtext">
               <p class="title">
                   <b>  Внимание! </b>
               </p>
               <p>   
Выполнение тестирования и запись на собеседование <br>
не гарантирует место в группе в выбранном филиале.
               </p>
           </div>
            </div>
        </div>
    </div>
</section>
<section class="section coming-courses-section">
<div class="container">
    <div class="section__inner">
        <h3 class="section__title">
            Ближайшие курсы
        </h3>
        <div class="section__info">
             <div class="row course-row">
                    <a href='' class="col-sm-12 col-md-6 col-lg-4 course-col">
                        <div class="col__inner">
                          <div class="col__top">
                                <div class="col__title">
                                Общий английский 
для взрослых
                            </div>
                            <div class="col__subtitle">
                                Открыта запись на новый семестр! 
Занятия начались, но можно присоединиться.
                              
                            </div>
                          </div>
                           <div class="col__bottom">
                                <div class="col__details">
                                Подробнее
                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M6.85371 0.857147L12 5.99999L6.85542 11.1428L6.24942 10.5386L10.3594 6.42856H0V5.57143H10.3594L6.24771 1.45971L6.85371 0.857147Z"
                                        fill="#FDC600" />
                                </svg>
                            </div>
                           </div>
                            <div class="col__elem">
                                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" class="elem-before">
<path d="M40.0056 30.0247C40.0022 35.5475 35.4543 40.1447 30.104 38.775C28.2641 38.304 26.456 37.7015 24.694 36.9704C19.8422 34.9572 15.4345 32.0081 11.7224 28.2915C8.01037 24.5748 5.06671 20.1635 3.05952 15.3092C2.33056 13.5463 1.7303 11.7374 1.26156 9.89697C-0.101517 4.54497 4.5013 0.00275308 10.0242 0.00616211L30.0241 0.0185073C35.547 0.0219163 40.0214 4.50183 40.018 10.0247L40.0056 30.0247Z" fill="#E63312"/>
<path d="M39.9995 40.0247C34.7466 40.0214 29.5458 38.9836 24.694 36.9704C19.8422 34.9572 15.4345 32.0081 11.7224 28.2915C8.01037 24.5748 5.06671 20.1635 3.05952 15.3092C1.05233 10.4549 0.0209097 5.25286 0.024152 -1.0483e-05L14.3763 0.00884852C14.3742 3.37697 15.0356 6.71252 16.3226 9.82506C17.6096 12.9376 19.497 15.7662 21.8772 18.1493C24.2573 20.5323 27.0836 22.4233 30.1945 23.7141C33.3055 25.005 36.6402 25.6705 40.0083 25.6725L39.9995 40.0247Z" fill="#E63312"/>
</svg>


                             <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" class="elem-after">
<path d="M39.9995 40.0247C34.7466 40.0214 29.5458 38.9836 24.694 36.9704C19.8422 34.9572 15.4345 32.0081 11.7224 28.2915C8.01037 24.5748 5.06671 20.1635 3.05952 15.3092C1.05233 10.4549 0.0209097 5.25286 0.024152 -1.0483e-05L14.3763 0.00884852C14.3742 3.37697 15.0356 6.71252 16.3226 9.82506C17.6096 12.9376 19.497 15.7662 21.8772 18.1493C24.2573 20.5323 27.0836 22.4233 30.1945 23.7141C33.3055 25.005 36.6402 25.6705 40.0083 25.6725L39.9995 40.0247Z" fill="#E63312"/>
</svg>


                            </div>
                        </div>
                    </a>
                    <a href='' class="col-sm-12 col-md-6 col-lg-4 course-col">
                        <div class="col__inner">
                       <div class="col__top">
                                <div class="col__title">
                              Подготовки к IELTS <br>
(уровень Intermediate)
                            </div>
                            <div class="col__subtitle">
                               Запись на курс подготовки начнется 
с 13 января
                            </div>
                       </div>
                         <div class="col__bottom">
                                <div class="col__details">
                                Подробнее
                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M6.85371 0.857147L12 5.99999L6.85542 11.1428L6.24942 10.5386L10.3594 6.42856H0V5.57143H10.3594L6.24771 1.45971L6.85371 0.857147Z"
                                        fill="#FDC600" />
                                </svg>
                            </div>
                         </div>
                            <div class="col__elem">
                                                           <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" class="elem-before">
<path d="M40.0056 30.0247C40.0022 35.5475 35.4543 40.1447 30.104 38.775C28.2641 38.304 26.456 37.7015 24.694 36.9704C19.8422 34.9572 15.4345 32.0081 11.7224 28.2915C8.01037 24.5748 5.06671 20.1635 3.05952 15.3092C2.33056 13.5463 1.7303 11.7374 1.26156 9.89697C-0.101517 4.54497 4.5013 0.00275308 10.0242 0.00616211L30.0241 0.0185073C35.547 0.0219163 40.0214 4.50183 40.018 10.0247L40.0056 30.0247Z" fill="#BA2C70"/>
<path d="M39.9995 40.0247C34.7466 40.0214 29.5458 38.9836 24.694 36.9704C19.8422 34.9572 15.4345 32.0081 11.7224 28.2915C8.01037 24.5748 5.06671 20.1635 3.05952 15.3092C1.05233 10.4549 0.0209097 5.25286 0.024152 -1.0483e-05L14.3763 0.00884852C14.3742 3.37697 15.0356 6.71252 16.3226 9.82506C17.6096 12.9376 19.497 15.7662 21.8772 18.1493C24.2573 20.5323 27.0836 22.4233 30.1945 23.7141C33.3055 25.005 36.6402 25.6705 40.0083 25.6725L39.9995 40.0247Z" fill="#BA2C70"/>
</svg>


                              <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" class="elem-after">
<path d="M39.9995 40.0247C34.7466 40.0214 29.5458 38.9836 24.694 36.9704C19.8422 34.9572 15.4345 32.0081 11.7224 28.2915C8.01037 24.5748 5.06671 20.1635 3.05952 15.3092C1.05233 10.4549 0.0209097 5.25286 0.024152 -1.0483e-05L14.3763 0.00884852C14.3742 3.37697 15.0356 6.71252 16.3226 9.82506C17.6096 12.9376 19.497 15.7662 21.8772 18.1493C24.2573 20.5323 27.0836 22.4233 30.1945 23.7141C33.3055 25.005 36.6402 25.6705 40.0083 25.6725L39.9995 40.0247Z" fill="#BA2C70"/>
</svg>


                            </div>
                        </div>
                    </a>
                    <a href='' class="col-sm-12 col-md-6 col-lg-4 course-col">
                        <div class="col__inner">
                         <div class="col__top">
                                <div class="col__title">
                               Группы для школьников <br>
11-17 лет
                            </div>
                            <div class="col__subtitle">
                                Открыта запись на II полугодие, занятия 
с 13 января 2020г.
                            </div>
                         </div>
                          <div class="col__bottom">
                                <div class="col__details">
                                Подробнее
                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M6.85371 0.857147L12 5.99999L6.85542 11.1428L6.24942 10.5386L10.3594 6.42856H0V5.57143H10.3594L6.24771 1.45971L6.85371 0.857147Z"
                                        fill="#FDC600" />
                                </svg>
                            </div>
                          </div>
                            <div class="col__elem">
                                                                                     <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" class="elem-before">
<path d="M40.0056 30.0247C40.0022 35.5475 35.4543 40.1447 30.104 38.775C28.2641 38.304 26.456 37.7015 24.694 36.9704C19.8422 34.9572 15.4345 32.0081 11.7224 28.2915C8.01037 24.5748 5.06671 20.1635 3.05952 15.3092C2.33056 13.5463 1.7303 11.7374 1.26156 9.89697C-0.101517 4.54497 4.5013 0.00275308 10.0242 0.00616211L30.0241 0.0185073C35.547 0.0219163 40.0214 4.50183 40.018 10.0247L40.0056 30.0247Z" fill="#650549"/>
<path d="M39.9995 40.0247C34.7466 40.0214 29.5458 38.9836 24.694 36.9704C19.8422 34.9572 15.4345 32.0081 11.7224 28.2915C8.01037 24.5748 5.06671 20.1635 3.05952 15.3092C1.05233 10.4549 0.0209097 5.25286 0.024152 -1.0483e-05L14.3763 0.00884852C14.3742 3.37697 15.0356 6.71252 16.3226 9.82506C17.6096 12.9376 19.497 15.7662 21.8772 18.1493C24.2573 20.5323 27.0836 22.4233 30.1945 23.7141C33.3055 25.005 36.6402 25.6705 40.0083 25.6725L39.9995 40.0247Z" fill="#650549"/>
</svg>


                              <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" class="elem-after">
<path d="M39.9995 40.0247C34.7466 40.0214 29.5458 38.9836 24.694 36.9704C19.8422 34.9572 15.4345 32.0081 11.7224 28.2915C8.01037 24.5748 5.06671 20.1635 3.05952 15.3092C1.05233 10.4549 0.0209097 5.25286 0.024152 -1.0483e-05L14.3763 0.00884852C14.3742 3.37697 15.0356 6.71252 16.3226 9.82506C17.6096 12.9376 19.497 15.7662 21.8772 18.1493C24.2573 20.5323 27.0836 22.4233 30.1945 23.7141C33.3055 25.005 36.6402 25.6705 40.0083 25.6725L39.9995 40.0247Z" fill="#650549"/>
</svg>

                            </div>
                        </div>
                    </a>
                    <a href='' class="col-sm-12 col-md-6 col-lg-4 course-col">
                        <div class="col__inner">
                        <div class="col__top">
                                <div class="col__title">
                            Группы для детей <br>
8-10 лет
                            </div>
                            <div class="col__subtitle">
                               Набор на 2019-2020 учебный год завершен, ближайший набор в августе 2020 г.
                            </div>
                        </div>
                          <div class="col__bottom">
                                <div class="col__details">
                                Подробнее
                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M6.85371 0.857147L12 5.99999L6.85542 11.1428L6.24942 10.5386L10.3594 6.42856H0V5.57143H10.3594L6.24771 1.45971L6.85371 0.857147Z"
                                        fill="#FDC600" />
                                </svg>
                            </div>
                          </div>
                            <div class="col__elem">
                                                                                                             <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" class="elem-before">
<path d="M40.0056 30.0247C40.0022 35.5475 35.4543 40.1447 30.104 38.775C28.2641 38.304 26.456 37.7015 24.694 36.9704C19.8422 34.9572 15.4345 32.0081 11.7224 28.2915C8.01037 24.5748 5.06671 20.1635 3.05952 15.3092C2.33056 13.5463 1.7303 11.7374 1.26156 9.89697C-0.101517 4.54497 4.5013 0.00275308 10.0242 0.00616211L30.0241 0.0185073C35.547 0.0219163 40.0214 4.50183 40.018 10.0247L40.0056 30.0247Z" fill="#27348B"/>
<path d="M39.9995 40.0247C34.7466 40.0214 29.5458 38.9836 24.694 36.9704C19.8422 34.9572 15.4345 32.0081 11.7224 28.2915C8.01037 24.5748 5.06671 20.1635 3.05952 15.3092C1.05233 10.4549 0.0209097 5.25286 0.024152 -1.0483e-05L14.3763 0.00884852C14.3742 3.37697 15.0356 6.71252 16.3226 9.82506C17.6096 12.9376 19.497 15.7662 21.8772 18.1493C24.2573 20.5323 27.0836 22.4233 30.1945 23.7141C33.3055 25.005 36.6402 25.6705 40.0083 25.6725L39.9995 40.0247Z" fill="#27348B"/>
</svg>


                              <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" class="elem-after">
<path d="M39.9995 40.0247C34.7466 40.0214 29.5458 38.9836 24.694 36.9704C19.8422 34.9572 15.4345 32.0081 11.7224 28.2915C8.01037 24.5748 5.06671 20.1635 3.05952 15.3092C1.05233 10.4549 0.0209097 5.25286 0.024152 -1.0483e-05L14.3763 0.00884852C14.3742 3.37697 15.0356 6.71252 16.3226 9.82506C17.6096 12.9376 19.497 15.7662 21.8772 18.1493C24.2573 20.5323 27.0836 22.4233 30.1945 23.7141C33.3055 25.005 36.6402 25.6705 40.0083 25.6725L39.9995 40.0247Z" fill="#27348B"/>
</svg>

                            </div>
                        </div>
                    </a>
                    <a href='' class="col-sm-12 col-md-6 col-lg-4 course-col">
                        <div class="col__inner">
                        <div class="col__top">
                                <div class="col__title">
                        Группы для детей 6-7 лет, <br>
не изучавших английский язык 
                            </div>
                            <div class="col__subtitle">
                              Набор на 2019-2020 учебный год завершен, ближайший набор в августе 2020 г.
                            </div>
                        </div>
                          <div class="col__bottom">
                                <div class="col__details">
                                Подробнее
                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M6.85371 0.857147L12 5.99999L6.85542 11.1428L6.24942 10.5386L10.3594 6.42856H0V5.57143H10.3594L6.24771 1.45971L6.85371 0.857147Z"
                                        fill="#FDC600" />
                                </svg>
                            </div>
                          </div>
                            <div class="col__elem">
                                                                                                             <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" class="elem-before">
<path d="M40.0056 30.0247C40.0022 35.5475 35.4543 40.1447 30.104 38.775C28.2641 38.304 26.456 37.7015 24.694 36.9704C19.8422 34.9572 15.4345 32.0081 11.7224 28.2915C8.01037 24.5748 5.06671 20.1635 3.05952 15.3092C2.33056 13.5463 1.7303 11.7374 1.26156 9.89697C-0.101517 4.54497 4.5013 0.00275308 10.0242 0.00616211L30.0241 0.0185073C35.547 0.0219163 40.0214 4.50183 40.018 10.0247L40.0056 30.0247Z" fill="#007D58"/>
<path d="M39.9995 40.0247C34.7466 40.0214 29.5458 38.9836 24.694 36.9704C19.8422 34.9572 15.4345 32.0081 11.7224 28.2915C8.01037 24.5748 5.06671 20.1635 3.05952 15.3092C1.05233 10.4549 0.0209097 5.25286 0.024152 -1.0483e-05L14.3763 0.00884852C14.3742 3.37697 15.0356 6.71252 16.3226 9.82506C17.6096 12.9376 19.497 15.7662 21.8772 18.1493C24.2573 20.5323 27.0836 22.4233 30.1945 23.7141C33.3055 25.005 36.6402 25.6705 40.0083 25.6725L39.9995 40.0247Z" fill="#007D58"/>
</svg>


                              <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" class="elem-after">
<path d="M39.9995 40.0247C34.7466 40.0214 29.5458 38.9836 24.694 36.9704C19.8422 34.9572 15.4345 32.0081 11.7224 28.2915C8.01037 24.5748 5.06671 20.1635 3.05952 15.3092C1.05233 10.4549 0.0209097 5.25286 0.024152 -1.0483e-05L14.3763 0.00884852C14.3742 3.37697 15.0356 6.71252 16.3226 9.82506C17.6096 12.9376 19.497 15.7662 21.8772 18.1493C24.2573 20.5323 27.0836 22.4233 30.1945 23.7141C33.3055 25.005 36.6402 25.6705 40.0083 25.6725L39.9995 40.0247Z" fill="#007D58"/>
</svg>

                            </div>
                        </div>
                    </a>
                </div>
                <div class="subtext">
                    <p>
                        Если вы изучали английский язык ранее, то в период набора пройдите тест и запишитесь на собеседование, после которого преподаватель определит ваш уровень владения языком, а администратор поможет с выбором группы.


                    </p>
                    <p>
                        Запись на собеседование осуществляется онлайн. Записаться можно сразу после завершения теста на проверку 
и определения уровня владения английским языком (во всплывающем окне) либо по ссылке, которая приходит 
на электронную почту с результатами теста.
                    </p>
                </div>
        </div>
    </div>
</div>
</section>
 <div class="popup__box signup-popup" id="signup-popup">
        <button class="popup__close js-close-wnd">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M24 2.82811L21.1719 0L12 9.17186L2.82811 0L0 2.82811L9.17186 12L0 21.1719L2.82811 24L12 14.8281L21.1718 24L23.9999 21.1719L14.8281 12L24 2.82811Z"
              fill="#650549" />
          </svg>

        </button>
        <form action="" class="signup-form" id="signup-form">
          <div class="form__title">Контактная форма</div>
      
          <div class="form__inputs">
            {{> ui/input type='text' name='name' placeholder='Телефон*'}}
            {{> ui/input type='email' name='email' placeholder='Email'}}
             {{> ui/input type='text' name='name' placeholder='IELTS PEFERENCE NO*'}}
               {{> ui/input type='text' name='name' placeholder='Номер паспорта*'}}
               {{> ui/input type='text' name='name' placeholder='Дата экзамена*'}}
          </div>
          <a href="#" class="btn primary-btn" >Отправить</a>
          <div class="subtext">
              *Номер регистрации вам присылают на почту при заполнении анкеты на сайте British Council
          </div>
        </form>
      </div>
</div>
{{> layout/footer}}