{{!Оплата услуг}}

{{> layout/header}}
<div class="content payment-page">
    <div class="breadcrumbs-wrapper">
        <div class="container">
            <ul class="breadcrumbs">
                <li class="breadcrumbs__item">
                    <a href="" class="breadcrumbs__link">Главная</a>
                </li>
                <li class="breadcrumbs__item">
                    <a href="" class="breadcrumbs__link">Оплата услуг</a>
                </li>
               
            </ul>
        </div>
    </div>



    <div class="page__title">
        <div class="container">
            <h2 class="title">
             Оплата услуг
            </h2>
            <div class="subtitle">
                Оплатить услуги учебного центра «Интернэшнл Хаус» по проведению экзамена IELTS вы можете онлайн при помощи платёжной системы bePaid в любом удобном для вас месте, в удобное для вас время.
            </div>
        </div>
    </div>
    <section class="section payment-section">
        <div class="container">
            <div class="section__inner">
                <div class="section__list">
                       <div class="row course-row">
                    <div  class="col-4 course-col">
                        <div class="col__inner">
                          <div class="col__top">
                                <div class="col__title">
                   Экзамен IELTS
                            </div>
                            <div class="col__subtitle">
                             Сумма к оплате: <span class="price">430,00 бел.руб.</span>
                              
                            </div>
                          </div>
                           <div class="col__bottom">
                             <a href="" class="btn primary-btn">Оплатить</a>
                           </div>
                            <div class="col__elem">
                                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" class="elem-before">
<path d="M40.0056 30.0247C40.0022 35.5475 35.4543 40.1447 30.104 38.775C28.2641 38.304 26.456 37.7015 24.694 36.9704C19.8422 34.9572 15.4345 32.0081 11.7224 28.2915C8.01037 24.5748 5.06671 20.1635 3.05952 15.3092C2.33056 13.5463 1.7303 11.7374 1.26156 9.89697C-0.101517 4.54497 4.5013 0.00275308 10.0242 0.00616211L30.0241 0.0185073C35.547 0.0219163 40.0214 4.50183 40.018 10.0247L40.0056 30.0247Z" fill="#E63312"/>
<path d="M39.9995 40.0247C34.7466 40.0214 29.5458 38.9836 24.694 36.9704C19.8422 34.9572 15.4345 32.0081 11.7224 28.2915C8.01037 24.5748 5.06671 20.1635 3.05952 15.3092C1.05233 10.4549 0.0209097 5.25286 0.024152 -1.0483e-05L14.3763 0.00884852C14.3742 3.37697 15.0356 6.71252 16.3226 9.82506C17.6096 12.9376 19.497 15.7662 21.8772 18.1493C24.2573 20.5323 27.0836 22.4233 30.1945 23.7141C33.3055 25.005 36.6402 25.6705 40.0083 25.6725L39.9995 40.0247Z" fill="#E63312"/>
</svg>


                             <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" class="elem-after">
<path d="M39.9995 40.0247C34.7466 40.0214 29.5458 38.9836 24.694 36.9704C19.8422 34.9572 15.4345 32.0081 11.7224 28.2915C8.01037 24.5748 5.06671 20.1635 3.05952 15.3092C1.05233 10.4549 0.0209097 5.25286 0.024152 -1.0483e-05L14.3763 0.00884852C14.3742 3.37697 15.0356 6.71252 16.3226 9.82506C17.6096 12.9376 19.497 15.7662 21.8772 18.1493C24.2573 20.5323 27.0836 22.4233 30.1945 23.7141C33.3055 25.005 36.6402 25.6705 40.0083 25.6725L39.9995 40.0247Z" fill="#E63312"/>
</svg>


                            </div>
                        </div>
                    </div>
                    <div  class="col-4 course-col">
                        <div class="col__inner">
                          <div class="col__top">
                                <div class="col__title">
                   Дополнительная копия 
сертификата IELTS
                            </div>
                            <div class="col__subtitle">
                             Сумма к оплате: <span class="price">30,00 бел.руб.</span>
                              
                            </div>
                          </div>
                           <div class="col__bottom">
                             <a href="" class="btn primary-btn">Оплатить</a>
                           </div>
                            <div class="col__elem">
                                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" class="elem-before">
<path d="M40.0056 30.0247C40.0022 35.5475 35.4543 40.1447 30.104 38.775C28.2641 38.304 26.456 37.7015 24.694 36.9704C19.8422 34.9572 15.4345 32.0081 11.7224 28.2915C8.01037 24.5748 5.06671 20.1635 3.05952 15.3092C2.33056 13.5463 1.7303 11.7374 1.26156 9.89697C-0.101517 4.54497 4.5013 0.00275308 10.0242 0.00616211L30.0241 0.0185073C35.547 0.0219163 40.0214 4.50183 40.018 10.0247L40.0056 30.0247Z" fill="#BA2C70"/>
<path d="M39.9995 40.0247C34.7466 40.0214 29.5458 38.9836 24.694 36.9704C19.8422 34.9572 15.4345 32.0081 11.7224 28.2915C8.01037 24.5748 5.06671 20.1635 3.05952 15.3092C1.05233 10.4549 0.0209097 5.25286 0.024152 -1.0483e-05L14.3763 0.00884852C14.3742 3.37697 15.0356 6.71252 16.3226 9.82506C17.6096 12.9376 19.497 15.7662 21.8772 18.1493C24.2573 20.5323 27.0836 22.4233 30.1945 23.7141C33.3055 25.005 36.6402 25.6705 40.0083 25.6725L39.9995 40.0247Z" fill="#BA2C70"/>
</svg>


                             <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" class="elem-after">
<path d="M39.9995 40.0247C34.7466 40.0214 29.5458 38.9836 24.694 36.9704C19.8422 34.9572 15.4345 32.0081 11.7224 28.2915C8.01037 24.5748 5.06671 20.1635 3.05952 15.3092C1.05233 10.4549 0.0209097 5.25286 0.024152 -1.0483e-05L14.3763 0.00884852C14.3742 3.37697 15.0356 6.71252 16.3226 9.82506C17.6096 12.9376 19.497 15.7662 21.8772 18.1493C24.2573 20.5323 27.0836 22.4233 30.1945 23.7141C33.3055 25.005 36.6402 25.6705 40.0083 25.6725L39.9995 40.0247Z" fill="#BA2C70"/>
</svg>


                            </div>
                        </div>
                    </div>
                        <div  class="col-4 course-col">
                        <div class="col__inner">
                          <div class="col__top">
                                <div class="col__title">
                   Подача апелляции
                            </div>
                            <div class="col__subtitle">
                             Сумма к оплате: <br> <span class="price">£80 по курсу НБ РБ = 223,49 бел.руб.</span>
                              
                            </div>
                          </div>
                           <div class="col__bottom">
                             <a href="" class="btn primary-btn">Оплатить</a>
                           </div>
                            <div class="col__elem">
                                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" class="elem-before">
<path d="M40.0056 30.0247C40.0022 35.5475 35.4543 40.1447 30.104 38.775C28.2641 38.304 26.456 37.7015 24.694 36.9704C19.8422 34.9572 15.4345 32.0081 11.7224 28.2915C8.01037 24.5748 5.06671 20.1635 3.05952 15.3092C2.33056 13.5463 1.7303 11.7374 1.26156 9.89697C-0.101517 4.54497 4.5013 0.00275308 10.0242 0.00616211L30.0241 0.0185073C35.547 0.0219163 40.0214 4.50183 40.018 10.0247L40.0056 30.0247Z" fill="#650549"/>
<path d="M39.9995 40.0247C34.7466 40.0214 29.5458 38.9836 24.694 36.9704C19.8422 34.9572 15.4345 32.0081 11.7224 28.2915C8.01037 24.5748 5.06671 20.1635 3.05952 15.3092C1.05233 10.4549 0.0209097 5.25286 0.024152 -1.0483e-05L14.3763 0.00884852C14.3742 3.37697 15.0356 6.71252 16.3226 9.82506C17.6096 12.9376 19.497 15.7662 21.8772 18.1493C24.2573 20.5323 27.0836 22.4233 30.1945 23.7141C33.3055 25.005 36.6402 25.6705 40.0083 25.6725L39.9995 40.0247Z" fill="#650549"/>
</svg>


                             <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" class="elem-after">
<path d="M39.9995 40.0247C34.7466 40.0214 29.5458 38.9836 24.694 36.9704C19.8422 34.9572 15.4345 32.0081 11.7224 28.2915C8.01037 24.5748 5.06671 20.1635 3.05952 15.3092C1.05233 10.4549 0.0209097 5.25286 0.024152 -1.0483e-05L14.3763 0.00884852C14.3742 3.37697 15.0356 6.71252 16.3226 9.82506C17.6096 12.9376 19.497 15.7662 21.8772 18.1493C24.2573 20.5323 27.0836 22.4233 30.1945 23.7141C33.3055 25.005 36.6402 25.6705 40.0083 25.6725L39.9995 40.0247Z" fill="#650549"/>
</svg>


                            </div>
                        </div>
                    </div>
                        <div  class="col-4 course-col">
                        <div class="col__inner">
                          <div class="col__top">
                                <div class="col__title">
                  Teaching Knowledge 
Test (ТКТ)
                            </div>
                            <div class="col__subtitle">
                             Сумма к оплате: <span class="price">125,00 бел.руб.</span>
                              
                            </div>
                          </div>
                           <div class="col__bottom">
                             <a href="" class="btn primary-btn">Оплатить</a>
                           </div>
                            <div class="col__elem">
                                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" class="elem-before">
<path d="M40.0056 30.0247C40.0022 35.5475 35.4543 40.1447 30.104 38.775C28.2641 38.304 26.456 37.7015 24.694 36.9704C19.8422 34.9572 15.4345 32.0081 11.7224 28.2915C8.01037 24.5748 5.06671 20.1635 3.05952 15.3092C2.33056 13.5463 1.7303 11.7374 1.26156 9.89697C-0.101517 4.54497 4.5013 0.00275308 10.0242 0.00616211L30.0241 0.0185073C35.547 0.0219163 40.0214 4.50183 40.018 10.0247L40.0056 30.0247Z" fill="#27348B"/>
<path d="M39.9995 40.0247C34.7466 40.0214 29.5458 38.9836 24.694 36.9704C19.8422 34.9572 15.4345 32.0081 11.7224 28.2915C8.01037 24.5748 5.06671 20.1635 3.05952 15.3092C1.05233 10.4549 0.0209097 5.25286 0.024152 -1.0483e-05L14.3763 0.00884852C14.3742 3.37697 15.0356 6.71252 16.3226 9.82506C17.6096 12.9376 19.497 15.7662 21.8772 18.1493C24.2573 20.5323 27.0836 22.4233 30.1945 23.7141C33.3055 25.005 36.6402 25.6705 40.0083 25.6725L39.9995 40.0247Z" fill="#27348B"/>
</svg>


                             <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" class="elem-after">
<path d="M39.9995 40.0247C34.7466 40.0214 29.5458 38.9836 24.694 36.9704C19.8422 34.9572 15.4345 32.0081 11.7224 28.2915C8.01037 24.5748 5.06671 20.1635 3.05952 15.3092C1.05233 10.4549 0.0209097 5.25286 0.024152 -1.0483e-05L14.3763 0.00884852C14.3742 3.37697 15.0356 6.71252 16.3226 9.82506C17.6096 12.9376 19.497 15.7662 21.8772 18.1493C24.2573 20.5323 27.0836 22.4233 30.1945 23.7141C33.3055 25.005 36.6402 25.6705 40.0083 25.6725L39.9995 40.0247Z" fill="#27348B"/>
</svg>


                            </div>
                        </div>
                    </div>
                        <div  class="col-4 course-col">
                        <div class="col__inner">
                          <div class="col__top">
                                <div class="col__title">
                   B2 First/ B2 Business Vantage
                            </div>
                            <div class="col__subtitle">
                             Сумма к оплате: <span class="price">290,00 бел.руб.</span>
                              
                            </div>
                          </div>
                           <div class="col__bottom">
                             <a href="" class="btn primary-btn">Оплатить</a>
                           </div>
                            <div class="col__elem">
                                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" class="elem-before">
<path d="M40.0056 30.0247C40.0022 35.5475 35.4543 40.1447 30.104 38.775C28.2641 38.304 26.456 37.7015 24.694 36.9704C19.8422 34.9572 15.4345 32.0081 11.7224 28.2915C8.01037 24.5748 5.06671 20.1635 3.05952 15.3092C2.33056 13.5463 1.7303 11.7374 1.26156 9.89697C-0.101517 4.54497 4.5013 0.00275308 10.0242 0.00616211L30.0241 0.0185073C35.547 0.0219163 40.0214 4.50183 40.018 10.0247L40.0056 30.0247Z" fill="#007D58"/>
<path d="M39.9995 40.0247C34.7466 40.0214 29.5458 38.9836 24.694 36.9704C19.8422 34.9572 15.4345 32.0081 11.7224 28.2915C8.01037 24.5748 5.06671 20.1635 3.05952 15.3092C1.05233 10.4549 0.0209097 5.25286 0.024152 -1.0483e-05L14.3763 0.00884852C14.3742 3.37697 15.0356 6.71252 16.3226 9.82506C17.6096 12.9376 19.497 15.7662 21.8772 18.1493C24.2573 20.5323 27.0836 22.4233 30.1945 23.7141C33.3055 25.005 36.6402 25.6705 40.0083 25.6725L39.9995 40.0247Z" fill="#007D58"/>
</svg>


                             <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" class="elem-after">
<path d="M39.9995 40.0247C34.7466 40.0214 29.5458 38.9836 24.694 36.9704C19.8422 34.9572 15.4345 32.0081 11.7224 28.2915C8.01037 24.5748 5.06671 20.1635 3.05952 15.3092C1.05233 10.4549 0.0209097 5.25286 0.024152 -1.0483e-05L14.3763 0.00884852C14.3742 3.37697 15.0356 6.71252 16.3226 9.82506C17.6096 12.9376 19.497 15.7662 21.8772 18.1493C24.2573 20.5323 27.0836 22.4233 30.1945 23.7141C33.3055 25.005 36.6402 25.6705 40.0083 25.6725L39.9995 40.0247Z" fill="#007D58"/>
</svg>


                            </div>
                        </div>
                    </div>
                        <div  class="col-4 course-col">
                        <div class="col__inner">
                          <div class="col__top">
                                <div class="col__title">
                   B2 First/ B2 Business Vantage
                            </div>
                            <div class="col__subtitle">
                             Сумма к оплате: <span class="price">290,00 бел.руб.</span>
                              
                            </div>
                          </div>
                           <div class="col__bottom">
                             <a href="" class="btn primary-btn">Оплатить</a>
                           </div>
                            <div class="col__elem">
                                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" class="elem-before">
<path d="M40.0056 30.0247C40.0022 35.5475 35.4543 40.1447 30.104 38.775C28.2641 38.304 26.456 37.7015 24.694 36.9704C19.8422 34.9572 15.4345 32.0081 11.7224 28.2915C8.01037 24.5748 5.06671 20.1635 3.05952 15.3092C2.33056 13.5463 1.7303 11.7374 1.26156 9.89697C-0.101517 4.54497 4.5013 0.00275308 10.0242 0.00616211L30.0241 0.0185073C35.547 0.0219163 40.0214 4.50183 40.018 10.0247L40.0056 30.0247Z" fill="#95C11F"/>
<path d="M39.9995 40.0247C34.7466 40.0214 29.5458 38.9836 24.694 36.9704C19.8422 34.9572 15.4345 32.0081 11.7224 28.2915C8.01037 24.5748 5.06671 20.1635 3.05952 15.3092C1.05233 10.4549 0.0209097 5.25286 0.024152 -1.0483e-05L14.3763 0.00884852C14.3742 3.37697 15.0356 6.71252 16.3226 9.82506C17.6096 12.9376 19.497 15.7662 21.8772 18.1493C24.2573 20.5323 27.0836 22.4233 30.1945 23.7141C33.3055 25.005 36.6402 25.6705 40.0083 25.6725L39.9995 40.0247Z" fill="#95C11F"/>
</svg>


                             <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" class="elem-after">
<path d="M39.9995 40.0247C34.7466 40.0214 29.5458 38.9836 24.694 36.9704C19.8422 34.9572 15.4345 32.0081 11.7224 28.2915C8.01037 24.5748 5.06671 20.1635 3.05952 15.3092C1.05233 10.4549 0.0209097 5.25286 0.024152 -1.0483e-05L14.3763 0.00884852C14.3742 3.37697 15.0356 6.71252 16.3226 9.82506C17.6096 12.9376 19.497 15.7662 21.8772 18.1493C24.2573 20.5323 27.0836 22.4233 30.1945 23.7141C33.3055 25.005 36.6402 25.6705 40.0083 25.6725L39.9995 40.0247Z" fill="#95C11F"/>
</svg>


                            </div>
                        </div>
                    </div>
                        <div  class="col-4 course-col">
                        <div class="col__inner">
                          <div class="col__top">
                                <div class="col__title">
                   B2 First/ B2 Business Vantage
                            </div>
                            <div class="col__subtitle">
                             Сумма к оплате: <span class="price">290,00 бел.руб.</span>
                              
                            </div>
                          </div>
                           <div class="col__bottom">
                             <a href="" class="btn primary-btn">Оплатить</a>
                           </div>
                            <div class="col__elem">
                                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" class="elem-before">
<path d="M40.0056 30.0247C40.0022 35.5475 35.4543 40.1447 30.104 38.775C28.2641 38.304 26.456 37.7015 24.694 36.9704C19.8422 34.9572 15.4345 32.0081 11.7224 28.2915C8.01037 24.5748 5.06671 20.1635 3.05952 15.3092C2.33056 13.5463 1.7303 11.7374 1.26156 9.89697C-0.101517 4.54497 4.5013 0.00275308 10.0242 0.00616211L30.0241 0.0185073C35.547 0.0219163 40.0214 4.50183 40.018 10.0247L40.0056 30.0247Z" fill="#F18700"/>
<path d="M39.9995 40.0247C34.7466 40.0214 29.5458 38.9836 24.694 36.9704C19.8422 34.9572 15.4345 32.0081 11.7224 28.2915C8.01037 24.5748 5.06671 20.1635 3.05952 15.3092C1.05233 10.4549 0.0209097 5.25286 0.024152 -1.0483e-05L14.3763 0.00884852C14.3742 3.37697 15.0356 6.71252 16.3226 9.82506C17.6096 12.9376 19.497 15.7662 21.8772 18.1493C24.2573 20.5323 27.0836 22.4233 30.1945 23.7141C33.3055 25.005 36.6402 25.6705 40.0083 25.6725L39.9995 40.0247Z" fill="#F18700"/>
</svg>


                             <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" class="elem-after">
<path d="M39.9995 40.0247C34.7466 40.0214 29.5458 38.9836 24.694 36.9704C19.8422 34.9572 15.4345 32.0081 11.7224 28.2915C8.01037 24.5748 5.06671 20.1635 3.05952 15.3092C1.05233 10.4549 0.0209097 5.25286 0.024152 -1.0483e-05L14.3763 0.00884852C14.3742 3.37697 15.0356 6.71252 16.3226 9.82506C17.6096 12.9376 19.497 15.7662 21.8772 18.1493C24.2573 20.5323 27.0836 22.4233 30.1945 23.7141C33.3055 25.005 36.6402 25.6705 40.0083 25.6725L39.9995 40.0247Z" fill="#F18700"/>
</svg>


                            </div>
                        </div>
                    </div>
                        <div  class="col-4 course-col">
                        <div class="col__inner">
                          <div class="col__top">
                                <div class="col__title">
                   B2 First/ B2 Business Vantage
                            </div>
                            <div class="col__subtitle">
                             Сумма к оплате: <span class="price">290,00 бел.руб.</span>
                              
                            </div>
                          </div>
                           <div class="col__bottom">
                             <a href="" class="btn primary-btn">Оплатить</a>
                           </div>
                            <div class="col__elem">
                                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" class="elem-before">
<path d="M40.0056 30.0247C40.0022 35.5475 35.4543 40.1447 30.104 38.775C28.2641 38.304 26.456 37.7015 24.694 36.9704C19.8422 34.9572 15.4345 32.0081 11.7224 28.2915C8.01037 24.5748 5.06671 20.1635 3.05952 15.3092C2.33056 13.5463 1.7303 11.7374 1.26156 9.89697C-0.101517 4.54497 4.5013 0.00275308 10.0242 0.00616211L30.0241 0.0185073C35.547 0.0219163 40.0214 4.50183 40.018 10.0247L40.0056 30.0247Z" fill="#FBBA00"/>
<path d="M39.9995 40.0247C34.7466 40.0214 29.5458 38.9836 24.694 36.9704C19.8422 34.9572 15.4345 32.0081 11.7224 28.2915C8.01037 24.5748 5.06671 20.1635 3.05952 15.3092C1.05233 10.4549 0.0209097 5.25286 0.024152 -1.0483e-05L14.3763 0.00884852C14.3742 3.37697 15.0356 6.71252 16.3226 9.82506C17.6096 12.9376 19.497 15.7662 21.8772 18.1493C24.2573 20.5323 27.0836 22.4233 30.1945 23.7141C33.3055 25.005 36.6402 25.6705 40.0083 25.6725L39.9995 40.0247Z" fill="#FBBA00"/>
</svg>


                             <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" class="elem-after">
<path d="M39.9995 40.0247C34.7466 40.0214 29.5458 38.9836 24.694 36.9704C19.8422 34.9572 15.4345 32.0081 11.7224 28.2915C8.01037 24.5748 5.06671 20.1635 3.05952 15.3092C1.05233 10.4549 0.0209097 5.25286 0.024152 -1.0483e-05L14.3763 0.00884852C14.3742 3.37697 15.0356 6.71252 16.3226 9.82506C17.6096 12.9376 19.497 15.7662 21.8772 18.1493C24.2573 20.5323 27.0836 22.4233 30.1945 23.7141C33.3055 25.005 36.6402 25.6705 40.0083 25.6725L39.9995 40.0247Z" fill="#FBBA00"/>
</svg>


                            </div>
                        </div>
                    </div>
                        <div  class="col-4 course-col">
                        <div class="col__inner">
                          <div class="col__top">
                                <div class="col__title">
                  B2 First/ B2 Business Vantage
                            </div>
                            <div class="col__subtitle">
                             Сумма к оплате: <span class="price"> 290,00 бел.руб.</span>
                              
                            </div>
                          </div>
                           <div class="col__bottom">
                             <a href="" class="btn primary-btn">Оплатить</a>
                           </div>
                            <div class="col__elem">
                                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" class="elem-before">
<path d="M40.0056 30.0247C40.0022 35.5475 35.4543 40.1447 30.104 38.775C28.2641 38.304 26.456 37.7015 24.694 36.9704C19.8422 34.9572 15.4345 32.0081 11.7224 28.2915C8.01037 24.5748 5.06671 20.1635 3.05952 15.3092C2.33056 13.5463 1.7303 11.7374 1.26156 9.89697C-0.101517 4.54497 4.5013 0.00275308 10.0242 0.00616211L30.0241 0.0185073C35.547 0.0219163 40.0214 4.50183 40.018 10.0247L40.0056 30.0247Z" fill="#E63312"/>
<path d="M39.9995 40.0247C34.7466 40.0214 29.5458 38.9836 24.694 36.9704C19.8422 34.9572 15.4345 32.0081 11.7224 28.2915C8.01037 24.5748 5.06671 20.1635 3.05952 15.3092C1.05233 10.4549 0.0209097 5.25286 0.024152 -1.0483e-05L14.3763 0.00884852C14.3742 3.37697 15.0356 6.71252 16.3226 9.82506C17.6096 12.9376 19.497 15.7662 21.8772 18.1493C24.2573 20.5323 27.0836 22.4233 30.1945 23.7141C33.3055 25.005 36.6402 25.6705 40.0083 25.6725L39.9995 40.0247Z" fill="#E63312"/>
</svg>


                             <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" class="elem-after">
<path d="M39.9995 40.0247C34.7466 40.0214 29.5458 38.9836 24.694 36.9704C19.8422 34.9572 15.4345 32.0081 11.7224 28.2915C8.01037 24.5748 5.06671 20.1635 3.05952 15.3092C1.05233 10.4549 0.0209097 5.25286 0.024152 -1.0483e-05L14.3763 0.00884852C14.3742 3.37697 15.0356 6.71252 16.3226 9.82506C17.6096 12.9376 19.497 15.7662 21.8772 18.1493C24.2573 20.5323 27.0836 22.4233 30.1945 23.7141C33.3055 25.005 36.6402 25.6705 40.0083 25.6725L39.9995 40.0247Z" fill="#E63312"/>
</svg>


                            </div>
                        </div>
                    </div>
                       <div  class="col-4 course-col">
                        <div class="col__inner">
                          <div class="col__top">
                                <div class="col__title">
                  B2 First/ B2 Business Vantage
                            </div>
                            <div class="col__subtitle">
                             Сумма к оплате: <span class="price"> 290,00 бел.руб.</span>
                              
                            </div>
                          </div>
                           <div class="col__bottom">
                             <a href="" class="btn primary-btn">Оплатить</a>
                           </div>
                            <div class="col__elem">
                                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" class="elem-before">
<path d="M40.0056 30.0247C40.0022 35.5475 35.4543 40.1447 30.104 38.775C28.2641 38.304 26.456 37.7015 24.694 36.9704C19.8422 34.9572 15.4345 32.0081 11.7224 28.2915C8.01037 24.5748 5.06671 20.1635 3.05952 15.3092C2.33056 13.5463 1.7303 11.7374 1.26156 9.89697C-0.101517 4.54497 4.5013 0.00275308 10.0242 0.00616211L30.0241 0.0185073C35.547 0.0219163 40.0214 4.50183 40.018 10.0247L40.0056 30.0247Z" fill="#BA2C70"/>
<path d="M39.9995 40.0247C34.7466 40.0214 29.5458 38.9836 24.694 36.9704C19.8422 34.9572 15.4345 32.0081 11.7224 28.2915C8.01037 24.5748 5.06671 20.1635 3.05952 15.3092C1.05233 10.4549 0.0209097 5.25286 0.024152 -1.0483e-05L14.3763 0.00884852C14.3742 3.37697 15.0356 6.71252 16.3226 9.82506C17.6096 12.9376 19.497 15.7662 21.8772 18.1493C24.2573 20.5323 27.0836 22.4233 30.1945 23.7141C33.3055 25.005 36.6402 25.6705 40.0083 25.6725L39.9995 40.0247Z" fill="#BA2C70"/>
</svg>


                             <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" class="elem-after">
<path d="M39.9995 40.0247C34.7466 40.0214 29.5458 38.9836 24.694 36.9704C19.8422 34.9572 15.4345 32.0081 11.7224 28.2915C8.01037 24.5748 5.06671 20.1635 3.05952 15.3092C1.05233 10.4549 0.0209097 5.25286 0.024152 -1.0483e-05L14.3763 0.00884852C14.3742 3.37697 15.0356 6.71252 16.3226 9.82506C17.6096 12.9376 19.497 15.7662 21.8772 18.1493C24.2573 20.5323 27.0836 22.4233 30.1945 23.7141C33.3055 25.005 36.6402 25.6705 40.0083 25.6725L39.9995 40.0247Z" fill="#BA2C70"/>
</svg>


                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <div class="section__info">
                    <p class="blue-text">
                        Онлайн оплата в платёжном сервисе bePaid
                    </p>
                    <p class="black-text"><b>Банковской карточкой через интернет:</b></p>
                    <p>После нажатия кнопки «Оплатить онлайн в bePaid» вы перейдете на специальную защищенную платежную страницу процессинговой системы <a href="" class="link">bePaid</a> </p>
                <p>На платежной странице будет указан номер заказа и сумма платежа. Для оплаты вам необходимо ввести свои карточные данные и подтвердить платеж, нажав кнопку «Оплатить».</p>
                <p>Если ваша карта поддерживает технологию 3-D Secure, системой ваш будет предложено пройти стандартную одноминутную процедуру проверки владельца карты на странице вашего банка (банка, который выдал вашу карту).
</p>
<p>Обращаем ваше внимание, что после проведения платежа на указанный вами  электронный адрес придет подтверждение оплаты. Просим вас сохранять данные оплат.
</p>
<p> <b>Мы принимаем платежи по следующим банковским картам:</b>   Visa, Visa Electron, MasterCard,  Maestro, Белкарт.</p>
<ul class="payment-system-list">
    <div class="list-item">
        <img src="" alt="">
    </div>
</ul>
                </div>
            </div>
        </div>
    </section>
 <div class="popup__box signup-popup" id="signup-popup">
        <button class="popup__close js-close-wnd">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M24 2.82811L21.1719 0L12 9.17186L2.82811 0L0 2.82811L9.17186 12L0 21.1719L2.82811 24L12 14.8281L21.1718 24L23.9999 21.1719L14.8281 12L24 2.82811Z"
              fill="#650549" />
          </svg>

        </button>
        <form action="" class="signup-form" id="signup-form">
          <div class="form__title">Контактная форма</div>
      
          <div class="form__inputs">
            {{> ui/input type='text' name='name' placeholder='Телефон*'}}
            {{> ui/input type='email' name='email' placeholder='Email'}}
             {{> ui/input type='text' name='name' placeholder='IELTS PEFERENCE NO*'}}
               {{> ui/input type='text' name='name' placeholder='Номер паспорта*'}}
               {{> ui/input type='text' name='name' placeholder='Дата экзамена*'}}
          </div>
          <a href="#" class="btn primary-btn" >Отправить</a>
          <div class="subtext">
              *Номер регистрации вам присылают на почту при заполнении анкеты на сайте British Council
          </div>
        </form>
      </div>
</div>
{{> layout/footer}}