{{!Оплата услуг}}

{{> layout/header}}
<div class="content payment-page">
    <div class="breadcrumbs-wrapper">
        <div class="container">
            <ul class="breadcrumbs">
                <li class="breadcrumbs__item">
                    <a href="" class="breadcrumbs__link">Главная</a>
                </li>
                <li class="breadcrumbs__item">
                    <a href="" class="breadcrumbs__link">Оплата услуг</a>
                </li>
               
            </ul>
        </div>
    </div>



    <div class="page__title">
        <div class="container">
            <h2 class="title">
             Оплата услуг
            </h2>
            <div class="subtitle">
                Оплатить услуги учебного центра «Интернэшнл Хаус» по проведению экзамена IELTS вы можете онлайн при помощи платёжной системы bePaid в любом удобном для вас месте, в удобное для вас время.
            </div>
        </div>
    </div>
    <section class="section payment-section">
        <div class="container">
            <div class="section__inner">
                <div class="section__list">
                       <div class="row course-row">
                    <div  class="col-sm-12 col-md-6 col-lg-4 course-col">
                        <div class="col__inner">
                          <div class="col__top">
                                <div class="col__title">
                   Экзамен IELTS
                            </div>
                            <div class="col__subtitle">
                             Сумма к оплате: <span class="price">430,00 бел.руб.</span>
                              
                            </div>
                          </div>
                           <div class="col__bottom">
                             <a href="" class="btn primary-btn white-text" data-popup="contract-popup">Оплатить</a>
                           </div>
                            <div class="col__elem">
                                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" class="elem-before">
<path d="M40.0056 30.0247C40.0022 35.5475 35.4543 40.1447 30.104 38.775C28.2641 38.304 26.456 37.7015 24.694 36.9704C19.8422 34.9572 15.4345 32.0081 11.7224 28.2915C8.01037 24.5748 5.06671 20.1635 3.05952 15.3092C2.33056 13.5463 1.7303 11.7374 1.26156 9.89697C-0.101517 4.54497 4.5013 0.00275308 10.0242 0.00616211L30.0241 0.0185073C35.547 0.0219163 40.0214 4.50183 40.018 10.0247L40.0056 30.0247Z" fill="#E63312"/>
<path d="M39.9995 40.0247C34.7466 40.0214 29.5458 38.9836 24.694 36.9704C19.8422 34.9572 15.4345 32.0081 11.7224 28.2915C8.01037 24.5748 5.06671 20.1635 3.05952 15.3092C1.05233 10.4549 0.0209097 5.25286 0.024152 -1.0483e-05L14.3763 0.00884852C14.3742 3.37697 15.0356 6.71252 16.3226 9.82506C17.6096 12.9376 19.497 15.7662 21.8772 18.1493C24.2573 20.5323 27.0836 22.4233 30.1945 23.7141C33.3055 25.005 36.6402 25.6705 40.0083 25.6725L39.9995 40.0247Z" fill="#E63312"/>
</svg>


                             <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" class="elem-after">
<path d="M39.9995 40.0247C34.7466 40.0214 29.5458 38.9836 24.694 36.9704C19.8422 34.9572 15.4345 32.0081 11.7224 28.2915C8.01037 24.5748 5.06671 20.1635 3.05952 15.3092C1.05233 10.4549 0.0209097 5.25286 0.024152 -1.0483e-05L14.3763 0.00884852C14.3742 3.37697 15.0356 6.71252 16.3226 9.82506C17.6096 12.9376 19.497 15.7662 21.8772 18.1493C24.2573 20.5323 27.0836 22.4233 30.1945 23.7141C33.3055 25.005 36.6402 25.6705 40.0083 25.6725L39.9995 40.0247Z" fill="#E63312"/>
</svg>


                            </div>
                        </div>
                    </div>
                    <div  class="col-sm-12  col-md-6 col-lg-4 course-col">
                        <div class="col__inner">
                          <div class="col__top">
                                <div class="col__title">
                   Дополнительная копия 
сертификата IELTS
                            </div>
                            <div class="col__subtitle">
                             Сумма к оплате: <span class="price">30,00 бел.руб.</span>
                              
                            </div>
                          </div>
                           <div class="col__bottom">
                             <a href="" class="btn primary-btn white-text" data-popup="contract-popup">Оплатить</a>
                           </div>
                            <div class="col__elem">
                                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" class="elem-before">
<path d="M40.0056 30.0247C40.0022 35.5475 35.4543 40.1447 30.104 38.775C28.2641 38.304 26.456 37.7015 24.694 36.9704C19.8422 34.9572 15.4345 32.0081 11.7224 28.2915C8.01037 24.5748 5.06671 20.1635 3.05952 15.3092C2.33056 13.5463 1.7303 11.7374 1.26156 9.89697C-0.101517 4.54497 4.5013 0.00275308 10.0242 0.00616211L30.0241 0.0185073C35.547 0.0219163 40.0214 4.50183 40.018 10.0247L40.0056 30.0247Z" fill="#BA2C70"/>
<path d="M39.9995 40.0247C34.7466 40.0214 29.5458 38.9836 24.694 36.9704C19.8422 34.9572 15.4345 32.0081 11.7224 28.2915C8.01037 24.5748 5.06671 20.1635 3.05952 15.3092C1.05233 10.4549 0.0209097 5.25286 0.024152 -1.0483e-05L14.3763 0.00884852C14.3742 3.37697 15.0356 6.71252 16.3226 9.82506C17.6096 12.9376 19.497 15.7662 21.8772 18.1493C24.2573 20.5323 27.0836 22.4233 30.1945 23.7141C33.3055 25.005 36.6402 25.6705 40.0083 25.6725L39.9995 40.0247Z" fill="#BA2C70"/>
</svg>


                             <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" class="elem-after">
<path d="M39.9995 40.0247C34.7466 40.0214 29.5458 38.9836 24.694 36.9704C19.8422 34.9572 15.4345 32.0081 11.7224 28.2915C8.01037 24.5748 5.06671 20.1635 3.05952 15.3092C1.05233 10.4549 0.0209097 5.25286 0.024152 -1.0483e-05L14.3763 0.00884852C14.3742 3.37697 15.0356 6.71252 16.3226 9.82506C17.6096 12.9376 19.497 15.7662 21.8772 18.1493C24.2573 20.5323 27.0836 22.4233 30.1945 23.7141C33.3055 25.005 36.6402 25.6705 40.0083 25.6725L39.9995 40.0247Z" fill="#BA2C70"/>
</svg>


                            </div>
                        </div>
                    </div>
                        <div  class="col-sm-12 col-md-6 col-lg-4 course-col">
                        <div class="col__inner">
                          <div class="col__top">
                                <div class="col__title">
                   Подача апелляции
                            </div>
                            <div class="col__subtitle">
                             Сумма к оплате: <br> <span class="price">£80 по курсу НБ РБ = 223,49 бел.руб.</span>
                              
                            </div>
                          </div>
                           <div class="col__bottom">
                             <a href="" class="btn primary-btn white-text" data-popup="contract-popup">Оплатить</a>
                           </div>
                            <div class="col__elem">
                                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" class="elem-before">
<path d="M40.0056 30.0247C40.0022 35.5475 35.4543 40.1447 30.104 38.775C28.2641 38.304 26.456 37.7015 24.694 36.9704C19.8422 34.9572 15.4345 32.0081 11.7224 28.2915C8.01037 24.5748 5.06671 20.1635 3.05952 15.3092C2.33056 13.5463 1.7303 11.7374 1.26156 9.89697C-0.101517 4.54497 4.5013 0.00275308 10.0242 0.00616211L30.0241 0.0185073C35.547 0.0219163 40.0214 4.50183 40.018 10.0247L40.0056 30.0247Z" fill="#650549"/>
<path d="M39.9995 40.0247C34.7466 40.0214 29.5458 38.9836 24.694 36.9704C19.8422 34.9572 15.4345 32.0081 11.7224 28.2915C8.01037 24.5748 5.06671 20.1635 3.05952 15.3092C1.05233 10.4549 0.0209097 5.25286 0.024152 -1.0483e-05L14.3763 0.00884852C14.3742 3.37697 15.0356 6.71252 16.3226 9.82506C17.6096 12.9376 19.497 15.7662 21.8772 18.1493C24.2573 20.5323 27.0836 22.4233 30.1945 23.7141C33.3055 25.005 36.6402 25.6705 40.0083 25.6725L39.9995 40.0247Z" fill="#650549"/>
</svg>


                             <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" class="elem-after">
<path d="M39.9995 40.0247C34.7466 40.0214 29.5458 38.9836 24.694 36.9704C19.8422 34.9572 15.4345 32.0081 11.7224 28.2915C8.01037 24.5748 5.06671 20.1635 3.05952 15.3092C1.05233 10.4549 0.0209097 5.25286 0.024152 -1.0483e-05L14.3763 0.00884852C14.3742 3.37697 15.0356 6.71252 16.3226 9.82506C17.6096 12.9376 19.497 15.7662 21.8772 18.1493C24.2573 20.5323 27.0836 22.4233 30.1945 23.7141C33.3055 25.005 36.6402 25.6705 40.0083 25.6725L39.9995 40.0247Z" fill="#650549"/>
</svg>


                            </div>
                        </div>
                    </div>
                        <div  class="col-sm-12 col-md-6 col-lg-4 course-col">
                        <div class="col__inner">
                          <div class="col__top">
                                <div class="col__title">
                  Teaching Knowledge 
Test (ТКТ)
                            </div>
                            <div class="col__subtitle">
                             Сумма к оплате: <span class="price">125,00 бел.руб.</span>
                              
                            </div>
                          </div>
                           <div class="col__bottom">
                             <a href="" class="btn primary-btn white-text" data-popup="contract-popup">Оплатить</a>
                           </div>
                            <div class="col__elem">
                                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" class="elem-before">
<path d="M40.0056 30.0247C40.0022 35.5475 35.4543 40.1447 30.104 38.775C28.2641 38.304 26.456 37.7015 24.694 36.9704C19.8422 34.9572 15.4345 32.0081 11.7224 28.2915C8.01037 24.5748 5.06671 20.1635 3.05952 15.3092C2.33056 13.5463 1.7303 11.7374 1.26156 9.89697C-0.101517 4.54497 4.5013 0.00275308 10.0242 0.00616211L30.0241 0.0185073C35.547 0.0219163 40.0214 4.50183 40.018 10.0247L40.0056 30.0247Z" fill="#27348B"/>
<path d="M39.9995 40.0247C34.7466 40.0214 29.5458 38.9836 24.694 36.9704C19.8422 34.9572 15.4345 32.0081 11.7224 28.2915C8.01037 24.5748 5.06671 20.1635 3.05952 15.3092C1.05233 10.4549 0.0209097 5.25286 0.024152 -1.0483e-05L14.3763 0.00884852C14.3742 3.37697 15.0356 6.71252 16.3226 9.82506C17.6096 12.9376 19.497 15.7662 21.8772 18.1493C24.2573 20.5323 27.0836 22.4233 30.1945 23.7141C33.3055 25.005 36.6402 25.6705 40.0083 25.6725L39.9995 40.0247Z" fill="#27348B"/>
</svg>


                             <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" class="elem-after">
<path d="M39.9995 40.0247C34.7466 40.0214 29.5458 38.9836 24.694 36.9704C19.8422 34.9572 15.4345 32.0081 11.7224 28.2915C8.01037 24.5748 5.06671 20.1635 3.05952 15.3092C1.05233 10.4549 0.0209097 5.25286 0.024152 -1.0483e-05L14.3763 0.00884852C14.3742 3.37697 15.0356 6.71252 16.3226 9.82506C17.6096 12.9376 19.497 15.7662 21.8772 18.1493C24.2573 20.5323 27.0836 22.4233 30.1945 23.7141C33.3055 25.005 36.6402 25.6705 40.0083 25.6725L39.9995 40.0247Z" fill="#27348B"/>
</svg>


                            </div>
                        </div>
                    </div>
                        <div  class="col-sm-12 col-md-6 col-lg-4 course-col">
                        <div class="col__inner">
                          <div class="col__top">
                                <div class="col__title">
                   B2 First/ B2 Business Vantage
                            </div>
                            <div class="col__subtitle">
                             Сумма к оплате: <span class="price">290,00 бел.руб.</span>
                              
                            </div>
                          </div>
                           <div class="col__bottom">
                             <a href="" class="btn primary-btn white-text" data-popup="contract-popup">Оплатить</a>
                           </div>
                            <div class="col__elem">
                                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" class="elem-before">
<path d="M40.0056 30.0247C40.0022 35.5475 35.4543 40.1447 30.104 38.775C28.2641 38.304 26.456 37.7015 24.694 36.9704C19.8422 34.9572 15.4345 32.0081 11.7224 28.2915C8.01037 24.5748 5.06671 20.1635 3.05952 15.3092C2.33056 13.5463 1.7303 11.7374 1.26156 9.89697C-0.101517 4.54497 4.5013 0.00275308 10.0242 0.00616211L30.0241 0.0185073C35.547 0.0219163 40.0214 4.50183 40.018 10.0247L40.0056 30.0247Z" fill="#007D58"/>
<path d="M39.9995 40.0247C34.7466 40.0214 29.5458 38.9836 24.694 36.9704C19.8422 34.9572 15.4345 32.0081 11.7224 28.2915C8.01037 24.5748 5.06671 20.1635 3.05952 15.3092C1.05233 10.4549 0.0209097 5.25286 0.024152 -1.0483e-05L14.3763 0.00884852C14.3742 3.37697 15.0356 6.71252 16.3226 9.82506C17.6096 12.9376 19.497 15.7662 21.8772 18.1493C24.2573 20.5323 27.0836 22.4233 30.1945 23.7141C33.3055 25.005 36.6402 25.6705 40.0083 25.6725L39.9995 40.0247Z" fill="#007D58"/>
</svg>


                             <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" class="elem-after">
<path d="M39.9995 40.0247C34.7466 40.0214 29.5458 38.9836 24.694 36.9704C19.8422 34.9572 15.4345 32.0081 11.7224 28.2915C8.01037 24.5748 5.06671 20.1635 3.05952 15.3092C1.05233 10.4549 0.0209097 5.25286 0.024152 -1.0483e-05L14.3763 0.00884852C14.3742 3.37697 15.0356 6.71252 16.3226 9.82506C17.6096 12.9376 19.497 15.7662 21.8772 18.1493C24.2573 20.5323 27.0836 22.4233 30.1945 23.7141C33.3055 25.005 36.6402 25.6705 40.0083 25.6725L39.9995 40.0247Z" fill="#007D58"/>
</svg>


                            </div>
                        </div>
                    </div>
                        <div  class="col-sm-12 col-md-6 col-lg-4 course-col">
                        <div class="col__inner">
                          <div class="col__top">
                                <div class="col__title">
                   B2 First/ B2 Business Vantage
                            </div>
                            <div class="col__subtitle">
                             Сумма к оплате: <span class="price">290,00 бел.руб.</span>
                              
                            </div>
                          </div>
                           <div class="col__bottom">
                             <a href="" class="btn primary-btn white-text" data-popup="contract-popup">Оплатить</a>
                           </div>
                            <div class="col__elem">
                                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" class="elem-before">
<path d="M40.0056 30.0247C40.0022 35.5475 35.4543 40.1447 30.104 38.775C28.2641 38.304 26.456 37.7015 24.694 36.9704C19.8422 34.9572 15.4345 32.0081 11.7224 28.2915C8.01037 24.5748 5.06671 20.1635 3.05952 15.3092C2.33056 13.5463 1.7303 11.7374 1.26156 9.89697C-0.101517 4.54497 4.5013 0.00275308 10.0242 0.00616211L30.0241 0.0185073C35.547 0.0219163 40.0214 4.50183 40.018 10.0247L40.0056 30.0247Z" fill="#95C11F"/>
<path d="M39.9995 40.0247C34.7466 40.0214 29.5458 38.9836 24.694 36.9704C19.8422 34.9572 15.4345 32.0081 11.7224 28.2915C8.01037 24.5748 5.06671 20.1635 3.05952 15.3092C1.05233 10.4549 0.0209097 5.25286 0.024152 -1.0483e-05L14.3763 0.00884852C14.3742 3.37697 15.0356 6.71252 16.3226 9.82506C17.6096 12.9376 19.497 15.7662 21.8772 18.1493C24.2573 20.5323 27.0836 22.4233 30.1945 23.7141C33.3055 25.005 36.6402 25.6705 40.0083 25.6725L39.9995 40.0247Z" fill="#95C11F"/>
</svg>


                             <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" class="elem-after">
<path d="M39.9995 40.0247C34.7466 40.0214 29.5458 38.9836 24.694 36.9704C19.8422 34.9572 15.4345 32.0081 11.7224 28.2915C8.01037 24.5748 5.06671 20.1635 3.05952 15.3092C1.05233 10.4549 0.0209097 5.25286 0.024152 -1.0483e-05L14.3763 0.00884852C14.3742 3.37697 15.0356 6.71252 16.3226 9.82506C17.6096 12.9376 19.497 15.7662 21.8772 18.1493C24.2573 20.5323 27.0836 22.4233 30.1945 23.7141C33.3055 25.005 36.6402 25.6705 40.0083 25.6725L39.9995 40.0247Z" fill="#95C11F"/>
</svg>


                            </div>
                        </div>
                    </div>
                        <div  class="col-sm-12 col-md-6 col-lg-4 course-col">
                        <div class="col__inner">
                          <div class="col__top">
                                <div class="col__title">
                   B2 First/ B2 Business Vantage
                            </div>
                            <div class="col__subtitle">
                             Сумма к оплате: <span class="price">290,00 бел.руб.</span>
                              
                            </div>
                          </div>
                           <div class="col__bottom">
                             <a href="" class="btn primary-btn white-text" data-popup="contract-popup">Оплатить</a>
                           </div>
                            <div class="col__elem">
                                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" class="elem-before">
<path d="M40.0056 30.0247C40.0022 35.5475 35.4543 40.1447 30.104 38.775C28.2641 38.304 26.456 37.7015 24.694 36.9704C19.8422 34.9572 15.4345 32.0081 11.7224 28.2915C8.01037 24.5748 5.06671 20.1635 3.05952 15.3092C2.33056 13.5463 1.7303 11.7374 1.26156 9.89697C-0.101517 4.54497 4.5013 0.00275308 10.0242 0.00616211L30.0241 0.0185073C35.547 0.0219163 40.0214 4.50183 40.018 10.0247L40.0056 30.0247Z" fill="#F18700"/>
<path d="M39.9995 40.0247C34.7466 40.0214 29.5458 38.9836 24.694 36.9704C19.8422 34.9572 15.4345 32.0081 11.7224 28.2915C8.01037 24.5748 5.06671 20.1635 3.05952 15.3092C1.05233 10.4549 0.0209097 5.25286 0.024152 -1.0483e-05L14.3763 0.00884852C14.3742 3.37697 15.0356 6.71252 16.3226 9.82506C17.6096 12.9376 19.497 15.7662 21.8772 18.1493C24.2573 20.5323 27.0836 22.4233 30.1945 23.7141C33.3055 25.005 36.6402 25.6705 40.0083 25.6725L39.9995 40.0247Z" fill="#F18700"/>
</svg>


                             <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" class="elem-after">
<path d="M39.9995 40.0247C34.7466 40.0214 29.5458 38.9836 24.694 36.9704C19.8422 34.9572 15.4345 32.0081 11.7224 28.2915C8.01037 24.5748 5.06671 20.1635 3.05952 15.3092C1.05233 10.4549 0.0209097 5.25286 0.024152 -1.0483e-05L14.3763 0.00884852C14.3742 3.37697 15.0356 6.71252 16.3226 9.82506C17.6096 12.9376 19.497 15.7662 21.8772 18.1493C24.2573 20.5323 27.0836 22.4233 30.1945 23.7141C33.3055 25.005 36.6402 25.6705 40.0083 25.6725L39.9995 40.0247Z" fill="#F18700"/>
</svg>


                            </div>
                        </div>
                    </div>
                        <div  class="col-sm-12 col-md-6 col-lg-4 course-col">
                        <div class="col__inner">
                          <div class="col__top">
                                <div class="col__title">
                   B2 First/ B2 Business Vantage
                            </div>
                            <div class="col__subtitle">
                             Сумма к оплате: <span class="price">290,00 бел.руб.</span>
                              
                            </div>
                          </div>
                           <div class="col__bottom">
                             <a href="" class="btn primary-btn white-text" data-popup="contract-popup">Оплатить</a>
                           </div>
                            <div class="col__elem">
                                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" class="elem-before">
<path d="M40.0056 30.0247C40.0022 35.5475 35.4543 40.1447 30.104 38.775C28.2641 38.304 26.456 37.7015 24.694 36.9704C19.8422 34.9572 15.4345 32.0081 11.7224 28.2915C8.01037 24.5748 5.06671 20.1635 3.05952 15.3092C2.33056 13.5463 1.7303 11.7374 1.26156 9.89697C-0.101517 4.54497 4.5013 0.00275308 10.0242 0.00616211L30.0241 0.0185073C35.547 0.0219163 40.0214 4.50183 40.018 10.0247L40.0056 30.0247Z" fill="#FBBA00"/>
<path d="M39.9995 40.0247C34.7466 40.0214 29.5458 38.9836 24.694 36.9704C19.8422 34.9572 15.4345 32.0081 11.7224 28.2915C8.01037 24.5748 5.06671 20.1635 3.05952 15.3092C1.05233 10.4549 0.0209097 5.25286 0.024152 -1.0483e-05L14.3763 0.00884852C14.3742 3.37697 15.0356 6.71252 16.3226 9.82506C17.6096 12.9376 19.497 15.7662 21.8772 18.1493C24.2573 20.5323 27.0836 22.4233 30.1945 23.7141C33.3055 25.005 36.6402 25.6705 40.0083 25.6725L39.9995 40.0247Z" fill="#FBBA00"/>
</svg>


                             <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" class="elem-after">
<path d="M39.9995 40.0247C34.7466 40.0214 29.5458 38.9836 24.694 36.9704C19.8422 34.9572 15.4345 32.0081 11.7224 28.2915C8.01037 24.5748 5.06671 20.1635 3.05952 15.3092C1.05233 10.4549 0.0209097 5.25286 0.024152 -1.0483e-05L14.3763 0.00884852C14.3742 3.37697 15.0356 6.71252 16.3226 9.82506C17.6096 12.9376 19.497 15.7662 21.8772 18.1493C24.2573 20.5323 27.0836 22.4233 30.1945 23.7141C33.3055 25.005 36.6402 25.6705 40.0083 25.6725L39.9995 40.0247Z" fill="#FBBA00"/>
</svg>


                            </div>
                        </div>
                    </div>
                        <div  class="col-sm-12 col-md-6 col-lg-4 course-col">
                        <div class="col__inner">
                          <div class="col__top">
                                <div class="col__title">
                  B2 First/ B2 Business Vantage
                            </div>
                            <div class="col__subtitle">
                             Сумма к оплате: <span class="price"> 290,00 бел.руб.</span>
                              
                            </div>
                          </div>
                           <div class="col__bottom">
                             <a href="" class="btn primary-btn white-text" data-popup="contract-popup">Оплатить</a>
                           </div>
                            <div class="col__elem">
                                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" class="elem-before">
<path d="M40.0056 30.0247C40.0022 35.5475 35.4543 40.1447 30.104 38.775C28.2641 38.304 26.456 37.7015 24.694 36.9704C19.8422 34.9572 15.4345 32.0081 11.7224 28.2915C8.01037 24.5748 5.06671 20.1635 3.05952 15.3092C2.33056 13.5463 1.7303 11.7374 1.26156 9.89697C-0.101517 4.54497 4.5013 0.00275308 10.0242 0.00616211L30.0241 0.0185073C35.547 0.0219163 40.0214 4.50183 40.018 10.0247L40.0056 30.0247Z" fill="#E63312"/>
<path d="M39.9995 40.0247C34.7466 40.0214 29.5458 38.9836 24.694 36.9704C19.8422 34.9572 15.4345 32.0081 11.7224 28.2915C8.01037 24.5748 5.06671 20.1635 3.05952 15.3092C1.05233 10.4549 0.0209097 5.25286 0.024152 -1.0483e-05L14.3763 0.00884852C14.3742 3.37697 15.0356 6.71252 16.3226 9.82506C17.6096 12.9376 19.497 15.7662 21.8772 18.1493C24.2573 20.5323 27.0836 22.4233 30.1945 23.7141C33.3055 25.005 36.6402 25.6705 40.0083 25.6725L39.9995 40.0247Z" fill="#E63312"/>
</svg>


                             <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" class="elem-after">
<path d="M39.9995 40.0247C34.7466 40.0214 29.5458 38.9836 24.694 36.9704C19.8422 34.9572 15.4345 32.0081 11.7224 28.2915C8.01037 24.5748 5.06671 20.1635 3.05952 15.3092C1.05233 10.4549 0.0209097 5.25286 0.024152 -1.0483e-05L14.3763 0.00884852C14.3742 3.37697 15.0356 6.71252 16.3226 9.82506C17.6096 12.9376 19.497 15.7662 21.8772 18.1493C24.2573 20.5323 27.0836 22.4233 30.1945 23.7141C33.3055 25.005 36.6402 25.6705 40.0083 25.6725L39.9995 40.0247Z" fill="#E63312"/>
</svg>


                            </div>
                        </div>
                    </div>
                       <div  class="col-sm-12 col-md-6 col-lg-4 course-col">
                        <div class="col__inner">
                          <div class="col__top">
                                <div class="col__title">
                  B2 First/ B2 Business Vantage
                            </div>
                            <div class="col__subtitle">
                             Сумма к оплате: <span class="price"> 290,00 бел.руб.</span>
                              
                            </div>
                          </div>
                           <div class="col__bottom">
                             <a href="" class="btn primary-btn white-text" data-popup="contract-popup">Оплатить</a>
                           </div>
                            <div class="col__elem">
                                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" class="elem-before">
<path d="M40.0056 30.0247C40.0022 35.5475 35.4543 40.1447 30.104 38.775C28.2641 38.304 26.456 37.7015 24.694 36.9704C19.8422 34.9572 15.4345 32.0081 11.7224 28.2915C8.01037 24.5748 5.06671 20.1635 3.05952 15.3092C2.33056 13.5463 1.7303 11.7374 1.26156 9.89697C-0.101517 4.54497 4.5013 0.00275308 10.0242 0.00616211L30.0241 0.0185073C35.547 0.0219163 40.0214 4.50183 40.018 10.0247L40.0056 30.0247Z" fill="#BA2C70"/>
<path d="M39.9995 40.0247C34.7466 40.0214 29.5458 38.9836 24.694 36.9704C19.8422 34.9572 15.4345 32.0081 11.7224 28.2915C8.01037 24.5748 5.06671 20.1635 3.05952 15.3092C1.05233 10.4549 0.0209097 5.25286 0.024152 -1.0483e-05L14.3763 0.00884852C14.3742 3.37697 15.0356 6.71252 16.3226 9.82506C17.6096 12.9376 19.497 15.7662 21.8772 18.1493C24.2573 20.5323 27.0836 22.4233 30.1945 23.7141C33.3055 25.005 36.6402 25.6705 40.0083 25.6725L39.9995 40.0247Z" fill="#BA2C70"/>
</svg>


                             <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" class="elem-after">
<path d="M39.9995 40.0247C34.7466 40.0214 29.5458 38.9836 24.694 36.9704C19.8422 34.9572 15.4345 32.0081 11.7224 28.2915C8.01037 24.5748 5.06671 20.1635 3.05952 15.3092C1.05233 10.4549 0.0209097 5.25286 0.024152 -1.0483e-05L14.3763 0.00884852C14.3742 3.37697 15.0356 6.71252 16.3226 9.82506C17.6096 12.9376 19.497 15.7662 21.8772 18.1493C24.2573 20.5323 27.0836 22.4233 30.1945 23.7141C33.3055 25.005 36.6402 25.6705 40.0083 25.6725L39.9995 40.0247Z" fill="#BA2C70"/>
</svg>


                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <div class="section__info">
                    <p class="blue-text">
                        Онлайн оплата в платёжном сервисе bePaid
                    </p>
                    <p class="black-text"><b>Банковской карточкой через интернет:</b></p>
                    <p>После нажатия кнопки «Оплатить онлайн в bePaid» вы перейдете на специальную защищенную платежную страницу процессинговой системы <a href="" class="link">bePaid</a> </p>
                <p>На платежной странице будет указан номер заказа и сумма платежа. Для оплаты вам необходимо ввести свои карточные данные и подтвердить платеж, нажав кнопку «Оплатить».</p>
                <p>Если ваша карта поддерживает технологию 3-D Secure, системой ваш будет предложено пройти стандартную одноминутную процедуру проверки владельца карты на странице вашего банка (банка, который выдал вашу карту).
</p>
<p>Обращаем ваше внимание, что после проведения платежа на указанный вами  электронный адрес придет подтверждение оплаты. Просим вас сохранять данные оплат.
</p>
<p> <b>Мы принимаем платежи по следующим банковским картам:</b>   Visa, Visa Electron, MasterCard,  Maestro, Белкарт.</p>
<ul class="payment-system-list">
    <li class="list-item">
        <img src="../static/images/payment-system (6).png" alt="">
    </li>
      <li class="list-item">
        <img src="../static/images/payment-system (7).png" alt="">
    </li>
      <li class="list-item">
        <img src="../static/images/payment-system (3).png" alt="">
    </li>
      <li class="list-item">
        <img src="../static/images/payment-system (4).png" alt="">
    </li>
      <li class="list-item">
        <img src="../static/images/payment-system (1).png" alt="">
    </li>
      <li class="list-item">
        <img src="../static/images/payment-system (2).png" alt="">
    </li>
      <li class="list-item">
        <img src="../static/images/payment-system (5).png" alt="">
    </li>
</ul>
<p>
  Платежи по банковским картам осуществляются через систему электронных платежей bePaid.  Платежная страница системы bePaid отвечает всем требованиям безопасности передачи данных (PCI DSS Level 1). Все конфиденциальные данные хранятся в зашифрованном виде и максимально устойчивы к взлому.
</p>
<p>Возврат денежных средств осуществляется на карту, с которой ранее была произведена оплата. Срок поступления денежных средств на карту от 3 до 30 дней с момента осуществления возврата Продавцом.
</p>
<p>УЧЕБНЫЙ ЦЕНТР "ИНТЕРНЭШНЛ ХАУС"
</p>
<p>УНП: 101200018.
</p>
<p>Выдан Минским Горисполкомом 12.02.2004.
</p>
<div>
  <div class="block-info">
  <div class="block-info__title">
    Экзамен IELTS
  </div>
  <p class="black-text">Для оплаты экзамена IELTS, необходимо:</p>
  <p>Зарегистрироваться на сайте <a href="" class="link">British Council</a> и заполнить анкету; <br> 
Сформировать номер заказа и оплатить.</p>
<p></p>
</div>
<div class="block-info">
  <div class="block-info__title">
    Дополнительная копия сертификата
  </div>
  <p class="black-text">Для оплаты дополнительной копии сертификата IELTS, <br>
необходимо:
</p>
<p>Скачать и заполнить заявление на дополнительную копию;</p>
<a href="" class="download-link">
                                 <div class="link__left">
<svg width="59" height="65" viewBox="0 0 59 65" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M33.9985 13.3251H41.1738L30.1914 1.77191V9.50316C30.1914 11.5974 31.8899 13.3251 33.9985 13.3251Z" fill="#FDC600"/>
<path d="M22.0946 42.4643H9.3695C8.72531 42.4643 8.19816 41.9377 8.19816 41.293C8.19816 40.6488 8.72531 40.1217 9.3695 40.1217H22.8707C23.617 38.2184 24.6128 36.6071 25.8432 34.9964H9.3695C8.72531 34.9964 8.19816 34.4698 8.19816 33.8251C8.19816 33.1809 8.72531 32.6537 9.3695 32.6537H28.0688C31.5828 29.5786 36.2394 27.6168 41.3205 27.6168C41.8035 27.6168 42.1993 27.6604 42.785 27.7046V15.6678H33.9989C30.6019 15.6678 27.8491 12.8857 27.8491 9.50314V7.62939e-06H5.38684C2.48725 7.62939e-06 0.173828 2.37195 0.173828 5.28592V49.9764C0.173828 52.8904 2.48725 55.2038 5.38684 55.2038H23.0313C22.0212 52.8611 21.4648 50.2253 21.4648 47.4725C21.4499 45.7448 21.6844 44.0751 22.0946 42.4643ZM9.3695 25.3321H24.2032C24.8474 25.3321 25.3745 25.8593 25.3745 26.504C25.3745 27.1481 24.8474 27.6753 24.2032 27.6753H9.3695C8.72531 27.6753 8.19816 27.1481 8.19816 26.504C8.19816 25.8593 8.72531 25.3321 9.3695 25.3321Z" fill="#FDC600"/>
<path d="M41.3058 30.0036C31.6564 30.0036 23.8076 37.8519 23.8076 47.5018C23.8076 57.1512 31.6564 65 41.3058 65C50.9557 65 58.8045 57.1512 58.8045 47.5018C58.8045 37.8519 50.9557 30.0036 41.3058 30.0036ZM50.6632 47.7651C50.4435 47.9704 50.1504 48.0731 49.8722 48.0731C49.5647 48.0731 49.2573 47.9412 49.0227 47.7066L42.492 40.6781V57.4002C42.492 58.0449 41.9649 58.572 41.3207 58.572C40.6765 58.572 40.1494 58.0449 40.1494 57.4002V40.6637L33.5895 47.6922C33.1501 48.1609 32.3884 48.1901 31.9197 47.7508C31.4516 47.3114 31.4218 46.5645 31.8612 46.0959L40.4419 36.8854C40.6616 36.6513 40.9691 36.5194 41.3058 36.5194C41.643 36.5194 41.9356 36.6513 42.1702 36.8854L50.7509 46.0959C51.1611 46.5794 51.1313 47.3263 50.6632 47.7651Z" fill="#FDC600"/>
</svg>

                                 </div>
                                 <div class="link__right">
                                   Заявление на дополнительную копию
                                 </div>
                             </a>

<p>Отправить заявление на <a href="mailto:ielts@ih.by" class="link">ielts@ih.by</a>;</p>
<p>После того, как с Вами свяжется сотрудник экзаменационного центра - <br>
сформировать номер заказа и оплатить</p>
</div>
<div class="block-info">
  <div class="block-info__title">
    Подача апелляции
  </div>
  <p class="black-text">Для оплаты апелляции на результат экзамена IELTS, необходимо:
</p>
<p>Скачать и заполнить заявление на апелляцию результата экзамена IELTS;</p>
<a href="" class="download-link">
                                 <div class="link__left">
<svg width="59" height="65" viewBox="0 0 59 65" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M33.9985 13.3251H41.1738L30.1914 1.77191V9.50316C30.1914 11.5974 31.8899 13.3251 33.9985 13.3251Z" fill="#FDC600"/>
<path d="M22.0946 42.4643H9.3695C8.72531 42.4643 8.19816 41.9377 8.19816 41.293C8.19816 40.6488 8.72531 40.1217 9.3695 40.1217H22.8707C23.617 38.2184 24.6128 36.6071 25.8432 34.9964H9.3695C8.72531 34.9964 8.19816 34.4698 8.19816 33.8251C8.19816 33.1809 8.72531 32.6537 9.3695 32.6537H28.0688C31.5828 29.5786 36.2394 27.6168 41.3205 27.6168C41.8035 27.6168 42.1993 27.6604 42.785 27.7046V15.6678H33.9989C30.6019 15.6678 27.8491 12.8857 27.8491 9.50314V7.62939e-06H5.38684C2.48725 7.62939e-06 0.173828 2.37195 0.173828 5.28592V49.9764C0.173828 52.8904 2.48725 55.2038 5.38684 55.2038H23.0313C22.0212 52.8611 21.4648 50.2253 21.4648 47.4725C21.4499 45.7448 21.6844 44.0751 22.0946 42.4643ZM9.3695 25.3321H24.2032C24.8474 25.3321 25.3745 25.8593 25.3745 26.504C25.3745 27.1481 24.8474 27.6753 24.2032 27.6753H9.3695C8.72531 27.6753 8.19816 27.1481 8.19816 26.504C8.19816 25.8593 8.72531 25.3321 9.3695 25.3321Z" fill="#FDC600"/>
<path d="M41.3058 30.0036C31.6564 30.0036 23.8076 37.8519 23.8076 47.5018C23.8076 57.1512 31.6564 65 41.3058 65C50.9557 65 58.8045 57.1512 58.8045 47.5018C58.8045 37.8519 50.9557 30.0036 41.3058 30.0036ZM50.6632 47.7651C50.4435 47.9704 50.1504 48.0731 49.8722 48.0731C49.5647 48.0731 49.2573 47.9412 49.0227 47.7066L42.492 40.6781V57.4002C42.492 58.0449 41.9649 58.572 41.3207 58.572C40.6765 58.572 40.1494 58.0449 40.1494 57.4002V40.6637L33.5895 47.6922C33.1501 48.1609 32.3884 48.1901 31.9197 47.7508C31.4516 47.3114 31.4218 46.5645 31.8612 46.0959L40.4419 36.8854C40.6616 36.6513 40.9691 36.5194 41.3058 36.5194C41.643 36.5194 41.9356 36.6513 42.1702 36.8854L50.7509 46.0959C51.1611 46.5794 51.1313 47.3263 50.6632 47.7651Z" fill="#FDC600"/>
</svg>

                                 </div>
                                 <div class="link__right">
                                  заявление на апелляцию результата экзамена IELTS
                                 </div>
                             </a>

<p>Оригинал заявления передать в экзаменационный центр <br>
(адрес: пр. Машерова, 10, к. 108);</p>
<p>Сформировать номер заказа и оплатить.</p>
</div>
</div>

                </div>
            </div>
        </div>
    </section>
 <div class="popup__box contract-popup" id="contract-popup">
        <button class="popup__close js-close-wnd">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M24 2.82811L21.1719 0L12 9.17186L2.82811 0L0 2.82811L9.17186 12L0 21.1719L2.82811 24L12 14.8281L21.1718 24L23.9999 21.1719L14.8281 12L24 2.82811Z"
              fill="#650549" />
          </svg>
        </button>
        <div class="popup__title">
          Публичный договор
        </div>
    
        <div class="popup__info">
              <div class="popup__subtitle">
          Утвержден директором Частного учреждения образования <br>
«Учебный центр «Интернэшнл Хаус» Фурсом В.С. <br>
Приказ № I-01-20.03/Э от «20» марта 2019 года. <br>
        </div> 
          <h3 class="popup__info-title">
            ПУБЛИЧНЫЙ ДОГОВОР <br>
  возмездного оказания Услуг  <br>
по проведению международного экзамена IELTS 
          </h3>
          <div class="popup__info-text">
            <p>
              Настоящий Публичный договор (далее именуемый по тексту «Договор») определяет порядок оказания услуги по проведению Международного экзамена IELTS, а также взаимные права, обязанности и порядок взаимоотношений между Частным учреждением образования «УЧЕБНЫЙ ЦЕНТР «ИНТЕРНЭШНЛ ХАУС», именуемым в дальнейшем «Исполнитель», в лице директора Фурса В.С., действующего на основании Устава, и гражданином, именуемым в дальнейшем «Заказчик», принявшим (акцептовавшим) публичное предложение (оферту) о заключении настоящего Договора.
            </p>
            <p><b>1.ТЕРМИНЫ, ИСПОЛЬЗУЕМЫЕ В НАСТОЯЩЕМ ДОГОВОРЕ</b></p>
            <p>Термины, указанные в настоящем Договоре, применяются исключительно для его надлежащего толкования и использования при выполнении Сторонами принятых на себя обязательств.</p>
            <p><b>Интернэшнл Хаус (International House)</b>— Частное учреждение образования, Учебный центр, Центр по подготовке преподавателей, Международный экзаменационный центр, предоставляющий Заказчику право сдачи Международного экзамена IELTS.</p>
            <p><b>www.ih.by</b>— сайт International House, на котором размещена официальная информация о перечне оказываемых услуг, правилах оказания и получения, стоимости услуг, а также иные сведения, необходимые для заключения, исполнения и расторжения настоящего Договора.</p>
            <p><b>Заказчик (Кандидат)</b> — физическое лицо, достигшее 18-летнего возраста, не ограниченное в дееспособности, а в отношении лиц, не достигших 18-летнего возраста – их родители или иные законные представители (усыновители (удочерители), опекуны, попечители).</p>
            <p><b>Международный экзамен IELTS</b> — международная система тестирования уровня знаний английского языка, признаваемая в более чем 8000 организациях по всему миру, включая университеты, работодателей, профессиональные организации, иммиграционные агентства и государственные учреждения Великобритании, Новой Зеландии и пр.</p>
            <p><b>Документ, удостоверяющий личность Заказчика (Кандидата)</b> — документ, являющийся основанием для допуска Заказчика (Кандидата) к Международному экзамену IELTS. В рамках настоящего Договора к документам, удостоверяющим личность, относятся: паспорт гражданина Республики Беларусь установленного образца (для граждан Республики Беларусь), для иностранных граждан – паспорт, в котором имя и фамилия Заказчика (Кандидата) выполнены латиницей. Документ, удостоверяющий личность Заказчика (Кандидата), должен быть действительным на дату проведения Международного экзамена IELTS.</p>
          <p><b>2. ПРЕДМЕТ ДОГОВОРА</b></p>
          <p>2.1.Исполнитель обязуется оказать услугу по организации и проведению для Заказчика Международного экзамена IELTS, а Заказчик, в свою очередь, обязуется обеспечить свою явку в указанное Исполнителем время, а также принять и произвести оплату услуги надлежащим образом и в полном объеме в порядке и сроки, предусмотренные настоящим Договором.</p>
         <p>2.2.Дата проведения, стоимость и периоды регистрации на Международный экзамен IELTS устанавливается Исполнителем в одностороннем порядке согласно расписанию, размещенному на сайтах Исполнителя — <a href="" class="link"> www.ih.by </a>— <a href="" class="link">www.ielts.by</a> —в разделе «Международные экзамены».</p>
          </div>
        </div>
        <div class="popup__action">
           <a href="" class="btn secondary-btn white js-close-wnd" >Не согласен</a>
          <a href="" class="btn secondary-btn" data-popup="signup-popup">Согласен</a>
        </div>
      </div>

      <div class="popup__box signup-popup" id="signup-popup">
        <button class="popup__close js-close-wnd">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M24 2.82811L21.1719 0L12 9.17186L2.82811 0L0 2.82811L9.17186 12L0 21.1719L2.82811 24L12 14.8281L21.1718 24L23.9999 21.1719L14.8281 12L24 2.82811Z"
              fill="#650549" />
          </svg>

        </button>
        <form action="" class="signup-form" id="signup-form">
          <div class="form__title">Контактная форма</div>
      
          <div class="form__inputs">
            {{> ui/input type='text' name='name' placeholder='Имя'}}
            {{> ui/input type='text' name='name' placeholder='Фамилия'}}
            {{> ui/input type='text' name='name' placeholder='Телефон*'}}
            {{> ui/input type='email' name='email' placeholder='Email'}}
             {{> ui/input type='text' name='name' placeholder='IELTS PEFERENCE NO*'}}
               {{> ui/input type='text' name='name' placeholder='Номер паспорта*'}}
               {{> ui/input type='text' name='name' placeholder='Дата экзамена*'}}
          </div>
          <a href="#" class="btn primary-btn" >Отправить</a>
          <div class="subtext">
              *Номер регистрации вам присылают на почту при заполнении анкеты на сайте British Council
          </div>
        </form>
      </div>
</div>
{{> layout/footer}}