{{!Цены и услуги}}

{{> layout/header}}
<div class="content price-page">
    <div class="breadcrumbs-wrapper">
        <div class="container">
            <ul class="breadcrumbs">
                <li class="breadcrumbs__item">
                    <a href="" class="breadcrumbs__link">Главная</a>
                </li>
                <li class="breadcrumbs__item">
                    <a href="" class="breadcrumbs__link">Цены</a>
                </li>

            </ul>
        </div>
    </div>



    <div class="page__title">
        <div class="container">
            <h2 class="title">
                Цены и услуги <br>
                International House
            </h2>
            <div class="subtitle">
                <p>
                    <b> Внимание! </b>
                </p>
                <p>Место проведения занятий вы сможете выбрать после собеседования
                    из предложенных администратором вариантов, исходя из вашего уровня.
                    В таблице представлена актуальная информация об обучении
                    для школьников и взрослых, а также о стоимости курсов.
                    Один академический час — 40 минут.</p>
            </div>
        </div>
    </div>
    <section class="section price-section">
        <div class="container">
            <div class="section__inner">
                <div class="section__table">
                    <table class="table price-table">
                        <thead>
                            <tr class="row">
                                <th scope="col" class="col-2 col-lg-2  red"><span class="title">Наименование
                                        курса</span></th>
                                <th scope="col" class="col-2 col-lg-2  purple"><span class="title">
                                        Семестры
                                    </span></th>
                                <th scope="col" class="col-2 col-lg-2  pink"><span class="title">
                                        Порядок
                                        проведения
                                        занятий
                                    </span></th>
                                <th scope="col" class="col-2 col-lg-2  blue"><span class="title">
                                        Адрес занятий
                                    </span></th>
                                <th scope="col" class="col-2 col-lg-2  green"><span class="title">
                                        Стоимость
                                        бел.руб.
                                    </span></th>
                                <th scope="col" class="col-2 col-lg-2  light-green"><span class="title">
                                        Период набора
                                    </span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="row">
                                <td class="col-2 col-lg-2  "><a href="" class="link">Общий английский
                                        для взрослых</a></td>
                                <td class="col-2 col-lg-2">
                                    <ul class="semester-list">
                                        <li class="list-item">
                                            <p><b>I семестр:</b></p>
                                            <p>02.09.2019 – 22.11.2019</p>
                                        </li>
                                        <li class="list-item">
                                            <p><b>II семестр:
                                                </b></p>
                                            <p>25.11.2019 – 28.02.2020</p>
                                        </li>
                                        <li class="list-item">
                                            <p><b>III семестр:
                                                </b></p>
                                            <p>02.03.2020 – 29.05.2020</p>
                                        </li>
                                    </ul>
                                </td>
                                <td class="col-2 col-lg-2">
                                    <div class="col__info">
                                        <p><b>Семестр:</b></p>
                                        <p>48 академических часов</p>
                                        <p>3 месяца обучения</p>
                                        <p><b>2 раза в неделю </b></p>
                                        <p><b>по 2 ак. часа:</b></p>
                                    </div>
                                    <div class="col__info">
                                        <p><b>Утро: </b>8.00, 9.30</p>
                                        <p><b>Вечер: </b>18.10, 19.40</p>
                                    </div>
                                    <div class="col__info">
                                        <p class="subtext">Расписание предлагается только после определения уровня</p>
                                    </div>
                                </td>
                                <td class="col-2 col-lg-2">
                                    <div class="adress-info">
                                        <p class="title"><b>Утро:</b></p>
                                        <ul class="adress-list">
                                            <li class="list-item">
                                                пр. Машерова, 10
                                            </li>
                                            <li class="list-item">
                                                ул. Смолячкова, 9
                                            </li>
                                            <li class="list-item">
                                                ул Притыцкого, 87
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="adress-info">
                                        <p class="title"><b>Вечер:</b></p>
                                        <ul class="adress-list">
                                            <li class="list-item">
                                                пр. Машерова, 10
                                            </li>
                                            <li class="list-item">
                                                ул. Смолячкова, 9
                                            </li>
                                            <li class="list-item">
                                                ул. Мележа 1
                                            </li>
                                            <li class="list-item">
                                                ул. Ежи Гедройца 20
                                            </li>
                                            <li class="list-item">
                                                ул. Притыцкого, 87
                                            </li>
                                            <li class="list-item">
                                                ул. Одинцова, 89
                                            </li>
                                            <li class="list-item">
                                                ул. Лобанка, 84
                                            </li>
                                            <li class="list-item">
                                                ул. Жиновича, 11
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                                <td class="col-2 col-lg-2">
                                    <div class="price-info">
                                        <p class="price"><b>408.00</b></p>
                                        <p>(48 ак.часов)</p>
                                    </div>
                                </td>
                                <td class="col-2 col-lg-2">
                                    <div class="set-info">
                                       <a href=""> <p><b>Набор открыт</b></p></a>
                                    </div>
                                </td>

                            </tr>
                            <tr class="row">
                                <td class="col-2 col-lg-2  "><a href="" class="link">Английский
                                        для школьников</a></td>
                                <td class="col-2 col-lg-2">
                                    <ul class="semester-list">
                                        <li class="list-item">
                                            <p><b>I четверть:</b></p>
                                            <p>09.09.2019 – 02.11.2019</p>
                                        </li>
                                        <li class="list-item">
                                            <p><b>II четверть:
                                                </b></p>
                                            <p>
                                                11.11.2019 – 24.12.2019</p>
                                        </li>
                                        <li class="list-item">
                                            <p><b>III четверть:
                                                </b></p>
                                            <p>
                                                13.01.2020 – 28.03.2020</p>
                                        </li>
                                        <li class="list-item">
                                            <p><b>IV четверть:

                                                </b></p>
                                            <p>06.04.2020 – 30.05.2020</p>
                                        </li>
                                    </ul>
                                </td>
                                <td class="col-2 col-lg-2">
                                    <div class="col__info">
                                        <p><b>III четверть</b></p>
                                        <p>44 академических часов</p>
                                        <p>3 месяца обучения</p>
                                        <p><b>2 раза в неделю </b></p>
                                        <p><b>по 2 ак. часа:</b></p>
                                        <p><b>1 раз в неделю </b></p>
                                        <p><b>по 4 ак. часа:</b></p>
                                    </div>
                                    <div class="col__info">
                                        <p><b>Утро: </b>8.00, 9.30</p>
                                        <p><b>Вечер: </b>15.10, 16.40</p>
                                    </div>
                                    <div class="col__info">
                                        <p class="subtext">Расписание предлагается только после определения уровня</p>
                                    </div>
                                </td>
                                <td class="col-2 col-lg-2">

                                    <div class="adress-info">

                                        <ul class="adress-list">
                                            <li class="list-item">
                                                пр. Машерова, 10
                                            </li>
                                            <li class="list-item">
                                                ул. Смолячкова, 9
                                            </li>
                                            <li class="list-item">
                                                ул. Мележа 1
                                            </li>
                                            <li class="list-item">
                                                ул. Ежи Гедройца 20
                                            </li>
                                            <li class="list-item">
                                                ул. Притыцкого, 87
                                            </li>
                                            <li class="list-item">
                                                ул. Одинцова, 89
                                            </li>
                                            <li class="list-item">
                                                ул. Лобанка, 84
                                            </li>
                                            <li class="list-item">
                                                ул. Жиновича, 11
                                            </li>
                                            <li class="list-item">
                                                ул. Орловская, 86-3-3
                                            </li>
                                            <li class="list-item">
                                                а.г. Лесной, д.19В
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                                <td class="col-2 col-lg-2">
                                    <div class="price-info">
                                        <p class="price"><b>308,00</b></p>
                                        <p>(III четверть=44 ак.часа)</p>
                                    </div>
                                </td>
                                <td class="col-2 col-lg-2">
                                    <div class="set-info">
                                        <a href=""><p><b>Запись
                                                в группы
                                                с 9 декабря</b></p></a>
                                    </div>
                                </td>

                            </tr>
                            <tr class="row">
                                <td class="col-2 col-lg-2  "><a href="" class="link">Подготовка
                                        к экзамену IELTS.
                                        Группы
                                        Upper-intermediate+</a></td>
                                <td class="col-2 col-lg-2">
                                    <ul class="semester-list">

                                        <li class="list-item">

                                            <p>25.11.2019 – 28.02.2020</p>
                                        </li>
                                    </ul>
                                </td>
                                <td class="col-2 col-lg-2">
                                    <div class="col__info">
                                        <p><b>Курс</b></p>
                                        <p>72 академических часов</p>
                                        <p>3 месяца обучения</p>
                                        <p><b>2 раза в неделю </b></p>
                                        <p><b>по 2 ак. часа:</b></p>
                                    </div>

                                </td>
                                <td class="col-2 col-lg-2">

                                    <div class="adress-info">

                                        <ul class="adress-list">
                                            <li class="list-item">
                                                ул. Мележа, 1
                                                (БЦ "Парус")
                                            </li>

                                        </ul>
                                    </div>
                                </td>
                                <td class="col-2 col-lg-2">
                                    <div class="price-info">
                                        <p class="price"><b>630,00</b></p>
                                        <p>за курс (72 ак.часа)</p>
                                    </div>
                                </td>
                                <td class="col-2 col-lg-2">
                                    <div class="set-info">
                                        <a href=""><p><b>Запись
                                                в группы
                                                с 12 ноября</b></p></a>
                                    </div>
                                </td>

                            </tr>
                            <tr class="row">
                                <td class="col-2 col-lg-2  "><a href="" class="link">Подготовка
                                        к Кембриджским
                                        экзаменам
                                        FCE, CAE, CPE</a></td>
                                <td class="col-2 col-lg-2">
                                    <ul class="semester-list">
                                        <li class="list-item">
                                            <p><b>I семестр:</b></p>
                                            <p>02.09.2019 – 22.11.2019</p>
                                        </li>
                                        <li class="list-item">
                                            <p><b>II семестр:
                                                </b></p>
                                            <p>25.11.2019 – 28.02.2020</p>
                                        </li>
                                        <li class="list-item">
                                            <p><b>III семестр:
                                                </b></p>
                                            <p>02.03.2020 – 29.05.2020</p>
                                        </li>
                                    </ul>
                                </td>
                                <td class="col-2 col-lg-2">
                                    <div class="col__info">
                                        <p><b>Семестр:</b></p>
                                        <p>48 академических часов</p>
                                        <p>3 месяца обучения</p>
                                        <p><b>2 раза в неделю </b></p>
                                        <p><b>по 2 ак. часа:</b></p>
                                    </div>
                                    <div class="col__info">

                                        <p><b>Вечер: </b>15.10, 16.40</p>
                                    </div>
                                    <div class="col__info">
                                        <p class="subtext">
                                            Весь курс - 3 семестра
                                        </p>
                                    </div>
                                </td>
                                <td class="col-2 col-lg-2">
                                    <div class="adress-info">

                                        <ul class="adress-list">
                                            <li class="list-item">
                                                пр. Машерова, 10
                                            </li>

                                        </ul>
                                    </div>

                                </td>
                                <td class="col-2 col-lg-2">
                                    <div class="price-info">
                                        <p class="price"><b>420,00</b></p>
                                        <p>(48 ак.часа)</p>
                                    </div>
                                </td>
                                <td class="col-2 col-lg-2">
                                    <div class="set-info">
                                       <a href=""> <p><b>Запись
                                                в группы
                                                в августе 2020</b></p></a>
                                    </div>
                                </td>

                            </tr>
                            <tr class="row">
                                <td class=" col-2 col-lg-2  "><a href="" class="link">Подготовка
                                        к экзамену BEC</a></td>
                                <td class="col-2 col-lg-2">
                                    <ul class="semester-list">
                                        <li class="list-item">
                                            <p><b>I семестр:</b></p>
                                            <p>02.09.2019 – 22.11.2019</p>
                                        </li>
                                        <li class="list-item">
                                            <p><b>II семестр:
                                                </b></p>
                                            <p>25.11.2019 – 28.02.2020</p>
                                        </li>
                                        <li class="list-item">
                                            <p><b>III семестр:
                                                </b></p>
                                            <p>02.03.2020 – 29.05.2020</p>
                                        </li>
                                    </ul>
                                </td>
                                <td class="col-2 col-lg-2">
                                    <div class="col__info">
                                        <p><b>Семестр:</b></p>
                                        <p>48 академических часов</p>
                                        <p>3 месяца обучения</p>
                                        <p><b>2 раза в неделю </b></p>
                                        <p><b>по 2 ак. часа:</b></p>
                                    </div>
                                    <div class="col__info">

                                        <p><b>Вечер: </b>15.10, 16.40</p>
                                    </div>
                                    <div class="col__info">
                                        <p class="subtext">
                                            Расписание предлагается только после определения уровня
                                        </p>
                                    </div>
                                </td>
                                <td class="col-2 col-lg-2">
                                    <div class="adress-info">

                                        <ul class="adress-list">
                                            <li class="list-item">
                                                ул. Смолячкова, 9
                                            </li>

                                        </ul>
                                    </div>

                                </td>
                                <td class="col-2 col-lg-2">
                                    <div class="price-info">
                                        <p class="price"><b>408,00</b></p>
                                        <p>(48 ак.часа)</p>
                                    </div>
                                </td>
                                <td class="col-2 col-lg-2">
                                    <div class="set-info">
                                      <a href="">  <p><b>Запись
                                                в группы
                                                с 12 ноября</b></p></a>
                                    </div>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="section__desc">
                    <div class="desc-block">
                        <div class="desc-block__title">
                            Дополнительная информация
                        </div>
                        <div class="desc-link">
                            <div class="row">
                                <div class="col-4 link-col">
                                      <a href="" class="link">
                                 <div class="link__left">
<svg width="59" height="65" viewBox="0 0 59 65" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M33.9985 13.3251H41.1738L30.1914 1.77191V9.50316C30.1914 11.5974 31.8899 13.3251 33.9985 13.3251Z" fill="#FDC600"/>
<path d="M22.0946 42.4643H9.3695C8.72531 42.4643 8.19816 41.9377 8.19816 41.293C8.19816 40.6488 8.72531 40.1217 9.3695 40.1217H22.8707C23.617 38.2184 24.6128 36.6071 25.8432 34.9964H9.3695C8.72531 34.9964 8.19816 34.4698 8.19816 33.8251C8.19816 33.1809 8.72531 32.6537 9.3695 32.6537H28.0688C31.5828 29.5786 36.2394 27.6168 41.3205 27.6168C41.8035 27.6168 42.1993 27.6604 42.785 27.7046V15.6678H33.9989C30.6019 15.6678 27.8491 12.8857 27.8491 9.50314V7.62939e-06H5.38684C2.48725 7.62939e-06 0.173828 2.37195 0.173828 5.28592V49.9764C0.173828 52.8904 2.48725 55.2038 5.38684 55.2038H23.0313C22.0212 52.8611 21.4648 50.2253 21.4648 47.4725C21.4499 45.7448 21.6844 44.0751 22.0946 42.4643ZM9.3695 25.3321H24.2032C24.8474 25.3321 25.3745 25.8593 25.3745 26.504C25.3745 27.1481 24.8474 27.6753 24.2032 27.6753H9.3695C8.72531 27.6753 8.19816 27.1481 8.19816 26.504C8.19816 25.8593 8.72531 25.3321 9.3695 25.3321Z" fill="#FDC600"/>
<path d="M41.3058 30.0036C31.6564 30.0036 23.8076 37.8519 23.8076 47.5018C23.8076 57.1512 31.6564 65 41.3058 65C50.9557 65 58.8045 57.1512 58.8045 47.5018C58.8045 37.8519 50.9557 30.0036 41.3058 30.0036ZM50.6632 47.7651C50.4435 47.9704 50.1504 48.0731 49.8722 48.0731C49.5647 48.0731 49.2573 47.9412 49.0227 47.7066L42.492 40.6781V57.4002C42.492 58.0449 41.9649 58.572 41.3207 58.572C40.6765 58.572 40.1494 58.0449 40.1494 57.4002V40.6637L33.5895 47.6922C33.1501 48.1609 32.3884 48.1901 31.9197 47.7508C31.4516 47.3114 31.4218 46.5645 31.8612 46.0959L40.4419 36.8854C40.6616 36.6513 40.9691 36.5194 41.3058 36.5194C41.643 36.5194 41.9356 36.6513 42.1702 36.8854L50.7509 46.0959C51.1611 46.5794 51.1313 47.3263 50.6632 47.7651Z" fill="#FDC600"/>
</svg>

                                 </div>
                                 <div class="link__right">
                                     Положение о скидках. pdf
                                 </div>
                             </a>
                                </div>
                                   <div class="col-4 link-col">
                                      <a href="" class="link">
                                 <div class="link__left">
<svg width="59" height="65" viewBox="0 0 59 65" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M33.9985 13.3251H41.1738L30.1914 1.77191V9.50316C30.1914 11.5974 31.8899 13.3251 33.9985 13.3251Z" fill="#FDC600"/>
<path d="M22.0946 42.4643H9.3695C8.72531 42.4643 8.19816 41.9377 8.19816 41.293C8.19816 40.6488 8.72531 40.1217 9.3695 40.1217H22.8707C23.617 38.2184 24.6128 36.6071 25.8432 34.9964H9.3695C8.72531 34.9964 8.19816 34.4698 8.19816 33.8251C8.19816 33.1809 8.72531 32.6537 9.3695 32.6537H28.0688C31.5828 29.5786 36.2394 27.6168 41.3205 27.6168C41.8035 27.6168 42.1993 27.6604 42.785 27.7046V15.6678H33.9989C30.6019 15.6678 27.8491 12.8857 27.8491 9.50314V7.62939e-06H5.38684C2.48725 7.62939e-06 0.173828 2.37195 0.173828 5.28592V49.9764C0.173828 52.8904 2.48725 55.2038 5.38684 55.2038H23.0313C22.0212 52.8611 21.4648 50.2253 21.4648 47.4725C21.4499 45.7448 21.6844 44.0751 22.0946 42.4643ZM9.3695 25.3321H24.2032C24.8474 25.3321 25.3745 25.8593 25.3745 26.504C25.3745 27.1481 24.8474 27.6753 24.2032 27.6753H9.3695C8.72531 27.6753 8.19816 27.1481 8.19816 26.504C8.19816 25.8593 8.72531 25.3321 9.3695 25.3321Z" fill="#FDC600"/>
<path d="M41.3058 30.0036C31.6564 30.0036 23.8076 37.8519 23.8076 47.5018C23.8076 57.1512 31.6564 65 41.3058 65C50.9557 65 58.8045 57.1512 58.8045 47.5018C58.8045 37.8519 50.9557 30.0036 41.3058 30.0036ZM50.6632 47.7651C50.4435 47.9704 50.1504 48.0731 49.8722 48.0731C49.5647 48.0731 49.2573 47.9412 49.0227 47.7066L42.492 40.6781V57.4002C42.492 58.0449 41.9649 58.572 41.3207 58.572C40.6765 58.572 40.1494 58.0449 40.1494 57.4002V40.6637L33.5895 47.6922C33.1501 48.1609 32.3884 48.1901 31.9197 47.7508C31.4516 47.3114 31.4218 46.5645 31.8612 46.0959L40.4419 36.8854C40.6616 36.6513 40.9691 36.5194 41.3058 36.5194C41.643 36.5194 41.9356 36.6513 42.1702 36.8854L50.7509 46.0959C51.1611 46.5794 51.1313 47.3263 50.6632 47.7651Z" fill="#FDC600"/>
</svg>

                                 </div>
                                 <div class="link__right">
                                   Публичный договор.pdf
                                 </div>
                             </a>
                                </div>
                            </div>
                             <div class="row">
                                <div class="col-4 link-col">
                                      <a href="" class="link">
                                 <div class="link__left">
<svg width="59" height="65" viewBox="0 0 59 65" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M33.9985 13.3251H41.1738L30.1914 1.77191V9.50316C30.1914 11.5974 31.8899 13.3251 33.9985 13.3251Z" fill="#FDC600"/>
<path d="M22.0946 42.4643H9.3695C8.72531 42.4643 8.19816 41.9377 8.19816 41.293C8.19816 40.6488 8.72531 40.1217 9.3695 40.1217H22.8707C23.617 38.2184 24.6128 36.6071 25.8432 34.9964H9.3695C8.72531 34.9964 8.19816 34.4698 8.19816 33.8251C8.19816 33.1809 8.72531 32.6537 9.3695 32.6537H28.0688C31.5828 29.5786 36.2394 27.6168 41.3205 27.6168C41.8035 27.6168 42.1993 27.6604 42.785 27.7046V15.6678H33.9989C30.6019 15.6678 27.8491 12.8857 27.8491 9.50314V7.62939e-06H5.38684C2.48725 7.62939e-06 0.173828 2.37195 0.173828 5.28592V49.9764C0.173828 52.8904 2.48725 55.2038 5.38684 55.2038H23.0313C22.0212 52.8611 21.4648 50.2253 21.4648 47.4725C21.4499 45.7448 21.6844 44.0751 22.0946 42.4643ZM9.3695 25.3321H24.2032C24.8474 25.3321 25.3745 25.8593 25.3745 26.504C25.3745 27.1481 24.8474 27.6753 24.2032 27.6753H9.3695C8.72531 27.6753 8.19816 27.1481 8.19816 26.504C8.19816 25.8593 8.72531 25.3321 9.3695 25.3321Z" fill="#FDC600"/>
<path d="M41.3058 30.0036C31.6564 30.0036 23.8076 37.8519 23.8076 47.5018C23.8076 57.1512 31.6564 65 41.3058 65C50.9557 65 58.8045 57.1512 58.8045 47.5018C58.8045 37.8519 50.9557 30.0036 41.3058 30.0036ZM50.6632 47.7651C50.4435 47.9704 50.1504 48.0731 49.8722 48.0731C49.5647 48.0731 49.2573 47.9412 49.0227 47.7066L42.492 40.6781V57.4002C42.492 58.0449 41.9649 58.572 41.3207 58.572C40.6765 58.572 40.1494 58.0449 40.1494 57.4002V40.6637L33.5895 47.6922C33.1501 48.1609 32.3884 48.1901 31.9197 47.7508C31.4516 47.3114 31.4218 46.5645 31.8612 46.0959L40.4419 36.8854C40.6616 36.6513 40.9691 36.5194 41.3058 36.5194C41.643 36.5194 41.9356 36.6513 42.1702 36.8854L50.7509 46.0959C51.1611 46.5794 51.1313 47.3263 50.6632 47.7651Z" fill="#FDC600"/>
</svg>

                                 </div>
                                 <div class="link__right">
                                     Правила обучения.pdf
                                 </div>
                             </a>
                                </div>
                                   <div class="col-4 link-col">
                                      <a href="" class="link">
                                 <div class="link__left">
<svg width="59" height="65" viewBox="0 0 59 65" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M33.9985 13.3251H41.1738L30.1914 1.77191V9.50316C30.1914 11.5974 31.8899 13.3251 33.9985 13.3251Z" fill="#FDC600"/>
<path d="M22.0946 42.4643H9.3695C8.72531 42.4643 8.19816 41.9377 8.19816 41.293C8.19816 40.6488 8.72531 40.1217 9.3695 40.1217H22.8707C23.617 38.2184 24.6128 36.6071 25.8432 34.9964H9.3695C8.72531 34.9964 8.19816 34.4698 8.19816 33.8251C8.19816 33.1809 8.72531 32.6537 9.3695 32.6537H28.0688C31.5828 29.5786 36.2394 27.6168 41.3205 27.6168C41.8035 27.6168 42.1993 27.6604 42.785 27.7046V15.6678H33.9989C30.6019 15.6678 27.8491 12.8857 27.8491 9.50314V7.62939e-06H5.38684C2.48725 7.62939e-06 0.173828 2.37195 0.173828 5.28592V49.9764C0.173828 52.8904 2.48725 55.2038 5.38684 55.2038H23.0313C22.0212 52.8611 21.4648 50.2253 21.4648 47.4725C21.4499 45.7448 21.6844 44.0751 22.0946 42.4643ZM9.3695 25.3321H24.2032C24.8474 25.3321 25.3745 25.8593 25.3745 26.504C25.3745 27.1481 24.8474 27.6753 24.2032 27.6753H9.3695C8.72531 27.6753 8.19816 27.1481 8.19816 26.504C8.19816 25.8593 8.72531 25.3321 9.3695 25.3321Z" fill="#FDC600"/>
<path d="M41.3058 30.0036C31.6564 30.0036 23.8076 37.8519 23.8076 47.5018C23.8076 57.1512 31.6564 65 41.3058 65C50.9557 65 58.8045 57.1512 58.8045 47.5018C58.8045 37.8519 50.9557 30.0036 41.3058 30.0036ZM50.6632 47.7651C50.4435 47.9704 50.1504 48.0731 49.8722 48.0731C49.5647 48.0731 49.2573 47.9412 49.0227 47.7066L42.492 40.6781V57.4002C42.492 58.0449 41.9649 58.572 41.3207 58.572C40.6765 58.572 40.1494 58.0449 40.1494 57.4002V40.6637L33.5895 47.6922C33.1501 48.1609 32.3884 48.1901 31.9197 47.7508C31.4516 47.3114 31.4218 46.5645 31.8612 46.0959L40.4419 36.8854C40.6616 36.6513 40.9691 36.5194 41.3058 36.5194C41.643 36.5194 41.9356 36.6513 42.1702 36.8854L50.7509 46.0959C51.1611 46.5794 51.1313 47.3263 50.6632 47.7651Z" fill="#FDC600"/>
</svg>

                                 </div>
                                 <div class="link__right">
                                     Welfare.pdf
                                 </div>
                             </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section steps-section">
        <div class="container">
            <div class="section__inner">
                <h3 class="section__title">
                    Начните учить анлийский язык
                    с International House:
                </h3>
                <div class="section__subtitle">
                    Для этого нужно сделать всего пару шагов
                </div>
                <div class="section__stepbar">
                    <div class="stepbar-elem">
                        <div class="elem-title">
                            01
                        </div>
                        <div class="elem-fragment">
                            <svg class="ellips" width="28" height="29" viewBox="0 0 28 29" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <circle cx="14" cy="14.0205" r="13.5" fill="white" stroke="#FDC600" />
                                <circle cx="14" cy="14.0205" r="8" fill="#FDC600" />
                            </svg>

                            <svg width="363" height="57" viewBox="0 0 363 57" fill="none"
                                xmlns="http://www.w3.org/2000/svg" class="line1">
                                <path
                                    d="M1 55.0204C9.6946 56.0204 31.2572 55.8204 47.9509 47.0204C68.8179 36.0204 122.029 0.0204259 181.5 1.02043"
                                    stroke="#888888" stroke-width="2" stroke-dasharray="3 2" />
                                <path
                                    d="M362 55.0409C353.305 56.0409 331.743 55.8409 315.049 47.0409C294.182 36.0409 240.971 0.0409337 181.5 1.04093"
                                    stroke="#888888" stroke-width="2" stroke-dasharray="3 2" />
                            </svg>

                        </div>
                        <div class="elem-desc">
                            Пройди предварительное
                            тестирование
                        </div>
                    </div>
                    <div class="stepbar-elem">
                        <div class="elem-title">
                            02
                        </div>
                        <div class="elem-fragment">
                            <svg class="ellips" width="28" height="29" viewBox="0 0 28 29" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <circle cx="14" cy="14.0205" r="13.5" fill="white" stroke="#FDC600" />
                                <circle cx="14" cy="14.0205" r="8" fill="#FDC600" />
                            </svg>

                            <svg width="363" height="57" viewBox="0 0 363 57" fill="none"
                                xmlns="http://www.w3.org/2000/svg" class="line1">
                                <path
                                    d="M1 55.0204C9.6946 56.0204 31.2572 55.8204 47.9509 47.0204C68.8179 36.0204 122.029 0.0204259 181.5 1.02043"
                                    stroke="#888888" stroke-width="2" stroke-dasharray="3 2" />
                                <path
                                    d="M362 55.0409C353.305 56.0409 331.743 55.8409 315.049 47.0409C294.182 36.0409 240.971 0.0409337 181.5 1.04093"
                                    stroke="#888888" stroke-width="2" stroke-dasharray="3 2" />
                            </svg>

                        </div>
                        <div class="elem-desc">
                            Записаться на собеседование по итогам тестирования
                        </div>
                    </div>
                    <div class="stepbar-elem">
                        <div class="elem-title">
                            03
                        </div>
                        <div class="elem-fragment">
                            <svg class="ellips" width="28" height="29" viewBox="0 0 28 29" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <circle cx="14" cy="14.0205" r="13.5" fill="white" stroke="#FDC600" />
                                <circle cx="14" cy="14.0205" r="8" fill="#FDC600" />
                            </svg>
                        </div>
                        <div class="elem-desc">
                            Начать занятие английского языка
                            в школе IH
                        </div>
                    </div>
                </div>
                <a href="" class="btn secondary-btn">Начать тестирование</a>
            </div>
        </div>
    </section>
</div>
{{> layout/footer}}