{{!Часто задаваемые вопросы}}

{{> layout/header}}
<div class="content question-page">
    <div class="breadcrumbs-wrapper">
        <div class="container">
            <ul class="breadcrumbs">
                <li class="breadcrumbs__item">
                    <a href="" class="breadcrumbs__link">Главная</a>
                </li>
                <li class="breadcrumbs__item">
                    <a href="" class="breadcrumbs__link">Вопрос-ответ</a>
                </li>
               
            </ul>
        </div>
    </div>



    <div class="page__title">
        <div class="container">
            <h2 class="title">
               Часто задаваемые вопросы
            </h2>
        </div>
    </div>
<section class="section question-section">
   <div class="container">
       <div class="section__inner">
         <div class="section__tabs">
                <div  class="tabs question-tabs" id="tabs" >
                    <ul class="tabs__header">
                        <li class="tab active">
                            Все вопросы
                        </li>
                          <li class="tab ">
              Обучение
                        </li>
                            <li class="tab ">
                     Школа
                        </li>
                            <li class="tab">
                       Teaching Excellence Programme
                        </li>
                      
                    </ul>
                <div class="tab-content active">
                 <ul class="question-list" id="accordion">
                       <li class="list-item">
                           <div class="list-item__top">
                               <span class="title">Сколько человек может заниматься в группе? </span>
                               <svg width="20" height="10" viewBox="0 0 20 10" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M20 0L10 10L0 0L20 0Z" fill="#3C454E"/>
</svg>

                           </div>
                           <div class="list-item__bottom">
                               Занятия проводятся в группах из 8-12 студентов. Это количество студентов считается оптимальным для достижения главной цели обучения – умения свободно излагать свои мысли на иностранном языке. В том случае, если 
в группе остается 6 и менее учащихся, группа расформировывается, а слушателям предлагаются другие варианты расписания занятий соответствующего уровня.
                           </div>
                       </li>
                         <li class="list-item">
                           <div class="list-item__top">
                               <span class="title">Можно ли изменить темы тренингов после записи?  </span>
                               <svg width="20" height="10" viewBox="0 0 20 10" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M20 0L10 10L0 0L20 0Z" fill="#3C454E"/>
</svg>

                           </div>
                           <div class="list-item__bottom">
                               Занятия проводятся в группах из 8-12 студентов. Это количество студентов считается оптимальным для достижения главной цели обучения – умения свободно излагать свои мысли на иностранном языке. В том случае, если 
в группе остается 6 и менее учащихся, группа расформировывается, а слушателям предлагаются другие варианты расписания занятий соответствующего уровня.
                           </div>
                       </li>
                         <li class="list-item">
                           <div class="list-item__top">
                               <span class="title">В какое время проводятся занятия в вашей школе?   </span>
                               <svg width="20" height="10" viewBox="0 0 20 10" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M20 0L10 10L0 0L20 0Z" fill="#3C454E"/>
</svg>

                           </div>
                           <div class="list-item__bottom">
                               Занятия проводятся в группах из 8-12 студентов. Это количество студентов считается оптимальным для достижения главной цели обучения – умения свободно излагать свои мысли на иностранном языке. В том случае, если 
в группе остается 6 и менее учащихся, группа расформировывается, а слушателям предлагаются другие варианты расписания занятий соответствующего уровня.
                           </div>
                       </li>
                         <li class="list-item">
                           <div class="list-item__top">
                               <span class="title">Применяется ли скидка к любым выбранным тренинговым дням?  </span>
                               <svg width="20" height="10" viewBox="0 0 20 10" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M20 0L10 10L0 0L20 0Z" fill="#3C454E"/>
</svg>

                           </div>
                           <div class="list-item__bottom">
                               Занятия проводятся в группах из 8-12 студентов. Это количество студентов считается оптимальным для достижения главной цели обучения – умения свободно излагать свои мысли на иностранном языке. В том случае, если 
в группе остается 6 и менее учащихся, группа расформировывается, а слушателям предлагаются другие варианты расписания занятий соответствующего уровня.
                           </div>
                       </li>
                         <li class="list-item">
                           <div class="list-item__top">
                               <span class="title">Предусмотрен ли возврат денег? </span>
                               <svg width="20" height="10" viewBox="0 0 20 10" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M20 0L10 10L0 0L20 0Z" fill="#3C454E"/>
</svg>

                           </div>
                           <div class="list-item__bottom">
                               Занятия проводятся в группах из 8-12 студентов. Это количество студентов считается оптимальным для достижения главной цели обучения – умения свободно излагать свои мысли на иностранном языке. В том случае, если 
в группе остается 6 и менее учащихся, группа расформировывается, а слушателям предлагаются другие варианты расписания занятий соответствующего уровня.
                           </div>
                       </li>
                         <li class="list-item">
                           <div class="list-item__top">
                               <span class="title">Какой формат тренингов?  </span>
                               <svg width="20" height="10" viewBox="0 0 20 10" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M20 0L10 10L0 0L20 0Z" fill="#3C454E"/>
</svg>

                           </div>
                           <div class="list-item__bottom">
                               Занятия проводятся в группах из 8-12 студентов. Это количество студентов считается оптимальным для достижения главной цели обучения – умения свободно излагать свои мысли на иностранном языке. В том случае, если 
в группе остается 6 и менее учащихся, группа расформировывается, а слушателям предлагаются другие варианты расписания занятий соответствующего уровня.
                           </div>
                       </li>
                         <li class="list-item">
                           <div class="list-item__top">
                               <span class="title">Какое количество человек в группе? </span>
                               <svg width="20" height="10" viewBox="0 0 20 10" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M20 0L10 10L0 0L20 0Z" fill="#3C454E"/>
</svg>

                           </div>
                           <div class="list-item__bottom">
                               Занятия проводятся в группах из 8-12 студентов. Это количество студентов считается оптимальным для достижения главной цели обучения – умения свободно излагать свои мысли на иностранном языке. В том случае, если 
в группе остается 6 и менее учащихся, группа расформировывается, а слушателям предлагаются другие варианты расписания занятий соответствующего уровня.
                           </div>
                       </li>
                         <li class="list-item">
                           <div class="list-item__top">
                               <span class="title">Можно ли изменить темы тренингов после записи?  </span>
                               <svg width="20" height="10" viewBox="0 0 20 10" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M20 0L10 10L0 0L20 0Z" fill="#3C454E"/>
</svg>

                           </div>
                           <div class="list-item__bottom">
                               Занятия проводятся в группах из 8-12 студентов. Это количество студентов считается оптимальным для достижения главной цели обучения – умения свободно излагать свои мысли на иностранном языке. В том случае, если 
в группе остается 6 и менее учащихся, группа расформировывается, а слушателям предлагаются другие варианты расписания занятий соответствующего уровня.
                           </div>
                       </li>
                   </ul>
                </div>
                 <div class="tab-content">
                 
                </div>
                 <div class="tab-content">
                   3 
                </div>
                 <div class="tab-content">
                    
                </div>
             
                </div>
         </div>
         <div class="section__actions">
             <button class="btn secondary-btn white">Показать еще</button>
             <button class="btn secondary-btn" >Задать вопрос</button>
         </div>
       </div>
   </div>
</section>
<section class="section steps-section">
    <div class="container">
        <div class="section__inner">
            <h3 class="section__title">
                Начните учить анлийский язык
                с International House:
            </h3>
            <div class="section__subtitle">
                Для этого нужно сделать всего пару шагов
            </div>
            <div class="section__stepbar">
                <div class="stepbar-elem">
                    <div class="elem-title">
                        01
                    </div>
                    <div class="elem-fragment">
                        <svg class="ellips" width="28" height="29" viewBox="0 0 28 29" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <circle cx="14" cy="14.0205" r="13.5" fill="white" stroke="#FDC600" />
                            <circle cx="14" cy="14.0205" r="8" fill="#FDC600" />
                        </svg>

                        <svg width="363" height="57" viewBox="0 0 363 57" fill="none" xmlns="http://www.w3.org/2000/svg"
                            class="line1">
                            <path
                                d="M1 55.0204C9.6946 56.0204 31.2572 55.8204 47.9509 47.0204C68.8179 36.0204 122.029 0.0204259 181.5 1.02043"
                                stroke="#888888" stroke-width="2" stroke-dasharray="3 2" />
                            <path
                                d="M362 55.0409C353.305 56.0409 331.743 55.8409 315.049 47.0409C294.182 36.0409 240.971 0.0409337 181.5 1.04093"
                                stroke="#888888" stroke-width="2" stroke-dasharray="3 2" />
                        </svg>
                        <svg width="21" height="136" viewBox="0 0 21 136" fill="none" xmlns="http://www.w3.org/2000/svg" class="mobile-line">
<path d="M0.865681 0.999999C0.460711 1.29325 0.460701 1.29324 0.460693 1.29323C0.460691 1.29323 0.460686 1.29322 0.460682 1.29322C0.460676 1.29321 0.460674 1.2932 0.460674 1.29321C0.460676 1.29321 0.460691 1.29323 0.460718 1.29327C0.460775 1.29334 0.460884 1.29349 0.461044 1.29372C0.461369 1.29416 0.461901 1.2949 0.462643 1.29593C0.464128 1.29799 0.466452 1.30122 0.469599 1.3056C0.475893 1.31437 0.485491 1.32778 0.498301 1.34578C0.523918 1.38178 0.562382 1.43616 0.61297 1.50856C0.714148 1.65336 0.863815 1.87025 1.05619 2.15638L1.88607 1.59843C1.69025 1.30717 1.53719 1.08535 1.43269 0.935797C1.38044 0.86102 1.34033 0.804308 1.31308 0.766015C1.29946 0.746869 1.28905 0.732327 1.28195 0.722434C1.2784 0.717487 1.27567 0.713703 1.27379 0.711086C1.27284 0.709777 1.27211 0.708761 1.27159 0.708037C1.27132 0.707675 1.27112 0.707386 1.27096 0.707171C1.27088 0.707063 1.27082 0.706973 1.27077 0.706902C1.27074 0.706867 1.27072 0.706836 1.2707 0.706809C1.27069 0.706796 1.27068 0.70678 1.27067 0.706773C1.27066 0.706758 1.27065 0.706744 0.865681 0.999999ZM2.22924 3.96312C2.56661 4.49902 2.9439 5.1116 3.35371 5.79722L4.21207 5.28417C3.79817 4.5917 3.41683 3.97255 3.07551 3.43036L2.22924 3.96312ZM4.44953 7.67517C4.78444 8.26284 5.13332 8.88775 5.4933 9.54848L6.37143 9.07005C6.00832 8.40358 5.65633 7.7731 5.31834 7.18004L4.44953 7.67517ZM6.50723 11.4513C6.82854 12.0679 7.15596 12.7094 7.48771 13.3751L8.38271 12.929C8.04821 12.2579 7.71806 11.611 7.39405 10.9892L6.50723 11.4513ZM8.43365 15.316C8.73568 15.9499 9.03984 16.6024 9.34487 17.2728L10.2551 16.8587C9.94757 16.1828 9.64093 15.525 9.33642 14.8859L8.43365 15.316ZM10.2214 19.2452C10.5027 19.8934 10.7836 20.5562 11.0633 21.2332L11.9876 20.8514C11.7056 20.1688 11.4223 19.5006 11.1388 18.8472L10.2214 19.2452ZM11.8703 23.2369C12.1298 23.8981 12.3874 24.5713 12.6421 25.2563L13.5794 24.9077C13.3225 24.217 13.0628 23.5382 12.8012 22.8716L11.8703 23.2369ZM13.3776 27.29C13.6127 27.9589 13.8445 28.6379 14.0725 29.3267L15.0219 29.0124C14.7919 28.3178 14.5581 27.633 14.321 26.9585L13.3776 27.29ZM14.7308 31.379C14.9422 32.0595 15.1493 32.7488 15.3516 33.4465L16.3121 33.168C16.108 32.4641 15.899 31.7688 15.6859 31.0824L14.7308 31.379ZM15.9339 35.5288C16.1192 36.217 16.2994 36.9127 16.4741 37.6156L17.4446 37.3745C17.2683 36.6651 17.0864 35.9631 16.8995 35.2688L15.9339 35.5288ZM16.9728 39.7111C17.1313 40.4076 17.2841 41.1108 17.4305 41.8203L18.4099 41.6182C18.2621 40.9019 18.1079 40.1922 17.9479 39.4892L16.9728 39.7111ZM17.8459 43.9426C17.9756 44.6432 18.0988 45.3495 18.2152 46.0614L19.2021 45.9C19.0846 45.1812 18.9601 44.468 18.8292 43.7606L17.8459 43.9426ZM18.5406 48.1925C18.6411 48.9015 18.7346 49.6157 18.8207 50.3348L19.8136 50.2159C19.7267 49.4895 19.6322 48.7682 19.5307 48.0521L18.5406 48.1925ZM19.0531 52.4753C19.1224 53.1864 19.1842 53.9019 19.2381 54.6217L20.2353 54.547C20.1808 53.8197 20.1184 53.0967 20.0484 52.3784L19.0531 52.4753ZM19.3748 56.777C19.4119 57.4901 19.441 58.2072 19.4618 58.928L20.4614 58.8992C20.4404 58.1706 20.4109 57.4458 20.3735 56.7251L19.3748 56.777ZM19.4987 61.0817C19.5026 61.7982 19.498 62.5182 19.4846 63.2415L20.4844 63.26C20.498 62.5287 20.5026 61.8007 20.4987 61.0763L19.4987 61.0817ZM19.4191 65.3911C19.4038 65.7508 19.3863 66.1114 19.3665 66.4726L20.365 66.5274C20.385 66.162 20.4027 65.7974 20.4182 65.4336L19.4191 65.3911ZM19.3665 66.4726C19.3461 66.8446 19.3241 67.216 19.3007 67.587L20.2987 67.6501C20.3223 67.2764 20.3444 66.9021 20.365 66.5274L19.3665 66.4726ZM19.1417 69.8067C19.0824 70.5498 19.0172 71.2906 18.9462 72.0289L19.9417 72.1245C20.0131 71.3809 20.0788 70.6348 20.1386 69.8863L19.1417 69.8067ZM18.7158 74.2452C18.6331 74.9847 18.5449 75.7214 18.4516 76.4552L19.4436 76.5814C19.5376 75.8427 19.6263 75.1009 19.7096 74.3564L18.7158 74.2452ZM18.1534 78.6672C18.0484 79.4054 17.9383 80.1403 17.8235 80.8715L18.8114 81.0267C18.9269 80.2907 19.0377 79.5511 19.1435 78.8081L18.1534 78.6672ZM17.4628 83.0671C17.3365 83.8041 17.2055 84.5372 17.0703 85.266L18.0535 85.4485C18.1895 84.7153 18.3213 83.9777 18.4485 83.236L17.4628 83.0671ZM16.6486 87.4559C16.5027 88.1872 16.3528 88.9139 16.199 89.6356L17.1771 89.8439C17.3317 89.1181 17.4826 88.3872 17.6293 87.6515L16.6486 87.4559ZM15.7198 91.816C15.5544 92.5463 15.3854 93.2711 15.2131 93.9901L16.1856 94.2231C16.3588 93.5002 16.5288 92.7713 16.6951 92.0368L15.7198 91.816ZM14.6807 96.1535C14.4976 96.8784 14.3114 97.5967 14.1226 98.3082L15.0891 98.5647C15.279 97.8494 15.4661 97.1272 15.6502 96.3984L14.6807 96.1535ZM13.5363 100.466C13.3351 101.19 13.1314 101.905 12.9258 102.613L13.886 102.892C14.0928 102.181 14.2975 101.461 14.4997 100.734L13.5363 100.466ZM12.2917 104.749C12.0742 105.467 11.855 106.176 11.6347 106.875L12.5884 107.175C12.8099 106.473 13.0302 105.761 13.2487 105.039L12.2917 104.749ZM10.951 109.001C10.7158 109.72 10.4798 110.426 10.2435 111.121L11.1903 111.443C11.4277 110.745 11.6649 110.034 11.9013 109.313L10.951 109.001ZM9.51342 113.232C9.26188 113.946 9.01078 114.646 8.76081 115.332L9.70035 115.675C9.95154 114.985 10.2039 114.282 10.4566 113.564L9.51342 113.232ZM7.98555 117.424C7.717 118.136 7.45065 118.831 7.18741 119.507L8.11923 119.87C8.38378 119.19 8.65144 118.492 8.9213 117.776L7.98555 117.424ZM6.36605 121.582C6.07896 122.295 5.79698 122.984 5.52138 123.648L6.44483 124.031C6.72185 123.365 7.00526 122.672 7.29379 121.955L6.36605 121.582ZM4.65406 125.701C4.34687 126.417 4.05047 127.095 3.76695 127.734L4.68101 128.14C4.96613 127.497 5.26415 126.815 5.57298 126.096L4.65406 125.701ZM2.84305 129.78C2.49808 130.531 2.18196 131.203 1.90011 131.793L2.8024 132.224C3.08632 131.63 3.40454 130.953 3.75165 130.198L2.84305 129.78ZM0.919836 133.797C0.759483 134.117 0.635132 134.36 0.551077 134.522C0.509048 134.603 0.477096 134.665 0.455759 134.705C0.445089 134.726 0.437073 134.741 0.431776 134.751C0.429129 134.756 0.42716 134.76 0.42588 134.762C0.425241 134.763 0.424774 134.764 0.42448 134.765C0.424332 134.765 0.424229 134.765 0.424168 134.765C0.424137 134.765 0.424118 134.765 0.42411 134.765C0.424106 134.765 0.424105 134.765 0.424105 134.765C0.424106 134.765 0.424108 134.765 0.424108 134.765C0.424112 134.765 0.424118 134.765 0.865675 135C1.30723 135.235 1.30724 135.235 1.30725 135.235C1.30725 135.235 1.30725 135.235 1.30726 135.235C1.30727 135.234 1.30729 135.234 1.3073 135.234C1.30734 135.234 1.30739 135.234 1.30744 135.234C1.30756 135.234 1.30771 135.234 1.30791 135.233C1.30832 135.233 1.30889 135.231 1.30964 135.23C1.31113 135.227 1.31331 135.223 1.31617 135.218C1.3219 135.207 1.33034 135.191 1.34144 135.17C1.36365 135.127 1.39647 135.064 1.43937 134.981C1.52519 134.815 1.65133 134.569 1.8135 134.246L0.919836 133.797Z" fill="#003A78"/>
</svg>

                    </div>
                    <div class="elem-desc">
                        Пройди предварительное
                        тестирование
                    </div>
                </div>
                <div class="stepbar-elem">
                    <div class="elem-title">
                        02
                    </div>
                    <div class="elem-fragment">
                        <svg class="ellips" width="28" height="29" viewBox="0 0 28 29" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <circle cx="14" cy="14.0205" r="13.5" fill="white" stroke="#FDC600" />
                            <circle cx="14" cy="14.0205" r="8" fill="#FDC600" />
                        </svg>

                        <svg width="363" height="57" viewBox="0 0 363 57" fill="none" xmlns="http://www.w3.org/2000/svg"
                            class="line1">
                            <path
                                d="M1 55.0204C9.6946 56.0204 31.2572 55.8204 47.9509 47.0204C68.8179 36.0204 122.029 0.0204259 181.5 1.02043"
                                stroke="#888888" stroke-width="2" stroke-dasharray="3 2" />
                            <path
                                d="M362 55.0409C353.305 56.0409 331.743 55.8409 315.049 47.0409C294.182 36.0409 240.971 0.0409337 181.5 1.04093"
                                stroke="#888888" stroke-width="2" stroke-dasharray="3 2" />
                        </svg>

                                             <svg width="21" height="136" viewBox="0 0 21 136" fill="none" xmlns="http://www.w3.org/2000/svg" class="mobile-line">
<path d="M0.865681 0.999999C0.460711 1.29325 0.460701 1.29324 0.460693 1.29323C0.460691 1.29323 0.460686 1.29322 0.460682 1.29322C0.460676 1.29321 0.460674 1.2932 0.460674 1.29321C0.460676 1.29321 0.460691 1.29323 0.460718 1.29327C0.460775 1.29334 0.460884 1.29349 0.461044 1.29372C0.461369 1.29416 0.461901 1.2949 0.462643 1.29593C0.464128 1.29799 0.466452 1.30122 0.469599 1.3056C0.475893 1.31437 0.485491 1.32778 0.498301 1.34578C0.523918 1.38178 0.562382 1.43616 0.61297 1.50856C0.714148 1.65336 0.863815 1.87025 1.05619 2.15638L1.88607 1.59843C1.69025 1.30717 1.53719 1.08535 1.43269 0.935797C1.38044 0.86102 1.34033 0.804308 1.31308 0.766015C1.29946 0.746869 1.28905 0.732327 1.28195 0.722434C1.2784 0.717487 1.27567 0.713703 1.27379 0.711086C1.27284 0.709777 1.27211 0.708761 1.27159 0.708037C1.27132 0.707675 1.27112 0.707386 1.27096 0.707171C1.27088 0.707063 1.27082 0.706973 1.27077 0.706902C1.27074 0.706867 1.27072 0.706836 1.2707 0.706809C1.27069 0.706796 1.27068 0.70678 1.27067 0.706773C1.27066 0.706758 1.27065 0.706744 0.865681 0.999999ZM2.22924 3.96312C2.56661 4.49902 2.9439 5.1116 3.35371 5.79722L4.21207 5.28417C3.79817 4.5917 3.41683 3.97255 3.07551 3.43036L2.22924 3.96312ZM4.44953 7.67517C4.78444 8.26284 5.13332 8.88775 5.4933 9.54848L6.37143 9.07005C6.00832 8.40358 5.65633 7.7731 5.31834 7.18004L4.44953 7.67517ZM6.50723 11.4513C6.82854 12.0679 7.15596 12.7094 7.48771 13.3751L8.38271 12.929C8.04821 12.2579 7.71806 11.611 7.39405 10.9892L6.50723 11.4513ZM8.43365 15.316C8.73568 15.9499 9.03984 16.6024 9.34487 17.2728L10.2551 16.8587C9.94757 16.1828 9.64093 15.525 9.33642 14.8859L8.43365 15.316ZM10.2214 19.2452C10.5027 19.8934 10.7836 20.5562 11.0633 21.2332L11.9876 20.8514C11.7056 20.1688 11.4223 19.5006 11.1388 18.8472L10.2214 19.2452ZM11.8703 23.2369C12.1298 23.8981 12.3874 24.5713 12.6421 25.2563L13.5794 24.9077C13.3225 24.217 13.0628 23.5382 12.8012 22.8716L11.8703 23.2369ZM13.3776 27.29C13.6127 27.9589 13.8445 28.6379 14.0725 29.3267L15.0219 29.0124C14.7919 28.3178 14.5581 27.633 14.321 26.9585L13.3776 27.29ZM14.7308 31.379C14.9422 32.0595 15.1493 32.7488 15.3516 33.4465L16.3121 33.168C16.108 32.4641 15.899 31.7688 15.6859 31.0824L14.7308 31.379ZM15.9339 35.5288C16.1192 36.217 16.2994 36.9127 16.4741 37.6156L17.4446 37.3745C17.2683 36.6651 17.0864 35.9631 16.8995 35.2688L15.9339 35.5288ZM16.9728 39.7111C17.1313 40.4076 17.2841 41.1108 17.4305 41.8203L18.4099 41.6182C18.2621 40.9019 18.1079 40.1922 17.9479 39.4892L16.9728 39.7111ZM17.8459 43.9426C17.9756 44.6432 18.0988 45.3495 18.2152 46.0614L19.2021 45.9C19.0846 45.1812 18.9601 44.468 18.8292 43.7606L17.8459 43.9426ZM18.5406 48.1925C18.6411 48.9015 18.7346 49.6157 18.8207 50.3348L19.8136 50.2159C19.7267 49.4895 19.6322 48.7682 19.5307 48.0521L18.5406 48.1925ZM19.0531 52.4753C19.1224 53.1864 19.1842 53.9019 19.2381 54.6217L20.2353 54.547C20.1808 53.8197 20.1184 53.0967 20.0484 52.3784L19.0531 52.4753ZM19.3748 56.777C19.4119 57.4901 19.441 58.2072 19.4618 58.928L20.4614 58.8992C20.4404 58.1706 20.4109 57.4458 20.3735 56.7251L19.3748 56.777ZM19.4987 61.0817C19.5026 61.7982 19.498 62.5182 19.4846 63.2415L20.4844 63.26C20.498 62.5287 20.5026 61.8007 20.4987 61.0763L19.4987 61.0817ZM19.4191 65.3911C19.4038 65.7508 19.3863 66.1114 19.3665 66.4726L20.365 66.5274C20.385 66.162 20.4027 65.7974 20.4182 65.4336L19.4191 65.3911ZM19.3665 66.4726C19.3461 66.8446 19.3241 67.216 19.3007 67.587L20.2987 67.6501C20.3223 67.2764 20.3444 66.9021 20.365 66.5274L19.3665 66.4726ZM19.1417 69.8067C19.0824 70.5498 19.0172 71.2906 18.9462 72.0289L19.9417 72.1245C20.0131 71.3809 20.0788 70.6348 20.1386 69.8863L19.1417 69.8067ZM18.7158 74.2452C18.6331 74.9847 18.5449 75.7214 18.4516 76.4552L19.4436 76.5814C19.5376 75.8427 19.6263 75.1009 19.7096 74.3564L18.7158 74.2452ZM18.1534 78.6672C18.0484 79.4054 17.9383 80.1403 17.8235 80.8715L18.8114 81.0267C18.9269 80.2907 19.0377 79.5511 19.1435 78.8081L18.1534 78.6672ZM17.4628 83.0671C17.3365 83.8041 17.2055 84.5372 17.0703 85.266L18.0535 85.4485C18.1895 84.7153 18.3213 83.9777 18.4485 83.236L17.4628 83.0671ZM16.6486 87.4559C16.5027 88.1872 16.3528 88.9139 16.199 89.6356L17.1771 89.8439C17.3317 89.1181 17.4826 88.3872 17.6293 87.6515L16.6486 87.4559ZM15.7198 91.816C15.5544 92.5463 15.3854 93.2711 15.2131 93.9901L16.1856 94.2231C16.3588 93.5002 16.5288 92.7713 16.6951 92.0368L15.7198 91.816ZM14.6807 96.1535C14.4976 96.8784 14.3114 97.5967 14.1226 98.3082L15.0891 98.5647C15.279 97.8494 15.4661 97.1272 15.6502 96.3984L14.6807 96.1535ZM13.5363 100.466C13.3351 101.19 13.1314 101.905 12.9258 102.613L13.886 102.892C14.0928 102.181 14.2975 101.461 14.4997 100.734L13.5363 100.466ZM12.2917 104.749C12.0742 105.467 11.855 106.176 11.6347 106.875L12.5884 107.175C12.8099 106.473 13.0302 105.761 13.2487 105.039L12.2917 104.749ZM10.951 109.001C10.7158 109.72 10.4798 110.426 10.2435 111.121L11.1903 111.443C11.4277 110.745 11.6649 110.034 11.9013 109.313L10.951 109.001ZM9.51342 113.232C9.26188 113.946 9.01078 114.646 8.76081 115.332L9.70035 115.675C9.95154 114.985 10.2039 114.282 10.4566 113.564L9.51342 113.232ZM7.98555 117.424C7.717 118.136 7.45065 118.831 7.18741 119.507L8.11923 119.87C8.38378 119.19 8.65144 118.492 8.9213 117.776L7.98555 117.424ZM6.36605 121.582C6.07896 122.295 5.79698 122.984 5.52138 123.648L6.44483 124.031C6.72185 123.365 7.00526 122.672 7.29379 121.955L6.36605 121.582ZM4.65406 125.701C4.34687 126.417 4.05047 127.095 3.76695 127.734L4.68101 128.14C4.96613 127.497 5.26415 126.815 5.57298 126.096L4.65406 125.701ZM2.84305 129.78C2.49808 130.531 2.18196 131.203 1.90011 131.793L2.8024 132.224C3.08632 131.63 3.40454 130.953 3.75165 130.198L2.84305 129.78ZM0.919836 133.797C0.759483 134.117 0.635132 134.36 0.551077 134.522C0.509048 134.603 0.477096 134.665 0.455759 134.705C0.445089 134.726 0.437073 134.741 0.431776 134.751C0.429129 134.756 0.42716 134.76 0.42588 134.762C0.425241 134.763 0.424774 134.764 0.42448 134.765C0.424332 134.765 0.424229 134.765 0.424168 134.765C0.424137 134.765 0.424118 134.765 0.42411 134.765C0.424106 134.765 0.424105 134.765 0.424105 134.765C0.424106 134.765 0.424108 134.765 0.424108 134.765C0.424112 134.765 0.424118 134.765 0.865675 135C1.30723 135.235 1.30724 135.235 1.30725 135.235C1.30725 135.235 1.30725 135.235 1.30726 135.235C1.30727 135.234 1.30729 135.234 1.3073 135.234C1.30734 135.234 1.30739 135.234 1.30744 135.234C1.30756 135.234 1.30771 135.234 1.30791 135.233C1.30832 135.233 1.30889 135.231 1.30964 135.23C1.31113 135.227 1.31331 135.223 1.31617 135.218C1.3219 135.207 1.33034 135.191 1.34144 135.17C1.36365 135.127 1.39647 135.064 1.43937 134.981C1.52519 134.815 1.65133 134.569 1.8135 134.246L0.919836 133.797Z" fill="#003A78"/>
</svg>

                    </div>
                    <div class="elem-desc">
                        Записаться на собеседование по итогам тестирования
                    </div>
                </div>
                <div class="stepbar-elem">
                    <div class="elem-title">
                        03
                    </div>
                    <div class="elem-fragment">
                        <svg class="ellips" width="28" height="29" viewBox="0 0 28 29" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <circle cx="14" cy="14.0205" r="13.5" fill="white" stroke="#FDC600" />
                            <circle cx="14" cy="14.0205" r="8" fill="#FDC600" />
                        </svg>
                    </div>
                    <div class="elem-desc">
                        Начать занятие английского языка
                        в школе IH
                    </div>
                </div>
            </div>
            <a href="" class="btn secondary-btn">Начать тестирование</a>
        </div>
    </div>
</section>
</div>
{{> layout/footer}}