{{!Часто задаваемые вопросы}}

{{> layout/header}}
<div class="content question-page">
    <div class="breadcrumbs-wrapper">
        <div class="container">
            <ul class="breadcrumbs">
                <li class="breadcrumbs__item">
                    <a href="" class="breadcrumbs__link">Главная</a>
                </li>
                <li class="breadcrumbs__item">
                    <a href="" class="breadcrumbs__link">Вопрос-ответ</a>
                </li>
               
            </ul>
        </div>
    </div>



    <div class="page__title">
        <div class="container">
            <h2 class="title">
               Часто задаваемые вопросы
            </h2>
        </div>
    </div>
<section class="section question-section">
   <div class="container">
       <div class="section__inner">
         <div class="section__tabs">
                <div  class="tabs question-tabs" id="tabs" >
                    <ul class="tabs__header">
                        <li class="tab active">
                            Все вопросы
                        </li>
                          <li class="tab ">
              Обучение
                        </li>
                            <li class="tab ">
                     Школа
                        </li>
                            <li class="tab">
                       Teaching Excellence Programme
                        </li>
                      
                    </ul>
                <div class="tab-content active">
                 <ul class="question-list" id="accordion">
                       <div class="list-item">
                           <div class="list-item__top">
                               <span class="title">Сколько человек может заниматься в группе? </span>
                               <svg width="20" height="10" viewBox="0 0 20 10" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M20 0L10 10L0 0L20 0Z" fill="#3C454E"/>
</svg>

                           </div>
                           <div class="list-item__bottom">
                               Занятия проводятся в группах из 8-12 студентов. Это количество студентов считается оптимальным для достижения главной цели обучения – умения свободно излагать свои мысли на иностранном языке. В том случае, если 
в группе остается 6 и менее учащихся, группа расформировывается, а слушателям предлагаются другие варианты расписания занятий соответствующего уровня.
                           </div>
                       </div>
                         <div class="list-item">
                           <div class="list-item__top">
                               <span class="title">Можно ли изменить темы тренингов после записи?  </span>
                               <svg width="20" height="10" viewBox="0 0 20 10" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M20 0L10 10L0 0L20 0Z" fill="#3C454E"/>
</svg>

                           </div>
                           <div class="list-item__bottom">
                               Занятия проводятся в группах из 8-12 студентов. Это количество студентов считается оптимальным для достижения главной цели обучения – умения свободно излагать свои мысли на иностранном языке. В том случае, если 
в группе остается 6 и менее учащихся, группа расформировывается, а слушателям предлагаются другие варианты расписания занятий соответствующего уровня.
                           </div>
                       </div>
                         <div class="list-item">
                           <div class="list-item__top">
                               <span class="title">В какое время проводятся занятия в вашей школе?   </span>
                               <svg width="20" height="10" viewBox="0 0 20 10" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M20 0L10 10L0 0L20 0Z" fill="#3C454E"/>
</svg>

                           </div>
                           <div class="list-item__bottom">
                               Занятия проводятся в группах из 8-12 студентов. Это количество студентов считается оптимальным для достижения главной цели обучения – умения свободно излагать свои мысли на иностранном языке. В том случае, если 
в группе остается 6 и менее учащихся, группа расформировывается, а слушателям предлагаются другие варианты расписания занятий соответствующего уровня.
                           </div>
                       </div>
                         <div class="list-item">
                           <div class="list-item__top">
                               <span class="title">Применяется ли скидка к любым выбранным тренинговым дням?  </span>
                               <svg width="20" height="10" viewBox="0 0 20 10" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M20 0L10 10L0 0L20 0Z" fill="#3C454E"/>
</svg>

                           </div>
                           <div class="list-item__bottom">
                               Занятия проводятся в группах из 8-12 студентов. Это количество студентов считается оптимальным для достижения главной цели обучения – умения свободно излагать свои мысли на иностранном языке. В том случае, если 
в группе остается 6 и менее учащихся, группа расформировывается, а слушателям предлагаются другие варианты расписания занятий соответствующего уровня.
                           </div>
                       </div>
                         <div class="list-item">
                           <div class="list-item__top">
                               <span class="title">Предусмотрен ли возврат денег? </span>
                               <svg width="20" height="10" viewBox="0 0 20 10" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M20 0L10 10L0 0L20 0Z" fill="#3C454E"/>
</svg>

                           </div>
                           <div class="list-item__bottom">
                               Занятия проводятся в группах из 8-12 студентов. Это количество студентов считается оптимальным для достижения главной цели обучения – умения свободно излагать свои мысли на иностранном языке. В том случае, если 
в группе остается 6 и менее учащихся, группа расформировывается, а слушателям предлагаются другие варианты расписания занятий соответствующего уровня.
                           </div>
                       </div>
                         <div class="list-item">
                           <div class="list-item__top">
                               <span class="title">Какой формат тренингов?  </span>
                               <svg width="20" height="10" viewBox="0 0 20 10" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M20 0L10 10L0 0L20 0Z" fill="#3C454E"/>
</svg>

                           </div>
                           <div class="list-item__bottom">
                               Занятия проводятся в группах из 8-12 студентов. Это количество студентов считается оптимальным для достижения главной цели обучения – умения свободно излагать свои мысли на иностранном языке. В том случае, если 
в группе остается 6 и менее учащихся, группа расформировывается, а слушателям предлагаются другие варианты расписания занятий соответствующего уровня.
                           </div>
                       </div>
                         <div class="list-item">
                           <div class="list-item__top">
                               <span class="title">Какое количество человек в группе? </span>
                               <svg width="20" height="10" viewBox="0 0 20 10" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M20 0L10 10L0 0L20 0Z" fill="#3C454E"/>
</svg>

                           </div>
                           <div class="list-item__bottom">
                               Занятия проводятся в группах из 8-12 студентов. Это количество студентов считается оптимальным для достижения главной цели обучения – умения свободно излагать свои мысли на иностранном языке. В том случае, если 
в группе остается 6 и менее учащихся, группа расформировывается, а слушателям предлагаются другие варианты расписания занятий соответствующего уровня.
                           </div>
                       </div>
                         <div class="list-item">
                           <div class="list-item__top">
                               <span class="title">Можно ли изменить темы тренингов после записи?  </span>
                               <svg width="20" height="10" viewBox="0 0 20 10" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M20 0L10 10L0 0L20 0Z" fill="#3C454E"/>
</svg>

                           </div>
                           <div class="list-item__bottom">
                               Занятия проводятся в группах из 8-12 студентов. Это количество студентов считается оптимальным для достижения главной цели обучения – умения свободно излагать свои мысли на иностранном языке. В том случае, если 
в группе остается 6 и менее учащихся, группа расформировывается, а слушателям предлагаются другие варианты расписания занятий соответствующего уровня.
                           </div>
                       </div>
                   </ul>
                </div>
                 <div class="tab-content">
                 
                </div>
                 <div class="tab-content">
                   3 
                </div>
                 <div class="tab-content">
                    
                </div>
             
                </div>
         </div>
         <div class="section__actions">
             <button class="btn secondary-btn white">Показать еще</button>
             <button class="btn secondary-btn" >Задать вопрос</button>
         </div>
       </div>
   </div>
</section>
<section class="section steps-section">
    <div class="container">
        <div class="section__inner">
            <h3 class="section__title">
                Начните учить анлийский язык
                с International House:
            </h3>
            <div class="section__subtitle">
                Для этого нужно сделать всего пару шагов
            </div>
            <div class="section__stepbar">
                <div class="stepbar-elem">
                    <div class="elem-title">
                        01
                    </div>
                    <div class="elem-fragment">
                        <svg class="ellips" width="28" height="29" viewBox="0 0 28 29" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <circle cx="14" cy="14.0205" r="13.5" fill="white" stroke="#FDC600" />
                            <circle cx="14" cy="14.0205" r="8" fill="#FDC600" />
                        </svg>

                        <svg width="363" height="57" viewBox="0 0 363 57" fill="none" xmlns="http://www.w3.org/2000/svg"
                            class="line1">
                            <path
                                d="M1 55.0204C9.6946 56.0204 31.2572 55.8204 47.9509 47.0204C68.8179 36.0204 122.029 0.0204259 181.5 1.02043"
                                stroke="#888888" stroke-width="2" stroke-dasharray="3 2" />
                            <path
                                d="M362 55.0409C353.305 56.0409 331.743 55.8409 315.049 47.0409C294.182 36.0409 240.971 0.0409337 181.5 1.04093"
                                stroke="#888888" stroke-width="2" stroke-dasharray="3 2" />
                        </svg>

                    </div>
                    <div class="elem-desc">
                        Пройди предварительное
                        тестирование
                    </div>
                </div>
                <div class="stepbar-elem">
                    <div class="elem-title">
                        02
                    </div>
                    <div class="elem-fragment">
                        <svg class="ellips" width="28" height="29" viewBox="0 0 28 29" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <circle cx="14" cy="14.0205" r="13.5" fill="white" stroke="#FDC600" />
                            <circle cx="14" cy="14.0205" r="8" fill="#FDC600" />
                        </svg>

                        <svg width="363" height="57" viewBox="0 0 363 57" fill="none" xmlns="http://www.w3.org/2000/svg"
                            class="line1">
                            <path
                                d="M1 55.0204C9.6946 56.0204 31.2572 55.8204 47.9509 47.0204C68.8179 36.0204 122.029 0.0204259 181.5 1.02043"
                                stroke="#888888" stroke-width="2" stroke-dasharray="3 2" />
                            <path
                                d="M362 55.0409C353.305 56.0409 331.743 55.8409 315.049 47.0409C294.182 36.0409 240.971 0.0409337 181.5 1.04093"
                                stroke="#888888" stroke-width="2" stroke-dasharray="3 2" />
                        </svg>

                    </div>
                    <div class="elem-desc">
                        Записаться на собеседование по итогам тестирования
                    </div>
                </div>
                <div class="stepbar-elem">
                    <div class="elem-title">
                        03
                    </div>
                    <div class="elem-fragment">
                        <svg class="ellips" width="28" height="29" viewBox="0 0 28 29" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <circle cx="14" cy="14.0205" r="13.5" fill="white" stroke="#FDC600" />
                            <circle cx="14" cy="14.0205" r="8" fill="#FDC600" />
                        </svg>
                    </div>
                    <div class="elem-desc">
                        Начать занятие английского языка
                        в школе IH
                    </div>
                </div>
            </div>
            <a href="" class="btn secondary-btn">Начать тестирование</a>
        </div>
    </div>
</section>
</div>
{{> layout/footer}}