{{!Дополнительные курсы}}

{{> layout/header}}
<div class="content subcourse-page">
    <div class="breadcrumbs-wrapper">
        <div class="container">
            <ul class="breadcrumbs">
                <li class="breadcrumbs__item">
                    <a href="" class="breadcrumbs__link">Главная</a>
                </li>
                <li class="breadcrumbs__item">
                    <a href="" class="breadcrumbs__link">Обучение английскому языку</a>
                </li>
                 <li class="breadcrumbs__item">
                    <a href="" class="breadcrumbs__link">Обущий английский для взрослых</a>
                </li>
               
            </ul>
        </div>
    </div>



    <div class="page__title">
        <div class="container">
            <h2 class="title">
              Летние курсы для <br> взрослых
            </h2>
        </div>
    </div>
<div class="subtext">
    <div class="container">
       <div class="subtext__inner">
            <p>
            Летние экспресс курсы английского языка предназначены для тех, кто хочет повысить уровень знаний в максимально короткий срок. Мы предлагаем за короткое время пройти 1-2 семестра интенсивных занятий по общему английскому языку, усовершенствовать свои навыки общения, пополнить словарный запас, улучшить произношение, попрактиковаться в аудировании.
        </p>
       </div>
    </div>
</div>
<section class="section course-info-section">
<div class="container">
    <div class="section__inner">
        <h3 class="section__title">
            Интенсивный летний курс общего <br> английского
        </h3>
        <div class="section__subtitle">
            О курсе
        </div>
        <div class="section__info">
            <ul class="list-info">
                <div class="list-item">
                    Для уровней Starter – Intermediate;
                </div>
                 <div class="list-item">
                    4 раза в неделю по 2 ак. часа* <br>
или 2 раза в неделю по 4 ак.часа;
                </div>
                 <div class="list-item">
                    Утренние и вечерние группы <br>
(8:00, 9:30, 18:10, 19:40).
                </div>
            </ul>

              <div class="section__block">
                    <div class="block-info studies-info">
                        <ul class="studies-info__list">
                            <li class="list-item">
                                <div class="list-item__left">
Начало семестра
                                </div>
                                <div class="list-item__right">
2 марта 2020
                                </div>
                            </li>
                                <li class="list-item blue">
                                <div class="list-item__left">
Окончание семестра
                                </div>
                                <div class="list-item__right">
31 мая 2020
                                </div>
                            </li>
                                <li class="list-item">
                                <div class="list-item__left">
Кол-во ав. часов в курсе
                                </div>
                                <div class="list-item__right">
48
                                </div>
                            </li>
                                <li class="list-item blue">
                                <div class="list-item__left">
Стоимость
                                </div>
                                <div class="list-item__right">
408 BYN
                                </div>
                            </li>
                        </ul>
                    </div>
                   
                </div>
        </div>
    </div>
</div>
</section>
<section class="section course-subinfo-section">
<div class="container">
    <div class="section__inner">
        <h3 class="section__title">
            Focus on Fluency 1
        </h3>
        <div class="subtext">
            <div class="title">
                Описание курса
            </div>
            <div class="text">
Данный курс рассчитан на слушателей, имеющих общий уровень английского языка А2 и поможет студентам закрепить и существенно расширить свой словарь, преодолеть языковой барьер, увереннее чувствовать себя в общении на английском. За счет создания нестандартных и юмористических ситуаций занятия проходят увлекательно, 
в непринужденной и доброжелательной обстановке. Ситуации, включенные в этот курс, являются типичными в путешествиях.
            </div>
        </div>
        <div class="list-info-accordion" >
            <ul class="list-info" id="accordion">
                <li class="list-item">
                    <div class="list-item__top">
                        Разрешите познакомиться
                        <svg width="16" height="8" viewBox="0 0 16 8" fill="none" xmlns="http://www.w3.org/2000/svg" class="arrow-down">
<path d="M16 0L8 8L0 0L16 0Z" fill="#003A78"/>
</svg>

                    </div>
                    <div class="list-item__bottom">
                        <p>Как представиться в формальной и неформальной ситуации, начать, поддержать и завершить разговор</p>
                        <p>Как ответить на вопросы, возникающие во время знакомства.</p>
                    </div>
                </li>
                 <li class="list-item">
                    <div class="list-item__top">
                        Разрешите познакомиться
                        <svg width="16" height="8" viewBox="0 0 16 8" fill="none" xmlns="http://www.w3.org/2000/svg" class="arrow-down">
<path d="M16 0L8 8L0 0L16 0Z" fill="#003A78"/>
</svg>

                    </div>
                    <div class="list-item__bottom">
                        <p>Как представиться в формальной и неформальной ситуации, начать, поддержать и завершить разговор</p>
                        <p>Как ответить на вопросы, возникающие во время знакомства.</p>
                    </div>
                </li>
                 <li class="list-item">
                    <div class="list-item__top">
                        Разрешите познакомиться
                        <svg width="16" height="8" viewBox="0 0 16 8" fill="none" xmlns="http://www.w3.org/2000/svg" class="arrow-down">
<path d="M16 0L8 8L0 0L16 0Z" fill="#003A78"/>
</svg>

                    </div>
                    <div class="list-item__bottom">
                        <p>Как представиться в формальной и неформальной ситуации, начать, поддержать и завершить разговор</p>
                        <p>Как ответить на вопросы, возникающие во время знакомства.</p>
                    </div>
                </li>
                 <li class="list-item">
                    <div class="list-item__top">
                        Разрешите познакомиться
                        <svg width="16" height="8" viewBox="0 0 16 8" fill="none" xmlns="http://www.w3.org/2000/svg" class="arrow-down">
<path d="M16 0L8 8L0 0L16 0Z" fill="#003A78"/>
</svg>

                    </div>
                    <div class="list-item__bottom">
                        <p>Как представиться в формальной и неформальной ситуации, начать, поддержать и завершить разговор</p>
                        <p>Как ответить на вопросы, возникающие во время знакомства.</p>
                    </div>
                </li>
                 <li class="list-item">
                    <div class="list-item__top">
                        Разрешите познакомиться
                        <svg width="16" height="8" viewBox="0 0 16 8" fill="none" xmlns="http://www.w3.org/2000/svg" class="arrow-down">
<path d="M16 0L8 8L0 0L16 0Z" fill="#003A78"/>
</svg>

                    </div>
                    <div class="list-item__bottom">
                        <p>Как представиться в формальной и неформальной ситуации, начать, поддержать и завершить разговор</p>
                        <p>Как ответить на вопросы, возникающие во время знакомства.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
</section>
<section class="section table-section">
    <div class="container">
        <div class="section__inner">
            <div class="section__table">
                   <div class="table__wrapper">
  <table class="table example-table">
                        <thead>
                            <tr class="row">
                                <th scope="col" class="col-4 col-lg-4  red"><span class="title">Дата экзамена</span></th>
                                <th scope="col" class="col-4 col-lg-4  purple"><span class="title">
                                        Модуль
                                    </span></th>
                                <th scope="col" class="col-4 col-lg-4  pink"><span class="title">
                                        Период регистрации
                                    </span></th>
                              
                              
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="row">
                                <td class="col-4 col-lg-4  "><b>23 ноября</b></td>
                                <td class="col-4 col-lg-4">
                                  <div class="text">
                                      A/G
                                  </div>
                                </td>
                                <td class="col-4 col-lg-4">
                                <ul class="list-info">
                                    <li class="list-item">
                                        <div class="title">
                                            Чтение/письмо:
                                        </div>
                                        <div class="text">
                                            20 минут
                                        </div>
                                    </li>
                                     <li class="list-item">
                                        <div class="title">
                                            Чтение/письмо:
                                        </div>
                                        <div class="text">
                                            20 минут
                                        </div>
                                    </li>
                                     <li class="list-item">
                                        <div class="title">
                                            Чтение/письмо:
                                        </div>
                                        <div class="text">
                                            20 минут
                                        </div>
                                    </li>
                                </ul>
                                   
                                  
                                </td>
                              
                             

                            </tr>
                            <tr class="row">
                                <td class="col-4 col-lg-4  "><b>7 декабря</b></td>
                                <td class="col-4 col-lg-4">
                                <div class="text">
                                    A/G
                                </div>
                                </td>
                                <td class="col-4 col-lg-4">
                                    <div class="text">
                                                          28 октября - 
1 нобяря	
                                    </div>
                                </td>
                            
                             

                            </tr>
                            <tr class="row">
                                <td class="col-4 col-lg-4  "><b>14 декабря
(выездная сессия 
в Гродно)</b></td>
                                <td class="col-4 col-lg-4">
                                  <div class="text">
                                      A/G
                                  </div>
                                </td>
                                <td class="col-4 col-lg-4">
                                  <div class="text">
                                      4 - 8 ноября
                                  </div>

                                </td>
                           
                             

                            </tr>
                         
                        </tbody>
                    </table>
                    </div>
            </div>
        </div>
    </div>
</section>
<section class="section gallery-section">
    <div class="container">
        <div class="section__inner">
            <h3 class="section__title">
                Галерея
            </h3>
            <div class="section__slider">
            <div class="slider gallery-slider">
                <div class="slider__item">
                    <div class="slider__item-inner">
                        <a href="../static/images/gallery-item1.png">
                            <img src="../static/images/gallery-item1.png" alt="">
                        </a>
                    </div>
                </div>
                  <div class="slider__item">
                    <div class="slider__item-inner">
                        <a href="../static/images/gallery-item2.png">
                            <img src="../static/images/gallery-item2.png" alt="">
                        </a>
                    </div>
                </div>
                  <div class="slider__item">
                    <div class="slider__item-inner">
                        <a href="../static/images/gallery-item3.png">
                            <img src="../static/images/gallery-item3.png" alt="">
                        </a>
                    </div>
                </div>
                  <div class="slider__item">
                    <div class="slider__item-inner">
                        <a href="../static/images/gallery-item2.png">
                            <img src="../static/images/gallery-item2.png" alt="">
                        </a>
                    </div>
                </div>
                 
            </div>
            </div>
        </div>
    </div>
</section>
<div class="download-link">
           <div class="container">
                   <a href="" class="link">
                                 <div class="link__left">
<svg width="59" height="65" viewBox="0 0 59 65" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M33.9985 13.3251H41.1738L30.1914 1.77191V9.50316C30.1914 11.5974 31.8899 13.3251 33.9985 13.3251Z" fill="#FDC600"/>
<path d="M22.0946 42.4643H9.3695C8.72531 42.4643 8.19816 41.9377 8.19816 41.293C8.19816 40.6488 8.72531 40.1217 9.3695 40.1217H22.8707C23.617 38.2184 24.6128 36.6071 25.8432 34.9964H9.3695C8.72531 34.9964 8.19816 34.4698 8.19816 33.8251C8.19816 33.1809 8.72531 32.6537 9.3695 32.6537H28.0688C31.5828 29.5786 36.2394 27.6168 41.3205 27.6168C41.8035 27.6168 42.1993 27.6604 42.785 27.7046V15.6678H33.9989C30.6019 15.6678 27.8491 12.8857 27.8491 9.50314V7.62939e-06H5.38684C2.48725 7.62939e-06 0.173828 2.37195 0.173828 5.28592V49.9764C0.173828 52.8904 2.48725 55.2038 5.38684 55.2038H23.0313C22.0212 52.8611 21.4648 50.2253 21.4648 47.4725C21.4499 45.7448 21.6844 44.0751 22.0946 42.4643ZM9.3695 25.3321H24.2032C24.8474 25.3321 25.3745 25.8593 25.3745 26.504C25.3745 27.1481 24.8474 27.6753 24.2032 27.6753H9.3695C8.72531 27.6753 8.19816 27.1481 8.19816 26.504C8.19816 25.8593 8.72531 25.3321 9.3695 25.3321Z" fill="#FDC600"/>
<path d="M41.3058 30.0036C31.6564 30.0036 23.8076 37.8519 23.8076 47.5018C23.8076 57.1512 31.6564 65 41.3058 65C50.9557 65 58.8045 57.1512 58.8045 47.5018C58.8045 37.8519 50.9557 30.0036 41.3058 30.0036ZM50.6632 47.7651C50.4435 47.9704 50.1504 48.0731 49.8722 48.0731C49.5647 48.0731 49.2573 47.9412 49.0227 47.7066L42.492 40.6781V57.4002C42.492 58.0449 41.9649 58.572 41.3207 58.572C40.6765 58.572 40.1494 58.0449 40.1494 57.4002V40.6637L33.5895 47.6922C33.1501 48.1609 32.3884 48.1901 31.9197 47.7508C31.4516 47.3114 31.4218 46.5645 31.8612 46.0959L40.4419 36.8854C40.6616 36.6513 40.9691 36.5194 41.3058 36.5194C41.643 36.5194 41.9356 36.6513 42.1702 36.8854L50.7509 46.0959C51.1611 46.5794 51.1313 47.3263 50.6632 47.7651Z" fill="#FDC600"/>
</svg>

                                 </div>
                                 <div class="link__right">
                                     Положение о скидках. pdf
                                 </div>
                             </a>
           </div>
</div>
<section class="section steps-info-section">
    <div class="container">
        <div class="section__inner">
            <h3 class="section__title">
            Курс CELTA
            </h3>
 <div class="section__info">
         <ul class="steps-list">
                        <div class="list-item">
                            <div class="list-item__top">
      <div class="icon">
                                    <svg width="88" height="88" viewBox="0 0 88 88" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="44" cy="44" r="44" fill="#003A78" fill-opacity="0.5"/>
<circle cx="44" cy="44" r="32" fill="#003A78"/>
<path d="M49.2095 32.519V58H42.1685V41.3032C41.0291 42.1691 39.924 42.8698 38.853 43.4053C37.7935 43.9408 36.4604 44.4535 34.854 44.9434V39.2354C37.2238 38.472 39.0638 37.5549 40.374 36.4839C41.6842 35.4129 42.7096 34.0913 43.4502 32.519H49.2095Z" fill="white"/>
</svg>
                                </div>
                            </div>
                            <div class="list-item__bottom">
                                <div class="title">
Заполнить анкету
                                </div>
                  
                            </div>
                        </div>
                           <div class="list-item">
                            <div class="list-item__top">
                                <div class="icon">
    <svg width="88" height="88" viewBox="0 0 88 88" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="44" cy="44" r="44" fill="#003A78" fill-opacity="0.5"/>
<circle cx="44" cy="44" r="32" fill="#003A78"/>
<path d="M53.8066 58H32.9229C33.1621 55.9378 33.8856 54.001 35.0933 52.1895C36.3123 50.3665 38.591 48.2189 41.9292 45.7466C43.9686 44.2313 45.2731 43.0806 45.8428 42.2944C46.4124 41.5083 46.6973 40.762 46.6973 40.0557C46.6973 39.2923 46.4124 38.6429 45.8428 38.1074C45.2845 37.5605 44.5781 37.2871 43.7236 37.2871C42.835 37.2871 42.1058 37.5662 41.5361 38.1245C40.9779 38.6828 40.6019 39.6683 40.4082 41.0811L33.4355 40.5171C33.709 38.5575 34.2103 37.0308 34.9395 35.937C35.6686 34.8319 36.694 33.9888 38.0156 33.4077C39.3486 32.8153 41.1886 32.519 43.5356 32.519C45.9852 32.519 47.8879 32.7982 49.2437 33.3564C50.6108 33.9147 51.6818 34.7749 52.4565 35.937C53.2427 37.0877 53.6357 38.3809 53.6357 39.8164C53.6357 41.3431 53.1857 42.8014 52.2856 44.1914C51.397 45.5814 49.7734 47.1081 47.415 48.7715C46.0137 49.7399 45.0737 50.4178 44.5952 50.8052C44.1281 51.1925 43.5755 51.6995 42.9375 52.3262H53.8066V58Z" fill="white"/>
</svg>

                                </div>
                            </div>
                            <div class="list-item__bottom">
        <div class="title">
Внести оплату
                                </div>
                            
                            </div>
                        </div>
                           <div class="list-item">
                            <div class="list-item__top">
      <div class="icon">
 <svg width="88" height="88" viewBox="0 0 88 88" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="44" cy="44" r="44" fill="#003A78" fill-opacity="0.5"/>
<circle cx="44.1895" cy="44" r="32" fill="#003A78"/>
<path d="M40.3755 40.1924L33.7959 39.0132C34.3428 36.9168 35.391 35.3104 36.9404 34.1938C38.5013 33.0773 40.7059 32.519 43.5542 32.519C46.8241 32.519 49.1882 33.1286 50.6465 34.3477C52.1048 35.5667 52.834 37.0991 52.834 38.9448C52.834 40.0272 52.5378 41.007 51.9453 41.8843C51.3529 42.7616 50.4585 43.5306 49.2622 44.1914C50.2306 44.4307 50.9712 44.7098 51.4839 45.0288C52.3156 45.5415 52.9593 46.2194 53.415 47.0625C53.8822 47.8942 54.1157 48.8911 54.1157 50.0532C54.1157 51.5116 53.734 52.9129 52.9707 54.2573C52.2074 55.5903 51.1079 56.6214 49.6724 57.3506C48.2368 58.0684 46.3512 58.4272 44.0156 58.4272C41.737 58.4272 39.9368 58.1595 38.6152 57.624C37.305 57.0885 36.2227 56.3081 35.3682 55.2827C34.5251 54.2459 33.8757 52.9471 33.4199 51.3862L40.3755 50.4634C40.6489 51.8647 41.0705 52.8389 41.6401 53.3857C42.2212 53.9212 42.9561 54.189 43.8447 54.189C44.779 54.189 45.5537 53.8472 46.1689 53.1636C46.7956 52.48 47.1089 51.5685 47.1089 50.4292C47.1089 49.2671 46.807 48.367 46.2031 47.729C45.6107 47.091 44.8018 46.772 43.7764 46.772C43.2295 46.772 42.4775 46.9087 41.5205 47.1821L41.8794 42.209C42.2668 42.266 42.5687 42.2944 42.7852 42.2944C43.6966 42.2944 44.4543 42.0039 45.0581 41.4229C45.6733 40.8418 45.981 40.1525 45.981 39.355C45.981 38.5916 45.7531 37.9821 45.2974 37.5264C44.8416 37.0706 44.215 36.8428 43.4175 36.8428C42.5972 36.8428 41.9307 37.0934 41.418 37.5947C40.9053 38.0846 40.5578 38.9505 40.3755 40.1924Z" fill="white"/>
</svg>
                                </div>
                            </div>
                            <div class="list-item__bottom">
        <div class="title">
Прийти в день <br> экзамена с паспортом
                                </div>
                      
                            </div>
                        </div>
                           <div class="list-item">
                            <div class="list-item__top">
      <div class="icon">
 <svg width="88" height="88" viewBox="0 0 88 88" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="44" cy="44" r="44" fill="#003A78" fill-opacity="0.5"/>
<circle cx="44.1895" cy="44" r="32" fill="#003A78"/>
<path d="M40.3755 40.1924L33.7959 39.0132C34.3428 36.9168 35.391 35.3104 36.9404 34.1938C38.5013 33.0773 40.7059 32.519 43.5542 32.519C46.8241 32.519 49.1882 33.1286 50.6465 34.3477C52.1048 35.5667 52.834 37.0991 52.834 38.9448C52.834 40.0272 52.5378 41.007 51.9453 41.8843C51.3529 42.7616 50.4585 43.5306 49.2622 44.1914C50.2306 44.4307 50.9712 44.7098 51.4839 45.0288C52.3156 45.5415 52.9593 46.2194 53.415 47.0625C53.8822 47.8942 54.1157 48.8911 54.1157 50.0532C54.1157 51.5116 53.734 52.9129 52.9707 54.2573C52.2074 55.5903 51.1079 56.6214 49.6724 57.3506C48.2368 58.0684 46.3512 58.4272 44.0156 58.4272C41.737 58.4272 39.9368 58.1595 38.6152 57.624C37.305 57.0885 36.2227 56.3081 35.3682 55.2827C34.5251 54.2459 33.8757 52.9471 33.4199 51.3862L40.3755 50.4634C40.6489 51.8647 41.0705 52.8389 41.6401 53.3857C42.2212 53.9212 42.9561 54.189 43.8447 54.189C44.779 54.189 45.5537 53.8472 46.1689 53.1636C46.7956 52.48 47.1089 51.5685 47.1089 50.4292C47.1089 49.2671 46.807 48.367 46.2031 47.729C45.6107 47.091 44.8018 46.772 43.7764 46.772C43.2295 46.772 42.4775 46.9087 41.5205 47.1821L41.8794 42.209C42.2668 42.266 42.5687 42.2944 42.7852 42.2944C43.6966 42.2944 44.4543 42.0039 45.0581 41.4229C45.6733 40.8418 45.981 40.1525 45.981 39.355C45.981 38.5916 45.7531 37.9821 45.2974 37.5264C44.8416 37.0706 44.215 36.8428 43.4175 36.8428C42.5972 36.8428 41.9307 37.0934 41.418 37.5947C40.9053 38.0846 40.5578 38.9505 40.3755 40.1924Z" fill="white"/>
</svg>
                                </div>
                            </div>
                            <div class="list-item__bottom">
        <div class="title">
Прийти в день <br> экзамена с паспортом
                                </div>
                      
                            </div>
                        </div>
                           <div class="list-item">
                            <div class="list-item__top">
      <div class="icon">
 <svg width="88" height="88" viewBox="0 0 88 88" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="44" cy="44" r="44" fill="#003A78" fill-opacity="0.5"/>
<circle cx="44.1895" cy="44" r="32" fill="#003A78"/>
<path d="M40.3755 40.1924L33.7959 39.0132C34.3428 36.9168 35.391 35.3104 36.9404 34.1938C38.5013 33.0773 40.7059 32.519 43.5542 32.519C46.8241 32.519 49.1882 33.1286 50.6465 34.3477C52.1048 35.5667 52.834 37.0991 52.834 38.9448C52.834 40.0272 52.5378 41.007 51.9453 41.8843C51.3529 42.7616 50.4585 43.5306 49.2622 44.1914C50.2306 44.4307 50.9712 44.7098 51.4839 45.0288C52.3156 45.5415 52.9593 46.2194 53.415 47.0625C53.8822 47.8942 54.1157 48.8911 54.1157 50.0532C54.1157 51.5116 53.734 52.9129 52.9707 54.2573C52.2074 55.5903 51.1079 56.6214 49.6724 57.3506C48.2368 58.0684 46.3512 58.4272 44.0156 58.4272C41.737 58.4272 39.9368 58.1595 38.6152 57.624C37.305 57.0885 36.2227 56.3081 35.3682 55.2827C34.5251 54.2459 33.8757 52.9471 33.4199 51.3862L40.3755 50.4634C40.6489 51.8647 41.0705 52.8389 41.6401 53.3857C42.2212 53.9212 42.9561 54.189 43.8447 54.189C44.779 54.189 45.5537 53.8472 46.1689 53.1636C46.7956 52.48 47.1089 51.5685 47.1089 50.4292C47.1089 49.2671 46.807 48.367 46.2031 47.729C45.6107 47.091 44.8018 46.772 43.7764 46.772C43.2295 46.772 42.4775 46.9087 41.5205 47.1821L41.8794 42.209C42.2668 42.266 42.5687 42.2944 42.7852 42.2944C43.6966 42.2944 44.4543 42.0039 45.0581 41.4229C45.6733 40.8418 45.981 40.1525 45.981 39.355C45.981 38.5916 45.7531 37.9821 45.2974 37.5264C44.8416 37.0706 44.215 36.8428 43.4175 36.8428C42.5972 36.8428 41.9307 37.0934 41.418 37.5947C40.9053 38.0846 40.5578 38.9505 40.3755 40.1924Z" fill="white"/>
</svg>
                                </div>
                            </div>
                            <div class="list-item__bottom">
        <div class="title">
Прийти в день <br> экзамена с паспортом
                                </div>
                      
                            </div>
                        </div>
                         
                    </ul>
 </div>
        </div>
    </div>
</section>
</div>
{{> layout/footer}}