.slider {
  &.main-slider {
    &.created {
      .slider__item {
        opacity: 1;
      }
    }
    .slider {
      &__item {
        max-width: 100%;
        max-height: 500px;

        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        @include tablet {
          background-image: url($images_dir+'/tablet/home__banner.png') !important;
        }
        @include mobile {
          background-image: url($images_dir+'/mobile/banner_home.png') !important;
          max-height: 550px;
          height: 550px;
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
        }
        @include tablet {
      
        }
        opacity: 0;
        &-info {
     
          .info__inner {
            position: relative;
            z-index: 1000;
            padding-top: 70px;
            width: 40%;
            @include tablet {
              padding-top: 88px;
              padding-bottom: 88px;
              width: 55%;
            }
            @include mobile {
              padding-top: 0;
              padding-bottom: 30px;
              width: 100%;
            }
            .title {
              font-size: 45px;
              line-height: 47px;
              @include arial-black;

              color: #003a78;
              margin-bottom: 18px;
              @include tablet {
                font-size: 35px;
                line-height: 40px;
                br {
                  display: none;
                }
              }
              @include mobile {
                font-size: 32px;
                line-height: 38px;
                margin-bottom: 12px;
              }
            }
            .subtitle {
              font-size: 20px;
              line-height: 24px;
              color: #8e8e8e;
              margin-bottom: 44px;
              @include mobile {
                margin-bottom: 18px;
              }
            }
            .btn {
              margin-bottom: 66px;
              color: #fff;
              @include tablet {
                margin-bottom: 0;
              }
              @include mobile {
                margin-bottom: 0;
              }
              &:hover {
                color: #003a78;
              }
            }
          }
        }
      }
    }
    .slick {
      &-prev,
      &-next {
        display: none !important;
        position: absolute;
        z-index: 1000;
        bottom: 32px;
        font-size: 0;
        @include sprite('left-arrow');
        top: 50%;
        margin-top: -18px;
      }
      &-next {
        transform: rotate(180deg);
        right: 30px;
      }
      &-prev {
        left: 30px;
      }
      &-dots {
        display: flex !important;
        width: 100%;
        justify-content: center;

        margin-top: 20px;

        li {
          width: 10px;
          height: 10px;
          background: rgba(12, 77, 162, 0.4);
          border-radius: 50%;
          margin-right: 14px;

          &:last-child {
            margin-right: 0;
          }

          &.slick-active {
            background: #0c4da2;
          }
        }

        button {
          font-size: 0;
        }
      }
    }
  }
  &.reviews-slider {
    &.created {
      .slider__item {
        opacity: 1;
      }
    }
    .slider {
      &__item {
        opacity: 0;
        display: flex;
        @include mobile {
          flex-direction: column;
          padding-bottom: 60px;
        }
        &-left {
          padding-right: 30px;
          @include tablet {
            width: 60%;
          }
          @include mobile {
            padding-right: 0;
            margin-bottom: 33px;
          }
          img {
            max-width: 443px;
            max-height: 296px;
            @include tablet {
              max-width: 100%;
            }
            @include mobile {
              max-width: 100%;
             
              width: 100%;
            }
          }
        }
        &-right {
          padding-left: 30px;

          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          @include tablet {
            padding-top: 20px;
            width: 50%;
            padding-left: 0;
          }
          @include mobile {
            padding-left: 0;
          }
          .section__item {
            &-text {
              font-size: 18px;
              line-height: 24px;
              @include arial-regular;
              color: #3c454e;
              margin-bottom: 45px;
              position: relative;
              @include tablet {
                font-size: 16px;
                line-height: 20px;
              }
              .reviews-icon {
                position: absolute;
                top: 0;
                left: 0;
                margin-top: -30px;
                margin-left: -35px;
                @include tablet-and-phone {
                 width: 37px;
                 margin-top: -35px;
                  margin-left: 0;
                }
              }
            }
            &-name {
              font-size: 18px;
              line-height: 24px;
              @include arial-regular;
              color: #737b82;
            }
          }
        }
      }
    }
    .slick {
      &-prev,
      &-next {
        position: absolute;
        z-index: 1000;
        bottom: 0;
      right: 0;
        font-size: 0;
        @include sprite('left-arrow');
        @include mobile {
          left: 0;
        }
        &:hover {
          @include sprite('left-arrow-hover');
        }
      }
      &-next {
        transform: rotate(180deg);
       @include mobile {
        left: 60px;
       }
      }
      &-prev {
        right: 60px;
      }
    }
  }
  &.teachers-slider {
    display: flex;
    justify-content: space-between;
    margin-left: -10px;
    margin-right: -10px;
    position: relative;
    padding-left: 70px;
    padding-right: 70px;
    @include tablet-and-phone{
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 80px;
    }
    &.created {
      .slider__item {
        opacity: 1;
      }
    }
    .slider {
      &__item {
        opacity: 0;
        width: 25%;
        padding-left: 10px;
        padding-right: 10px;
        @include mobile {
          padding-bottom: 60px;
        }
        &-img {
          margin-bottom: 15px;
          img {
            @include tablet-and-phone{
              width: 100%;
            }
          }
        }
        &-title {
          font-size: 18px;
          line-height: 24px;
          color: #003a78;
          margin-bottom: 7px;
          @include arial-bold;
        }
        &-text {
          @include arial-regular;
          font-size: 16px;
          line-height: 24px;
          color: #3c454e;
        }
      }
    }
    .slick {
      &-prev,
      &-next {
        position: absolute;
        z-index: 1000;
        top: 30%;
        @include mobile{
          bottom: 0;
          top: unset;
          left: 0;
        }
        @include tablet {
          bottom: 0;
          top: unset;
          left: unset;
          right: 0;
        }
        font-size: 0;
        @include sprite('left-arrow');
        &:hover {
          @include sprite('left-arrow-hover');
        }
      }
      &-next {
        transform: rotate(180deg);
        right: 10px;
        @include mobile {
          left: 60px;
        }
        @include tablet {
          right: 0;
        }
      }
      &-prev {
        left: 10px;
        @include tablet {
          right: 60px;
          left: auto;
        }
      }
    }
  }
  &.level-education-slider {
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);

    border-radius: 20px;
    &.created {
      .slider__item {
        opacity: 1;
      }
    }
    .slider {
      &__item {
        opacity: 0;
        padding: 25px 40px 40px 35px;
        position: relative;
        @include mobile{
          padding: 13px 16px 20px 16px;
        }
        @include tablet {
          padding-left: 26px;
        }
        overflow: hidden;
        &-title {
          font-size: 35px;
          line-height: 40px;
          @include arial-bold;
          width: 60%;
          color: #003a78;
          margin-bottom: 17px;
          @include tablet-and-phone {
            font-size: 18px;
            line-height: 24px;
            width: 80%;
            margin-bottom: 13px;
          }
          @include mobile-small {
            width: 100%;
          }
        }
        &-text {
          font-size: 16px;
          line-height: 24px;
          @include arial-regular;
          color: #3c454e;
          margin-bottom: 25px;
          @include tablet-and-phone {
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 13px;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
        &-list {
          margin-bottom: 21px;
          @include tablet-and-phone {
            margin-bottom: 17px;
          }
          .list-title {
            font-size: 18px;
            line-height: 24px;
            @include arial-bold;
            color: #3c454e;
            margin-bottom: 14px;
            @include tablet-and-phone {
              font-size: 14px;
              line-height: 20px;
              margin-bottom: 5px;
              width: 80%;
            }
            @include mobile-small {
              width: 100%;
            }
          }
          .list-info {
            list-style-type: disc;
            padding-left: 20px;
            .list-item {
              font-size: 16px;
              line-height: 24px;
              @include arial-regular;
              color: #3c454e;
              margin-bottom: 10px;
              @include tablet-and-phone {
                font-size: 14px;
                line-height: 20px;
                margin-bottom: 8px;
              }
              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
    .slick {
      &-prev,
      &-next {
        position: absolute;
        z-index: 1000;
        top: 100%;
        margin-top: 50px;
        font-size: 0;
        @include tablet-and-phone {
          margin-top: 30px;
        }
        @include sprite('left-arrow');
        &:hover {
          @include sprite('left-arrow-hover');
        }
      }
      &-next {
        transform: rotate(180deg);
        right: 10px;
      }
      &-prev {
        right: 70px;
      }
    }
  }
  &.teacher-slider {
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
  background-color:transparent;
  border-radius: 10px;
    &.created {
      .slider__item {
        opacity: 1;
      }
    }
    .slider {
      &__item {
        opacity: 0;
        display: flex;
        background: #f8fcff;
        border-radius: 10px;
        position: relative;
        overflow: hidden;
        @include mobile {
          flex-direction: column;
        }
        &-left {
          width: 40%;
          @include tablet {
            padding: 39px 15px;
            padding-right: 0;
          }
          @include mobile {
            width: 100%;
            padding: 16px;

          }

          img {
            height: 100%;
            width: 100%;
            border-radius: 10px;
            @include mobile {
              height: 330px;
              width: 100%;
            }
            @include mobile-small {
              height: 250px;
            }
          }
        }
        &-right {
          padding: 39px 32px;
          width: 60%;
          position: relative;
          @include mobile {
            width: 100%;
            padding: 16px;
            position: static;
          }
          .name {
            font-size: 35px;
            line-height: 40px;
            @include arial-bold;
            color: #003a78;
            margin-bottom: 13px;
            @include tablet-and-phone {
              font-size: 24px;
              line-height: 28px;
              margin-bottom: 7px;
            }
          }
          .position {
            color: #003a78;
            font-size: 25px;
            line-height: 28px;
            @include arial-regular;
            margin-bottom: 42px;
            @include tablet-and-phone {
              font-size: 20px;
              line-height: 24px;
              margin-bottom: 10px;
            }
          }
          .text {
            font-size: 18px;
            line-height: 24px;
            @include arial-regular;
            color: #3c454e;
            @include tablet-and-phone {
              font-size: 14px;
              line-height: 20px;
            }
            &.black {
              @include arial-bold;
              margin-bottom: 15px;
              @include tablet-and-phone {
                font-size: 16px;
              }
            }
          }
          .slider__item-elem {
            position: absolute;
            top: 0;
            right: 0;
            @include mobile {
              svg {
                width: 80px;
                height: 80px;
              }
              top: 16px;
              right: 16px;
            }
            @include tablet {
              svg {
                width: 80px;
                height: 80px;
              }
            }
          }
          .years {
            font-size: 18px;
            line-height: 22px;
            color: #fff;
            @include arial-regular;
            position: absolute;
            top: 5px;
            right: 10px;
            width: 80px;
            text-align: right;
            @include tablet {
              font-size: 14px;
              line-height: 20px;
            }
            @include mobile {
              font-size: 14px;
              line-height: 20px;
              top: 20px;
              right: 20px;
            }
            .big {
              font-size: 26px;
              line-height: 36px;
              @include tablet-and-phone {
                font-size: 20px;
                line-height: 24px;
              }
            }
          }
        }
      }
    }
    .slick {
      &-prev,
      &-next {
        position: absolute;
        z-index: 1000;
        top: 100%;
        margin-top: 50px;
        font-size: 0;
        @include tablet-and-phone {
          margin-top: 40px;
        }
        @include sprite('left-arrow');
        &:hover {
          @include sprite('left-arrow-hover');
        }
      }
      &-next {
        transform: rotate(180deg);
        right: 10px;
      }
      &-prev {
        right: 70px;
      }
    }
  }
  &.clients-list-slider {
    padding-left: 70px;
    padding-right: 70px;
     &.created {
         .slider__item {
             opacity: 1;
         }
     }
      .slider {
          &__item {
              opacity: 0;
           display: flex;
           align-items: center;
           justify-content: center;
           height: 170px;
          }
      }
      .slick {
        &-prev,
        &-next {
          position: absolute;
          z-index: 1000;
          top: 50%;
            margin-top: -17px;
          font-size: 0;
          @include sprite('left-arrow');
          &:hover {
            @include sprite('left-arrow-hover');
          }
        }
        &-next {
          transform: rotate(180deg);
          right: 10px;
        }
        &-prev {
          left: 10px;
        }
      }
  }
  &.gallery-slider {
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
    @include mobile {
      padding-bottom: 60px;
    }
    .slider__item {
      padding-left: 10px;
      padding-right: 10px;
      &-inner {
        img {
          border-radius: 10px;
          width: 350px;
          height: 240px;
        }
      }
    }
    .slick {
      &-prev,
      &-next {
        position: absolute;
        z-index: 1000;
        bottom: 0;
        right: 0;
        font-size: 0;
        @include sprite('left-arrow');
        &:hover {
          @include sprite('left-arrow-hover');
        }
      }
      &-next {
        transform: rotate(180deg);
       
      }
      &-prev {
        right: 70px;
      }
    }
  }


  //MOBILE SLIDER

  &.level-info-slider {
    .slick {
      &-prev,
      &-next {
        display: none !important;
        position: absolute;
        z-index: 1000;
        bottom: 32px;
        font-size: 0;
        @include sprite('left-arrow');
        top: 50%;
        margin-top: -18px;
      }
      &-next {
        transform: rotate(180deg);
        right: 30px;
      }
      &-prev {
        left: 30px;
      }
      &-dots {
        display: flex !important;
        width: 100%;
        justify-content: center;

        margin-top: 0px;

        li {
          width: 10px;
          height: 10px;
          background: rgba(12, 77, 162, 0.4);
          border-radius: 50%;
          margin-right: 14px;

          &:last-child {
            margin-right: 0;
          }

          &.slick-active {
            background: #0c4da2;
          }
        }

        button {
          font-size: 0;
        }
      }
    }
  }
}




